[Desktop Entry]
Type=Application
Name=QSyncthingTray
Comment=Tray App for Syncthing written in C++
Exec=QSyncthingTray
Icon=qsyncthingtray
Terminal=false
