# Template file for 'libvirt-python'.
#
depends="python"
short_desc="${short_desc} - python bindings"
pycompile_module="libvirt.py libvirt_qemu.py"

do_install() {
	vmove "usr/lib/python*" usr/lib
	vmove "usr/share/doc/libvirt-python*" usr/share/doc
}
