# Template file for 'libvirt-devel'.
#
noarch=yes
depends="libvirt>=$version"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/doc/libvirt-${version} usr/share/doc
}
