# Template file for 'libvirt-python'.
#
depends="python"
short_desc="${short_desc} - python bindings"
long_desc="${long_desc}

 This package contains the Python language bindings."


do_install() {
	vmove "usr/lib/python*" usr/lib
	vmove "usr/share/doc/libvirt-python*" usr/share/doc
}
