# Template file for 'ethumb-devel'.
#
noarch=yes
depends="eet-devel ecore-devel evas-devel edje-devel emotion-devel
 libexif-devel ${sourcepkg}>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
