# Template file for 'libsgutils'.
#
revision=1
short_desc="${sourcepkg} - shared library"
long_desc="${long_desc}

 This package contains the shared library."

replaces="sg3_utils<1.31"

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/lib*.so* ${DESTDIR}/usr/lib
}
