# Template file for 'lxpanel-devel'.
#
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run pkg-config
Add_dependency run alsa-lib-devel
Add_dependency run gtk+-devel
Add_dependency run menu-cache-devel
Add_dependency run lxpanel ">=$version"

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
