# Template file for 'at-spi2-atk-devel'.
#
depends="libglib-devel at-spi2-core-devel ${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
