[Unit]
Description=Bluetooth Manager
After=syslog.target

[Service]
Type=dbus
BusName=org.bluez
ExecStart=/usr/sbin/bluetoothd -n
StandardOutput=syslog

[Install]
WantedBy=bluetooth.target
