[Desktop Entry]
Type=Application
Name=Spotify (adblock)
GenericName=Music Player
Icon=spotify-client
TryExec=spotify
Exec=env LD_LIBRARY_PATH=/usr/libexec/spotify env LD_PRELOAD=/usr/lib/libspotifyadblock.so /usr/libexec/spotify/spotify %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
