# Template file for 'curl-libs'.
#
short_desc="${short_desc} (shared libraries)"
long_desc="${long_desc}

 This package contains the shared libraries."

revision=2

Add_dependency run glibc
Add_dependency run libidn
Add_dependency run zlib
Add_dependency run openssl
Add_dependency run libldap
Add_dependency run mit-krb5-libs
Add_dependency run e2fsprogs-libs

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/lib*.so* ${DESTDIR}/usr/lib
}
