# Template file for 'curl-devel'.
#
replaces="curl-devel<7.20.1"
depends="libidn-devel openssl-devel mit-krb5-devel libcurl-${version}_${revision}"
short_desc="The multiprotocol file transfer library - development files"

do_install() {
	vmove usr/bin/curl-config usr/bin
	vmove "usr/share/man/man1/curl-config*" usr/share/man/man1
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/man/man3 usr/share/man
}
