# Template file for 'libcpufreq-devel'.
#
depends="glibc-devel libcpufreq"
short_desc="libcpufreq - development tools"
long_desc="
 This package provides everything that is needed for developing own
 programs using libcpufreq."


do_install()
{
	mkdir -p ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/{lib,include} ${DESTDIR}/usr
}
