# Template file for 'libcpufreq-devel'.
#
short_desc="libcpufreq - development tools"
long_desc="
 This package provides everything that is needed for developing own
 programs using libcpufreq."

revision=1

Add_dependency run glibc-devel
Add_dependency run libcpufreq

do_install()
{
	mkdir -p ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/{lib,include} ${DESTDIR}/usr
}
