# Template file for 'spice-gtk-devel'.
#
noarch=yes
depends="gtk+3-devel pixman-devel openssl-devel celt051-devel
 ${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/vala usr/share
	vmove usr/share/gir-1.0 usr/share
}
