[Desktop Entry]
Version=1.0
Type=Application
Name=Intel Advisor
GenericName=Intel Advisor
Exec="/opt/intel/advisor_<ver>/<arch>/advixe-gui"
Terminal=false
MimeType=text/plain;
Categories=Development;
StartupNotify=false
Actions=Window;
