[Desktop Entry]
Version=1.0
Type=Application
Name=Intel VTune Amplifier
GenericName=VTune
Exec="/opt/intel/vtune_amplifier_<ver>/<arch>/amplxe-gui"
Terminal=false
MimeType=text/plain;
Icon=/opt/intel/vtune_amplifier_<ver>/<arch>/resources/app/icons/Amplifier.png
Categories=Development;
StartupNotify=false
Actions=Window;
