[Desktop Entry]
Version=1.0
Type=Application
Name=Intel Inspector
GenericName=Intel Inspector
Exec="/opt/intel/inspector_<ver>/<arch>/inspxe-gui"
Terminal=false
MimeType=text/plain;
Categories=Development;
StartupNotify=false
Actions=Window;
