# Template file for 'libmuffin'.
#
short_desc="${short_desc} (library)"
long_desc="${long_desc}

 This package contains the shared library."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove "usr/lib/muffin/*.typelib" usr/lib/muffin
}
