# Template file for 'ghostscript-devel'.
#
noarch=yes
depends="libijs>=${version} libgs>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/bin/ijs-config usr/bin
	vmove usr/share/man/man1/ijs-config.1 usr/share/man/man1
}
