# Template file for 'ghostscript-devel'.
#
short_desc="${short_desc} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run libijs ">=${version}"
Add_dependency run libgs ">=${version}"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/bin/ijs-config usr/bin
	vmove usr/share/man/man1/ijs-config.1 usr/share/man/man1
}
