# Template file for 'libgs'.
#
short_desc="${short_desc} -- runtime shared library"
long_desc="${long_desc}

 This package contains the runtime shared library."

do_install() {
	vmove "usr/lib/libgs.so*" usr/lib
}
