# Template file for 'libijs'.
#
short_desc="${short_desc} -- IJS runtime shared library"
long_desc="${long_desc}

 This package contains the IJS runtime shared library."

do_install() {
	vmove "usr/lib/libijs*" usr/lib
}
