[Unit]
Description=ACPI Event Daemon
After=syslog.target

# This could probably benefit from socket activation, but honestly I think it
# is time for acpid to go away, and hence I am not planning to spend the time
# to add socket activation here. We use Type=forking to ensure that the
# communication sockets are in place before boot proceeds with any service
# needing this service. Would acpid support socket activation we could use
# Type=simple here.

[Service]
Type=forking
ExecStart=/usr/sbin/acpid

[Install]
WantedBy=multi-user.target
