[Unit]
Description=Periodic Command Scheduler

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/crond
ExecStart=/usr/sbin/crond $CROND_ARGS

[Install]
WantedBy=multi-user.target
