[Unit]
Description=Periodic Command Scheduler

[Service]
EnvironmentFile=/etc/conf.d/crond
ExecStart=/usr/sbin/crond -f $CROND_ARGS

[Install]
WantedBy=multi-user.target
