[Unit]
Description=Lightweight DHCP client daemon
Wants=network.target
Before=network.target

[Service]
ExecStart=/sbin/dhcpcd -q --nobackground

[Install]
WantedBy=multi-user.target
