[Unit]
Description=Gnome Display Manager
Requires=dev-tty7.device
After=dev-tty7.device systemd-user-sessions.service

[Service]
ExecStart=/usr/sbin/gdm -nodaemon

[Install]
WantedBy=graphical.target
