[Unit]
Description=Syncs system time from the Hardware Clock
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/modprobe -q rtc
ExecStart=/sbin/hwclock -s

[Install]
WantedBy=basic.target
