[Unit]
Description=Network Time Service
After=syslog.target

[Service]
User=ntpd
ExecStartPre=ln -sf /var/chroot/ntpd/var/db/ntpd.drift /var/db/ntpd.drift
ExecStart=/usr/bin/ntpd -f /var/db/ntpd.drift -u ntpd:ntpd -i /var/chroot/ntpd -n

[Install]
WantedBy=multi-user.target
