[Unit]
Description=Network Time Service
After=syslog.target

[Service]
ExecStartPre=-/bin/ln -sf /var/chroot/ntpd/var/db/ntpd.drift /var/db/ntpd.drift
ExecStart=/usr/bin/ntpd -c /etc/ntp.conf -f /var/db/ntpd.drift -u ntpd:ntpd -i /var/chroot/ntpd -n

[Install]
WantedBy=multi-user.target
