[Unit]
Description=Network Time Service
After=syslog.target

[Service]
ExecStart=/usr/bin/ntpd -c /etc/ntp.conf -n

[Install]
WantedBy=multi-user.target
