[Unit]
Description=Cyrus SASL authentication daemon

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/saslauthd
ExecStart=/usr/sbin/saslauthd $SASLAUTHD_OPTS
PidFile=/var/run/saslauthd/saslauthd.pid

[Install]
WantedBy=multi-user.target
