[Unit]
Description=Disk Manager
After=syslog.target

[Service]
Type=dbus
BusName=org.freedesktop.UDisks
ExecStart=/usr/libexec/udisks-daemon
StandardOutput=syslog

[Install]
WantedBy=graphical.target
