[Unit]
Description=Power Manager
After=syslog.target

[Service]
Type=dbus
BusName=org.freedesktop.UPower
ExecStart=/usr/libexec/upowerd

[Install]
WantedBy=graphical.target
