[Unit]
Description=Wi-Fi Security Service
After=syslog.target

[Service]
Type=dbus
BusName=fi.epitest.hostap.WPASupplicant
ExecStart=/usr/sbin/wpa_supplicant -c /etc/wpa_supplicant/wpa_supplicant.conf -u
StandardOutput=syslog

# Hmm, a WantedBy=multi-user.target probably makes sense here.
