[Desktop Entry]
Name=Arduino
GenericName=Arduino IDE
Comment=The open-source Arduino environment
TryExec=arduino
Exec=arduino %U
Icon=arduino
Type=Application
Terminal=false
MimeType=text/x-arduino;
Categories=Development;
