[Unit]
Description=Cherokee web server
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/cherokee -d -C /etc/cherokee/cherokee.conf

[Install]
WantedBy=multi-user.target
