#!/usr/bin/env xdg-open
[Desktop Entry]
Name=RubyMine
Comment=Most intelligent Ruby and Rails IDE.
Exec=rubymine %f
Terminal=false
Type=Application
Icon=/usr/lib/RubyMine/bin/rubymine.png
Categories=Development;
