[Desktop Entry]
Exec=/usr/bin/designer
Name=Qt Designer
GenericName=Interface Designer
MimeType=application/x-designer
Icon=designer
Terminal=false
Type=Application
Categories=Qt;Development;GUIDesigner
