[Desktop Entry]
Exec=designer-qt4
Name=Qt Designer
GenericName=Interface Designer
MimeType=application/x-designer
Icon=designer
Terminal=false
Type=Application
Categories=Qt;Development;GUIDesigner
