[Desktop Entry]
Exec=/usr/bin/linguist
Name=Qt Linguist
GenericName=Translation Tool
MimeType=application/x-linguist
Terminal=false
Type=Application
Icon=linguist
Categories=Qt;Development;Translation
