[Desktop Entry]
Name=Qt Config 
Comment=Configure Qt behavior, styles, fonts
Exec=qtconfig-qt4
Icon=qtlogo.png
Terminal=false
Type=Application
Categories=Qt;Settings;
