[Desktop Entry]
Name=Qt Config 
Comment=Configure Qt behavior, styles, fonts
Exec=/usr/bin/qtconfig
Icon=qtlogo
Terminal=false
Type=Application
Categories=Qt;Settings;
