# Template file for 'libORBit2'.
#
short_desc="${short_desc} (Runtime library)"
long_desc="${long_desc}

 This package contains the ORBit2 runtime libraries."

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
	vmkdir usr/lib/orbit-2.0
	vmove "usr/lib/orbit-2.0/*.so*" usr/lib/orbit-2.0
}


