# Template file for 'ORBit2-devel'.
#
depends="glib-devel libIDL-devel libORBit2"
short_desc="${short_desc} (Development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install()
{
	vmove "usr/lib/*.a" usr/lib
	vmkdir usr/lib/orbit-2.0
	vmove "usr/lib/orbit-2.0/*.a" usr/lib/orbit-2.0
        vmove usr/include usr
        vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/idl usr/share
	vmove usr/share/aclocal usr/share
}
