# Template file for 'libnl-progs'.
#
short_desc="${sourcepkg} - cli utilities"
long_desc="${long_desc}

 This package contains the command line utilities bundled with libnl."

Add_dependency run glibc
Add_dependency run libnl3

conf_files="/etc/libnl/classid /etc/libnl/pktloc"

do_install()
{
	vmove etc
	vmove usr/sbin usr
	vmove usr/share/man/man8 usr/share/man
	vmove usr/lib/libnl usr/lib
}
