# Template file for 'libnl-progs'.
#
short_desc="${sourcepkg} - cli utilities"
long_desc="${long_desc}

 This package contains the command line utilities bundled with libnl."

do_install()
{
	vmove usr/sbin usr
	vmove usr/share/man/man8 usr/share/man
	vmove usr/lib/libnl usr/lib
}
