# Template file for 'libxbps'.
#
short_desc="${short_desc} - runtime library (development files)"
long_desc="${long_desc}

 This package contains the libxbps develoment files."

depends="libxbps>=$version"
replaces="xbps-static<0.16.3_2"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
