# Template file for 'libxbps'.
#
short_desc="${short_desc} - runtime library"
long_desc="${long_desc}

 This package contains libxbps, the XBPS runtime shared library."

replaces="xbps<0.16.3_2"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
