# Template file for 'xbps-static'.
#
short_desc="${short_desc} - static binaries and development files"
long_desc="${long_desc}

 This package contains the static binaries and library, that can be
 used on any GNU/Linux distribution matching the architecture."

replaces="xbps-static>=0"
Add_dependency run xbps-triggers

do_install() {
	vmove usr/include usr
	vmove "usr/sbin/*.static" usr/sbin
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
