# Template file for 'xbps-tests'.
#
short_desc="${short_desc} - Kyua testsuite"
long_desc="${long_desc}

 This package contains the Kyua testsuite."

replaces="xbps<0.16.3_2"

do_install() {
	vmove usr/tests usr
}
