# Template file for 'xbps-static'.
#
depends="xbps-triggers"
short_desc="${short_desc} - static binaries"
long_desc="${long_desc}

 This package contains the static binaries, that can be
 used on any GNU/Linux distribution matching the architecture."

replaces="xbps-static>=0"

do_install() {
	vmove "usr/sbin/*.static" usr/sbin
}
