# Template file for 'gd-progs'.
#
short_desc="Utility programs that use libgd"
long_desc="${long_desc}

 This package contains the utility programs that use the GD
 library."

Add_dependency run gd
Add_dependency run perl

do_install()
{
	mkdir -p ${DESTDIR}/usr/bin
	mv ${SRCPKGDESTDIR}/usr/bin ${DESTDIR}/usr
}
