# Template file for 'cmake-gui'.
#
depends="cmake>=${version}"
short_desc="cmake QT GUI"

do_install() {
	vmove usr/bin/cmake-gui usr/bin
	vmove usr/share/mime usr/share
	vmove usr/share/applications usr/share
	vmove usr/share/pixmaps usr/share
	vmove usr/share/man/man1/cmake-gui.1 usr/share/man/man1
}
