[Desktop Entry]
Type=Application
Version=1.2
Name=Cloudflare Zero Trust
Comment=View the current status of the Zero Trust Tunnel
Exec=warp-taskbar
StartupNotify=false
Keywords=warp teams cloudflare vpn
Icon=zero-trust
