# Template file for 'wxGTK-devel'.
#
depends="wxGTK>=$version"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/share/aclocal usr/share
	vmove usr/share/bakefile usr/share
	vmove usr/lib/wx usr/lib
	vmove usr/bin usr
}
