#!/usr/bin/env xdg-open
[Desktop Entry]
Name=DuckyPad Configurator
Icon=/usr/share/duckypad/_icon.ico
Exec=python3 /usr/share/duckypad/duckypad_config.py
Terminal=false
Type=Application
