# Template file for 'libtar-devel'.
#
short_desc="${short_desc} (Development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run zlib-devel
Add_dependency run libtar

do_install()
{
        vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
}
