# Template file for 'libproxy-python'.
#
short_desc="${sourcepkg} python bindings"
long_desc="${long_desc}

 This package contains the python bindings."

Add_dependency run libproxy ">=$version"
Add_dependency run python

do_install() {
	vmove "usr/lib/python*" usr/lib
}
