# Template file for 'libproxy-python'.
#
depends="libproxy>=0.4.7 python"
short_desc="${sourcepkg} python bindings"
long_desc="${long_desc}

 This package contains the python bindings."


do_install() {
	vmove "usr/lib/python*" usr/lib
}
