# Template file for 'libproxy-python'.
#
short_desc="${sourcepkg} python bindings"
long_desc="${long_desc}

 This package contains the python bindings."


Add_dependency run libproxy
Add_dependency run python

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/python* ${DESTDIR}/usr/lib
}
