# Template file for 'xapian-core-devel'.
#
noarch=yes
depends="libxapian>=${version}"
short_desc="${short_desc} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove usr/share/doc usr/share
	vmove usr/share/aclocal usr/share
	vmove usr/lib/cmake usr/lib
	vmove "usr/lib/*.la" usr/lib
	vmove usr/bin/xapian-config usr/bin
	vmove usr/share/man/man1/xapian-config.1 usr/share/man/man1
}
