# Template file for 'libnotify-devel'.
#
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run pkg-config
Add_dependency run gtk+3-devel
Add_dependency run libnotify

do_install()
{
	vmove usr/include usr
	vmove usr/share usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
