[Desktop Entry]
Encoding=UTF-8
Name=Gtkedit
Comment=Text editor
Exec=gtkedit %f
Icon=/usr/share/gtkwrite/img/gtkwrite.ico
Terminal=false
Type=Application
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
