# Template file for 'libgusb-devel'.
#
depends="libudev-devel ${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/pkgconfig usr/lib
}
