# Template file for 'gettext-devel'.
#
depends="gettext-libs>=${version}"
short_desc="${short_desc} (development files)"

do_install() {
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/*.*a ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/share/doc/gettext ${DESTDIR}/usr/share/doc
	mv ${SRCPKGDESTDIR}/usr/share/aclocal ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/gettext ${DESTDIR}/usr/share
}
