# Template file for 'kernel-snapshot-headers'.
#
short_desc="${pkgname} src headers"
long_desc="
 This package contains the required source headers to be able to build
 external 3rd party binary modules."

nostrip=yes
noverifyrdeps=yes

do_install() {
	mkdir -p ${DESTDIR}/lib/modules/${_kernver}
	mv ${SRCPKGDESTDIR}/usr ${DESTDIR}
	mv ${SRCPKGDESTDIR}/lib/modules/${_kernver}/build \
		${DESTDIR}/lib/modules/${_kernver}
}
