# Template file for 'kernel-snapshot-headers'.
#
nostrip=yes
noverifyrdeps=yes
short_desc="${pkgname} src headers"
long_desc="
 This package contains the required source headers to be able to build
 external 3rd party binary modules."

do_install() {
	vmove usr
	vmove lib/modules/${_kernver}/build lib/modules/${_kernver}
}
