# Template file for 'pam-userdb'.
#
short_desc="PAM module to authenticate against a db database"

do_install() {
	vmove usr/lib/security/pam_userdb.so usr/lib/security
	vmove usr/share/man/man8/pam_userdb.8 usr/share/man/man8
}
