# Template file for 'pam-devel'.
#
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


Add_dependency run cracklib-devel
Add_dependency run db-devel
Add_dependency run pam

do_install() {
	vmove usr/include usr
	vmove usr/share/man/man3 usr/share/man
	vmove usr/share/doc usr/share
}
