# Template file for 'pam-devel'.
#
noarch=yes
depends="cracklib-devel db-devel pam-libs>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/share/man/man3 usr/share/man
	vmove usr/share/doc usr/share
}
