# Template file for 'pam-userdb'.
#
short_desc="PAM module to authenticate against a db database"
long_desc="${long_desc}

 The pam_userdb module is used to verify a username/password pair against
 values stored in a Berkeley DB database. The database is indexed by the
 username, and the data fields corresponding to the username keys are the
 passwords."


do_install()
{
	vmove lib/security/pam_userdb.so lib/security
	vmove usr/share/man/man8/pam_userdb.8 usr/share/man/man8
}
