# Template file for 'gir-brasero'.
#
short_desc="Brasero introspection data"
long_desc="${long_desc}

 This package contains the GObject-introspection data of Brasero in
 binary typelib format."

Add_dependency run gir-freedesktop

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
