[Desktop Entry]
Name=Vi IMproved
Name[bg]=Vi Ðåäàêòîð
Name[ca]=Vi Millorat
Name[da]=Vi forbedret
Name[eo]=VIM
Name[et]=Täiustatud Vi (vim)
Name[fr]=Vi étendu (VIM)
Name[he]=רפושמ Vi
Name[hu]=Vi
Name[is]=Vi IMproved ritillinn
Name[it]=Vi iMproved
Name[no]=Vi IMproved (forbedret VI)
Name[pl]=Poprawiony VI (vim)
Name[ro]=VIM
Name[ru]=Улучшенный VI
Name[sk]=Vi IMpreved
Name[sl]=Izboljšani vi (vim)
Name[sv]=Förbättrad Vi
Name[zh_CN.GB2312]=改进的 Vi
Comment=Powerful text editor with scripting functions and macro recorder
Comment[bg]=Ðåäàêòîð ñ ìíîãî âúçìîæíîñòè
Comment[ca]=Editor vi potent
Comment[cs]=Mocný textový editor vi
Comment[da]=En kraftig vi tekstbehandler
Comment[de]=Ein leistungsfähiger vi-Editor
Comment[el]=Πανίσχυρος διορθωτής vi
Comment[eo]=VIM similas al redaktilo "vi", sed havas aldonajn ecojn
Comment[es]=Una versión mejorada del editor vi
Comment[et]=Võimas tekstiredaktor vi
Comment[fi]=Tehokas vi-tekstieditori
Comment[fr]=Éditeur vi puissant
Comment[gl]=Potente editor vi
Comment[he]=Vi המצועה בר ךרועה
Comment[hr]=Napredni vi uređivač
Comment[hu]=Vi szövegszerkesztő
Comment[is]=Öflug útgáfa vi ritilsins
Comment[it]=Un editor vi potenziato
Comment[ja]=強力なViエディタ
Comment[lt]=Galingas vi redaktorius
Comment[mk]=Моќен VI уредувач
Comment[nl]=Krachtige vi-editor
Comment[no]=En kraftig vi-redigerer
Comment[no_NY]=Kraftig vi-tekstredigeringsprogram
Comment[pl]=Edytor vi
Comment[pt]=Um poderoso editor de texto
Comment[ro]=Un editor de texte VI, puternic
Comment[ru]=Мощный текстовый редактор vi
Comment[sk]=Silný textový procesor vi
Comment[sl]=Zmogljivi urejevalnik vi
Comment[sr]=Moćni vi editor
Comment[sv]=En kraftfull texteditor
Comment[ta]=ºì¾¢Å¡öó¾ vi ¦¾¡ÌôÀ¡Ç÷
Comment[tr]=Güçlü vi düzenleyicisi
Comment[uk]=Потужний редактор vi
Comment[zh_CN.GB2312]=功能强大的 vi 编辑器
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=gvim -f %F
Icon=gvim
Type=Application
Terminal=false
X-XClassHintResName=VIM
Categories=Utility;TextEditor;
