# Template file for 'wine-devel'.
#
depends="glibc-devel libwine"
short_desc="${short_desc} - Development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


only_for_archs=i686
replaces="wine-unstable-devel>=0"
provides="wine-devel-$version"
conflicts="wine-unstable-devel>=0"

do_install()
{
        vmove usr/include usr
}
