# Template file for 'freealut-devel'.
#
short_desc="${short_desc} - Development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run libopenal-devel
Add_dependency run freealut

do_install()
{
	vmove usr/bin usr
        vmove usr/include usr
        vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/*.a" usr/lib
}
