# Template file for 'spice-devel'.
#
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run pixman-devel
Add_dependency run celt051-devel
Add_dependency run openssl-devel
Add_dependency run libXinerama-devel
Add_dependency run spice-protocol
Add_dependency run spice

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/*.a" usr/lib
}
