# Template file for 'spice-devel'.
#
noarch=yes
depends="pixman-devel celt051-devel openssl-devel spice>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
