# Template file for 'cogl-devel'.
#
depends="libdrm-devel libXcomposite-devel libXdamage-devel
 libXrandr-devel gdk-pixbuf-devel glib-devel cogl>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
}
