#!/sbin/runscript
#
#

command=/sbin/dhcpcd
command_args=-q
pidfile=/var/run/dhcpcd.pid
name="DHCP Client Daemon"

depend()
{
	provide net
	need localmount
	use logger
	after bootmisc modules
	before dns
}

stop_pre()
{
	if yesno $RC_GOINGDOWN; then
		: ${stopsig:=SIGKILL}
	fi
}
