# Template file for 'nmapfe'.
#
depends="nmap>=$version desktop-file-utils pygtk"
pycompile_module="radialnet zenmapCore zenmapGUI"
noarch=yes
short_desc="${short_desc} - GTK Frontend"
long_desc="${long_desc}

 This package contains nmapfe - a GTK Frontend written in pygtk."

do_install() {
	vmove usr/bin/nmapfe usr/bin
	vmove usr/bin/xnmap usr/bin
	vmove usr/bin/zenmap usr/bin
	vmove usr/lib usr
	vmove usr/share/applications usr/share
	vmove usr/share/zenmap usr/share
	vmove usr/share/man/man1/zenmap.1 usr/share/man/man1
	rm -f ${SRCPKGDESTDIR}/usr/bin/uninstall_zenmap
}
