# Template file for 'libcap-progs'.
#
short_desc="${short_desc} (utilities)"
long_desc="${long_desc}

 This package contains binary utilities provided by the libcap package."


do_install()
{
	vmove sbin
	vmove usr/share usr
}
