# Template file for 'libcap-pam'.
#
depends="attr pam"
short_desc="${short_desc} (PAM module)"
long_desc="${long_desc}

 This package contains a PAM module provided by the libcap package."

conf_files="/etc/security/capability.conf"


do_install()
{
	vmove lib/security lib
	vmove etc
}
