# Template file for 'libcap-devel'.
#
depends="glibc-devel libcap>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/libcap.a usr/lib
	vmove usr/share/man/man3 usr/share/man
}
