# Template file for 'lidmapsharing-devel'.
#
depends="libsoup-devel libgee-devel libdmapsharing>=2.9.15"
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
}
