# Template file for 'libtdb'.
#
short_desc="Trivial Database - shared library"
long_desc="${long_desc}

 This package contains the shared library file."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
