# Template file for 'libtdb'.
#
short_desc="Trivial Database - shared library"
long_desc="${long_desc}

 This package contains the shared library file."

Add_dependency run glibc

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/*.so* ${DESTDIR}/usr/lib
}
