# Template file for 'tdb-python'.
#
short_desc="Trivial Database - python bindings"
long_desc="${long_desc}

 This package contains the Python bindings to the libtdb."

do_install() {
	vmove "usr/lib/python*" usr/lib
}
