# Template file for 'libX11-devel'.
#
depends="xproto kbproto libxcb-devel libX11>=$version"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/man usr/share
}
