# Template file for 'libfm-devel'.
#
noarch=yes
depends="gtk+-devel menu-cache-devel libfm-${version}_${revision}"
short_desc="${sourcepkg} development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	#vmove usr/share/gtk-doc usr/share
}
