#!/sbin/runscript

depend() {
	before net
}

start() {
	ebegin "Starting ufw"
	/lib/ufw/ufw-init start
	eend $?
}

stop() {
	ebegin "Stopping ufw"
	/lib/ufw/ufw-init stop
	eend $?
}

restart() {
	ebegin "Restarting ufw"
	/lib/ufw/ufw-init retart
	eend $?
}
