# Template file for 'gsettings-desktop-schemas-devel'.
#
depends="${sourcepkg}>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/share/pkgconfig usr/share
	vmove usr/share/gir-1.0 usr/share
}
