[Desktop Entry]
Encoding=UTF-8
Name=pgAdmin4
Exec=/usr/bin/pgAdmin4
Icon=/usr/share/icons/pgAdmin4.png
Type=Application
Categories=Application;Development;
MimeType=text/html
GenericName=Management tool for PostgreSQL
Comment=Management tools for PostgreSQL
Keywords=database;db;sql;query;administration;development;
