[Desktop Entry]
Version=3.6
Encoding=UTF-8
Type=Application
Name=XyGrib
Comment=GRIB File Viewer
Comment[fr]=Visualisation de données météo au format GRIB
Terminal=false
Categories=XyGrib;Meteo;Utility
Icon=XyGrib.png
Exec=/usr/bin/XyGrib
