[Desktop Entry]
Encoding=UTF-8
Name=Grass
Comment=
Exec=grass78 -wxpython  %f
Icon=/usr/lib/grass78/gui/icons/grass-48x48.png
Terminal=true
Type=Application
Categories=Science;Education;
