# Template file for 'libxnoise'.
#
short_desc="${short_desc} - shared library"
long_desc="
 ${long_desc}

 This package includes the shared library."

do_install()
{
	vmove "usr/lib/xnoise/libxnoise.so*" usr/lib
}
