# Template file for 'libxnoise'.
#
revision=1
short_desc="${short_desc} - shared library"
long_desc="
 ${long_desc}

 This package includes the shared library."

Add_dependency run gtk+

do_install()
{
	vmove usr/lib/xnoise/libxnoise.so* usr/lib
}
