# Template file for 'xnoise-devel'.
#
noarch=yes
depends="libxnoise>=$version"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/vala usr/share
}
