# Template file for 'elfutils-devel'.
#
replaces="libelf-devel>=0"
depends="libelf-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
}
