# Template file for 'isl-devel'.
#
short_desc="${short_desc} -- runtime library"
long_desc="${long_desc}

 This package contains the runtime shared library."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/lib/elfutils usr/lib
}
