# Template file for 'bzip2-devel'.
#
short_desc="${sourcepkg} static binaries"
long_desc="${long_desc}

 This package contains the static binaries and library, that can be
 used on any GNU/Linux distribution matching the architecture."

do_install()
{
	mkdir -p ${DESTDIR}/sbin ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/sbin/*.static ${DESTDIR}/sbin
	mv ${SRCPKGDESTDIR}/lib/*.a ${DESTDIR}/usr/lib
}
