# Template file for 'lcms-devel'.
#
noarch=yes
depends="libjpeg-turbo-devel tiff-devel lcms>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/lib
}
