# Template file for 'gmp-libs'.
#
short_desc="${short_desc} (libraries)"
long_desc="${long_desc}

 This package contains only the ${sourcepkg} shared libraries."
run_depends="glibc-libs-2.8"

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}

	# Move the shared lib.
	mkdir -p ${destdir}/usr/lib
	mv ${XBPS_DESTDIR}/${sourcepkg}-${version}/usr/lib/libgmp.so* \
		${destdir}/usr/lib
}
