# Template file for 'libtasn1-tools'.
#
short_desc="${short_desc} (ASN.1 tools)"
long_desc="${long_desc}

 This package contains some ASN.1 tools that come with libtasn1."

do_install() {
	vmove usr/bin usr
	vmove usr/share usr
}
