# Template file for 'libtasn1-tools'.
#
short_desc="${short_desc} (ASN.1 tools)"
long_desc="${long_desc}

 This package contains some ASN.1 tools that come with libtasn1."


do_install()
{
	mkdir -p ${DESTDIR}/usr/share/man
	mv ${SRCPKGDESTDIR}/usr/bin ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/share/man/man1 ${DESTDIR}/usr/share/man
}
