# Template file for 'gcc-dev'.
#
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."
run_depends="gcc-base-${version}"

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/lib

	mv ${origdir}/usr/include ${destdir}/usr

	for f in mudflap mudflapth ssp_nonshared supc++ ssp stdc++ \
		 objc gomp gcc_s; do
		for ext in a la; do
			if [ -f ${origdir}/usr/lib/lib${f}.${ext} ]; then
				mv ${origdir}/usr/lib/lib${f}.${ext} ${destdir}/usr/lib
			fi
		done
		if [ -f ${origdir}/usr/lib/lib${f}.so ]; then
			mv ${origdir}/usr/lib/lib${f}.so ${destdir}/usr/lib
		fi
	done
}
