# Template file for 'gcc-libgcc'.
#
short_desc="GCC version ${version} shared library support"
long_desc="${long_desc}

 This package contains the GCC shared library."
install_priority=50

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/lib
	mv ${origdir}/usr/lib/libgcc_s.so* ${destdir}/usr/lib
}
