# Template file for 'gcc-libmudflap'.
#
short_desc="GCC mudflap shared support library"
long_desc="${long_desc}

 This package contains GCC shared support library which is needed
 for mudflap support."

Add_dependency run glibc
Add_dependency run gcc-libgcc ${version}

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libmudflap*.so.* ${DESTDIR}/usr/lib
}
