# Template file for 'gcc-libmudflap'.
#
short_desc="GCC mudflap shared support library"
long_desc="${long_desc}

 This package contains GCC shared support library which is needed
 for mudflap support."

Add_dependency run glibc
Add_dependency run gcc-libgcc

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/lib
	mv ${origdir}/usr/lib/libmudflap*.so.* ${destdir}/usr/lib
}
