# Template file for 'gcc-libobjc'.
#
short_desc="GCC Objective-C shared library support"
long_desc="${long_desc}

 This package contains GCC Objective-C shared support library which is needed
 to run Objective-C dynamically linked programs."

Add_dependency run glibc
Add_dependency run gcc-libgcc

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libobjc.so.* ${DESTDIR}/usr/lib
}
