# Template file for 'gcc-locale'.
#
short_desc="${short_desc} (locales)"
long_desc="${long_desc}

 This package contains the ${sourcepkg} locale files, for non US users."
run_depends=
noarch=yes

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}

	mkdir -p ${destdir}/usr/share
	mv ${XBPS_DESTDIR}/${sourcepkg}-${version}/usr/share/locale \
		${destdir}/usr/share
}
