[Unit]
Description=IPv6 Packet Filtering Framework

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip6tables-restore /etc/iptables/ip6tables.rules
ExecStop=/lib/systemd/scripts/iptables-flush -6
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
