[Desktop Entry]
Name=Insomnia
Comment=Design and debug APIs like a human, not a robot.
GenericName=The Desktop API client for REST and GraphQL
Exec=/usr/lib/insomnia/insomnia
Icon=insomnia
Type=Application
StartupNotify=false
StartupWMClass=Insomnia
Categories=Utility;Development;
Keywords=rest;graphql;request;
