[Desktop Entry]
Name=Insomnia
Comment=Design and debug APIs like a human, not a robot.
GenericName=The Open Source API Client and Design Platform for GraphQL, REST and gRPC
Exec=insomnia
Icon=insomnia
Type=Application
StartupNotify=false
StartupWMClass=Insomnia
Categories=Utility;Development;
Keywords=rest;graphql;request;
