[Desktop Entry]
Name=Obsidian
Exec=/usr/bin/obsidian %U
Terminal=false
Type=Application
Icon=obsidian
StartupWMClass=obsidian
X-AppImage-Version=0.11.9
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
