[Desktop Entry]
Version=1.0
Type=Application
Name=Turtl
Comment=The secure, collaborative notebook
Exec=/opt/turtl/turtl
Icon=turtl
Terminal=false
StartupNotify=false
Categories=Application;
