# This file use the libsane_matched routine in 53-sane.rules

# For Brother Brscan3 
ATTR{idVendor}=="04f9", MODE="0664", GROUP="scanner", ENV{libsane_matched}="yes"

