# Template file for 'gir-json-glib'.
#
short_desc="Introspection data for json-glib"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the
 json-glib library."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
