# Template file for 'json-glib-devel'.
#
depends="glib-devel json-glib"
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
	vmove "usr/lib/*.a" usr/lib
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/pkgconfig usr/lib
}
