# Template file for 'json-glib-devel'.
#
depends="glib-devel json-glib>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove "usr/lib/*.a" usr/lib
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/pkgconfig usr/lib
}
