[Desktop Entry]
Name=OpenBazaar
Comment=Decentralized Peer to Peer Marketplace for Bitcoin
GenericName=OpenBazaar Desktop Client
Exec=openbazaar-desktop %U
Icon=openbazaar-desktop
Type=Application
StartupNotify=true
Categories=Utility;
