# Template file for 'gir-eog'.
#
short_desc="Introspection data for the Eye Of the Gnome."
long_desc="${long_desc}

 This package contains small pieces of introspection data for the
 Eye Of the Gnome library."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/eog/girepository-1.0 ${DESTDIR}/usr/lib
}
