# Template file for 'libcap-ng-progs'.
#
short_desc="${sourcepkg} utilities"
long_desc="${long_desc}

 This package contains binary utilities provided by the ${sourcepkg} package."

do_install() {
	vmove usr/bin usr
	vmove usr/share usr
}
