# Template file for 'libcap-ng-python'.
#
depends="python"
short_desc="${sourcepkg} python bindings"
long_desc="${long_desc}

 This package contains the python language bindings."

pycompile_module="capng"

do_install() {
	vmove "usr/lib/python*" usr/lib/python
}
