[Desktop Entry]
Type=Application
Version=1.0
Name=Shattered Pixel Dungeon
Comment=Open-source roguelike dungeon crawler
Exec=/usr/bin/shattered-pixel-dungeon
Icon=shattered-pixel-dungeon
Terminal=false
Categories=Game;
