# Template file for 'faad2-devel'.
#
depends="glibc-devel faad2>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/*.*a ${DESTDIR}/usr/lib
}
