# Template file for 'grub-x86_64-efi'.
#
noarch=yes
depends="grub>=$version dosfstools efibootmgr"
short_desc="${short_desc} -- x86_64 EFI support"

do_install() {
	vmove usr/lib/grub/x86_64-efi usr/lib/grub
}
