# Template file for 'grub-x86_64-efi'.
#
depends="grub>=$version dosfstools efibootmgr"
short_desc="${short_desc} -- x86_64 EFI support"
long_desc="${long_desc}

 This package contains supports for x86_64 EFI booting."

do_install() {
	vmove usr/lib/grub/x86_64-efi usr/lib/grub
}
