root = true

[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
indent_size = 4
indent_style = space

[*.{yml,yaml}]
indent_size = 2
indent_style = space

[*.{patch,diff}]
indent_style = unset
end_of_line = unset
charset = unset
trim_trailing_whitespace = unset
