# Ignore default created dirs and bins.
depot/
destdir/
srcdistdir/
builddir/
packages/
bin/xbps-bin/xbps-bin
bin/xbps-cmpver/xbps-cmpver
bin/xbps-digest/xbps-digest
bin/xbps-repo/xbps-repo
bin/xbps-src/xbps-src
bin/xbps-pkgdb/xbps-pkgdb
*.o
*.a
*.so*
*.bak
