*.swo
*.swp
*~
\#*#

# exclude everything in root except files and directories from void-packages
/*
!/CONTRIBUTING.md
!/COPYING
!/Manual.md
!/README.md
!/common
!/etc
!/srcpkgs
!/xbps-src
etc/conf
etc/conf.*
etc/virtual
etc/xbps.d/custom
