[Desktop Entry]
Name=Logseq
Exec=/usr/bin/Logseq %u
MimeType=x-scheme-handler/logseq
Terminal=false
Type=Application
Icon=logseq
StartupWMClass=logseq
Comment=Open Source platform for knowledge sharing and management
Categories=Office

