[Desktop Entry]
Name=PixiEditor
Comment=Universal editor for all your 2d needs
Exec=pixieditor %F
Icon=pixieditor
Type=Application
Categories=Graphics;RasterGraphics;
