#!/sbin/runscript
# Copyright (c) 2007-2009 Roy Marples <roy@marples.name>
# All rights reserved. Released under the 2-clause BSD license.

: ${ntpd_config:=/etc/ntp.conf}
: ${ntpd_drift:=/var/db/ntpd.drift}

command=/usr/bin/ntpd
required_files=$ntpd_config
pidfile=/var/run/ntpd.pid
command_args="$ntpd_args -c $ntpd_config -f $ntpd_drift -p $pidfile"

depend()
{
	use dns
	need localmount
	after bootmisc ntp-client
}

start_pre()
{
	if [ -n "$ntpd_chroot" ]; then
		case "$RC_UNAME" in
			*BSD|DragonFly)
				if [ ! -c "$ntpd_chroot/dev/clockctl" ]; then
					rm -f "$ntpd_chroot/dev/clockctl"
					(cd /dev; /bin/pax -rw -pe clockctl \
					 "$ntpd_chroot/dev")
				fi
				;;
		esac
		ln -fs "$ntpd_chroot$ntpd_drift" "$ntpd_drift"

		command_args="$command_args -u ntpd:ntpd -i $ntpd_chroot"
	fi
}
