[Unit]
Description=One-Shot Network Time Service
After=network.target nss-lookup.target
Before=ntpd.service

[Service]
Type=oneshot
PrivateTmp=true
ExecStart=/usr/bin/ntpd -q -g -u ntpd:ntpd
ControlGroup=cpu:/

[Install]
WantedBy=multi-user.target
