# Template file for 'device-mapper-devel'
#
short_desc="${sourcepkg} development files"
long_desc="
 This package contains the development files for the kernel device-mapper
 library, libdevmapper."

Add_dependency run readline-devel
Add_dependency run ncurses-devel
Add_dependency run device-mapper ">=${version}"

revision=1

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
