# Template file for 'device-mapper-devel'
#
noarch=yes
depends="readline-devel ncurses-devel device-mapper-${version}_${revision}"
short_desc="${sourcepkg} development files"
long_desc="
 This package contains the development files for the kernel device-mapper
 library, libdevmapper."

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
