# Template file for 'device-mapper-devel'
#
depends="readline-devel ncurses-devel device-mapper>=2.02.95"
short_desc="${sourcepkg} development files"
long_desc="
 This package contains the development files for the kernel device-mapper
 library, libdevmapper."



do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
