# Template file for 'liblvm2app-devel'
#
noarch=yes
depends="device-mapper-devel-${version}_${revision}
 liblvm2app-${version}_${revision}"
short_desc="LVM2 application library - development files"

do_install() {
	vmove usr/include/lvm2app.h usr/include
	vmove "usr/lib/pkgconfig/lvm2app*" usr/lib/pkgconfig
}
