# Template file for 'liblvm2app'
#
short_desc="LVM2 application library"
long_desc="
 This package contains the lvm2app shared library. It allows easier access
 to the basic LVM objects and provides functions to enumerate, create or
 modify them."

revision=1

do_install() {
	vmove "usr/lib/liblvm2app.so*" usr/lib
}
