# Template file for 'liblvm2app-devel'
#
noarch=yes
depends="device-mapper-devel>=$version liblvm2app>=$version"
short_desc="LVM2 application library - development files"
long_desc="
 This package contains files needed to develop applications that use the
 lvm2app library."

do_install() {
	vmove usr/include/lvm2app.h usr/include
	vmove "usr/lib/pkgconfig/lvm2app*" usr/lib/pkgconfig
}
