# Template file for 'e2fsprogs-libs'.
#
short_desc="${short_desc} (shared libraries)"
long_desc="${long_desc}

 This package contains the shared libraries."

revision=2

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
