# Template file for 'e2fsprogs-libs'.
#
short_desc="${short_desc} (shared libraries)"
long_desc="${long_desc}

 This package contains the shared libraries."

Add_dependency run glibc
Add_dependency run libblkid

do_install()
{
	mkdir -p ${DESTDIR}/lib ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/lib/lib*.so.* ${DESTDIR}/lib
	mv ${SRCPKGDESTDIR}/usr/lib/*.so ${DESTDIR}/usr/lib
}
