[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Bos Wars
GenericName=Battle of Survival Wars
Comment=real-time strategy game
Exec=/usr/bin/boswars
Icon=boswars.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;

