# Template file for 'libwmf-devel'.
#
noarch=yes
depends="${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/share/doc usr/share
	vmove usr/bin/libwmf-config usr/bin
}
