[Desktop Entry]
Type=Application
Name=SQLiteStudio
Comment=Database manager to create, edit, and browse SQLite databases
Icon=sqlitestudio.svg
Exec=sqlitestudio %f
Terminal=false
Categories=Database;Development;Utility;
MimeType=application/vnd.sqlite3;application/x-sqlite3;
