# Template file for 'python-devel'.
#
depends="libffi-devel zlib-devel readline-devel bzip2-devel gdbm-devel
 openssl-devel expat-devel db-devel ncurses-devel sqlite-devel
 python>=${version}"
short_desc="Python development files"

do_install() {
	vmove "usr/bin/python*-config" usr/bin
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/include/python2.7/*" usr/include/python2.7
	mv ${DESTDIR}/usr/include/python2.7/pyconfig.h \
		${SRCPKGDESTDIR}/usr/include/python2.7
}
