[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sauerbraten
Comment=Free multiplayer & singleplayer first person shooter
Exec=sauerbraten %u
Icon=sauerbraten
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
