# Template file for 'portaudiocpp-devel'.
#
depends="portaudiocpp portaudio-devel"
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains development, headers, static libs, etc
 for the C++ bindings."


do_install()
{
	vmove usr/include/portaudiocpp usr/include
	vmove usr/lib/pkgconfig/portaudiocpp.pc usr/lib/pkgconfig
	vmove "usr/lib/libportaudiocpp.a*" usr/lib
}
