# Template file for 'portaudiocpp'.
#
short_desc="${short_desc} - C++ Bindings"
long_desc="${long_desc}

 This package contains the C++ version."

do_install()
{
	vmove "usr/lib/libportaudiocpp.so*" usr/lib
}
