# Template file for 'libqrencode'.
#
short_desc="${short_desc} -- runtime library"
long_desc="${long_desc}

 This package contains the runtime library."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
