# Template file for 'qrencode-devel'.
#
depends="libqrencode-${version}_${revision}"
short_desc="${short_desc} -- development files"
noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
