# Template file for 'ladspa-sdk-progs'.
#
short_desc="${short_desc} (Example programs)"
long_desc="${long_desc}

 This package contains the example programs."

do_install()
{
	vmkdir usr
        vcopy ${wrksrc}/bin usr
}
