# Template file for 'ladspa-sdk-docs'.
#
depends="ladspa-sdk"
short_desc="${short_desc} (Documentation)"
long_desc="${long_desc}

 This package contains the HTML documentation
 to be installed in /usr/share/doc/ladspa."


noarch=yes


do_install()
{
	vmkdir usr/share/doc
	cd ${wrksrc}/doc && rm ladspa.h.txt && \
		ln -s /usr/include/ladspa.h ladspa.h.txt
        vcopy ${wrksrc}/doc usr/share/doc/ladspa
}
