# Template file for 'ladspa-sdk-example-plugins'.
#
short_desc="${short_desc} (Example plugins)"
long_desc="${long_desc}

 This package contains the example plugins."

do_install()
{
	vmkdir usr/lib/ladspa
        vcopy "${wrksrc}/plugins/*.so*" usr/lib/ladspa
}
