# Template file for 'libpcre'.
#
short_desc="${short_desc} - shared libraries"
long_desc="${long_desc}

 This package contains the shared libraries for use in client programs."

replaces="pcre<8.11"

do_install() {
	vmove "usr/lib/libpcre.so*" usr/lib
	vmove "usr/lib/libpcreposix.so*" usr/lib
}
