# Template file for 'libpcrecpp'.
#
short_desc="${short_desc} - C++ shared libraries"
long_desc="${long_desc}

 This package contains the C++ shared library for use in
 client programs."

do_install() {
	vmove "usr/lib/libpcrecpp.so*" usr/lib
}
