# Template file for 'libpcre'.
#
revision=1
short_desc="${short_desc} - shared libraries"
long_desc="${long_desc}

 This package contains the shared libraries for use in client programs."

replaces="pcre<8.11"


do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
