# wings uses the wxGLCanvas component of wxWidgets for the rendering but
# Wayland users are experiencing issues because wxGLCanvas' Wayland support
# is relatively new. That's why we request the X11 backend to be used.
# Feel free to comment out the following lines and give the Wayland support
# a try.
GDK_BACKEND=x11
export GDK_BACKEND

# uncomment this if you have problems with OpenGL (vertices are small,
# faces are invisible, ...).  This is caused by buggy drivers, buggy
# graphics cards, etc.
#
# You usually want to leave this as-is:
# LIBGL_ALWAYS_INDIRECT=1
# export LIBGL_ALWAYS_INDIRECT
