[Desktop Entry]
Type=Application
Terminal=false
Exec=/usr/bin/wings -detached
Name=Wings 3D
GenericName=A 3D Subdivision Modeler
Comment=A 3D modeler that is both powerful and easy to use
GenericName[en]=A 3D Subdivision Modeler
Comment[en]=A 3D modeler that is both powerful and easy to use
Icon=wings
Categories=GNOME;GTK;Graphics;3DGraphics;
StartupNotify=false
