[Desktop Entry]
Version=1.0
Type=Application
Name=Seven Kingdoms: Ancient Adversaries
Comment=
Exec=/usr/bin/7kaa
Icon=7k.xpm
Path=
Terminal=false
StartupNotify=false
