[Desktop Entry]
Name=Vesktop
Comment=Custom Discord client with Vencord integrated
GenericName=Internet Messenger
Exec=/usr/bin/vesktop
Icon=vesktop
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;Chat;
EOF
