[Desktop Entry]
Name=Vesktop
Exec=/usr/bin/vesktop %U
Terminal=false
Type=Application
Icon=vesktop
StartupWMClass=vesktop
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
Comment=Vesktop is a custom Discord App aiming to give you better performance and improve linux support. Vencord comes pre-installed
MimeType=x-scheme-handler/discord
