ACTION!="add", GOTO="pfusp_scanner_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="pfusp_scanner_rules_end"
ATTR{idVendor}!="04c5", GOTO="pfusp_scanner_rules_end"

LABEL="pfusp_scanner_rules_begin"
#SP-1120
ATTRS{idProduct}=="1473", ENV{pfusp_driver}="yes"
#SP-1125
ATTRS{idProduct}=="1475", ENV{pfusp_driver}="yes"
#SP-1130
ATTRS{idProduct}=="1476", ENV{pfusp_driver}="yes"
#SP-1425
ATTRS{idProduct}=="1524", ENV{pfusp_driver}="yes"
#SP-1120N
ATTRS{idProduct}=="1625", ENV{pfusp_driver}="yes"
#SP-1125N
ATTRS{idProduct}=="1626", ENV{pfusp_driver}="yes"
#SP-1130N
ATTRS{idProduct}=="1627", ENV{pfusp_driver}="yes"
# Give scanner users read/write permissions on the device.
ENV{pfusp_driver}=="yes", MODE="0666", OWNER="root", GROUP="root"

# Device detection by pfusp depends on libsane_matched being set.
ENV{pfusp_driver}=="yes", ENV{libsane_matched}="yes"

LABEL="pfusp_scanner_rules_end"
