# Template file for 'libevent-devel'.
#
noarch=yes
depends="openssl-devel libevent>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/bin usr
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
