[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Opensonic
GenericName=Opensonic
Comment=Game based on the "Sonic the Hedgehog" universe.
Exec=/usr/bin/opensonic
Categories=Game;ArcadeGame;
Icon=/usr/share/opensonic/icon.png
