#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Visual Paradigm
Exec="/usr/bin/visual-paradigm" %U
Icon=visual-paradigm
Categories=Application;
StartupWMClass=install4j-RV
