[Desktop Entry]
Type=Application
Icon=yed
Exec=yed %f
StartupNotify=true
StartupWMClass=com-yworks-A-yEd
Name=yEd Graph Editor
Categories=Application;Graphics;VectorGraphics;Java;
