[Desktop Entry]
Name=Signal
Exec=/usr/bin/signal-desktop --ozone-platform-hint=wayland
Terminal=false
Type=Application
Icon=signal-desktop
StartupWMClass=signal
Comment=Private messaging from your desktop
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
Categories=Network;InstantMessaging;Chat;
