[Desktop Entry]
Type=Application
Name=Signal
GenericName=Messenger
Comment=Signal Private Messenger for the Desktop
Icon=signal
Exec=signal-desktop
Categories=Network;Messenger;
StartupNotify=true
