[Desktop Entry]
Exec='/usr/bin/cycle'
GenericName=Cycle
Icon=cycle
Name=Cycle
Terminal=false
Type=Application
Categories=Education;Science;MedicalSoftware
Keywords=Calendar;Women;Menstruation;Ovulation;
