[Desktop Entry]
Type=Application
Name=RealTimeSync
GenericName=Automated Synchronization
GenericName[de_DE]=Automatisierte Synchronisation
Exec=RealTimeSync %f
Icon=/usr/share/pixmaps/RealTimeSync.png
NoDisplay=false
Terminal=false
Categories=Utility;FileTools;
StartupNotify=true
