# Template file for 'libcherokee'.
#
short_desc="${short_desc} (Runtime library)"
long_desc="${long_desc}

 This package contains the cherokee runtime lib(s)."

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/lib/cherokee usr/lib
}


