[Desktop Entry]
Name=FreeTube
GenericName=YouTube Player
Comment=An open source desktop YouTube player built with privacy in mind.
Exec=freetube %U
Terminal=false
Type=Application
Icon=freetube
MimeType=x-scheme-handler/freetube;
Categories=Network;
StartupWMClass=FreeTube
