[Desktop Entry]
Name=FreeTube
GenericName=YouTube Player
Comment=An open source desktop YouTube player built with privacy in mind.
Exec=freetube
Terminal=false
Type=Application
Icon=freetube
Categories=Network;
