[Desktop Entry]
Name=FreeTube
GenericName=YouTube Player
Comment=Open source desktop YouTube player built with privacy in mind.
Exec=FreeTube %U
Terminal=false
Type=Application
Icon=FreeTube
MimeType=x-scheme-handler/FreeTube;
Categories=Network;
StartupWMClass=FreeTube
