# stolen from http://pkgs.fedoraproject.org/cgit/rpms/freecad.git/plain/freecad.desktop
[Desktop Entry]
Version=1.0
Name=FreeCAD
Name[de]=FreeCAD
Comment=Feature based Parametric Modeler
Comment[de]=Feature-basierter parametrischer Modellierer
GenericName=CAD Application
GenericName[de]=CAD-Anwendung
Exec=@_inst_prefix@/bin/FreeCAD %F
Path=@_inst_prefix@
Terminal=false
Type=Application
Icon=freecad
Categories=Graphics;Science;Education;Engineering;
StartupNotify=true
GenericName[de_DE]=Feature-basierter parametrischer Modellierer
MimeType=application/x-extension-fcstd;
