# Template file for 'gir-libsoup'.
#
short_desc="Introspection data for GNOME's libsoup"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the GNOME's
 libsoup libraries."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
