# Template file for 'libsoup-gnome-devel'.
#
noarch=yes
depends="libsoup-devel-${version}_${revision} libsoup-gnome-${version}_${revision}"
short_desc="${short_desc} - GNOME development files"

do_install() {
	vmove "usr/include/libsoup-gnome*" usr/include
	vmove "usr/lib/pkgconfig/*gnome*" usr/lib/pkgconfig
	vmove "usr/share/gir-1.0/SoupGNOME*" usr/share/gir-1.0
}
