# Template file for 'libsoup-devel'.
#
noarch=yes
depends="glib-devel libxml2-devel libsoup-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/{include,share} ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/lib
}
