# Template file for 'libsoup-gnome'.
#
depends="gnutls libgcrypt libgpg-error"
short_desc="${sourcepkg} - GNOME libraries"
long_desc="${long_desc}

 This package contains the GNOME support libraries."


do_install() {
	mkdir -p ${DESTDIR}/usr/lib/girepository-1.0
	mv ${SRCPKGDESTDIR}/usr/lib/libsoup-gnome*.so* ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0/SoupGNOME* \
		${DESTDIR}/usr/lib/girepository-1.0
}
