# Template file for 'libsoup-gnome'.
#
short_desc="${sourcepkg} - GNOME libraries"
long_desc="${long_desc}

 This package contains the GNOME support libraries."

Add_dependency run gnutls
Add_dependency run libgcrypt
Add_dependency run libgpg-error

do_install() {
	mkdir -p ${DESTDIR}/usr/lib/girepository-1.0
	mv ${SRCPKGDESTDIR}/usr/lib/libsoup-gnome*.so* ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0/SoupGNOME* \
		${DESTDIR}/usr/lib/girepository-1.0
}
