# Template file for 'libsoup-devel'.
#
noarch=yes
depends="glib-devel libxml2-devel libsoup-${version}_${revision}"
short_desc="${sourcepkg} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/{include,share} ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/lib
}
