# Template file for 'libsoup-gnome'.
#
short_desc="${short_desc} - GNOME libraries"

do_install() {
	vmove "usr/lib/libsoup-gnome*.so*" usr/lib
	vmove "usr/lib/girepository-1.0/SoupGNOME*" usr/lib/girepository-1.0
}
