# Template file for 'python-devel'.
#
short_desc="Python development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run python

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib ${DESTDIR}/usr/bin
	mv ${SRCPKGDESTDIR}/usr/bin/python*-config ${DESTDIR}/usr/bin
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/lib*.*a ${DESTDIR}/usr/lib
}
