# Template file for 'transmission-gtk'.
#
depends="${sourcepkg}>=${version} hicolor-icon-theme desktop-file-utils"
short_desc="${short_desc} -- development files"
long_desc="${long_desc}

 This package contains transmission-gtk, the GTK+ frontend."

do_install() {
	vmove usr/bin/transmission-gtk usr/bin
	vmove usr/share/man/man1/transmission-gtk.1 usr/share/man/man1
	vmove usr/share/icons/hicolor usr/share/icons
	vmove usr/share/applications usr/share
	vmove usr/share/locale usr/share
}
