# Template file for 'transmission-qt'.
#
depends="${sourcepkg}>=${version}"
short_desc="${short_desc} -- QT Frontend"
long_desc="${long_desc}

 This package contains transmission-qt, the QT frontend."

do_install() {
	make -C ${wrksrc}/qt INSTALL_ROOT=${DESTDIR}/usr install
	vinstall qt/icons/transmission.png 644 \
		usr/share/pixmaps transmission-qt.png
	vinstall qt/transmission-qt.desktop 644 usr/share/applications
}
