[Unit]
Description=Qingy on %I
Documentation=info:qingy
After=systemd-user-sessions.service plymouth-quit-wait.service

[Service]
Environment=TERM=linux
ExecStart=/usr/sbin/qingy %I -n
Type=idle
Restart=always
RestartSec=0
UtmpIdentifier=%I
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
KillMode=process
IgnoreSIGPIPE=no

[Install]
Alias=getty.target.wants/qingy@tty1.service
