# Template file for 'gir-gnome-desktop'.
#
short_desc="Introspection data for GNOME desktop"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the GNOME
 desktop libraries."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
