# Template file for 'libltdl-devel'.
#
depends="libltdl>=${version}"
short_desc="GNU Libtool Dynamic Module Loader development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/share/aclocal/ltdl.m4 usr/share/aclocal
	vmove usr/share/libtool/libltdl usr/share/libtool
}
