[Desktop Entry]
Name=XEphem
Type=Application
Comment=Interactive tool for astronomical ephemeris and sky simulation
Exec=xephem
TryExec=xephem
Icon=/usr/share/pixmaps/XEphem.png
Categories=Education;Science;Astronomy;
