# vim:syntax=apparmor

abi <abi/3.0>,

# NOTE: This profile will by default work with pfp-fpm on TCP sockets.
# If you need to make use of php-fpm unix socket, add the following to local/usr.bin.nginx
# /path/to/your/unix/socket rw,

include <tunables/global>

profile nginx /usr/bin/nginx {
  include <abstractions/base>
  include <abstractions/nameservice>
  include <abstractions/nis>
  include <abstractions/openssl>

  capability setgid,
  capability setuid,

  /etc/nginx/** r,

  /run/nginx.pid rw,

  /usr/bin/nginx mr,

  /usr/share/nginx/html/* r,

  /var/log/nginx/* w,

  # Site-specific additions and overrides. See local/README for details.
  include if exists <local/usr.bin.nginx>
}
