# Template file for 'SDL-devel'.
#
depends="alsa-lib-devel SDL>=${version}"

if [ "$build_option_x11" ]; then
	depends="${depends} libXrandr-devel"
fi

if [ "$build_option_opengl" ]; then
	depends="${depends} glu-devel"
fi

if [ "$build_option_pulseaudio" ]; then
	depends="${depends} pulseaudio-devel"
fi

short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/bin usr
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/*.a" usr/lib
	vmove usr/share usr
}
