# Template file for 'alsa-lib-python'.
#
short_desc="${sourcepkg} - python smixer plugin"
long_desc="${long_desc}

 This package contains a python smixer plugin for ALSA."

replaces="alsa-lib<=1.0.25"

do_install() {
	vmove usr/lib/alsa-lib/smixer/smixer-python.so \
		usr/lib/alsa-mixer/smixer
}
