[Unit]
Description=Next Generation IRC Daemon
After=network.target

[Service]
ExecStart=/usr/sbin/ngircd -n
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
