# Template file for 'boost-python'.
#
depends="boost>=${version} python"
short_desc="${short_desc} - python bindings"

do_install() {
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libboost_python* ${DESTDIR}/usr/lib
}
