# Template file for 'boost-python'.
#
depends="boost>=$version python"
short_desc="${short_desc} - python bindings"
long_desc="
 Boost is a set of free, peer-reviewed, C++ libraries. The emphasis is on
 portable libraries which work well with the ISO C++ Standard Library.

 This package adds static and shared binary libraries providing support for
 the Boost Python library."

do_install() {
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libboost_python* ${DESTDIR}/usr/lib
}
