# Template file for 'boost-build'.
#
noarch=yes
conf_files="/etc/site-config.jam"
depends="boost-jam>=$version boost-devel>=$version"
short_desc="${short_desc} - Boost.Build framework"

do_install() {
	mkdir -p ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/boost-build ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/etc ${DESTDIR}
}
