# Template file for 'zlib-dev'.
#
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."
run_depends="bzip2-libs-${version}"

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/lib
	mv ${origdir}/usr/include ${destdir}/usr
	mv ${origdir}/usr/lib/libz.*a ${destdir}/usr/lib
	mv ${origdir}/usr/share ${destdir}/usr
}
