[Desktop Entry]
Type=Application
Version=2.5
Encoding=UTF-8
Name=Xonotic (SDL)
Comment=a free open-source first person shooter
Icon=/usr/share/pixmaps/xonotic.png
Exec=/usr/bin/xonotic-sdl
Terminal=false
StartupNotify=false
Categories=Game;
