# Template file for 'gjs-devel'.
#
depends="libffi-devel libgirepository-devel dbus-glib-devel cairo-devel
readline-devel js-devel gjs>=${version}"
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
