# Template file for 'elementary-devel'.
#
noarch=yes
depends="ethumb-devel efreet-devel ecore-devel edje-devel
 evas-devel dbus-devel ${sourcepkg}>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
