# Template file for 'libsmbios-utils'.
#
depends="libsmbios"
short_desc="${sourcepkg} utilities"
long_desc="${long_desc}

This package contains some sample binaries that use libsmbios."


do_install()
{
	mkdir -p ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/sbin ${DESTDIR}/usr
}
