# Template file for 'nss-devel'.
#
noarch=yes
depends="nspr-devel>=4.9.3 nss-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/bin/nss-config usr/bin
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/include usr
}
