[Desktop Entry]
Name=Phosh
Name[en]=Phosh
Comment=This session logs you into Phosh
Comment[en]=This session logs in you into Phosh
Exec=dbus-run-session /usr/bin/phosh
TryExec=/usr/bin/phosh
Icon=
Type=Application
X-DesktopNames=Phosh
Keywords=launch;Phosh;desktop;session;
