[Desktop Entry]
Type=Application
Name=On-screen keyboard
Comment=Default on-screen keyboard
Exec=/usr/bin/squeekboard
Categories=GNOME;Core;
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Panel
X-GNOME-Provides=inputmethod
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
