[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Calibre
Comment=E-book library management
Comment[de]=E-Book Bibliotheksverwaltung
Keywords=epub;mobi;ebook
Exec=calibre
Icon=/usr/share/calibre/content_server/calibre.png
Terminal=false
StartupNotify=false
Categories=Application;Office;Viewer
