[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Calibre-viewer
GenericName=E-book viewer
Comment=E-book viewer
TryExec=ebook-viewer
Exec=ebook-viewer
Icon=/usr/share/calibre/images/viewer.png
Terminal=false
StartupNotify=false
Categories=Application;Office;Viewer
MimeType=application/x-sony-bbeb;application/epub+zip;text/lrs;application/x-mobipocket-ebook;application/x-topaz-ebook;application/x-kindle-application;application/x-mobipocket-subscription;application/x-mobipocket-subscription-magazine;application/x-mobi8-ebook
