# Template file for 'libXft-devel'.
#
depends="xproto libXrender-devel fontconfig-devel freetype-devel libXft>=${version}"
short_desc="${short_desc} (development files)"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/lib*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share usr
}
