# Template file for 'libXft-devel'.
#
depends="xproto libXrender-devel fontconfig-devel freetype-devel libXft"
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install() {
	vmove usr/include usr
	vmove "usr/lib/lib*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share usr
}
