[Desktop Entry]
Type=Application
Name=ElectronNCM
Name[zh_CN]=ElectronNCM
Name[zh_TW]=ElectronNCM
Comment=UNOFFICIAL client for music.163.com
Comment[zh_CN]=网易云音乐非官方客户端
Comment[zh_TW]=網易雲音樂非官方用戶端
Icon=electron-netease-cloud-music
Exec=/usr/bin/electron-netease-cloud-music
Categories=AudioVideo;Player;
