[Desktop Entry]
Type=Application
Name=Android Studio
Exec=android-studio
Icon=/opt/android-studio/bin/studio.png
Terminal=false
Categories=Development
