# Template file for 'cloog-devel'.
#
depends="gmp-devel cloog>=${version}"
replaces="cloog-ppl-devel>=0"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/*.a" usr/lib
}
