[Desktop Entry]
Encoding=UTF-8
Type=Application
GenericName=Sopwith
Comment=WW1 Dogfighting Game
Exec=/usr/bin/sopwith
StartupNotify=false
Terminal=false
Categories=Application;Game;
Icon=/usr/share/pixmaps/sopwith.png
