# Template file for 'poppler-qt4-devel'.
#
short_desc="${sourcepkg} QT 4 bindings (development files)"
long_desc="${long_desc}

 This package contains development files for QT 4 bindings."

Add_dependency run poppler-qt4 ">=${version}"

do_install() {
	vmove usr/include/poppler/qt4 usr/include/poppler
	vmove usr/lib/libpoppler-qt4.a usr/lib
	vmove usr/lib/pkgconfig/poppler-qt4.pc usr/lib/pkgconfig
	rm -rf ${SRCPKGDESTDIR}/usr/include
}
