[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=RuneLite
Comment=Open source Old School RuneScape client
Icon=/usr/share/pixmaps/runelite.png
Exec=/usr/bin/runelite
Terminal=false
StartupNotify=false
Categories=Game;
