[Desktop Entry]
Type=Application
Version=1.0
Name=xdemineur
GenericName=xdemineur
Comment=A minesweeper game for the X Window System
Exec=xdemineur
Terminal=false
Categories=Game;Application;

