# Template file for 'ecryptfs-utils-python'.
#
depends="python"
short_desc="ecryptfs cryptographic filesystem (python binding)"
long_desc="
  eCryptfs is a POSIX-compliant enterprise-class stacked cryptographic filesystem for Linux.
 
  This package contains the Python library binding."

do_install() {
	vmove usr/lib/python2.7 usr/lib
}
