# Template file for 'libecryptfs-devel'.
#
noarch=yes
depends="keyutils-devel libecryptfs>=${version}_${revision}"
short_desc="ecryptfs cryptographic filesystem (development)"
long_desc="
 eCryptfs is a POSIX-compliant enterprise-class stacked cryptographic
 filesystem for Linux.

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
