# Template file for 'libecryptfs'.
#
short_desc="ecryptfs cryptographic filesystem (library)"
long_desc="
  eCryptfs is a POSIX-compliant enterprise-class stacked cryptographic filesystem for Linux.
 
  This package contains the library."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
