# Template file for 'cyrus-sasl-modules-ldap'.
#
short_desc="Cyrus SASL - pluggable authentication modules (LDAP)"
long_desc="
 This is the Cyrus SASL API implementation, version 2.1. See package
 libsasl and RFC 2222 for more information.
 
 This package provides the LDAP plugin."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/sasl2
	mv ${SRCPKGDESTDIR}/usr/lib/sasl2/libldapdb.* ${DESTDIR}/usr/lib/sasl2
}
