# Template file for 'cyrus-sasl-plugins'.
#
depends="cyrus-sasl>=${version}_${revision}"
short_desc="Cyrus SASL - pluggable authentication modules"
long_desc="
 This is the Cyrus SASL API implementation, version 2.1. See package
 libsasl and RFC 2222 for more information.
 
 This package provides the following SASL modules: LOGIN, PLAIN, ANONYMOUS,
 NTLM, CRAM-MD5, and DIGEST-MD5 (with DES support)."

do_install() {
	vmove usr/lib/sasl2 usr/lib
}
