# Template file for 'cyrus-sasl-modules-ldap'.
#
depends="cyrus-sasl>=${version}_${revision}"
short_desc="Cyrus SASL - pluggable authentication modules (LDAP)"

do_install() {
	vmove "usr/lib/sasl2/libldapdb.*" usr/lib/sasl2
}
