# Template file for 'libsasl-devel'.
#
depends="openssl-devel db-devel libsasl>=${version}_${revision}"
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove usr/share/man/man3 usr/share/man
}
