# Template file for 'libsasl'.
#
short_desc="authentication abstraction library"
long_desc="${long_desc}

 This package contains the runtime shared libraries."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove "usr/lib/sasl2/libsasldb.*" usr/lib/sasl2
}
