# Template file for 'bluez-alsa'.
#
depends="bluez"
short_desc="Bluetooth ALSA support"
long_desc="
 This package contains a driver to operate with the ALSA stack.

 BlueZ is the official Linux Bluetooth Stack. It is an Open Source project
 distributed under GNU General Public License (GPL)."

conf_files="/usr/share/alsa/bluetooth.conf"


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/alsa-lib ${DESTDIR}/usr/lib
}
