# Template file for 'bluez-gstreamer'.
#
depends="bluez"
short_desc="Bluetooth GStreamer support"
long_desc="
 This package contains a plugin to operate with GStreamer applications.

 BlueZ is the official Linux Bluetooth Stack. It is an Open Source project
 distributed under GNU General Public License (GPL)."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/gstreamer* ${DESTDIR}/usr/lib
}
