# Template file for 'libbluetooth-devel'.
#
noarch=yes
depends="libbluetooth-${version}_${revision}"
short_desc="Development files to use the BlueZ Linux Bluetooth library"
long_desc="
 BlueZ is the official Linux Bluetooth Stack. It is an Open Source project
 distributed under GNU General Public License (GPL)."

do_install() {
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/lib
}
