# Template file for 'libbluetooth'.
#
short_desc="Library to use the Bluez Linux Bluetooth Stack"
long_desc="
 BlueZ is the official Linux Bluetooth Stack. It is an Open Source project
 distributed under GNU General Public License (GPL)."

do_install() {
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libbluetooth.so* ${DESTDIR}/usr/lib
}
