# Template file for 'libbluetooth-devel'.
#
short_desc="Development files to use the BlueZ Linux Bluetooth library"
long_desc="
 BlueZ is the official Linux Bluetooth Stack. It is an Open Source project
 distributed under GNU General Public License (GPL)."

revision=1

Add_dependency run glibc-devel
Add_dependency run libbluetooth

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/lib
}
