# Template file for 'gst-plugins-bad-devel'.
#
depends="gst-plugins-base-devel gst-plugins-bad"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
