# Template file for 'libhal'.
#
short_desc="Hardware Abstraction Layer - shared libraries"
long_desc="
 ${long_desc}

 This package contains shared libraries to be used by applications."

revision=1

Add_dependency run glibc
Add_dependency run dbus-libs

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/*.so* ${DESTDIR}/usr/lib
}
