# Template file for 'bind-devel'.
#
depends="bind-libs"
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains development files, static files, headers, etc."


do_install() {
	vmove usr/bin/isc-config.sh usr/bin
	vmove usr/share/man/man1/isc-config.sh.1 usr/share/man/man1
	vmove usr/include usr
	vmove usr/share/man/man3 usr/share/man
}
