# Template file for 'bind-utils'.
#
short_desc="${short_desc} - DNS utils"
long_desc="${long_desc}

 This package contains dig(1), host(1) and nslookup(1) utilities
 provided by bind, containing a set of useful DNS related applications."

do_install() {
	for f in dig host nslookup; do
		vmove usr/bin/${f} usr/bin
		vmove usr/share/man/man1/${f}.1 usr/share/man/man1
	done
}
