# Template file for 'vala-devel'.
#
depends="libglib-devel vala>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/aclocal usr/share
	vmove usr/share/devhelp usr/share
}
