# Template file for 'vala-devel'.
#
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run pkg-config
Add_dependency run glib-devel
Add_dependency run libvala	">=${version}"
Add_dependency run vala		">=${version}"

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/aclocal usr/share
	vmove usr/share/devhelp usr/share
}
