# Template file for 'gtk+-devel'.
#
noarch=yes
depends="glib-devel atk-devel cairo-devel gdk-pixbuf-devel pango-devel gtk+>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/lib/gtk-2.0/include usr/lib/gtk-2.0
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/aclocal usr/share
}
