# Template file for 'gtk+-demo'.
#
short_desc="${sourcepkg} - demonstration application"
long_desc="${long_desc}

 This package contains the example files and a demonstration program
 for GTK+3."

Add_dependency run glibc
Add_dependency run glib
Add_dependency run pango
Add_dependency run cairo
Add_dependency run gdk-pixbuf
Add_dependency run gtk+

do_install()
{
	vmove usr/bin/gtk-demo usr/bin
	vmove usr/share/gtk-2.0 usr/share
}
