# Template file for 'gtk-update-icon-cache'.
#
short_desc="${short_desc} - The GTK+ update icon cache tool"
replaces="gtk+<=2.24.8_3 gtk+3<=3.2.2"
depends="gdk-pixbuf>=2.26.1_2" # libpng-1.5

do_install() {
	vmove usr/bin/gtk-update-icon-cache usr/bin
	vinstall docs/reference/gtk/gtk-update-icon-cache.1 \
		644 usr/share/man/man1
}
