# Template file for 'gtk-update-icon-cache'.
#
short_desc="${sourcepkg} - The GTK+ update icon cache tool"
long_desc="${long_desc}

 This package contains gtk-update-icon-cache, to update GTK+ icon caches."

replaces="gtk+<=2.24.8_3 gtk+3<=3.2.2"

do_install() {
	vmove usr/bin/gtk-update-icon-cache usr/bin
	vinstall docs/reference/gtk/gtk-update-icon-cache.1 \
		644 usr/share/man/man1
}
