# Template file for 'libXxf86dga-devel'.
#
depends="xf86dgaproto libXext-devel libXxf86dga>=$version"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share usr
}
