# Template file for 'graphviz-libs'.
#
short_desc="${short_desc} -- runtime libraries"
long_desc="${long_desc}

 This package contains the runtime libraries."

replaces="graphviz<2.28.0_6"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/lib/graphviz usr/lib
}
