[Desktop Entry]
Name=SoulSeekQT
Exec=soulseekqt
Icon=soulseekqt
Terminal=false
Type=Application
Categories=Network;P2P;
Comment=Soulseek music-sharing client
