# Template file for 'atk-devel'.
#
depends="libglib-devel atk>=${version}"
short_desc="${short_desc} - development files"
noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/share/gir-*" usr/share
	vmove usr/share/gtk-doc usr/share
}
