# Template file for 'gir-atk'.
#
short_desc="Introspection data for ATK"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the ATK library."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
