# Template file for 'libgirepository'.
#
short_desc="Library for handling GObject introspection data (runtime library)"
replaces="gobject-introspection<0.6.10"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
