# Template file for 'libgirepository-devel'.
#
noarch=yes
depends="cairo-devel libffi-devel glib-devel libgirepository>=${version}"
short_desc="Library for handling GObject introspection data (development files)"
long_desc="${long_desc}

 This package contains C libraries for handling the introspection data."

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
}
