# Template file for 'libgirepository-devel'.
#
depends="cairo-devel libffi-devel libglib-devel libgirepository-${version}_${revision}"
short_desc="Library for handling GObject introspection data (development files)"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
}
