[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=OpenJK Multi Player
Comment="Open Source Implementation of Jedi Knight II and III Engine - Multi Player"
Exec=openjk
Icon=OpenJK
Terminal=false
StartupNotify=false
Categories=Game