[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=OpenJK Jedi Outcast
Comment="Open Source Implementation of Jedi Knight II and III Engine - Jedi Outcast"
Exec=openjo
Icon=OpenJK
Terminal=false
StartupNotify=false
Categories=Game