# Template file for 'libgee-devel'.
#
depends="glib-devel libgee>=${version}"
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove "usr/lib/*.a" usr/lib
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/vala usr/share
}
