[Unit]
Description=a daemon to browse the Bonjour broadcasts

[Service]
ExecStart=/usr/sbin/cups-browsed
PrivateTmp=yes

[Install]
Also=cups.service avahi-daemon.service
WantedBy=printer.target
