# Template file for 'e2fsprogs-libs'.
#
short_desc="${short_desc} (shared libraries)"
long_desc="${long_desc}

 This package contains the shared libraries."

Add_dependency run glibc

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/lib
	mv ${origdir}/lib/lib*.so.* ${destdir}/lib
}
