[Unit]
Description=/etc/local.d execution

[Service]
Type=oneshot
ExecStart=/usr/bin/run-parts --arg="start" /etc/local.d
ExecStop=/usr/bin/run-parts --arg="stop" --reverse /etc/local.d
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
