[Unit]
Description=/etc/local.d execution

[Service]
Type=oneshot
ExecStart=/usr/bin/env -i ACTION=start /usr/bin/run-parts /etc/local.d
ExecStop=/usr/bin/env -i ACTION=stop /usr/bin/run-parts --reverse /etc/local.d
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
