# Template file for 'edje-devel'.
#
noarch=yes
depends="lua-devel evas-devel eio-devel embryo-devel edje>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/edje usr/share
}
