# Template file for 'xorg-server-xephyr'.
#
short_desc="X server outputting to a window on a pre-existing X display"

do_install() {
	vmove usr/bin/Xephyr usr/bin
	vmove usr/share/man/man1/Xephyr.1 usr/share/man/man1
}
