# Template file for 'xorg-server-xnest'.
#
short_desc="A nested X server that runs as an X application"

do_install() {
	vmove usr/bin/Xnest usr/bin
	vmove usr/share/man/man1/Xnest.1 usr/share/man/man1
}
