# Template file for 'clang'.
#
depends="libstdc++-devel binutils"
short_desc="Low-Level Virtual Machine (LLVM) -- C language family frontend"
homepage="http://clang.llvm.org/"

do_install() {
	vmove usr/include/clang usr/include
	vmove "usr/bin/*clang*" usr/bin
	vmove usr/bin/c-index-test usr/bin
	vmove usr/lib/clang usr/lib
	vmove usr/lib/llvm/libclang* usr/lib/llvm
	vmove "usr/share/man/man1/*clang*" usr/share/man/man1
}
