# Template file for 'libllvm'.
#
short_desc="Low-Level Virtual Machine (LLVM) - shared libraries"
long_desc="
 ${long_desc}

 This package includes the shared libraries used by the LLVM projects."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
