# Template file for 'llvm-docs'.
#
short_desc="${sourcepkg} - documentation files"
long_desc="${long_desc}

 This package contains the documentation for LLVM."

noarch=yes

do_install()
{
	mkdir -p ${DESTDIR}/usr/share/llvm
	mv ${SRCPKGDESTDIR}/usr/docs ${DESTDIR}/usr/share/llvm
}
