# Template file for 'llvm-devel'.
#
depends="libffi-devel libllvm llvm"
short_desc="Low Level Virtual Machine - development files"
long_desc="
  ${long_desc}

  This package includes development files for the LLVM clang."


do_install()
{
	install -d ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/{include,lib} ${DESTDIR}/usr
}
