# Template file for 'llvm-devel'.
#
short_desc="Low Level Virtual Machine - development files"
long_desc="
  ${long_desc}

  This package includes development files for the LLVM clang."

Add_dependency run libffi-devel
Add_dependency run libllvm
Add_dependency run llvm

do_install()
{
	install -d ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/{include,lib} ${DESTDIR}/usr
}
