# Template file for 'llvm-devel'.
#
depends="libffi-devel llvm>=$version"
short_desc="Low Level Virtual Machine - development files"
long_desc="
  ${long_desc}

  This package includes development files for the LLVM clang."

do_install() {
	vmove usr/include usr
	vmove usr/lib usr
}
