[Unit]
Description=mount xenstore file system
ConditionPathExists=/proc/xen
RefuseManualStop=true

[Mount]
What=xenstore
Where=/var/lib/xenstored
Type=tmpfs
Options=mode=755
