#!/sbin/runscript
#
# Script for starting xend in dom0 kernels.
#
command=/usr/sbin/xend
pidfile=/var/run/xend.pid

depend()
{
	need localmount
}

start()
{
	modprobe -q xen-evtchn || eend $? "Failed to load xen-evtchn module!"

	if test -d /proc/xen && ! test -d /proc/xen/capabilities && \
	     ! grep '     xenfs$' /proc/filesystems >/dev/null && \
	     ! grep '^xenfs ' /proc/mounts >/dev/null; then
		ebegin "Mounting xenfs for xend"
		mount -t xenfs xenfs /proc/xen
		eend $?
	fi
	ebegin "Starting xend"
	${command} start
	eend $?
}

stop()
{
	ebegin "Stopping xend"
	${command} stop
	eend $?
}
