[Unit]
Description=xen domU service for domain %i
Requires=xenstored.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/xl create /etc/xen/conf/%i.cfg
ExecStop=/usr/sbin/xl shutdown %i

[Install]
WantedBy=multi-user.target
