[Unit]
Description=Xenstored - daemon managing xenstore file system
Requires=proc-xen.mount var-lib-xenstored.mount systemd-tmpfiles-setup.service
After=proc-xen.mount var-lib-xenstored.mount systemd-tmpfiles-setup.service
Before=libvirtd.service libvirt-guests.service
RefuseManualStop=true
ConditionPathExists=/proc/xen

[Service]
Type=forking
Environment=XENSTORED_ARGS=
EnvironmentFile=-/etc/conf.d/xenstored
PIDFile=/var/run/xenstored.pid
ExecStartPre=/usr/bin/grep -q control_d /proc/xen/capabilities
ExecStart=/usr/sbin/xenstored --pid-file /var/run/xenstored.pid $XENSTORED_ARGS
ExecStartPost=/usr/bin/xenstore-write "/local/domain/0/name" "Domain-0"

[Install]
WantedBy=multi-user.target
