[Desktop Entry]
Categories=Education;Science;Java
Encoding=UTF-8
Exec=/usr/bin/weka
GenericName[en_US]=Machine learning algorithms for data mining tasks
GenericName=Machine learning algorithms for data mining tasks
Icon=weka
Name[en_US]=Weka
Name=Weka
StartupNotify=true
Terminal=false
Type=Application
