# Template file for 'libblkid'.
#
revision=1
short_desc="Library to handle device identification"
long_desc="
 The libblkid package contains a library to handle device identification
 and token extraction."

Add_dependency run zlib

do_install()
{
	vmove "lib/libblkid.so*" lib
	vmove usr/lib/libblkid.so usr/lib
}
