# Template file for 'libblkid'.
#
short_desc="Library to handle device identification"
long_desc="
 The libblkid package contains a library to handle device identification
 and token extraction."

Add_dependency run glibc
Add_dependency run zlib
Add_dependency run libuuid

do_install()
{
	mkdir -p ${DESTDIR}/lib ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/lib/libblkid.so* ${DESTDIR}/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libblkid.so ${DESTDIR}/usr/lib
}
