# Template file for 'libblkid-devel'.
#
noarch=yes
depends="zlib-devel libuuid-devel-${version}_${revision} libblkid-${version}_${revision}"
short_desc="libblkid development files"

do_install() {
	vmove usr/include/blkid usr/include
	vmove usr/lib/pkgconfig/blkid.pc usr/lib/pkgconfig
	vmove usr/share/man/man3/libblkid.3 usr/share/man/man3
}
