# Template file for 'libblkid'.
#
short_desc="Library to handle device identification"
long_desc="
 The libblkid package contains a library to handle device identification
 and token extraction."

do_install() {
	vmove "usr/lib/libblkid.so*" usr/lib
}
