# Template file for 'libmount-devel'.
#
noarch=yes
depends="libblkid-devel-${version}_${revision} libmount-${version}_${revision}"
short_desc="mount(8) library development files"

do_install() {
	mkdir -p ${DESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/include
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig/*mount* ${DESTDIR}/usr/lib/pkgconfig
	mv ${SRCPKGDESTDIR}/usr/include/libmount ${DESTDIR}/usr/include
}
