# Template file for 'libmount'.
#
short_desc="A mount(8) library"
long_desc="
 This NEW LIBRARY is designed to be used in low-level utils like
 mount(8) and /sbin/mount.&lt;type&gt; helpers as well as in some other
 projects."

revision=2

Add_dependency run glibc
Add_dependency run libblkid
Add_dependency run libuuid

do_install()
{
	vmove "lib/libmount.so*" lib
	vmove usr/lib/libmount.so usr/lib
}
