# Template file for 'libuuid-devel'.
#
noarch=yes
depends="libuuid-${version}_${revision}"
short_desc="UUID library development files"

do_install() {
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/include usr
	vmove usr/share/man/man3 usr/share/man
}
