# Template file for 'libuuid-devel'.
#
depends="glibc-devel libuuid"
short_desc="UUID library development files"
long_desc="
 libuuid generates and parses 128-bit universally unique id's (UUIDs).
 See RFC 4122 for more information.
 
 This packages contains files for development, static files, headers, etc."


do_install()
{
	vmove usr/lib/libuuid.a usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/include usr
	vmove usr/share/man/man3 usr/share/man
}
