# Template file for 'libuuid'.
#
short_desc="UUID library"
long_desc="
 libuuid generates and parses 128-bit universally unique id's (UUIDs).
 See RFC 4122 for more information."

Add_dependency run glibc

do_install()
{
	mkdir -p ${DESTDIR}/lib ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/lib/libuuid.so* ${DESTDIR}/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libuuid.so ${DESTDIR}/usr/lib
}
