# Template file for 'libuuid'.
#
short_desc="UUID library"
long_desc="
 libuuid generates and parses 128-bit universally unique id's (UUIDs).
 See RFC 4122 for more information."

do_install() {
	vmove "usr/lib/libuuid.so*" usr/lib
}
