# Template file for 'libapp-devel'.
short_desc="${short_desc} - development files"
depends="${sourcepkg}>=${version}"
noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
