# Template file for 'djvulibre-devel'.
#
noarch=yes
depends="libjpeg-turbo-devel libdjvulibre>=${version}"
short_desc="Development files for the DjVu image format"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
