# Template file for 'libdjvulibre'.
#
short_desc="Runtime support for the DjVu image format"
long_desc="${long_desc}

 This package contains the DjVu runtime library."

Add_dependency run libgcc
Add_dependency run glibc
Add_dependency run libstdc++

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
