# Template file for 'libdjvulibre'.
#
short_desc="Runtime support for the DjVu image format"
long_desc="${long_desc}

 This package contains the DjVu runtime library."

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
