# Template file for 'gtk+3-demo'.
#
short_desc="${short_desc} - demonstration application"

do_install() {
	vmove usr/bin/gtk3-demo usr/bin
	vmove usr/bin/gtk3-widget-factory usr/bin
	vmove usr/bin/gtk3-demo-application usr/bin
	vmove usr/share/gtk-3.0 usr/share
}
