# Template file for 'gtk+3-demo'.
#
short_desc="${sourcepkg} - demonstration application"
long_desc="${long_desc}

 This package contains the example files and a demonstration program
 for GTK+3."

do_install() {
	vmove usr/bin/gtk3-demo usr/bin
	vmove usr/bin/gtk3-widget-factory usr/bin
	vmove usr/bin/gtk3-demo-application usr/bin
	vmove usr/share/gtk-3.0 usr/share
}
