[Desktop Entry]
Name=PrusaSlicer
Exec=/usr/bin/prusa-slicer
Icon=prusa-slicer
Terminal=false
Type=Application
StartupNotify=false
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
Icon=/usr/share/PrusaSlicer/icons/PrusaSlicer_192px.png
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
