[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Application;Graphics;RasterGraphics;Scanning;GTK;

Name=Image Scan
GenericName=Scan Dialog

Exec=utsushi scan
Terminal=false
Icon=scanner
