# Template file for 'ncurses-docs'.
#
short_desc="${short_desc} (documentation)"
long_desc="${long_desc}

 This package contains the ${sourcepkg} documentation: manual pages
 and info files."
run_depends=
noarch=yes

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/share
	mv ${origdir}/usr/share/man ${destdir}/usr/share
}
