# Template file for 'ncurses-term'.
#
short_desc="${short_desc} (terminal descriptions)"
long_desc="${long_desc}

 This package contains all available terminal descriptions."

Add_dependency run ncurses-base

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/share

	mv ${origdir}/usr/share/tabset ${destdir}/usr/share
	mv ${origdir}/usr/share/terminfo ${destdir}/usr/share
}
