# Template file for 'ncurses-term'.
#
short_desc="${short_desc} (terminal descriptions)"
long_desc="${long_desc}

 This package contains all available terminal descriptions."

Add_dependency run ncurses-base

do_install()
{
	mkdir -p ${DESTDIR}/usr/share

	mv ${SRCPKGDESTDIR}/usr/share/tabset ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/terminfo ${DESTDIR}/usr/share
}
