[Desktop Entry]
Type=Application
Name=Authentication Dialog
Exec=/usr/libexec/policykit-1-pantheon/io.elementary.desktop.agent-polkit
Icon=dialog-password
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
