# Template file for 'libxslt-python'.
#
short_desc="${short_desc} (python extension)"
long_desc="${long_desc}

 This package contains ${sourcepkg} python related files."


Add_dependency run python

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mkdir -p ${DESTDIR}/usr/share/doc

	mv ${SRCPKGDESTDIR}/usr/lib/python* ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/share/doc/${sourcepkg}-python-${version} \
		${DESTDIR}/usr/share/doc
}
