# Template file for 'bsdcpio'.
#
short_desc="BSD cpio(1) using libarchive"

do_install() {
	vmove usr/bin usr
	vmove usr/share/man/man1/bsdcpio.1 usr/share/man/man1
	vmove usr/share/man/man5/cpio.5 usr/share/man/man5
}
