# Template file for 'bsdtar'.
#
short_desc="BSD tar(1) using libarchive"

do_install() {
	vmove usr/bin/bsdtar usr/bin
	vmove usr/share/man/man1/bsdtar.1 usr/share/man/man1
	vmove usr/share/man/man5/tar.5 usr/share/man/man5
}
