# Template file for 'libarchive-devel'.
#
depends="acl-devel zlib-devel bzip2-devel liblzma-devel
 openssl-devel expat-devel libarchive>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share usr
}
