# Template file for 'libarchive-devel'.
#
depends="acl-devel zlib-devel bzip2-devel liblzma-devel openssl-devel expat-devel libarchive"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share usr
}
