# Template file for 'jpeg-tools'.
#
short_desc="${sourcepkg} - bundled tools"
long_desc="${long_desc}

 This package contains tools to manipulate JPG files."

replaces="jpeg-tools>=0"

do_install() {
	vmove usr/bin usr
	vmove usr/share usr
}
