# Template file for 'jpeg-devel'.
#
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

replaces="jpeg-devel>=0"

Add_dependency run glibc-devel
Add_dependency run jpeg ">=${version}"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
}
