[Desktop Entry]
Type=Application
Name=Quakespasm
GenericName=Quake engine
Icon=quakespasm
Exec=quakespasm
Categories=Game;Shooter;
Comment=Quakespasm Quake engine
Terminal=false
StartupNotify=true
