# Template file for 'libgsm-devel'.
#
short_desc="${short_desc} - Development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run glibc-devel
Add_dependency run libgsm

revision=1

do_install()
{
	vmkdir usr/lib
	mv ${wrksrc}/lib/*.a ${DESTDIR}/usr/lib
        mv ${wrksrc}/inc ${DESTDIR}/usr/include/gsm
	cd ${DESTDIR}/usr/include/gsm && \
		ln -s gsm.h ../gsm.h
}
