# Template file for 'libgsm-devel'.
#
short_desc="${short_desc} - Development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run glibc-devel
Add_dependency run libgsm


do_install()
{
	vmkdir usr/lib
	vinstall lib/libgsm.a 644 usr/lib
	vmkdir usr/include/gsm
        vcopy "inc/*" usr/include/gsm
	rm -f ${DESTDIR}/usr/include/gsm/*.orig
	cd ${DESTDIR}/usr/include && ln -s gsm/gsm.h
}
