# Template file for 'efreet-devel'.
#
noarch=yes
depends="eet-devel ecore-devel ${sourcepkg}>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/efreet/test usr/share/efreet
}
