[Desktop Entry]
Encoding=UTF-8
Version=3.2.1
Name=Droidcam
Type=Application
Exec=droidcam
Icon=droidcam
Categories=GNOME;AudioVideo;
Comment=A tool for using your Android phone as a wireless/usb webcam

