# Template file for 'libpng-devel'.
#
depends="zlib-devel libpng>=$version"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/bin usr
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/man/man3 usr/share/man
}
