[Unit]
Description=Advanced key-value store
After=network.target

[Service]
User=redis
PIDFile=/run/redis/redis.pid
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
Restart=always

[Install]
WantedBy=multi-user.target
