# MySQL configuration file for client and server based on the Gentoo
# configurations.

# The following options will be passed to all MySQL clients
[client]
port				= 3306
socket				= /run/mysqld/mysqld.sock

# Here follows entries for some specific programs

# The MySQL server
[mysqld]

# Comment the next line to enable access over TCP/IP sockets.
skip-networking

port			= 3306
bind-address	= 127.0.0.1

socket		= /run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
skip-external-locking

# Since MySQL 8 the default authentication plugin switched from
# 'mysql_native_password' to the more secure 'caching_sha2_password'.
# Uncomment the next line if you experience issues with client libraries.
#
#loose-default-authentication-plugin = mysql_native_password

log-bin
# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id	= 1

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
# Remove the next comment character if you are not familiar with SQL
#safe-updates
