# Template file for 'p11-kit-devel'.
#
noarch=yes
depends="glibc-devel p11-kit>=${version}"
short_desc="${short_desc} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share usr
}
