[Unit]
Description=Cyrus SASL authentication daemon

[Service]
Type=forking
ExecStart=/usr/sbin/saslauthd -a pam -m /run/saslauthd
PidFile=/run/saslauthd/saslauthd.pid

[Install]
WantedBy=multi-user.target
