[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Linux Breakout 2
Comment=Breakout and Arkanoid style arcade game
Icon=/usr/share/pixmaps/lbreakout2.png
TryExec=lbreakout2
Exec=lbreakout2
Terminal=false
Categories=Application;Game;
