# Template file for 'libcaca-devel'.
#
depends="libcaca>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/bin/caca-config usr/bin
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/man/man1/caca-config.1 usr/share/man/man1
}
