[Desktop Entry]
Type=Application
Name=Caph
Comment=Drawing and physics sandbox game
Comment[ca]=Trencaclosques de dibuix i física
Exec=caph
Icon=caph.png
Categories=Game;LogicGame;
