# Template file for 'libisofs-devel'.
#
noarch=yes
depends="glibc-devel zlib-devel acl-devel attr-devel libisofs>=$version"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
