# Template file for 'dconf-devel'.
#
depends="libglib-devel vala-devel dconf-${version}_${revision}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/vala usr/share
}
