# Template file for 'dconf-editor'.
#
short_desc="${short_desc} - GTK+ editor"

do_install() {
	install -d ${DESTDIR}/usr/{bin,share}
	mv ${SRCPKGDESTDIR}/usr/bin/dconf-editor ${DESTDIR}/usr/bin
	mv ${SRCPKGDESTDIR}/usr/share/{dconf-editor,applications} \
		${DESTDIR}/usr/share
}
