# Template file for 'dconf-devel'.
#
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run glib-devel
Add_dependency run vala-devel
Add_dependency run dconf ">=${version}"

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/vala usr/share
}
