# Template file for 'gir-dconf'.
#
short_desc="Introspection data for GNOME dconf"
long_desc="${long_desc}

 This package contains small pieces of introspection data for dconf,
 a low level configuration system."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
