[Desktop Entry]
Name=ODrive
GenericName=Google Drive
Comment=Google Drive GUI
Exec=/opt/ODrive/odrive
Icon=odrive
Terminal=false
Type=Application
Keywords=odrive;google;drive;
Type=Application
Categories=Network;FileTransfer;
Version=1.0
