# Template file for 'liblzma-devel'.
#
depends="glibc-devel liblzma>=${version}"
short_desc="XZ-format compression library - development files"
replaces="xz-devel>=0"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
