# Template file for 'rsyslog-postgresql'.
#
short_desc="${sourcepkg} PostgreSQL add-on"
long_desc="${long_desc}

 This package contains the PostgreSQL add-on to store log messages."

Add_dependency run glibc
Add_dependency run rsyslog
Add_dependency run postgresql-libs

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/rsyslog
	mv ${SRCPKGDESTDIR}/usr/lib/rsyslog/ompgsql.so ${DESTDIR}/usr/lib/rsyslog
}
