# Template file for 'rsyslog-mysql'.
#
short_desc="${sourcepkg} MySQL add-on"
long_desc="${long_desc}

 This package contains the MySQL add-on to store log messages."

Add_dependency run glibc
Add_dependency run zlib
Add_dependency run openssl
Add_dependency run rsyslog
Add_dependency run libmysqlclient

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/rsyslog
	mv ${SRCPKGDESTDIR}/usr/lib/rsyslog/ommysql.so ${DESTDIR}/usr/lib/rsyslog
}
