# Template file for 'rsyslog-gnutls'.
#
depends="rsyslog"
short_desc="${sourcepkg} GnuTLS add-on"
long_desc="${long_desc}

 This package contains the GnuTLS add-on to send encrypted messages."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/rsyslog
	mv ${SRCPKGDESTDIR}/usr/lib/rsyslog/*gtls* ${DESTDIR}/usr/lib/rsyslog
}
