# Template file for 'rsyslog-gssapi'.
#
short_desc="${sourcepkg} Kerberos5 GSSAPI add-on"
long_desc="${long_desc}

 This package contains the Kerberos5 GSSAPI add-on."

Add_dependency run glibc
Add_dependency run rsyslog
Add_dependency run mit-krb5-libs

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/rsyslog
	mv ${SRCPKGDESTDIR}/usr/lib/rsyslog/*gss*.so \
		${DESTDIR}/usr/lib/rsyslog
}
