# Template file for 'rsyslog-gnutls'.
#
short_desc="${sourcepkg} GnuTLS add-on"
long_desc="${long_desc}

 This package contains the GnuTLS add-on to send encrypted messages."

Add_dependency run glibc
Add_dependency run rsyslog
Add_dependency run gnutls

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/rsyslog
	mv ${SRCPKGDESTDIR}/usr/lib/rsyslog/*gtls* ${DESTDIR}/usr/lib/rsyslog
}
