# Template file for 'rsyslog-docs'.
#
short_desc="${sourcepkg} HTML documentation"
long_desc="${long_desc}

 This package contains the included HTML documentation."

noarch=yes

do_install()
{
	mkdir -p ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/doc ${DESTDIR}/usr/share
}
