/* Original:
 * [Disable Controlling of Network Devices]
 * Identity=unix-user:lightdm
 * Action=org.freedesktop.NetworkManager.enable-disable-network;org.freedesktop.NetworkManager.enable-disable-wifi;org.freedesktop.NetworkManager.enable-disable-wwan;org.freedesktop.NetworkManager.enable-disable-wimax;
 * ResultActive=no
 * ResultInactive=no
 * ResultsAny=no
 */

polkit.addRule(function(action, subject) {
  if (subject.user == "lightdm" && (
      action.id == "org.freedesktop.NetworkManager.enable-disable-network" ||
      action.id == "org.freedesktop.NetworkManager.enable-disable-wifi"    ||
      action.id == "org.freedesktop.NetworkManager.enable-disable-wwan"    ||
      action.id == "org.freedesktop.NetworkManager.enable-disable-wimax")) {
    return polkit.Result.NO;
  }
});

/* Original:
 * [Disable Sleep and Wake]
 * Identity=unix-user:lightdm
 * Action=org.freedesktop.NetworkManager.sleep-wake
 * ResultActive=no
 * ResultInactive=no
 * ResultsAny=no
 */
polkit.addRule(function(action, subject) {
  if (subject.user == "lightdm" &&
      action.id == "org.freedesktop.NetworkManager.sleep-wake") {
    return polkit.Result.NO;
  }
});

/* Original:
 * [Disable WiFi Sharing]
 * Identity=unix-user:lightdm
 * Action=org.freedesktop.NetworkManager.wifi.share.protected;org.freedesktop.NetworkManager.wifi.share.open
 * ResultActive=no
 * ResultInactive=no
 * ResultsAny=no
 */
polkit.addRule(function(action, subject) {
  if (subject.user == "lightdm" && (
      action.id == "org.freedesktop.NetworkManager.wifi.share.protected" ||
      action.id == "org.freedesktop.NetworkManager.wifi.share.open")) {
    return polkit.Result.NO;
  }
});

/* Original:
 * [Disable Settings Modifications]
 * Identity=unix-user:lightdm
 * Action=org.freedesktop.NetworkManager.settings.modify.own;org.freedesktop.NetworkManager.settings.modify.system;org.freedesktop.NetworkManager.settings.modify.hostname
 * ResultActive=no
 * ResultInactive=no
 * ResultsAny=no
 */
polkit.addRule(function(action, subject) {
  if (subject.user == "lightdm" && (
      action.id == "org.freedesktop.NetworkManager.settings.modify.own"    ||
      action.id == "org.freedesktop.NetworkManager.settings.modify.system" ||
      action.id == "org.freedesktop.NetworkManager.settings.modify.hostname")) {
    return polkit.Result.NO;
  }
});

/* Original:
 * [Disable User Connections]
 * Identity=unix-user:lightdm
 * Action=org.freedesktop.NetworkManager.use-user-connections
 * ResultActive=no
 * ResultInactive=no
 * ResultsAny=no
 */
polkit.addRule(function(action, subject) {
  if (subject.user == "lightdm" &&
      action.id == "org.freedesktop.NetworkManager.use-user-connections") {
    return polkit.Result.NO;
  }
});

/* Original:
 * [Enable Controlling of Network Connections]
 * Identity=unix-user:lightdm
 * Action=org.freedesktop.NetworkManager.network-control
 * ResultActive=yes
 * ResultInactive=no
 * ResultsAny=no
 */
polkit.addRule(function(action, subject) {
  if (subject.user == "lightdm" &&
      subject.local &&
      subject.active &&
      action.id == "org.freedesktop.NetworkManager.network-control") {
    return polkit.Result.YES;
  }
});
