[Desktop Entry]
Version=1.0
Type=Application
Name=Sweet Home 3D
Comment=An interior design application
TryExec=sweethome3d
Exec=sweethome3d %f
Icon=sweethome3d
Categories=Office;Java;
StartupWMClass=com-eteks-sweethome3d-SweetHome3D
MimeType=application/x-sweethome3d
