# Template file for 'libmumble'.
#
short_desc="${short_desc} Runtime library"
long_desc="${long_desc}

 This package contains the Mumble runtime lib(s)."

Add_dependency run glibc
Add_dependency run libstdc++
Add_dependency run qt
Add_dependency run libgcc

do_install()
{
	vmkdir usr/lib/mumble
	cp ${wrksrc}/release/*.so* ${DESTDIR}/usr/lib/mumble
	cp ${wrksrc}/release/plugins/* ${DESTDIR}/usr/lib/mumble	
}


