# Template file for 'murmur'.
#
short_desc="${short_desc} - The murmur server (for mumble)"
long_desc="${long_desc}

 This package contains the Murmur server (for mumble)"

Add_dependency run mumble
Add_dependency run qt-plugin-sqlite


do_install()
{
	vmkdir usr/bin
	vmkdir usr/share/man/man1
	cp ${wrksrc}/release/murmurd ${DESTDIR}/usr/bin
	cp ${wrksrc}/man/murmur{d,-user-wrapper}.1 ${DESTDIR}/usr/share/man/man1
}
