# Template file for 'proplib-docs'.
#
short_desc="${short_desc} (documentation)"
long_desc="${long_desc}

 This package contains the manual pages."
run_depends=
noarch=yes

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}

	# Move manpages.
	mkdir -p ${destdir}/usr
	mv ${XBPS_DESTDIR}/${sourcepkg}-${version}/usr/share ${destdir}/usr
}
