# Template file for 'ruby-devel'.
#
depends="ruby"
short_desc="ruby development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/ruby/1.9.1/mkmf.rb usr/lib/ruby/1.9.1
	vmove usr/share/doc usr/share
	vmove usr/lib/pkgconfig usr/lib
}
