[Desktop Entry]
Name=Jmol
Comment=An open-source Java viewer for chemical structures in 3D
GenericName=Jmol
Exec=jmol %f
Icon=jmol
Terminal=0
Type=Application
MimeType=text/plain;chemical/x-mdl-molfile;chemical/x-cif;chemical/x-cml;application/xml;application/x-aportisdoc;chemical/x-gamess-output;chemical/x-gaussian-log;chemical/x-mopac-out;chemical/x-pdb;chemical/x-xyz;chemical/x-gaussian-cube;chemical/x-qchem-output;
Categories=Education;Science;Chemistry;
