# Template file for 'ncurses-libs'.
#
depends="ncurses-base"
short_desc="${sourcepkg} shared libraries"
long_desc="${long_desc}

 This package contains the shared libraries."

replaces="ncursesw>=0"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	chmod 755 ${DESTDIR}/usr/lib/*.so*
}
