# Template file for 'ncurses-term'.
#
depends="ncurses-base"
short_desc="${sourcepkg} full terminal descriptions"
long_desc="${long_desc}

 This package contains all available terminal descriptions."

noarch=yes
noverifyrdeps=yes


do_install()
{
	mkdir -p ${DESTDIR}/usr/share

	mv ${SRCPKGDESTDIR}/usr/share/tabset ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/terminfo ${DESTDIR}/usr/share
}
