# Template file for 'ncurses-term'.
#
short_desc="${sourcepkg} full terminal descriptions"
long_desc="${long_desc}

 This package contains all available terminal descriptions."

noarch=yes
revision=1

Add_dependency run ncurses-base

do_install()
{
	mkdir -p ${DESTDIR}/usr/share

	mv ${SRCPKGDESTDIR}/usr/share/tabset ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/terminfo ${DESTDIR}/usr/share
}
