# Template file for 'ncurses-base'.
#
short_desc="${short_desc} -- base terminfo files"
noarch=yes

do_install() {
	cat $XBPS_SRCPKGDIR/ncurses/base-files | while read line; do
		if [ -f ${SRCPKGDESTDIR}/${line} ]; then
			install -D -m644 ${SRCPKGDESTDIR}/${line} \
				${DESTDIR}/${line}
			rm -f ${SRCPKGDESTDIR}/${line}
		fi
	done
}
