# Template file for 'ncurses-term'.
#
depends="ncurses-base>=${version}"
short_desc="${short_desc} -- full terminal descriptions"
noarch=yes

do_install() {
	mkdir -p ${DESTDIR}/usr/share

	mv ${SRCPKGDESTDIR}/usr/share/tabset ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/terminfo ${DESTDIR}/usr/share
}
