# Template file for 'gir-webkit-gtk'.
#
short_desc="Introspection data for WebKit GTK+"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the
 WebKit GTK+ library."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
