SUBSYSTEM!="usb", GOTO="gnupg_rules_end"
ACTION!="add", GOTO="gnupg_rules_end"

# USB SmartCard Readers
## Cherry GmbH (XX33, ST2000)
ATTRS{idVendor}=="046a", ATTRS{idProduct}=="0005|0010|003e", GROUP="plugdev", TAG+="uaccess"
## SCM Microsystems, Inc (SCR331-DI, SCR335, SCR3320, SCR331, SCR3310 and SPR532)
ATTRS{idVendor}=="04e6", ATTRS{idProduct}=="5111|5115|5116|5117|e001|e003", GROUP="plugdev", TAG+="uaccess"
## Omnikey AG (CardMan 3821, CardMan 6121)
ATTRS{idVendor}=="076b", ATTRS{idProduct}=="3821|6622", GROUP="plugdev", TAG+="uaccess"
## Gemalto
ATTRS{idVendor}=="08e6", ATTRS{idProduct}=="3437|3438|3478|34c2|34ec", GROUP="plugdev", TAG+="uaccess"
## Reiner (SCT cyberJack)
ATTRS{idVendor}=="0c4b", ATTRS{idProduct}=="0500", GROUP="plugdev", TAG+="uaccess"
## Kobil (KAAN)
ATTRS{idVendor}=="0d46", ATTRS{idProduct}=="2012", GROUP="plugdev", TAG+="uaccess"
## VASCO (DIGIPASS 920)
ATTRS{idVendor}=="1a44", ATTRS{idProduct}=="0920", GROUP="plugdev", TAG+="uaccess"
## Crypto Stick
ATTRS{idVendor}=="20a0", ATTRS{idProduct}=="4107", GROUP="plugdev", TAG+="uaccess"
## Nitrokey
ATTRS{idVendor}=="20a0", ATTRS{idProduct}=="4108|4109|4211", GROUP="plugdev", TAG+="uaccess"
## Librem Key
ATTRS{idVendor}=="316d", ATTRS{idProduct}=="4c4b", GROUP="plugdev", TAG+="uaccess"
## Gnuk Token
ATTRS{product}=="Gnuk Token", GROUP="plugdev", TAG+="uaccess"
ATTRS{idVendor}=="234b", ATTRS{idProduct}=="0000|2440", GROUP="plugdev", TAG+="uaccess"
## Alcor Micro Corp cardreader (in ThinkPad X250)
ATTRS{idVendor}=="058f", ATTRS{idProduct}=="9540", GROUP="plugdev", TAG+="uaccess"
## Fujitsu Siemens
ATTRS{idVendor}=="0bf8", ATTRS{idProduct}=="1006", GROUP="plugdev", TAG+="uaccess"
## Yubico (YubiKey Neo/4/5)
ATTRS{idVendor}=="1050", ATTRS{idProduct}=="0111|0112|0115|0116|0404|0405|0406|0407", GROUP="plugdev", TAG+="uaccess"
## Trustica Cryptoucan
ATTRS{idVendor}=="1fc9", ATTRS{idProduct}=="81e6", GROUP="plugdev", TAG+="uaccess"

LABEL="gnupg_rules_end"
