[Desktop Entry]
Name=ArmCord
Comment=Custom client designed to enhance Discord experience"
Exec=/usr/bin/armcord
Icon=armcord
Terminal=false
Type=Application
Categories=Network;Chat;
