# Template file for 'folks-devel'.
#
depends="telepathy-glib-devel>=0.19.9 libgee-devel>=0.6.2.1_1 libsocialweb-devel
evolution-data-server-devel>=3.6.0 folks>=${version}"
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/vala usr/share
}
