[Desktop Entry]
Name=Joplin
Comment=Joplin - a note taking and to-do application with synchronization capabilities for Windows, macOS, Linux, Android and iOS.
Exec=/usr/bin/joplin-desktop
Icon=/usr/libexec/joplin/resources/build/icons/128x128.png
Terminal=false
Type=Application
Categories=Application;Office;
