# Template file for 'plymouth-drm'.
#
revision=1
short_desc="${short_desc} - DRM renderer"
long_desc="${long_desc}

 This package contains the DRM renderer."

Add_dependency run plymouth

do_install()
{
	vmove usr/lib/plymouth/renderers/drm.so usr/lib/plymouth/renderers
}
