# Template file for 'plymouth-x11'.
#
revision=1
short_desc="${short_desc} - X11 renderer and log viewer"
long_desc="${long_desc}

 This package contains the x11 renderer and the log viewer."

Add_dependency run plymouth

do_install()
{
	vmove usr/bin/plymouth-log-viewer usr/bin
	vmove usr/lib/plymouth/renderers/x11.so usr/lib/plymouth/renderers
	vmove usr/share/gdm usr/share
}
