# Template file for 'clutter-gtk--devel'.
#
depends="gtk+3-devel>=3.8.0 clutter-devel>=1.14
 ${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/gtk-doc usr/share
}
