# Template file for 'libopenobex'.
#
short_desc="OBEX protocol library"
long_desc="${long_desc}

 This package contains the shared library provided by openobex."



do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libopenobex.so* ${DESTDIR}/usr/lib
}
