# Template file for 'libgrypt-devel'.
#
depends="libgpg-error-devel libgcrypt"
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
	mkdir -p ${DESTDIR}/usr/{bin,lib}

	mv ${SRCPKGDESTDIR}/usr/{bin,include,share} ${DESTDIR}/usr
}
