# Template file for 'libgrypt-devel'.
#
depends="libgpg-error-devel libgcrypt>=${version}"
short_desc="${short_desc} -- development files"
noarch=yes

do_install() {
	vmove usr/bin/libgcrypt-config usr/bin
	vmove usr/include usr
	vmove usr/share usr
}
