# Template file for 'libgnomecanvasmm-devel'.
#
noarch=yes
depends="libgnomecanvas-devel libgnomecanvasmm>=${version}"
short_desc="${sourcepkg} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove usr/lib/libgnomecanvasmm-2.6 usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
