# Template file for 'systemd-devel'.
#
depends="systemd-libs>=${version}_${revision}"
short_desc="systemd development files"
noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/man/man3 usr/share/man
	rm -rf ${SRCPKGDESTDIR}/usr/share/man
	vmove usr/share/pkgconfig usr/share
}
