[Unit]
Description=The Apache HTTP Server (Worker MPM)
After=syslog.target network.target remote-fs.target
Conflicts=apache.service apache-mpm-event.service

[Service]
Type=forking
PIDFile=/var/run/httpd/httpd.pid
ExecStart=/usr/sbin/httpd.worker -k start
ExecReload=/usr/sbin/httpd.worker -t
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/sbin/httpd.worker -k stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
