# Template file for 'pygobject-devel'.
#
depends="libffi-devel glib-devel libgirepository-devel pycairo-devel pygobject2"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

pycompile_module="usr/share/pygobject/2.0/codegen"
replaces="pygobject-devel<3.0.0"


do_install()
{
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share usr
}
