#!/sbin/runscript

: ${system_locale:=en_US}
description="Sets a system locale"

depend()
{
	need localmount termencoding
	after bootmisc
	keyword noopenvz noprefix nouml novserver noxenu
}

start()
{
	: >/etc/profile.d/locale.sh
	chmod 755 /etc/profile.d/locale.sh

	# Check if requested locale was already created
	if ! $(locale -a|grep -q "${system_locale}.utf8"); then
		[ ! -d /usr/lib/locale ] && mkdir -p /usr/lib/locale
		ebegin "Building locale [${system_locale}] [UTF-8]"
		localedef -i ${system_locale} -f UTF-8 ${system_locale}
		eend $?
	fi
	# Set user defined locale
	einfo "Setting system locale [${system_locale}] [UTF-8]"
	echo "export LANG=${system_locale}.UTF-8" >> /etc/profile.d/locale.sh
}
