[Unit]
Description=Samba NetBIOS name server
After=network.target

[Service]
Type=forking
PIDFile=/run/nmbd.pid
ExecStart=/usr/sbin/nmbd -D
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
