[Unit]
Description=Samba Winbind daemon
After=network.target nmbd.service

[Service]
Type=forking
PIDFile=/run/winbindd.pid
ExecStart=/usr/sbin/winbindd -D
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
