#!/sbin/runscript

command=/usr/bin/dbus-daemon
pidfile=/var/run/dbus/pid
: ${command_args:=--system}

depend()
{
	need localmount net
	after bootmisc
}

start_pre()
{
	dir=$(dirname $pidfile)
	if [ ! -d $dir ]; then
		mkdir $dir
		chmod 0755 $dir
		chown dbus:dbus $dir
	fi
	dbus-uuidgen --ensure
}
