[Unit]
Description=Gnome Display Manager
Conflicts=getty@tty1.service
After=systemd-user-sessions.service getty@tty1.service

[Service]
ExecStart=/usr/sbin/gdm -nodaemon

[Install]
Alias=display-manager.service
