[Unit]
Description=Gnome Display Manager
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/sbin/gdm -nodaemon

[Install]
WantedBy=graphical.target
