#!/sbin/runscript

command=/usr/sbin/gdm-binary

depend()
{
	need dbus
}

start()
{
	ebegin "Starting GDM"
	start-stop-daemon --start --exec ${command} --background
	eend $?
}

stop()
{
	ebegin "Stopping GDM"
	start-stop-daemon --stop --exec ${command}
	eend $?
}
