[Desktop Entry]
Name=DBeaver
Comment=SQL Integrated Development Environment
Icon=/usr/lib/dbeaver/icon.xpm
Exec=dbeaver
Terminal=false
Type=Application
Categories=Development
