[Desktop Entry]
Name=DBeaver
Comment=SQL Integrated Development Environment
Icon=dbeaver
Exec=dbeaver
Terminal=false
Type=Application
Categories=Development

