# Template file for 'kbd-common'.
#
noarch=yes
short_desc="${short_desc} -- development files"
long_desc="${long_desc}

 This package contains the keymaps and console fonts."

replaces="kbd<1.15.3_6"

do_install() {
	for d in consolefonts consoletrans unimaps keymaps; do
		vmove usr/share/kbd/${d} usr/share/kbd
	done
}
