# Template file for 'gupnp-av-devel'.
#
depends="gupnp-devel>=0.20.1_2 gupnp-av>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/pkgconfig usr/lib
}
