[Desktop Entry]
Name=Zulip
Exec=zulip
Terminal=false
Type=Application
Icon=zulip
StartupWMClass=Zulip
Comment=Zulip Desktop Client for Linux
Categories=Chat;GNOME;GTK;Network;InstantMessaging;
