# Template file for 'libmusicbrainz-devel'.
#
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run neon-devel
Add_dependency run libdiscid-devel
Add_dependency run libmusicbrainz

do_install()
{
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
