# Template file for 'libcups'.
#
short_desc="${short_desc} -- runtime shared libraries"
long_desc="${long_desc}

 This package contains the runtime shared libraries."

revision=1

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
