# Template file for 'libcups'.
#
short_desc="${short_desc} -- client runtime shared libraries"
conf_files="/etc/cups/client.conf"
long_desc="${long_desc}

 This package contains the client runtime shared libraries."

replaces="cups<1.6.0_1"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove etc/cups/client.conf etc/cups
	vmove usr/share/man/man5/client.conf.5 usr/share/man/man5
}
