# Template file for 'tar-base'.
#
short_desc="${short_desc} (base files)"
long_desc="${long_desc}

 This package contains the ${sourcepkg} base files."

. ${XBPS_TEMPLATESDIR}/glibc/libs.depends

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr
	mv ${origdir}/usr/bin ${destdir}/usr
	mv ${origdir}/usr/libexec ${destdir}/usr
}
