[Unit]
Description=A secure, fast, compliant and very flexible web-server
After=syslog.target network.target

[Service]
PrivateTmp=true
ExecStart=/usr/sbin/lighttpd-angel -D -f /etc/lighttpd/lighttpd.conf
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
