[Desktop Entry]
Type=Application
Version=1.2.186
Name=Defold
Comment=Defold is a completely free to use game engine for development of desktop, mobile and web games.
Exec=defold
Path=/opt/Defold
Icon=defold
Terminal=false
Categories=Development;Utility;