# Template file for 'physfs-devel'.
#
depends="readline-devel zlib-devel physfs-${version}_${revision}"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

noarch=yes

do_install() {
	vmove usr/include usr
}
