[Desktop Entry]
Name=Wys
Comment=Daemon for managing PulseAudio for phone call audio
Exec=/usr/bin/wys
NoDisplay=true
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-AutoRestart=true
