[Desktop Entry]
Name=SuperSlicer
Exec=/usr/bin/
Icon=SuperSlicer
Terminal=false
Type=Application
StartupNotify=false
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
Icon=/usr/share/SuperSlicer/icons/SuperSlicer_192px.png
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
