[Unit]
Description=Postfix Mail Transport Agent
After=network.target

[Service]
Type=forking
PIDFile=/var/spool/postfix/pid/master.pid
ExecStart=/usr/bin/postfix start
ExecStop=/usr/bin/postfix stop
ExecReload=/usr/bin/postfix reload
Restart=always

[Install]
WantedBy=multi-user.target
