# Template file for 'gssdp-devel'.
#
depends="libsoup-devel gssdp>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/gtk-doc usr/share
}
