# Template file for 'bitcoin-qt'.
#
depends="desktop-file-utils"
short_desc="${short_desc} -- QT GUI"

do_install() {
	vinstall src/bitcoin-qt 755 usr/bin
	vinstall src/contrib/debian/bitcoin-qt.desktop 644 usr/share/applications
	vinstall src/share/pixmaps/bitcoin80.xpm 644 usr/share/pixmaps
}
