# Template file for 'bitcoin-qt'.
#
depends="desktop-file-utils"
short_desc="${short_desc} -- QT GUI"
long_desc="${long_desc}

 This package contains the QT GUI."

do_install() {
	vinstall bitcoin-qt 755 usr/bin
	vinstall contrib/debian/bitcoin-qt.desktop 644 usr/share/applications
	vinstall share/pixmaps/bitcoin80.xpm 644 usr/share/pixmaps
}
