[Unit]
Description=Network Block Device Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/nbd-server

[Install]
WantedBy=multi-user.target
