# Template file for 'gcc-c++'.
#
depends="libelf gcc>=4.7 libstdc++-devel>=4.7"
short_desc="GCC C++ support"
long_desc="${long_desc}

 This package contains GCC C++ support."



do_install()
{
	for f in g++ c++ ${_triplet}-g++ ${_triplet}-c++; do
		vmove usr/bin/${f} usr/bin
	done
	vmove usr/lib/gcc/${_triplet}/${_majorver}/cc1plus \
		usr/lib/gcc/${_triplet}/${_majorver}
	vmove usr/share/man/man1/g++.1 usr/share/man/man1
}
