# Template file for 'gcc-go'.
#
depends="gcc>=${_majorver} libgo-devel>=${_majorver}"
short_desc="GCC Go compiler frontend"

do_install() {
	for f in gccgo ${_triplet}-gccgo; do
		vmove usr/bin/${f} usr/bin
	done
	vmove usr/lib/gcc/${_triplet}/${_majorver}/go1 \
		usr/lib/gcc/${_triplet}/${_majorver}

	vmove usr/share/info/gccgo.info usr/share/info
	touch ${DESTDIR}/usr/share/info/dir
	vmove usr/share/man/man1/gccgo.1 usr/share/man/man1
	vmove usr/lib/go usr/lib
}
