# Template file for 'gcc-objc++'.
#
depends="gcc-c++>=${_majorver} gcc-objc>=${_majorver}"
short_desc="GCC Objective-C++ support"

do_install() {
	vmove usr/lib/gcc/${_triplet}/${_majorver}/cc1objplus \
		usr/lib/gcc/${_triplet}/${_majorver}
}
