# Template file for 'gcc-c++-multilib'.
#
depends="gcc-c++>=${_majorver} gcc-multilib>=${_majorver}
 libstdc++32-devel>=${_majorver}"
short_desc="GCC C++ compiler (multilib files)"
noverifyrdeps=yes

do_install() {
	local libmddir="usr/lib/gcc/${_triplet}/${_majorver}"

	for f in std sup; do
		vmove usr/lib32/lib${f}c++.a ${libmddir}/32
	done
}
