# Template file for 'gcc-objc++'.
#
short_desc="GCC Objective-C++ support"
long_desc="${long_desc}

 This package contains GCC Objective-C++ support."


Add_dependency run libelf
Add_dependency run gcc-c++	">=${_majorver}"
Add_dependency run gcc-objc	">=${_majorver}"

do_install() {
	vmove usr/lib/gcc/${_triplet}/${_majorver}/cc1objplus \
		usr/lib/gcc/${_triplet}/${_majorver}
}
