# Template file for 'gcc-objc'.
#
depends="libelf gcc>=${_majorver} libobjc>=${_majorver}"
short_desc="GCC Objective-C support"
long_desc="${long_desc}

 This package contains GCC Objective-C support."



do_install() {
	vmove usr/lib/gcc/${_triplet}/${_majorver}/include/objc \
		usr/lib/gcc/${_triplet}/${_majorver}/include
	vmove usr/lib/gcc/${_triplet}/${_majorver}/cc1obj \
		usr/lib/gcc/${_triplet}/${_majorver}
}
