# Template file for 'gcc-objc-multilib'.
#
depends="gcc-multilib>=${_majorver} gcc-objc>=${_majorver} libobjc32>=${_majorver}"
short_desc="The GNU Objective-C compiler (multilib files)"
noverifyrdeps=yes

do_install() {
	local libmddir="/usr/lib/gcc/${_triplet}/${_majorver}"

	vmove "usr/lib32/libobjc*.a" ${libmddir}/32
}
