# Template file for 'libgfortran'.
#
short_desc="GCC Fortran library ${version} shared library support"

do_install() {
	vmove "usr/lib/libgfortran.so*" usr/lib
	vmove usr/lib/libgfortran.spec usr/lib
	vinstall COPYING.RUNTIME 644 \
		usr/share/licenses/$pkgname RUNTIME.LIBRARY.EXCEPTION
}
