# Template file for 'libgomp32'.
#
depends="libgcc32 glibc32"
short_desc="GCC OpenMP v3.0 shared support library (32bit)"
long_desc="${long_desc}

 This package contains the 32bit GCC shared support library which is needed
 for OpenMP v3.0 support."

noverifyrdeps=yes


do_install() {
	vmove "usr/lib32/libgomp.*" usr/lib32
}
