# Template file for 'libgomp-devel'.
#
depends="libgomp>=${_majorver}"
short_desc="GCC OpenMP v3.0 shared support library - development files"
long_desc="${long_desc}

 This package contains GCC OpenMP headers and static libraries
 for OpenMP v3.0 support."



do_install() {
	vmove usr/lib/libgomp.a usr/lib
	vmove usr/share/info/libgomp.info usr/share/info
	touch ${DESTDIR}/usr/share/info/dir
}
