# Template file for 'gcc-libgcc'.
#
short_desc="GCC version ${version} shared library support"
long_desc="${long_desc}

 This package contains the GCC shared library."

replaces="gcc-libgcc"
revision=1

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libgcc_s.so* ${DESTDIR}/usr/lib
}
