# Template file for 'libgfortran'.
#
short_desc="GCC Fortran library ${version} shared library support"
long_desc="${long_desc}

 This package contains the GCC Fortran shared library."

Add_dependency run libgcc ">=$version"
Add_dependency run glibc
Add_dependency run libquadmath ">=$version"

do_install()
{
	vmove "usr/lib/libgfortran.so*" usr/lib
	vmove usr/lib/libgfortran.spec usr/lib
	vinstall COPYING.RUNTIME 644 \
		usr/share/licenses/$pkgname RUNTIME.LIBRARY.EXCEPTION
}
