# Template file for 'gcc-libgcc'.
#
short_desc="GCC version ${version} shared library support"
noverifyrdeps=yes

do_install()
{
	vmove "usr/lib/libgcc_s.so*" usr/lib
	vinstall COPYING.RUNTIME 644 \
		usr/share/licenses/$pkgname RUNTIME.LIBRARY.EXCEPTION
}
