# Template file for 'libgo-devel'.
#
short_desc="GCC Go library ${version} shared library support - development files"
long_desc="${long_desc}

 This package contains the GCC Go headers and static libraries."


Add_dependency run libgo ">=${_majorver}"

do_install() {
	vmove usr/lib/libgo.a usr/lib
	vmove usr/lib/libgobegin.a usr/lib
}
