# Template file for 'libitm'.
#
short_desc="GCC Transactional Memory support library"

do_install() {
	vmove "usr/lib/libitm.*" usr/lib
	vmove usr/share/info/libitm.info usr/share/info
	touch ${DESTDIR}/usr/share/info/dir
}
