# Template file for 'gcc-libmudflap-devel'.
#
depends="libmudflap>=${_majorver}"
short_desc="GCC mudflap shared support library (development files)"

do_install() {
	vmove "usr/lib/libmudflap*.a" usr/lib
}
