# Template file for 'libmudflap32-devel'.
#
depends="gcc-multilib glibc32-devel libmudflap32"
short_desc="GCC 32bit mudflap support libraries (development files)"
long_desc="
 The libmudflap libraries are used by GCC for instrumenting pointer
 and array dereferencing operations.

 This package contains the headers and the static libraries." 


do_install() {
	vmove "usr/lib32/libmudflap*.a" usr/lib32
}
