# Template file for 'gcc-libmudflap-devel'.
#
short_desc="GCC mudflap shared support library (development files)"
long_desc="${long_desc}

 This package contains GCC mudflap headers and static libraries for
 building mudflap-instrumented programs."

replaces="gcc-libmudflap-devel>=0"

Add_dependency run libmudflap

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libmudflap*.*a ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libmudflap*.so ${DESTDIR}/usr/lib
}
