# Template file for 'gcc-libmudflap-devel'.
#
short_desc="GCC mudflap shared support library (development files)"
long_desc="${long_desc}

 This package contains GCC mudflap headers and static libraries for
 building mudflap-instrumented programs."


Add_dependency run libmudflap	">=${_majorver}"

do_install() {
	vmove "usr/lib/libmudflap*.a" usr/lib
}
