# Template file for 'gcc-libmudflap'.
#
short_desc="GCC mudflap shared support library"

do_install() {
	vmove "usr/lib/libmudflap*.so*" usr/lib
	vinstall COPYING.RUNTIME 644 \
		usr/share/licenses/$pkgname RUNTIME.LIBRARY.EXCEPTION
}
