# Template file for 'libmudflap32'.
#
depends="gcc-multilib glibc32"
short_desc="GCC mudflap shared support libraries (32bit)"
noverifyrdeps=yes

do_install() {
	vmove "usr/lib32/libmudflap*.so*" usr/lib32
}
