# Template file for 'libobjc'.
#
short_desc="GCC Objective-C shared library support"
long_desc="${long_desc}

 This package contains GCC Objective-C shared support library which is needed
 to run Objective-C dynamically linked programs."

do_install() {
	vmove "usr/lib/libobjc.so*" usr/lib
	vinstall COPYING.RUNTIME 644 \
		usr/share/licenses/$pkgname RUNTIME.LIBRARY.EXCEPTION
}
