# Template file for 'gcc-libobjc-devel'.
#
short_desc="GCC Objective-C shared library support (development files)"
long_desc="${long_desc}

 This package contains GCC Objective-C headers and static libs, to
 build Objective-C programs."

replaces="gcc-libobjc-devel>=0"

Add_dependency run libobjc	">=$version"

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libobjc.*a ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libobjc.so ${DESTDIR}/usr/lib
}
