# Template file for 'libobjc-devel'.
#
short_desc="GCC Objective-C shared library support (development files)"
long_desc="${long_desc}

 This package contains GCC Objective-C headers and static libs, to
 build Objective-C programs."


Add_dependency run libobjc	">=${_majorver}"

do_install() {
	vmove "usr/lib/libobjc.*a" usr/lib
}
