# Template file for 'libobjc32'.
#
depends="libgcc32 glibc32"
short_desc="GCC Objective-C shared library support (32bit)"
long_desc="${long_desc}

 This package contains the 32bit GCC Objective-C shared support library
 which is needed to run Objective-C dynamically linked programs."

noverifyrdeps=yes


do_install() {
	vmove "usr/lib32/libobjc.so*" usr/lib32
}
