# Template file for 'libobjc'.
#
short_desc="GCC Objective-C shared library support"

do_install() {
	vmove "usr/lib/libobjc.so*" usr/lib
	vinstall COPYING.RUNTIME 644 \
		usr/share/licenses/$pkgname RUNTIME.LIBRARY.EXCEPTION
}
