# Template file for 'libquadmath-devel'.
#
depends="libquadmath>=${_majorver}"
short_desc="GCC quadmath shared support library (development files)"

do_install() {
	vmove "usr/lib/libquadmath*.a" usr/lib
	vmove usr/share/info/libquadmath.info usr/share/info
	touch ${DESTDIR}/usr/share/info/dir
}
