# Template file for 'libquadmath'
#
short_desc="GCC quad match ${version} shared library support"

do_install() {
	vmove "usr/lib/libquadmath.so*" usr/lib
	vinstall COPYING.RUNTIME 644 \
		usr/share/licenses/$pkgname RUNTIME.LIBRARY.EXCEPTION
}
