# Template file for 'libquadmath-devel'.
#
depends="libquadmath>=${_majorver}"
short_desc="GCC quadmath shared support library (development files)"
long_desc="${long_desc}

 This package contains GCC quadmath headers and static libraries for
 building mudflap-instrumented programs."



do_install() {
	vmove "usr/lib/libquadmath*.a" usr/lib
	vmove usr/share/info/libquadmath.info usr/share/info
	touch ${DESTDIR}/usr/share/info/dir
}
