# Template file for 'gcc-libstdc++-devel'.
#
depends="libstdc++>=${_majorver}"
short_desc="GCC Standard C++ Library (development files)"

do_install() {
	vmove "usr/lib/libstdc++.*a" usr/lib
	vmove "usr/lib/libsupc++.*" usr/lib
	vmove usr/include/c++ usr/include
}
