# Template file for 'libssp'.
#
short_desc="GCC SSP shared library support"

do_install() {
	vmove "usr/lib/libssp.so*" usr/lib
	vinstall COPYING.RUNTIME 644 \
		usr/share/licenses/$pkgname RUNTIME.LIBRARY.EXCEPTION
}
