# Template file for 'libssp32'.
#
depends="glibc32"
short_desc="GCC SSP shared library support (32bit)"
long_desc="${long_desc}

 This package contains the 32bit Stack Smashing Protection shared library
 provided by GCC."

noverifyrdeps=yes


do_install() {
	vmove "usr/lib32/libssp.so*" usr/lib32
}
