# Template file for 'gcc-libstdc++'.
#
short_desc="GCC Standard C++ Library"

do_install() {
	vmove "usr/lib/libstdc++.so*" usr/lib
	vmove usr/share/locale/fr/LC_MESSAGES/libstdc++.mo \
		usr/share/locale/fr/LC_MESSAGES
	vmove usr/share/locale/de/LC_MESSAGES/libstdc++.mo \
		usr/share/locale/de/LC_MESSAGES
	vinstall COPYING.RUNTIME 644 \
		usr/share/licenses/$pkgname RUNTIME.LIBRARY.EXCEPTION
}
