# Template file for 'gcc-libstdc++-devel'.
#
short_desc="GCC Standard C++ Library (development files)"
long_desc="${long_desc}

 This package contains GCC Header files and libraries for
 C++ development."

revision=1

Add_dependency run libstdc++	">=$version"

do_install()
{
	vmove "usr/lib/libstdc++.*a" usr/lib
	vmove "usr/lib/libsupc++.*" usr/lib
	vmove usr/include/c++/${_majorver} usr/include/c++
	ln -sf /usr/include/c++/${_majorver} \
		${DESTDIR}/usr/include/c++/${version}
}
