# Template file for 'gcc-libstdc++-devel'.
#
short_desc="GCC Standard C++ Library (development files)"
long_desc="${long_desc}

 This package contains GCC Header files and libraries for
 C++ development."


Add_dependency run libstdc++	">=${_majorver}"

do_install() {
	vmove "usr/lib/libstdc++.*a" usr/lib
	vmove "usr/lib/libsupc++.*" usr/lib
	vmove usr/include/c++ usr/include
}
