# Template file for 'libssp'.
#
short_desc="GCC SSP shared library support"
long_desc="${long_desc}

 This package contains the Stack Smashing Protection shared library
 provided by GCC."


do_install() {
	vmove "usr/lib/libssp.so*" usr/lib
	vinstall COPYING.RUNTIME 644 \
		usr/share/licenses/$pkgname RUNTIME.LIBRARY.EXCEPTION
}
