# Template file for 'libstdc++32-devel'.
#
depends="libstdc++-devel libstdc++32"
short_desc="GCC Standard C++ Library (32bit) development files"
long_desc="${long_desc}

 This package contains a rewritten 32bit standard compliant GCC Standard
 C++ development files and headers for x86_64 systems."

noverifyrdeps=yes


do_install() {
	vmove usr/include/c++/${_majorver}/${_triplet}/32 \
		usr/include/c++/${_majorver}/${_triplet}
}
