# Template file for 'libssp'.
#
short_desc="GCC SSP shared library support"
long_desc="${long_desc}

 This package contains the Stack Smashing Protection shared library
 provided by GCC."

Add_dependency run glibc

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libssp.so.* ${DESTDIR}/usr/lib
}
