#!/sbin/runscript

: ${PIDFILE:=/var/run/kadmind.pid}

depend()
{
	need net localmount
	provide kadmind
}

start()
{
	ebegin "Starting Heimdal Kerberos kadmind"
	start-stop-daemon --start --pidfile=${PIDFILE} --background \
		--make-pidfile --exec /usr/libexec/kadmind -- ${KADMIND_ARGS}
	eend $?
}

stop()
{
	ebegin "Stopping Heimdal Kerberos kadmind"
	start-stop-daemon --stop --pidfile ${PIDFILE}
	eend $?
}
