#!/sbin/runscript

: ${PIDFILE:=/var/run/kdc.pid}

depend()
{
	need net localmount
	provide kdc
}

start()
{
	ebegin "Starting Heimdal Kerberos kdc"
	start-stop-daemon --start --pidfile=${PIDFILE} --background \
		--make-pidfile --exec /usr/libexec/kdc -- ${KDC_ARGS}
	eend $?
}

stop()
{
	ebegin "Stopping Heimdal Kerberos kdc"
	start-stop-daemon --stop --pidfile ${PIDFILE}
	eend $?
}
