#!/sbin/runscript

: ${PIDFILE:=/var/run/kpasswdd.pid}

depend()
{
	need net localmount
	provide kpasswdd
}

start()
{
	ebegin "Starting Heimdal Kerberos kpasswdd"
	start-stop-daemon --start --pidfile=${PIDFILE} --background \
		--make-pidfile --exec /usr/libexec/kpasswdd -- ${KPASSWDD_ARGS}
	eend $?
}

stop()
{
	ebegin "Stopping Heimdal Kerberos kpasswdd"
	start-stop-daemon --stop --pidfile ${PIDFILE}
	eend $?
}
