[Unit]
Description=Light Display Manager
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/sbin/lightdm --log-dir=/var/log/lightdm --run-dir=/run/lightdm \
	--cache-dir=/var/cache/lightdm

[Install]
WantedBy=graphical.target
