[Unit]
Description=Light Display Manager
Conflicts=getty@tty1.service
After=systemd-user-sessions.service getty@tty1.service

[Service]
ExecStart=/usr/sbin/lightdm --log-dir=/var/log/lightdm --run-dir=/run/lightdm \
	--cache-dir=/var/cache/lightdm
Restart=always
IgnoreSIGPIPE=no
BusName=org.freedesktop.DisplayManager

[Install]
Alias=display-manager.service
