#!/sbin/runscript

command=/usr/bin/lightdm
name="Light Display Manager"

depend()
{
	need dbus localmount
}

start()
{
	ebegin "Starting ${name}"
	start-stop-daemon --start --quiet --background --exec ${command}
	eend $?
}

stop()
{
	ebegin "Stopping ${name}"
	start-stop-daemon --stop --exec ${command}
	eend $?
}
