# Send pbbuttonsd a HUP signal if a new event device is connected

ACTION=="add", KERNEL=="event[0-9]*", RUN+="/bin/sh -c 'kill -HUP $$(pidof pbbuttonsd)'"
# load i2c-dev module so pbbuttonsd keyboard backlight works

ACTION=="add", SUBSYSTEM=="i2c", RUN+="/sbin/modprobe i2c-dev"
