# Template file for 'gtkaml-devel'.
#
noarch=yes
depends="vala-devel>=0.18 libgtkaml>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
