# Template file for 'libutempter-devel'.
#
depends="glibc-devel libutempter>=1.1.5"
short_desc="${short_desc} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
}
