[Desktop Entry]
Name=IDLE (using Python3)
Comment=IDE for Python (using Python3)
Exec=idle3
Icon=idle3
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
