# Template file for 'groff-doc'.
#
short_desc="${sourcepkg} documentation"
long_desc="${long_desc}

 This package contains the GNU Groff documentation."

noarch=yes

do_install()
{
	mkdir -p ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/doc ${DESTDIR}/usr/share
}
