# Template file for 'gir-evolution-data-server'.
#
short_desc="Introspection data for EDS"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the GNOME's
 Evolution Data Server libraries."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
