# Template file for 'libvarnishapi-devel'.
#
noarch=yes
depends="libvarnishapi>=${version}"
short_desc="${short_desc} -- API development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/man/man3 usr/share/man
}
