# Template file for 'at-spi-python'.
#
short_desc="${short_desc} - python extension"
long_desc="${long_desc}

 This package contains ${sourcepkg} python related files."

revision=1
noarch=yes
Add_dependency run at-spi
Add_dependency run python

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/python* ${DESTDIR}/usr/lib
}
