[Desktop Entry]
Name=IDLE (using Python3.5)
Comment=IDE for Python (using Python3.5)
Exec=idle3.5
Icon=idle3.5
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
