# Template file for 'apache-devel'.
#
depends="coreutils apr-devel apr-util-devel perl>=0"
short_desc="${short_desc} - development files"
long_desc="
 ${long_desc}
 
 This packages contains files for development, static files, headers, etc."

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/share/apache-httpd/build usr/share/apache-httpd
	vmove usr/bin/apxs usr/bin
	vmove "usr/share/man/man1/apxs*" usr/share/man/man1
}
