# Template file for 'apache-devel'.
#
depends="apr-devel apr-util-devel perl"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/share/apache-httpd/build usr/share/apache-httpd
	vmove usr/bin/apxs usr/bin
	vmove "usr/share/man/man1/apxs*" usr/share/man/man1
}
