# Template file for 'libraw-progs'.
#
short_desc="${short_desc} - applications"
long_desc="${long_desc}

 This package contains applications provided by libraw."

Add_dependency run libgcc
Add_dependency run glibc
Add_dependency run libstdc++
Add_dependency run libgomp
Add_dependency run libraw

do_install()
{
	vmove usr/bin usr
}
