[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Cavestory
GenericName=Doukutsu Monogatari
Comment=A Japanese freeware PC side-scrolling platformer game
Exec=/usr/bin/cavestory
Icon=cavestory.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;
