[Desktop Entry]
Name=Godot
Comment=Application for making games
Exec=/usr/bin/godot %U
Icon=godot
Terminal=false
Type=Application
Categories=Utility;Game;

