[Desktop Entry]
Name=LanguageTool
Exec=/usr/bin/languagetool
Type=Application
Terminal=false
GenericName=LanguageTool
Comment=LanguageTool
StartupNotify=false
Path=/usr/share/languagetool
Icon=/usr/share/languagetool/LanguageTool_Logo.svg
Categories=Office;
