# Template file for 'libtracker'.
#
short_desc="${short_desc} - shared libraries"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove "usr/lib/tracker-0.16/*.so*" usr/lib/tracker-0.16
	vmove usr/lib/girepository-1.0 usr/lib
}
