# Template file for 'libtracker'.
#
short_desc="${short_desc} - shared libraries"
long_desc="${long_desc}

 This package contains the shared libraries."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove "usr/lib/tracker-0.14/*.so*" usr/lib/tracker-0.14
	vmove usr/lib/girepository-1.0 usr/lib
}
