# Template file for 'tracker-devel'.
#
depends="libglib-devel libtracker-${version}_${revision}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/vala usr/share
	vmove usr/lib/pkgconfig usr/lib
}
