# Template file for 'coreutils-locale'.
#
short_desc="${short_desc} (locales)"
long_desc="${long_desc}

 This package contains the ${sourcepkg} locale files, for non US users."
run_depends=
noarch=yes

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/share
	mv ${origdir}/usr/share/locale ${destdir}/usr/share
}
