[Desktop Entry]
Name=FreeRouting
Comment=Advanced PCB autorouter
Exec=freerouting -de %f
Icon=/usr/share/icons/hicolor/scalable/apps/freerouting.svg
Keywords=pcb;routing;circuit;specctra
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/x-dsn
Categories=Development;Electronics;Engineering
