# Template file for 'libsigc++-devel'.
#
depends="glibc-devel libsigc++"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/{pkgconfig,sigc++-2.0} \
		${DESTDIR}/usr/lib
}
