[Unit]
Description=RPC Bind
After=network.target
Wants=rpcbind.target
Before=rpcbind.target

[Service]
Type=forking
ExecStart=/usr/bin/rpcbind
Restart=always

[Install]
WantedBy=multi-user.target
