[Unit]
Description=RPC bind service
Requires=rpcbind.socket
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/rpcbind -w

[Install]
WantedBy=multi-user.target
Also=rpcbind.socket
