[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Dosbox
Comment=A free DOS emulator
Icon=/usr/share/pixmaps/dosbox.png
Exec=/usr/bin/dosbox
Terminal=false
StartupNotify=false
Categories=Game;
