# Template file for 'abiword-devel'.
#
depends="fribidi-devel libgsf-devel wv-devel enchant-devel gtk-devel
 librsvg-devel libabiword>=${version}"
short_desc="${short_desc} - Development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
