[Desktop Entry]
Version=1.0
Name=Waydroid Session
Comment=Starts the Waydroid session
Exec=/usr/bin/waydroid session start
TryExec=/usr/bin/waydroid
Terminal=false
Type=Application
