# Template file for 'ntp-perl'.
#
short_desc="${short_desc} (perl scripts)"
long_desc="${long_desc}

 This package contains perl scripts ntp-wait and ntptrace."

revision=1

Add_dependency run ntp
Add_dependency run perl		">=0"

do_install()
{
	mkdir -p ${DESTDIR}/usr/bin
	for f in ntp-wait ntptrace; do
		mv ${SRCPKGDESTDIR}/usr/bin/${f} ${DESTDIR}/usr/bin
	done
}
