# Template file for 'ntp-perl'.
#
depends="ntp perl>=0"
short_desc="${short_desc} (perl scripts)"
long_desc="${long_desc}

 This package contains perl scripts ntp-wait and ntptrace."


do_install()
{
	mkdir -p ${DESTDIR}/usr/bin
	for f in ntp-wait ntptrace; do
		mv ${SRCPKGDESTDIR}/usr/bin/${f} ${DESTDIR}/usr/bin
	done
}
