# Template file for 'ntp-perl'.
#
depends="ntp>=$version perl>=0"
noarch=yes
short_desc="${short_desc} (perl scripts)"
long_desc="${long_desc}

 This package contains perl scripts ntp-wait and ntptrace."

do_install() {
	for f in ntp-wait ntptrace; do
		vmove usr/bin/${f} usr/bin
	done
}
