# Template file for 'libsmbclient'.
#
short_desc="Shared libraries for communication with SMB/CIFS servers"
depends="mit-krb5-libs>=1.10.1"

do_install() {
	vmove "usr/lib/libwbclient.so*" usr/lib
	vmove "usr/lib/libsmbclient.so*" usr/lib
	vmove usr/share/man/man7/libsmbclient.7 usr/share/man/man7
}
