# Template file for 'libsmbclient'.
#
short_desc="Shared libraries for communication with SMB/CIFS servers"
long_desc="
 This package provides a shared library that enables client applications to
 talk to Microsoft Windows and Samba servers using the SMB/CIFS protocol."

depends="mit-krb5-libs>=1.10.1"

do_install() {
	vmove "usr/lib/libwbclient.so*" usr/lib
	vmove "usr/lib/libsmbclient.so*" usr/lib
	vmove usr/share/man/man7/libsmbclient.7 usr/share/man/man7
}
