# Template file for 'samba-devel'.
#
noarch=yes
depends="libsmbclient>=${version}"
short_desc="${short_desc} - development files"
long_desc="
 ${long_desc}

 This package provides development files: headers, static libraries, etc."

do_install() {
	vmove usr/include usr
}
