# Template file for 'smbclient'.
#
short_desc="Command-line SMB/CIFS clients for Unix"
long_desc="
 This package contains command-line utilities for accessing Microsoft
 Windows and Samba servers, including smbclient, smbtar, and smbspool.
 Utilities for mounting shares locally are found in the package cifs-utils."


revision=2

do_install()
{
	install -d ${DESTDIR}/usr/share/man
	mv ${SRCPKGDESTDIR}/usr/bin ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/share/man/man1 ${DESTDIR}/usr/share/man
}
