# Template file for 'smbclient'.
#
short_desc="Command-line SMB/CIFS clients for Unix"
long_desc="
 This package contains command-line utilities for accessing Microsoft
 Windows and Samba servers, including smbclient, smbtar, and smbspool.
 Utilities for mounting shares locally are found in the package cifs-utils."

revision=1

do_install() {
	vmove usr/bin usr
	vmove usr/share/man/man1 usr/share/man
}
