# Template file for 'gir-babl'.
#
short_desc="Introspection data for BABL"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the Babl library."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
