[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=RetroShare
Comment=Securely share files with your friends
Exec=/usr/bin/retroshare
Icon=/usr/share/pixmaps/retroshare.png
Terminal=false
Type=Application
Categories=Application;Network;

