[Desktop Entry]
Name=IntelliJ IDEA Community Edition
Comment=Java integrated development environment by JetBrains
Exec=/usr/bin/idea %f
Icon=idea
Terminal=false
Type=Application
Categories=Development;
