# Template file for 'liblxc'.
#
short_desc="${short_desc} - shared library"
long_desc="${long_desc}

 This package contains the shared library for use in applications."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/*.so* ${DESTDIR}/usr/lib
}
