# Template file for 'ntp-perl'.
#
short_desc="${short_desc} (perl scripts)"
long_desc="${long_desc}

 This package contains perl scripts ntp-wait and ntptrace."

Add_dependency run ntp
Add_dependency run perl

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/bin
	for f in ntp-wait ntptrace; do
		mv ${origdir}/usr/bin/${f} ${destdir}/usr/bin
	done
}
