# Template file for 'qt-docs'.
#
depends="qt>=$version"
noarch=yes
short_desc="Qt API documentation"
long_desc="${long_desc}

 This package contains the complete Qt 4 API documentation (new help format)."

do_install()
{
	mkdir -p ${DESTDIR}/usr/share/doc
	mv ${SRCPKGDESTDIR}/usr/share/doc/qt ${DESTDIR}/usr/share/doc
}
