# Template file for 'libphonon'.
#
short_desc="Qt libphonon runtime libraries"
long_desc="${long_desc}

 This package contains the Qt phonon runtime libraries."

do_install() {
	vmove "usr/lib/libphonon*.so*" usr/lib
}
