# Template file for 'qt-plugin-pgsql'.
#
short_desc="Qt PostgreSQL plugin"
long_desc="${long_desc}

 This package contains a Qt SQL plugin for PostgreSQL."

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/qt/plugins/sqldrivers

	mv ${SRCPKGDESTDIR}/usr/lib/qt/plugins/sqldrivers/libqsqlpsql.so \
		${DESTDIR}/usr/lib/qt/plugins/sqldrivers
}
