# Template file for 'qt-plugin-sqlite'.
#
short_desc="Qt SQLite plugin"
long_desc="${long_desc}

 This package contains a Qt SQL plugin for SQLite."

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/qt/plugins/sqldrivers

	mv ${SRCPKGDESTDIR}/usr/lib/qt/plugins/sqldrivers/libqsqlite.so \
		${DESTDIR}/usr/lib/qt/plugins/sqldrivers
}
