# Template file for 'qt-plugin-sqlite'.
#
short_desc="Qt SQLite plugin"
long_desc="${long_desc}

 This package contains a Qt SQL plugin for SQLite."

Add_dependency run libgcc
Add_dependency run glibc
Add_dependency run libstdc++
Add_dependency run sqlite
Add_dependency run qt

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/qt/plugins/sqldrivers

	mv ${SRCPKGDESTDIR}/usr/lib/qt/plugins/sqldrivers/libqsqlite.so \
		${DESTDIR}/usr/lib/qt/plugins/sqldrivers || return 1
}
