# Template file for 'qt-plugin-gstreamer'.
#
short_desc="Qt GStreamer phonon backend plugin"
long_desc="${long_desc}

 This package contains a Qt phonon backend plugin for GStreamer."


do_install() {
	vmove usr/lib/qt/plugins/phonon_backend/libphonon_gstreamer.so \
		usr/lib/qt/plugins/phonon_backend
}
