# Template file for 'qt-plugin-mysql'.
#
short_desc="Qt MySQL plugin"
long_desc="${long_desc}

 This package contains a Qt SQL plugin for MySQL."

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/qt/plugins/sqldrivers

	mv ${SRCPKGDESTDIR}/usr/lib/qt/plugins/sqldrivers/libqsqlmysql.so \
		${DESTDIR}/usr/lib/qt/plugins/sqldrivers
}
