[Desktop Entry]
Version=1.0
Name=OmniRoute
# Only KDE 4 seems to use GenericName
GenericName=LLM endpoint
# Gnome and KDE 3 uses Comment.
Comment=LLM endpoint

Exec=/usr/bin/omniroute --mcp
StartupNotify=true
Terminal=false
Icon=omniroute
Type=Application
Categories=Network;LLM;AI;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/chromium;
