[Desktop Entry]
Name=Tutanota Desktop
GenericName=Mail Client
Keywords=Email;E-mail
Exec=/opt/tutanota-desktop/tutanota-desktop
Terminal=false
Type=Application
Icon=tutanota-desktop
StartupWMClass=tutanota-desktop
Comment=Official desktop client for Tutanota, the secure e-mail service.
MimeType=x-scheme-handler/mailto;
Categories=Network;
