# Template file for 'rygel-devel'.
#
depends="libgee08-devel gupnp-av-devel gstreamer-devel libuuid-devel
 glib-devel librygel-${version}_${revision}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/vala usr/share
	vmove usr/share/gtk-doc usr/share
}
