[Desktop Entry]
Name=FS-UAE
Comment=FS-UAE Amiga Emulator
TryExec=fs-uae
Exec=fs-uae %f
StartupNotify=true
Terminal=false
Type=Application
Icon=fs-uae
Categories=Applications;Emulators;Game

