# Template file for 'radare2-devel'.
#
noarch=yes
depends="radare2>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
