# Template file for 'gir-mutter'.
#
short_desc="Introspection data for mutter"
long_desc="${long_desc}

 This package contains small pieces of introspection data for Mutter."

do_install()
{
	install -d ${DESTDIR}/usr/lib/girepository-1.0
	mv ${SRCPKGDESTDIR}/usr/lib/mutter/*.typelib \
		${DESTDIR}/usr/lib/girepository-1.0
}
