polkit.addRule(function(action, subject) {
  if (action.id.match("org.freedesktop.login1.") && subject.isInGroup("video")) {
    return polkit.Result.YES;
  }
});

polkit.addRule(function(action, subject) {
  if (action.id.indexOf("org.freedesktop.udisks") == 0 && subject.isInGroup("video")) {
    return polkit.Result.YES;
  }
});
