# Template file for 'libopenbox'.
#
short_desc="openbox runtime shared libraries"
long_desc="
 ${long_desc}

 This package includes the runtime shared libraries."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
