# Template file for 'openbox-devel'.
#
short_desc="openbox development files"
long_desc="
 ${long_desc}

 This package includes development files: headers, static libs, etc."

Add_dependency run libopenbox

do_install() {
	vmove "usr/lib/*.a" usr/lib
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
