# Template file for 'libblkid-devel'.
#
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

revision=1

Add_dependency run zlib-devel
Add_dependency run libuuid-devel
Add_dependency run libblkid

do_install()
{
	mkdir -p ${DESTDIR}
	mv ${SRCPKGDESTDIR}/usr ${DESTDIR}
}
