# Tag media controller video nodes for the samsung-camera-relay group.
ACTION=="remove", GOTO="camera_relay_mc_end"
SUBSYSTEM!="video4linux", GOTO="camera_relay_mc_end"

KERNEL=="video*", ENV{ID_V4L_IO_MC}=="", \
  IMPORT{program}="/usr/lib/udev/camera-relay-v4l2-io-mc $devnode"

ENV{ID_V4L_IO_MC}=="1", GROUP="samsung-camera-relay", MODE="0660", TAG-="uaccess", \
  ENV{ID_V4L_CAPABILITIES}="", ENV{ID_V4L_PRODUCT}="", \
  RUN+="/usr/bin/setfacl -b $devnode"

LABEL="camera_relay_mc_end"
