# Template file for 'finch-devel'.
#
noarch=yes
depends="libgnt-devel>=${version} libpurple-devel>=${version}"
short_desc="A ncurses-based messaging client -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include/finch usr/include
	vmove usr/lib/pkgconfig/finch.pc usr/lib/pkgconfig
}
