# Template file for 'libgnt-devel'.
#
noarch=yes
depends="glib-devel libgnt>=${version}"
short_desc="IM library extracted from Pidgin (GNT) -- development files"

do_install() {
	vmove usr/include/gnt usr/include
	vmove usr/lib/pkgconfig/gnt.pc usr/lib/pkgconfig
}
