# Template file for 'libpurple-devel'.
#
noarch=yes
depends="glib-devel libpurple>=${version}"
short_desc="IM library extracted from Pidgin -- development files"

do_install() {
	vmove usr/include/libpurple usr/include
	vmove usr/lib/pkgconfig/purple.pc usr/lib/pkgconfig
	vmove usr/share/aclocal/purple.m4 usr/share/aclocal
	vmove usr/share/man/man3/Purple.3p usr/share/man/man3
}
