# Template file for 'libpurple'.
#
short_desc="IM library extracted from Pidgin"

do_install() {
	vmove "usr/bin/purple-*" usr/bin
	vmove "usr/lib/libpurple*.so*" usr/lib
	vmove usr/lib/purple-2 usr/lib
	vmove usr/share/purple usr/share
	vmove usr/share/sounds/purple usr/share/sounds
	vmove usr/share/gconf usr/share
}
