# Template file for 'irssi-devel'.
#
depends="perl pkg-config glib-devel openssl-devel ncurses-devel irssi"
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."



do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/irssi/modules

	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/irssi/modules/*.*a \
		${DESTDIR}/usr/lib/irssi/modules
}
