# Template file for 'irssi-perl'.
#
depends="perl>=5.16 irssi>=$version"
short_desc="${short_desc} -- perl support"

do_install() {
	vmove usr/lib/perl5 usr/lib
	vmove "usr/lib/irssi/modules/*perl*" usr/lib/irssi/modules
	vmove usr/share/irssi/scripts usr/share/irssi
}
