# Template file for 'irssi-perl'.
#
depends="perl>=5.16 irssi>=$version"
short_desc="${sourcepkg} perl support"
long_desc="${long_desc}

 This package contains the modules to enable perl support with the
 irssi package, and related perl scripts included."

do_install() {
	vmove usr/lib/perl5 usr/lib
	vmove "usr/lib/irssi/modules/*perl*" usr/lib/irssi/modules
	vmove usr/share/irssi/scripts usr/share/irssi
}
