[Unit]
Description=The Apache HTTP Server (Event MPM)
After=syslog.target network.target remote-fs.target
Conflicts=apache.target apache-mpm-worker.target

[Service]
Type=forking
PIDFile=/var/run/httpd/httpd.pid
ExecStart=/usr/sbin/httpd.event -k start
ExecReload=/usr/sbin/httpd.event -t
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/sbin/httpd.event -k stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
