# Template file for 'eet-devel'.
#
noarch=yes
depends="eet-devel ecore-devel eio>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
