# Template file for 'eet-devel'.
#
noarch=yes
depends="eet-devel ecore-devel>=1.7.4_1 eio>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
