# Template file for 'libXrender-devel'.
#
depends="xproto renderproto libX11-devel libXrender>=${version}"
short_desc="${short_desc} -- development files"
noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
