# Template file for 'librhythmbox'.
#
revision=1
short_desc="${short_desc} - shared library"
long_desc="
 ${long_desc}

 This package includes the shared library."

shlib_depends="webkit-gtk3>=1.6.3"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
