# Template file for 'librhythmbox'.
#
short_desc="${short_desc} - shared library"
long_desc="
 ${long_desc}

 This package includes the shared library."

depends="webkit-gtk3>=1.8.0"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
