# Template file for 'gir-gstreamer'.
#
short_desc="GStreamer introspection data"
long_desc="${long_desc}

 This package contains the GObject-introspection data of GStreamer in
 binary typelib format."

Add_dependency run gir-freedesktop
Add_dependency run glib
Add_dependency run gstreamer

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
