# Template file for 'libchamplain-devel'.
#
depends="libsoup-gnome-devel gtk+3-devel>=3.8 clutter-gtk-devel>=1.4.4
json-glib-devel sqlite-devel libchamplain>=$version"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/vala usr/share
	vmove usr/lib/pkgconfig usr/lib
}
