# Template file for 'libchamplain-devel'.
#
noarch=yes
depends="libsoup-gnome-devel gtk+3-devel clutter-gtk-devel
json-glib-devel sqlite-devel libchamplain>=$version"
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/vala usr/share
	vmove usr/lib/pkgconfig usr/lib
}
