# Template file for 'libXxf86vm-devel'.
#
depends="xf86vidmodeproto libX11-devel libXext-devel libXxf86vm"
short_desc="${short_desc} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share usr
}
