[Desktop Entry]
Exec=/usr/lib/jvm/oracle-jdk/bin/policytool
Icon=oracle-java.png
Name=Java Policy Settings
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=Settings;Java;
