# Template file for 'tumbler-devel'.
#
noarch=yes
depends="glib-devel tumbler>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
}
