global
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  stats socket /var/run/haproxy.sock mode 0600 level admin expose-fd listeners thread 1
  maxconn 256

defaults
  mode http
  timeout connect 5s
  timeout client 50s
  timeout server 50s

frontend proxy
  bind [::]:80
  default_backend servers

backend servers
  server server1 127.0.0.1:8000
