# Template file for 'db-docs'.
#
short_desc="${short_desc} (documentation files)"
long_desc="${long_desc}

 This package contains the documentation files for the API and utilities."

noarch=yes

do_install()
{
	install -d ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/doc ${DESTDIR}/usr/share
}
