# Template file for 'db-docs'.
#
short_desc="${short_desc} -- documentation files"
noarch=yes

do_install() {
	install -d ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/doc ${DESTDIR}/usr/share
}
