# Template file for 'libdb'.
#
short_desc="${short_desc} - shared libraries"
long_desc="${long_desc}

 This package contains the shared libraries for use in client programs."

replaces="db<4.8.26"

do_install() {
	vmove "usr/lib/libdb.so*" usr/lib
	vmove "usr/lib/libdb-*.so*" usr/lib
}
