# Template file for 'libdb'.
#
short_desc="${short_desc} - shared libraries"
long_desc="${long_desc}

 This package contains the shared libraries for use in client programs."

replaces="db<4.8.26"

Add_dependency run libgcc
Add_dependency run glibc
Add_dependency run libstdc++

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/*.so* ${DESTDIR}/usr/lib
}
