# Template file for 'tcl-devel'.
#
depends="tcl-${version}_${revision}"
short_desc="${short_desc} - development files"
noarch=yes

do_install() {
	vmove usr/lib/tclConfig.sh usr/lib
	vmove usr/include usr
	vmove usr/share/man/man3 usr/share/man
	vmove usr/share/man/mann usr/share/man
}
