# Template file for 'tcl-devel'.
#
depends="tcl-${version}_${revision}"
short_desc="TCL development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/tclConfig.sh usr/lib
	vmove usr/include usr
	vmove usr/share/man/man3 usr/share/man
	vmove usr/share/man/mann usr/share/man
}
