# Template file for 'libkmod'.
#
short_desc="${short_desc} - runtime shared library"
long_desc="${long_desc}

 This package provides the libkmod runtime shared library."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
