# Template file for 'telepathy-glib-devel'.
#
depends="vala-devel dbus-glib-devel telepathy-glib>=${version}"
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/vala usr/share
}
