# Template file for 'libmpg123'.
#
short_desc="${short_desc} - Runtime library"
long_desc="${long_desc}

 This package contains the runtime library."

Add_dependency run glibc
Add_dependency run libltdl

revision=2

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/lib/mpg123 usr/lib
}
