# Template file for 'libmpg123'.
#
short_desc="${short_desc} - Runtime library"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/lib/mpg123/output_dummy.so usr/lib/mpg123
	vmove usr/lib/mpg123/output_oss.so usr/lib/mpg123
}
