# Template file for 'mpg123-devel'.
#
depends="libmpg123>=${version}"
short_desc="${short_desc} - Development files"

do_install() {
        vmove usr/include usr
        vmove usr/lib/pkgconfig usr/lib
}
