# Template file for 'mpg123-sdl'.
#
depends="libmpg123>=${version}"
short_desc="${short_desc} - SDL output plugin"
replaces="libmpg123<1.13.4_1"

do_install() {
        vmove usr/lib/mpg123/output_sdl.so usr/lib/mpg123
}
