# Template file for 'mpg123-jack'.
#
short_desc="${short_desc} - JACK output plugin"
long_desc="${long_desc}

 This package contains the JACK output plugin."

Add_dependency run glibc
Add_dependency run libltdl
Add_dependency run libmpg123
Add_dependency run libjack

replaces="libmpg123<1.13.4_1"

do_install() {
        vmove usr/lib/mpg123/output_jack.so usr/lib/mpg123
}
