# Template file for 'mpg123-alsa'.
#
depends="libmpg123"
short_desc="${short_desc} - ALSA output plugin"
long_desc="${long_desc}

 This package contains the ALSA plugin for output."



replaces="libmpg123<1.13.4_1"

do_install() {
        vmove usr/lib/mpg123/output_alsa.so usr/lib/mpg123
}
