# Template file for 'mpg123-alsa'.
#
short_desc="${short_desc} - ALSA output plugin"
long_desc="${long_desc}

 This package contains the ALSA plugin for output."

Add_dependency run glibc
Add_dependency run libltdl
Add_dependency run libmpg123
Add_dependency run alsa-lib

revision=2

replaces="libmpg123<1.13.4_1"

do_install() {
        vmove usr/lib/mpg123/output_alsa.so usr/lib/mpg123
}
