# Template file for 'mpg123-pulseaudio'.
#
depends="libmpg123>=${version}"
short_desc="${short_desc} - Pulseaudio output plugin"
replaces="libmpg123<1.13.4_1"

do_install() {
        vmove usr/lib/mpg123/output_pulse.so usr/lib/mpg123
}
