# Template file for 'mpg123-pulseaudio'.
#
short_desc="${short_desc} - Pulseaudio output plugin"
long_desc="${long_desc}

 This package contains the Pulseaudio output plugin."

Add_dependency run glibc
Add_dependency run libltdl
Add_dependency run libmpg123
Add_dependency run libpulseaudio

replaces="libmpg123<1.13.4_1"

do_install() {
        vmove usr/lib/mpg123/output_pulse.so usr/lib/mpg123
}
