# Template file for 'libXrandr-devel'.
#
noarch=yes
depends="libXext-devel libXrender-devel randrproto>=1.4.0
 ${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share usr
}
