# Template file for 'ConsoleKit-x11'.
#
short_desc="${sourcepkg} X11-requiring add-ons"
long_desc="${long_desc}

 This package contains some tools that require X libraries."


Add_dependency run dbus-x11
Add_dependency run ConsoleKit

do_install()
{
	vmove "usr/libexec/ck*" usr/libexec
}
