# Template file for 'ConsoleKit-x11'.
#
depends="dbus-x11 ConsoleKit"
short_desc="${sourcepkg} X11-requiring add-ons"
long_desc="${long_desc}

 This package contains some tools that require X libraries."



do_install()
{
	vmove "usr/libexec/ck*" usr/libexec
}
