# Template file for 'ConsoleKit-x11'.
#
short_desc="${sourcepkg} X11-requiring add-ons"
long_desc="${long_desc}

 This package contains some tools that require X libraries."

Add_dependency run glibc
Add_dependency run glib
Add_dependency run libX11
Add_dependency run ConsoleKit

do_install()
{
	mkdir -p ${DESTDIR}/usr/libexec
	mv ${SRCPKGDESTDIR}/usr/libexec/ck* \
		${DESTDIR}/usr/libexec
}
