[Unit]
Description=Polipo Proxy Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/polipo daemonise=true logFile="/var/log/polipo.log"
User=nobody

[Install]
WantedBy=multi-user.target
