# Template file for 'mdbtools-devel'.
#
depends="libmdb"
short_desc="${short_desc} (Development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
        vmove usr/include usr
		vmove "usr/lib/*.a" usr
}
