# Template file for 'mdbtools-docs'.
#
short_desc="${short_desc} (Documentation)"
long_desc="${long_desc}

 This package contains the mdbtools manpage(s)."

do_install()
{
	vmove usr/share/man usr/share
}
