[Unit]
Description=Device-mapper event daemon FIFOs
Documentation=man:dmeventd(8)
Before=sockets.target
DefaultDependencies=no
Conflicts=shutdown.target

[Socket]
ListenFIFO=/run/dmeventd-server
ListenFIFO=/run/dmeventd-client
SocketMode=0600
