[Unit]
Description=LVM activation of encrypted devices
DefaultDependencies=no
Requires=systemd-udev-settle.service
After=systemd-udev-settle.service cryptsetup.target
Before=shutdown.target
Conflicts=shutdown.target

[Service]
ExecStart=/sbin/vgchange --sysinit --available y
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=basic.target
