#!/sbin/runscript
#
# OpenRC service for LVM.

depend()
{
	after *
}

start()
{
	ebegin "Deactivating LVM volumes"
	lvm vgchange --ignoremonitoring --ignorelockingfailure \
		-an >/dev/null 2>&1
	eend $?
}
