[Unit]
Description=LVM2 metadata daemon socket
Documentation=man:lvmetad(8)
Before=sockets.target systemd-udev-trigger.service
DefaultDependencies=no
Conflicts=shutdown.target

[Socket]
ListenStream=/run/lvm/lvmetad.socket
SocketMode=0600
