[Unit]
Description=LVM2 metadata daemon
Documentation=man:lvmetad(8)
Requires=lvmetad.socket
After=lvmetad.socket
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
Type=forking
NonBlocking=true
ExecStart=/usr/sbin/lvmetad
ExecReload=/usr/sbin/lvmetad -R
Environment=SD_ACTIVATION=1
Restart=on-abort
PIDFile=/run/lvmetad.pid
