# Template file for 'gir-gnome-shell'.
#
short_desc="Introspection data for GNOME shell"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the GNOME
 shell libraries."

do_install()
{
	install -d ${DESTDIR}/usr/lib/girepository-1.0
	mv ${SRCPKGDESTDIR}/usr/lib/gnome-shell/*.typelib \
		${DESTDIR}/usr/lib/girepository-1.0
}
