[Desktop Entry]
Name=REAPER
Comment=REAPER
Categories=Audio;Video;AudioVideo;AudioVideoEditing;Recorder;
Exec="/usr/bin/reaper" %F
Icon=cockos-reaper
MimeType=application/x-reaper-project;application/x-reaper-project-backup;application/x-reaper-theme
StartupWMClass=REAPER
