polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.ModemManager1.Device.Control" ||
	action.id == "org.freedesktop.ModemManager1.Contacts" ||
	action.id == "org.freedesktop.ModemManager1.Messaging" ||
	action.id == "org.freedesktop.ModemManager1.Location") &&
        subject.isInGroup("network") && subject.active) {
        return polkit.Result.YES;
    }
});
