# Template file for 'libquvi-devel'.
#
depends="libcurl-devel lua-devel libquvi"
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

replaces="quvi-devel<0.4.0"

do_install()
{
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share usr
}
