[Desktop Entry]
Name=Pencil
Comment=An open-source GUI prototyping tool that is available for ALL platforms.
Exec=pencil
Icon=pencil
Categories=Office;Graphics
