# Template file for 'gir-nautilus'.
#
short_desc="Introspection data for GNOME Nautilus"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the GNOME
 Nautilus libraries."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
