# Template file for 'libnautilus'.
#
short_desc="${sourcepkg} - shared libraries"
long_desc="${long_desc}

 This package contains the shared libraries."

revision=1
replaces="nautilus<3.2.1"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
