# Template file for 'libvde2'.
#
short_desc="${short_desc} -- runtime libraries"
long_desc="${long_desc}

 This package contains the runtime shared libraries."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
