[Unit]
Description=high-performance, schema-free document-oriented database
After=syslog.target network.target

[Service]
PrivateTmp=true
User=mongodb
ExecStart=/usr/bin/mongod --quiet --config /etc/mongodb/mongodb.conf
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
