/* Original:
 * [Allow greeter to set fields]
 * Identity=unix-user:lightdm
 * Action=com.ubuntu.AccountsService.GreeterChangeAny
 * ResultAny=no
 * ResultInactive=yes
 * ResultActive=yes
 */
polkit.addRule(function (action, subject) {
    if (subject.user == 'lightdm' &&
            action.id == 'com.ubuntu.AccountsService.GreeterChangeAny') {
        return polkit.Result.YES;
    }
});

/* Original:
 * [Allow greeter to read fields]
 * Identity=unix-user:lightdm
 * Action=com.ubuntu.AccountsService.GreeterReadAny
 * ResultAny=yes
 * ResultInactive=yes
 * ResultActive=yes
 */
polkit.addRule(function (action, subject) {
    if (subject.user == 'lightdm' &&
            action.id == 'com.ubuntu.AccountsService.GreeterReadAny') {
        return polkit.Result.YES;
    }
});
