# Template file for 'libmagick-perl'.
#
depends="perl>=5.16"
short_desc="ImageMagick perl library bindings"
long_desc="${long_desc}

 This package contains the perl bindings for libmagick."

do_install() {
	vmove usr/lib/perl5 usr/lib
	vmove usr/share/man/man3 usr/share/man
}
