# Template file for 'libmagick-devel'.
#
depends="libmagick>=${version}"
short_desc="ImageMagick low-level image manipulation development files"
long_desc="${long_desc}

 This package contains headers and other related development files
 with MagickCore."

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/bin/*-config" usr/bin
	vmove usr/share/doc usr/share
	vmove "usr/share/man/man1/*-config.1" usr/share/man/man1
}
