# Template file for 'libmagick'.
#
short_desc="ImageMagick low-level image manipulation libraries"
long_desc="${long_desc}

 This package contains the C libraries needed to run executables
 that make use of MagickCore."

replaces="ImageMagick<6.5.9"

do_install()
{
	vmove "usr/lib/libMagick*.so*" usr/lib
	vmove "usr/lib/ImageMagick*" usr/lib
	vmove "usr/share/ImageMagick*" usr/share
}
