# Template file for 'poppler-cpp'.
#
short_desc="${short_desc} (C++ bindings)"
long_desc="${long_desc}

 This package contains ${sourcepkg} C++ bindings."

Add_dependency run libgcc
Add_dependency run glibc
Add_dependency run libstdc++
Add_dependency run zlib
Add_dependency run poppler

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libpoppler-cpp.so* ${DESTDIR}/usr/lib
}
