# Template file for 'poppler-qt4'.
#
short_desc="${short_desc} (QT bindings)"
long_desc="${long_desc}

 This package contains ${sourcepkg} QT 4 bindings."

revision=1

do_install() {
	vmove "usr/lib/libpoppler-qt4.so*" usr/lib
}
