# Template file for 'poppler-qt4'.
#
short_desc="${short_desc} (QT bindings)"
long_desc="${long_desc}

 This package contains ${sourcepkg} QT 4 bindings."

Add_dependency run libgcc
Add_dependency run glibc
Add_dependency run libstdc++
Add_dependency run zlib
Add_dependency run qt
Add_dependency run fontconfig
Add_dependency run poppler

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libpoppler-qt4.so.* ${DESTDIR}/usr/lib
}
