# Template file for 'poppler-cpp-devel'.
#
short_desc="${sourcepkg} C++ bindings (development files)"
long_desc="${long_desc}

 This package contains development files for C++ bindings."

Add_dependency run libstdc++-devel
Add_dependency run zlib-devel
Add_dependency run poppler-devel ">=${version}"

do_install() {
	vmove usr/include/poppler/cpp usr/include/poppler
	vmove usr/lib/libpoppler-cpp.a usr/lib
	vmove usr/lib/pkgconfig/poppler-cpp.pc usr/lib/pkgconfig
}
