# Template file for 'poppler-glib'.
#
short_desc="${short_desc} (GLib bindings)"
long_desc="${long_desc}

 This package contains ${sourcepkg} GTK/GLib bindings."

revision=1

do_install() {
	vmove "usr/lib/libpoppler-glib.so*" usr/lib
	vmove usr/lib/girepository-1.0 usr/lib
}
