# Template file for 'poppler-cpp-devel'.
#
depends="libstdc++-devel zlib-devel poppler-devel>=0.20.0"
short_desc="${sourcepkg} C++ bindings (development files)"
long_desc="${long_desc}

 This package contains development files for C++ bindings."


do_install() {
	vmove usr/include/poppler/cpp usr/include/poppler
	vmove usr/lib/libpoppler-cpp.a usr/lib
	vmove usr/lib/pkgconfig/poppler-cpp.pc usr/lib/pkgconfig
}
