# Template file for 'poppler-utils'.
#
short_desc="${short_desc} (utilities)"
long_desc="${long_desc}

 This package contains the ${sourcepkg} binary utilities."

revision=2

do_install() {
	vmove usr/bin usr
	vmove usr/share/man usr/share
}
