# Template file for 'poppler-cpp'.
#
short_desc="${short_desc} (C++ bindings)"
long_desc="${long_desc}

 This package contains ${sourcepkg} C++ bindings."

do_install() {
	vmove "usr/lib/libpoppler-cpp.so*" usr/lib
}
