# Send mouseemu a HUP signal if a new event device is connected

ACTION=="add", KERNEL=="event[0-9]*", RUN+="/bin/sh -c '/bin/kill -HUP $$(pidof mouseemu)'"
