# Template file for 'gnome-shell-extensions-windows-navigator'.
#
short_desc="Windows navigator extension for GNOME Shell"

Add_dependency run gnome-shell-extensions

noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/windowsNavigator
	make DESTDIR=${DESTDIR} install
}
