# Template file for 'gnome-shell-extensions-drive-menu'.
#
depends="gnome-shell-extensions"
short_desc="Drive menu extension for GNOME Shell"


noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/drive-menu
	make DESTDIR=${DESTDIR} install
}
