# Template file for 'gnome-shell-extensions-xrandr-indicator'.
#
depends="gnome-shell-extensions"
short_desc="XRandR indicator extension for GNOME Shell"


noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/xrandr-indicator
	make DESTDIR=${DESTDIR} install
}
