# Template file for 'gnome-shell-extensions-drive-menu'.
#
short_desc="Drive menu extension for GNOME Shell"

Add_dependency run gnome-shell-extensions

noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/drive-menu
	make DESTDIR=${DESTDIR} install
}
