# Template file for 'gnome-shell-extensions-apps-menu'.
#
depends="gnome-shell-extensions"
short_desc="Apps menu extension for GNOME Shell"


noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/apps-menu
	make DESTDIR=${DESTDIR} install
}
