# Template file for 'gnome-shell-extensions-user-theme'.
#
depends="gnome-shell-extensions"
short_desc="User theme extension for GNOME Shell"


noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/user-theme
	make DESTDIR=${DESTDIR} install
}
