# Template file for 'gnome-shell-extensions-automove-windows'.
#
depends="gnome-shell-extensions"
short_desc="Automove windows extension for GNOME Shell"


noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/auto-move-windows
	make DESTDIR=${DESTDIR} install
}
