# Template file for 'gnome-shell-extensions-windows-navigator'.
#
depends="gnome-shell-extensions"
short_desc="Windows navigator extension for GNOME Shell"


noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/windowsNavigator
	make DESTDIR=${DESTDIR} install
}
