# Template file for 'gnome-shell-extensions-alternate-tab'.
#
depends="gnome-shell-extensions"
short_desc="Alternate tab extension for GNOME Shell"


noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/alternate-tab
	make DESTDIR=${DESTDIR} install
}
