# Template file for 'gnome-shell-extensions-dock'.
#
depends="gnome-shell-extensions"
short_desc="Dock extension for GNOME Shell"


noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/dock
	make DESTDIR=${DESTDIR} install
}
