# Template file for 'gnome-shell-extensions-system-monitor'.
#
depends="gnome-shell-extensions"
short_desc="System monitor extension for GNOME Shell"


noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/systemMonitor
	make DESTDIR=${DESTDIR} install
}
