# Template file for 'gnome-shell-extensions-native-window-placement'.
#
depends="gnome-shell-extensions"
short_desc="Native window placement extension for GNOME Shell"


noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/native-window-placement
	make DESTDIR=${DESTDIR} install
}
