# Template file for 'gnome-shell-extensions-workspace-indicator'.
#
depends="gnome-shell-extensions"
short_desc="Workspace indicator extension for GNOME Shell"


noarch=yes

do_install()
{
	cd ${wrksrc}/extensions/workspace-indicator
	make DESTDIR=${DESTDIR} install
}
