# Template file for 'gupnp-devel'.
#
depends="gssdp-devel>=0.14.2_2 glib-devel libxml2-devel libuuid-devel gupnp>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/bin usr
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/pkgconfig usr/lib
}
