# Template file for 'a52dec'.
#
short_desc="ATSC A/52 stream decoder tools"
long_desc="${long_desc}

 This package contains files tools for decoding A/52 (or AC-3) streams."



do_install()
{
	mkdir -p ${DESTDIR}/usr/bin
	mv ${SRCPKGDESTDIR}/usr/bin ${DESTDIR}/usr || return 1
	mv ${SRCPKGDESTDIR}/usr/share ${DESTDIR}/usr || return 1
}
