# Template file for 'cairomm-devel'.
#
noarch=yes
depends="pkg-config libsigc++-devel cairo-devel>=1.12.2_2 cairomm>=$version"
short_desc="${sourcepkg} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/{include,share} ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/{cairomm*,pkgconfig} ${DESTDIR}/usr/lib
}
