[Unit]
Description=Catalyst event Daemon
Requires=acpid.socket

[Service]
ExecStart=/usr/sbin/atieventsd --nodaemon

[Install]
WantedBy=multi-user.target
