# Template file for 'libdev-devel'.
#
depends="libev>=${version}"
short_desc="${short_desc} -- Development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
        vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	# Conflicts with libevent, not necessary.
	rm -f ${DESTDIR}/usr/include/event.h

}
