[Desktop Entry]
Version=1.0
Name=Postman
Comment=API Platform for building and using APIs
Keywords=Internet;API;Network;Development
Exec=/usr/lib/postman/Postman
Terminal=false
Type=Application
Icon=/usr/lib/postman/icons/icon_128x128.png
Categories=Development;Network

