[Desktop Entry]
Encoding=UTF-8
Name=Postman
Comment=Postman
Exec=postman %U
Icon=/usr/share/pixmaps/postman.png
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
