[Desktop Entry]
Type=Application
Name=AstroMenace
Comment=Hardcore 3D space shooter
TryExec=astromenace
Exec=astromenace --dir=/usr/share/astromenace
Icon=astromenace
Categories=Game;ArcadeGame;
Terminal=false
