# Template file for 'libXdamage-devel'.
#
noarch=yes
depends="xproto damageproto libX11-devel libXfixes-devel
 ${sourcepkg}>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
