# Template file for 'libgeoip'.
#
revision=1
short_desc="${short_desc} (Runtime library)"
long_desc="${long_desc}

 This package contains the JACK runtime lib(s)."

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/share/GeoIP usr/share
}


