# Template file for 'mpfr-libs'.
#
short_desc="${short_desc} (libraries)"
long_desc="${long_desc}

 This package contains only the ${sourcepkg} shared libraries."
run_depends="glibc-2.8 gmp-libs-4.2.4"

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}

	# Move the shared lib.
	mkdir -p ${destdir}/usr/lib
	mv ${XBPS_DESTDIR}/${sourcepkg}-${version}/usr/lib/libmpfr.so* \
		${destdir}/usr/lib
}
