# Template file for 'libnm'.
#
replaces="NetworkManager<0.9.1.90_1"
short_desc="${sourcepkg} - shared libraries" 
long_desc="${long_desc}

 This package contains a convenience library to ease the access to
 NetworkManager."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove "usr/lib/girepository-*" usr/lib
}
