# Template file for 'NetworkManager-devel'.
#
noarch=yes
depends="dbus-glib-devel libnm-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
}
