[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Widelands
GenericName=Strategy Game
GenericName[af]=Strategie-spel
GenericName[ca]=Joc d'estrategia
GenericName[de]=Strategiespiel
GenericName[dk]=Strategi-spil
GenericName[eu]=Estrategiako jokoa
GenericName[fr]=Jeu de stratégie
GenericName[he]=משחק אסטרטגיה
GenericName[hu]=Stratégia
GenericName[ru]=Стратегическая игра
GenericName[sk]=Strategická hra
Comment=A a real-time build-up strategy game
Comment[de]=Echtzeitbasiertes Aufbau-Strategiespiel
Icon=/usr/share/widelands/pics/wl-ico-128.png
TryExec=/usr/bin/widelands
Exec=/usr/bin/widelands --datadir=/usr/share/widelands
Categories=Application;Game;StrategyGame;
