# Template file for 'gimp-python'.
#
depends="pygtk"
pycompile_dirs="usr/lib/gimp/2.0/python"
short_desc="${short_desc} -- python bindings"

do_install() {
	mkdir -p ${DESTDIR}/usr/lib/gimp/2.0/plug-ins

	mv ${SRCPKGDESTDIR}/usr/lib/gimp/2.0/python \
		${DESTDIR}/usr/lib/gimp/2.0
	mv ${SRCPKGDESTDIR}/usr/lib/gimp/2.0/plug-ins/*.py \
		${DESTDIR}//usr/lib/gimp/2.0/plug-ins
}
