# Template file for 'gimp-python'.
#
depends="pygtk"
short_desc="${sourcepkg} Python bindings"
long_desc="${long_desc}

 This package contains the Python bindings."

pycompile_dirs="usr/lib/gimp/2.0/python"


do_install() {
	mkdir -p ${DESTDIR}/usr/lib/gimp/2.0/plug-ins

	mv ${SRCPKGDESTDIR}/usr/lib/gimp/2.0/python \
		${DESTDIR}/usr/lib/gimp/2.0
	mv ${SRCPKGDESTDIR}/usr/lib/gimp/2.0/plug-ins/*.py \
		${DESTDIR}//usr/lib/gimp/2.0/plug-ins
}
