#!/sbin/runscript

pidfile=/var/run/dnsmasq.pid
command=/usr/sbin/dnsmasq
command_args="${DNSMASQ_OPTS:---user=dnsmasq --pid-file=${pidfile}}"

depend()
{
	provide dns
	need localmount net
	after bootmisc
}
