[Desktop Entry]
Name=GNU-IceCat
GenericName=GNU Web Browser - Safe Mode
GenericName[af]=GNU Web Blaaier
GenericName[ar]=GNU متصفح ويب
GenericName[az]=GNU Veb Səyyahı
GenericName[bg]=GNU Браузър
GenericName[bn]=GNU ওয়েব ব্রাউজার
GenericName[br]=GNU Furcher ar Gwiad
GenericName[bs]=GNU WWW Preglednik
GenericName[ca]=GNU Fullejador web
GenericName[cs]=GNU WWW prohlížeč
GenericName[cy]=GNU Porydd Gwe
GenericName[da]=GNU Browser
GenericName[de]=GNU Web-Browser
GenericName[el]=GNU Περιηγητής Ιστού
GenericName[eo]=GNU TTT-legilo
GenericName[es]=GNU Navegador web
GenericName[et]=GNU Veebilehitseja
GenericName[eu]=GNU Web arakatzailea
GenericName[fa]=GNU مرورگر وب
GenericName[fi]=GNU WWW-selain
GenericName[fo]=GNU Alnótsfar
GenericName[fr]=GNU Navigateur web
GenericName[gl]=GNU Navegador Web
GenericName[he]=GNU דפדפן אינטרנט
GenericName[hi]=GNU वेब ब्राउज़र
GenericName[hr]=GNU Web preglednik
GenericName[hu]=GNU Webböngésző
GenericName[is]=GNU Vafri
GenericName[it]=GNU Browser Web
GenericName[ja]=GNU ウェブブラウザ
GenericName[ko]=GNU 웹 브라우저
GenericName[lo]=GNU ເວັບບຣາວເຊີ
GenericName[lt]=GNU Žiniatinklio naršyklė
GenericName[lv]=GNU Web Pārlūks
GenericName[mk]=GNU Прелистувач на Интернет 
GenericName[mn]=GNU Веб-Хөтөч
GenericName[nb]=GNU Nettleser
GenericName[nds]=GNU Nettkieker
GenericName[nl]=GNU Webbrowser
GenericName[nn]=GNU Nettlesar
GenericName[nso]=GNU Seinyakisi sa Web
GenericName[pa]=GNU ਵੈਬ ਝਲਕਾਰਾ
GenericName[pl]=GNU Przeglądarka WWW
GenericName[pt]=GNU Navegador Web
GenericName[pt_BR]=GNU Navegador Web
GenericName[ro]=GNU Navigator de web
GenericName[ru]=GNU Веб-браузер
GenericName[se]=GNU Fierpmádatlogan
GenericName[sk]=GNU Webový prehliadač
GenericName[sl]=GNU Spletni brskalnik
GenericName[sr]=GNU Веб претраживач
GenericName[sr@Latn]=GNU Veb pretraživač
GenericName[ss]=GNU Ibrawuza yeWeb 
GenericName[sv]=GNU Webbläsare
GenericName[ta]=GNU வலை உலாவி
GenericName[tg]=GNU Тафсиргари вэб
GenericName[th]=GNU เว็บบราวเซอร์
GenericName[tr]=GNU Web Tarayıcı
GenericName[uk]=GNU Навігатор Тенет
GenericName[uz]=GNU Веб-браузер
GenericName[ven]=GNU Buronza ya Webu
GenericName[vi]=GNU Trình duyệt Web
GenericName[wa]=GNU Betchteu waibe
GenericName[xh]=GNU Umkhangeli zincwadi we Web
GenericName[zh_CN]=GNU 网页浏览器
GenericName[zh_TW]=GNU 網頁瀏覽器
GenericName[zu]=GNU Umcingi we-Web
Comment=Browse the World Wide Web
Comment[ar]=تصفح الشبكة العنكبوتية العالمية
Comment[ast]=Restola pela Rede
Comment[bn]=ইন্টারনেট ব্রাউজ করুন
Comment[ca]=Navegueu per la web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[da]=Surf på internettet
Comment[de]=Im Internet surfen
Comment[el]=Μπορείτε να περιηγηθείτε στο διαδίκτυο (Web)
Comment[es]=Navegue por la web
Comment[et]=Lehitse veebi
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Naviguer sur le Web
Comment[gl]=Navegar pola rede
Comment[he]=גלישה ברחבי האינטרנט
Comment[hr]=Pretražite web
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[ku]=Li torê bigere
Comment[lt]=Naršykite internete
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ro]=Navigați pe Internet
Comment[ru]=Доступ в Интернет
Comment[sk]=Prehliadanie internetu
Comment[sl]=Brskajte po spletu
Comment[sv]=Surfa på webben
Comment[ug]=دۇنيادىكى توربەتلەرنى كۆرگىلى بولىدۇ
Comment[uk]=Перегляд сторінок Інтернету
Comment[vi]=Để duyệt các trang web
Comment[zh_CN]=浏览互联网
Comment[zh_TW]=瀏覽網際網路
Exec=icecat -safe-mode %u
Icon=icecat
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
