# Template file for 'libgladeui'.
#
revision=2
short_desc="GTK+ User Interface Build core library"
long_desc="${long_desc}

 This library provides all the widgets and core code, like parsing and
 saving files."

Add_dependency run python

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/lib*.so* ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/glade ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository* ${DESTDIR}/usr/lib
}
