# Template file for 'libgladeui'.
#
short_desc="GTK+ User Interface Build core library"
long_desc="${long_desc}

 This library provides all the widgets and core code, like parsing and
 saving files."

Add_dependency run pygobject

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/lib/glade usr/lib
	vmove usr/lib/girepository-1.0 usr/lib
}
