# Template file for 'gir-libwnck'.
#
short_desc="Introspection data for GNOME's libwnck"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the GNOME's
 libwnck library."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
