# Template file for 'libwnck-devel'.
#
depends="gtk+3-devel startup-notification-devel libXres-devel libwnck>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/gtk-doc usr/share
}
