# Template file for 'telepathy-mission-control-devel'.
#
depends="telepathy-glib-devel>=0.20.1 ${sourcepkg}>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	mkdir -p ${DESTDIR}/usr/{lib,share}
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/share/gtk-doc ${DESTDIR}/usr/share
}
