[Desktop Entry]
Name=OmegaT
GenericName=OmegaT
Exec=omegat
Type=Application
Comment=Multiplatform CAT application
Terminal=false
Categories=Development;Translation;Java;
Icon=omegat
