# Template file for 'libxklavier-devel'.
#
depends="glib-devel libxml2-devel>=2.7.8 libxklavier>=${version}"
short_desc="${sourcepkg} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/pkgconfig usr/lib
}
