[Desktop Entry]
Encoding=UTF-8
Name=Synergy
Comment=The Synergy GUI is based on QSynergy by Volker Lanz.
Exec=synergy
Icon=synergy
Terminal=false
Type=Application
Categories=Utility;DesktopUtility;Qt
