# Template file for 'libxfce4ui-devel'.
#
depends="gtk+-devel libxfce4util-devel xfconf-devel libxfce4ui>=4.10.0"
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
}
