# Template file for 'libgexiv2-devel'.
#
depends="glib-devel exiv2-devel libgexiv2-${version}_${revision}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/vala usr/share
}
