[Desktop Entry]
Type=Application
Name=STM32CubeMX
GenericName=Configuration tool for STM32 microcontrollers
Comment=Graphical software configuration tool for STM32 microcontrollers that allows generating C initialization code
Icon=stm32cubemx.png
Exec=STM32CubeMX
Terminal=false
Categories=Development;IDE;
StartupNotify=false
