[Desktop Entry]
Name=Pulse Audio Applet
Icon=audio-volume-high
Exec=pa-applet
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=true
