# Template file for 'gupnp-dlna-devel'.
#
depends="gst-plugins-base-devel gupnp-dlna>=0.6.6"
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/share/gtk-doc usr/share
	vmove usr/lib/pkgconfig usr/lib
}
