# Template file for 'gupnp-dlna-devel'.
#
depends="gst-plugins-base1-devel ${sourcepkg}>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/vala usr/share
	vmove usr/lib/pkgconfig usr/lib
}
