# Template file for 'lcms-devel'.
#
noarch=yes
depends="tiff-devel lcms2>=${version}"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
