# Template file for 'lcms2-tools'.
#
short_desc="${sourcepkg} - bundled tools"
long_desc="${long_desc}

 This package contains the command line tools."

do_install() {
	vmove usr/bin usr
	vmove usr/share/man/man1 usr/share/man
}
