# Template file for 'pango-devel'.
#
noarch=yes
depends="libglib-devel cairo-devel fontconfig-devel freetype-devel libXft-devel
 harfbuzz-devel pango-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/share/gir-*" usr/share
	vmove usr/share/gtk-doc usr/share
}
