# Fix permissions for the vchiq, vcio, vcsm devices.
SUBSYSTEM=="vchiq", GROUP="video", MODE="0660"
SUBSYSTEM=="bcm2708_vcio", GROUP="video", MODE="0660"
SUBSYSTEM=="vc-sm", GROUP="video", MODE="0660"
