# Template file for 'libsndfile-progs'.
#
short_desc="${sourcepkg} - bundled cmdline apps"
long_desc="${long_desc}

 This package contains the command line applications that use
 libsndfile."

do_install() {
	vmove usr/bin usr
	vmove usr/share/man usr/share
}
