[Unit]
Description=VirtualBox Guest Service
ConditionVirtualization=oracle

[Service]
ExecStart=/usr/bin/VBoxService -f

[Install]
WantedBy=multi-user.target
