[Unit]
Description=Virtualbox host (de)initialization
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/modprobe -qa vboxguest vboxsf vboxvideo
ExecStop=/sbin/modprobe -rqa vboxvideo vboxsf vboxguest

[Install]
WantedBy=graphical.target
