[Unit]
Description=Virtualbox host (de)initialization
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/modprobe -qa vboxdrv vboxnetadp vboxnetflt
ExecStop=/sbin/modprobe -rqa vboxnetflt vboxnetadp vboxdrv

[Install]
WantedBy=graphical.target
