# Template file for 'oprofile-qt4-gui'.
#
depends="oprofile>=0.9.7"
short_desc="Qt GUI for oprofile"
long_desc="${long_desc}

 This package contains oprof_start, a Qt4 GUI for oprofile."


do_install()
{
	vmove usr/bin/oprof_start usr/bin
}
