[Unit]
Description=Micro DHCP client on %I
Wants=network.target
Before=network.target

[Service]
ExecStart=/sbin/udhcpc -t 10 -p /var/run/udhcpc-%I.pid -R -f -n -i %I

[Install]
Alias=multi-user.target.wants/udhcpc@eth0.service
