# Template file for 'eglibc-devel'.
#
provides="glibc-devel-${version}"
replaces="glibc-devel>=0"
depends="kernel-libc-headers>=3.3<3.4 eglibc>=$version"
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development: headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove "usr/lib/*crt1.o" usr/lib
	vmove usr/share/info usr/share
}
