# Template file for 'binutils-dev'.
#
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."
run_depends="binutils-base-2.19"

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/lib
	mv ${origdir}/usr/include ${destdir}/usr
	for f in libopcodes libbfd libiberty; do
		mv ${origdir}/usr/lib/${f}.*a ${destdir}/usr/lib
		if [ -f ${origdir}/usr/lib/${f}.so ]; then
			mv ${origdir}/usr/lib/${f}.so ${destdir}/usr/lib
		fi
	done
}
