# Template file for 'nautilus-sendto-devel'.
#
revision=1
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run glib-devel
Add_dependency run gtk+3-devel

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
}
