# Template file for 'libraptor'.
#
short_desc="${short_desc} - Runtime libraries"
long_desc="${long_desc}

 This package contains the raptor runtime lib(s)."

Add_dependency run glibc
Add_dependency run libcurl
Add_dependency run libxslt
Add_dependency run libxml2
Add_dependency run zlib

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
