# Template file for 'aubio-devel'.
#
depends="libxml2-devel zlib-devel libraptor"
short_desc="${short_desc} - Development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
        vmove usr/include usr
        vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/man/man3 usr/share/man
}
