# Template file for 'libgiggle'.
#
revision=1
short_desc="${short_desc} - Runtime libraries"
long_desc="${long_desc}

 This package contains the giggle runtime lib(s)."

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
