# Template file for 'libgiggle'.
#
short_desc="${short_desc} - Runtime libraries"
long_desc="${long_desc}

 This package contains the giggle runtime lib(s)."

Add_dependency run glibc
Add_dependency run atk
Add_dependency run glib
Add_dependency run pango
Add_dependency run gdk-pixbuf
Add_dependency run cairo
Add_dependency run freetype
Add_dependency run fontconfig
Add_dependency run gtk+3
Add_dependency run gtksourceview

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
