# Template file for 'gedit-devel'.
#
depends="gtksourceview-devel>=3.8 libpeas-devel>=1.8"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/gedit/gir-1.0 usr/share/gedit
}
