# Template file for 'gir-gedit'.
#
short_desc="Introspection data for Gedit"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the
 Gnome Editor."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/gedit/girepository-1.0 ${DESTDIR}/usr/lib
}
