# Template file for 'libosinfo-devel'.
#
depends="glib-devel libsoup-gnome-devel libxml2-devel libxslt-devel gobject-introspection vala-devel libosinfo"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}
noarch=yes

 This package contains files for development, headers, static libs, etc."

do_install()
{
	vmove "usr/lib/*.a" usr/lib
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/vala usr/share
}
