[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Warsow
GenericName=First person shooter
Comment=Online Mulitiplayer Competitive FPS
Exec=warsow
Icon=warsow
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
