#!/sbin/runscript
#
# OpenRC service for udev(7).

command=/sbin/udevd
command_args="--daemon"
name="UDev Daemon"

depend()
{
	provide dev
	need sysfs
	before checkfs fsck
	keyword novserver
}

start()
{
	echo > /proc/sys/kernel/hotplug

	ebegin "Starting UDev and waiting for uevents"
	${command} ${command_args} && \
		udevadm trigger && udevadm settle
	eend $?
}
