# Template file for 'gir-gdk-pixbuf'.
#
short_desc="Introspection data for GdkPixbuf"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the GDK
 pixbuf library."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
