# Template file for 'libtaginfo-devel'.
#
noarch=yes
depends="taglib-devel ${sourcepkg}>=${version}"
short_desc="${hort_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/lib/${sourcepkg} usr/lib
	vmove usr/share usr
}
