# Template file for 'GConf-devel'.
#
noarch=yes
depends="glib-devel dbus-devel GConf>=${version}"
short_desc="${sourcepkg} development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/sgml usr/share
	vmove usr/share/aclocal usr/share
	vmove usr/share/gtk-doc usr/share

        # Install gconf-merge-schema
	vinstall ${FILESDIR}/gconf-merge-schema.sh \
		755 usr/bin gconf-merge-schema
}
