[Desktop Entry]
Version=@version@
Name=Kickshaw
Comment=Openbox menu editor based on Gtk3
Exec=/usr/bin/kickshaw
Icon=openbox
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;
StartupNotify=true
