# Template file for 'colord-devel'.
#
noarch=yes
depends="dbus-devel glib-devel lcms2-devel libcolord-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/vala usr/share
}
