# Template file for 'gtk-vnc-devel'.
#
noarch=yes
depends="glib-devel gtk+3-devel gtk-vnc>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/vala usr/share
}
