# Template file for 'gtk2-vnc-devel'.
#
noarch=yes
depends="gtk+-devel gtk-vnc-devel>=${version}"
short_desc="${short_desc} - GTK+2 development files"

do_install() {
	vmove usr/include/gtk-vnc-1.0 usr/include
	#vmove usr/share/vala/vapi/gtk-vnc-1.0.vapi usr/share/vala/vapi
	vmove usr/share/gir-1.0/GtkVnc-1.0.gir usr/share/gir-1.0
	vmove usr/lib/pkgconfig/gtk-vnc-1.0.pc usr/lib/pkgconfig
}
