# Template file for 'gtk2-vnc'.
#
short_desc="${short_desc} - GTK+2 port"

do_install() {
	vmove "usr/lib/libgtk-vnc-1.0.so*" usr/lib
	vmove /usr/lib/girepository-1.0/GtkVnc-1.0.typelib usr/lib/girepository-1.0
}
