# Template file for 'libass-devel'.
#
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run fontconfig-devel
Add_dependency run enca-devel
Add_dependency run fribidi-devel
Add_dependency run libass ">=${version}"

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
