# Template file for 'libcroco-devel'.
#
depends="glib-devel libxml2-devel ${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/share usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/bin/croco-*config" usr/bin
}
