[Unit]
Description=Micro DHCP client on %I
Wants=network.target
Before=network.target

[Service]
ExecStart=/sbin/udhcpc -p /var/run/udhcpc-%I.pid -F -n %I

[Install]
Alias=multi-user.target.wants/dhcpcd@eth0.service
