# Template file for 'libXinerama-devel'.
#
short_desc="${short_desc} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run xineramaproto
Add_dependency run libXext-devel
Add_dependency run libXinerama

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share usr
}
