[Desktop Entry]
Name=Rocket.Chat
Comment=Rocket.Chat Native Cross-Platform Desktop Application via Electron.
Exec=Rocket.Chat-Desktop
Terminal=false
Type=Application
Icon=Rocket.Chat-Desktop
Categories=Chat;Network;InstantMessaging
StartupWMClass=Rocket.Chat
