# Template file for 'valgrind-devel'.
#
depends="valgrind>=${version}"
short_desc="${short_desc} (development files)"

do_install() {
	install -d ${DESTDIR}/usr/lib/valgrind
	install -d ${DESTDIR}/usr/share

	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/valgrind/*.a ${DESTDIR}/usr/lib/valgrind
	mv ${SRCPKGDESTDIR}/usr/share/doc ${DESTDIR}/usr/share
}
