# Template file for 'valgrind-devel'.
#
depends="valgrind>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/valgrind/*.a" usr/lib/valgrind
	vmove usr/share/doc usr/share
}
