# Template file for 'glibmm-devel'.
#
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run pkg-config
Add_dependency run glib-devel
Add_dependency run libsigc++-devel
Add_dependency run glibmm ">=${version}"

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/giomm-2.4 usr/lib
	vmove usr/lib/glibmm-2.4 usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
