# Template file for 'readline-devel'.
#
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

revision=1

Add_dependency run glibc-devel
Add_dependency run readline

do_install()
{
	mkdir -p ${DESTDIR}
	mv ${SRCPKGDESTDIR}/usr ${DESTDIR}
	cd ${DESTDIR}/usr/lib && \
		ln -s ../../lib/libreadline.so.6 libreadline.so
}
