[Desktop Entry]
Version=1.0
Type=Application
Name=Serviio
Comment[en]=Administration console of DLNA server
Exec=serviio-console
Categories=AudioVideo
Icon=serviio
Path=
Terminal=false
StartupNotify=false
