[Unit]
Description=ACPI Event Daemon
Requires=acpid.socket

[Service]
ExecStart=/usr/sbin/acpid -f

[Install]
WantedBy=multi-user.target
Also=acpid.socket
