# Template file for 'libnet-snmp'.
#
short_desc="${short_desc} - shared libraries"
long_desc="${long_desc}

 This package contains the net-snmp shared libraries."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
