# Template file for 'opusfile-devel'.
#
noarch=yes
depends="libogg-devel openssl-devel opus-devel ${sourcepkg}>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
