# Template file for 'file-devel'.
#
depends="zlib-devel libmagic>=${version}"
short_desc="File type identification library -- development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/share/man/man3 usr/share/man
}
