# Template file for 'libmagic'.
#
short_desc="File type identification library"
replaces="file<5.12"

do_install() {
	vmove usr/lib usr
	vmove usr/share/misc usr/share
	vmove usr/share/man/man4 usr/share/man
}
