# Template file for 'clutter-devel'.
#
depends="cogl-devel>=1.14 cairo-devel atk-devel pango-devel json-glib-devel
 libX11-devel libXext-devel libXfixes-devel libXdamage-devel
 libXcomposite-devel libXi-devel clutter-${version}_${revision}"

short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove "usr/share/gir-*" usr/share
}
