[Desktop Entry]
Name=Element
Comment=A feature-rich client for Matrix.org
Exec=element-desktop
Terminal=false
Type=Application
Icon=element
StartupWMClass=element
Categories=Network;InstantMessaging;Chat;IRCClient
