[Unit]
Description=Anonymizing Overlay Network

[Service]
Type=forking
GuessMainPID=yes
ExecStart=/usr/bin/tor -f /etc/tor/torrc --quiet
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
