[Unit]
Description=LXDE Display Manager
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/sbin/lxdm-binary
Restart=always

[Install]
WantedBy=graphical.target
