[Desktop Entry]
Name=Wmderland
Comment=Tiling window manager using space partitioning tree
Exec=wmderland
TryExec=wmderland
Type=Application
X-LightDM-DesktopName=Wmderland
DesktopNames=Wmderland
Keywords=tiling;wm;windowmanager;window;manager;
