[Desktop Entry]
Name=NekoRay
Comment=NekoRay
Exec=nekoray
Icon=nekoray
Terminal=false
StartupWMClass=NekoRay,nekoray,Nekoray,nekoRay
Type=Application
Categories=Network
