# Template file for 'mkpasswd'.
#
depends="mkpasswd"
short_desc="An interface to crypt(3) to generate random passwords"
long_desc="
 mkpasswd generates passwords and can (optionally) apply them automatically to
 users.  mkpasswd is based on the code from Chapter 23 of the OReilly book:
 Exploring Expect"

do_install()
{
        vmove usr/bin/mkpasswd usr/bin
	vmove usr/share/man/man1/mkpasswd.1 usr/share/man/man1
	vinstall COPYING 644 usr/share/licenses/${pkgname}
}
