[Desktop Entry]
Name=Linux Command Library
Comment=Linux reference app with basics, tips and formatted man pages
Exec=java -jar /lib/linuxcommandlibrary/linuxcommandlibrary.jar
Icon=/usr/share/icons/hicolor/apps/lcl.png
Type=Application
MimeType=application/java-archive;text/plain;
StartupWMClass=linuxcommandlibrary
Categories=Accesories;Development;Education;
StartupNotify=true
Terminal=true
X-MultipleArgs=false
Keywords=;
Actions=;
