# Template file for 'emotion-devel'.
#
noarch=yes
depends="eet-devel evas-devel ecore-devel eeze-devel ${sourcepkg}>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
