# Template file for 'gst-plugins-base1-devel'.
#
noarch=yes
depends="gstreamer1-devel gst-plugins-base1>=${version}_${revision}"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove "usr/share/gir*" usr/share
}
