# Template file for 'Ice-devel'.
#
short_desc="${short_desc} (Development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


Add_dependency run Ice

do_install()
{
        vmove usr/include usr
}
