# Template file for 'Ice-devel'.
#
noarch=yes
depends="libIce>=$version Ice>=$version"
short_desc="${short_desc} (Development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
        vmove usr/include usr
}
