# Template file for 'libIce'.
#
short_desc="${short_desc} Runtime libraries"
long_desc="${long_desc}

 This package contains the Ice runtime libraries."

revision=1

Add_dependency run glibc
Add_dependency run libstdc++
Add_dependency run libgcc
Add_dependency run libssl
Add_dependency run bzip2
Add_dependency run libmcpp
Add_dependency run libdb
Add_dependency run expat

do_install()
{
        vmove usr/lib usr
}
