# Template file for 'avahi-glib-libs'.
#
short_desc="Avahi glib shared libraries"
long_desc="${long_desc}

 This package contains the glib shared libraries provided by Avahi."



do_install()
{
	vmove "usr/lib/libavahi-glib.so*" usr/lib
	vmove "usr/lib/libavahi-gobject.so*" usr/lib
	vmove "usr/lib/girepository*" usr/lib
}
