# Template file for 'avahi-ui-utils'.
#
depends="desktop-file-utils avahi"
short_desc="Avahi GTK+ utilities"
long_desc="${long_desc}

 This package contains some small GTK+ utilities to discover services."


do_install()
{
	vmove "usr/bin/b*" usr/bin
	vmove "usr/share/man/man1/b*" usr/share/man/man1
	vmove usr/share/applications usr/share
	vmove usr/bin/avahi-discover-standalone usr/bin
}
