# Template file for 'avahi-utils'.
#
depends="dbus-libs avahi"
short_desc="Avahi browsing, publishing and discovery utilities"
long_desc="${long_desc}

 This package contains several utilities that allow you to interact with the
 Avahi daemon, including publish, browsing and discovering services."


do_install()
{
	for f in browse publish resolve set-host-name; do
		vmove "usr/bin/avahi-${f}*" usr/bin
		vmove "usr/share/man/man1/avahi-${f}*" \
			usr/share/man/man1
	done
}
