# Template file for 'avahi-ui-libs-devel'.
#
depends="gtk+-devel gtk+3-devel avahi-libs-devel-${version}_${revision}
 avahi-ui-libs-${version}_${revision} avahi-ui-libs-gtk3-${version}_${revision}"

short_desc="Avahi UI libraries -- development files"
noarch=yes

do_install() {
	vmove "usr/include/avahi-ui*" usr/include
	vmove usr/lib/pkgconfig usr/lib
}
