# Template file for 'avahi-glib-libs-devel'.
#
depends="avahi-libs-devel-${version}_${revision} avahi-glib-libs-${version}_${revision}"
short_desc="Avahi glib libraries -- development files"
noarch=yes

do_install() {
	vmove "usr/include/avahi-g*" usr/include
	vmove "usr/lib/pkgconfig/avahi-g*" usr/lib/pkgconfig
	vmove "usr/share/gir-*" usr/share
}
