# Template file for 'avahi-python'.
#
short_desc="Python utility package for Avahi"
long_desc="${long_desc}

 This package contains utility modules to talk to Avahi with Python easier."

revision=1

Add_dependency run python
Add_dependency run dbus-python

noarch=yes

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/python* ${DESTDIR}/usr/lib
}
