# Template file for 'avahi-ui-libs'.
#
short_desc="Avahi UI shared libraries"
long_desc="${long_desc}

 This package contains the UI shared libraries provided by Avahi."


do_install()
{
	vmove "usr/lib/libavahi-ui.so*" usr/lib
}
