# Template file for 'avahi-glib-libs-devel'.
#
depends="avahi-libs-devel avahi-glib-libs"
short_desc="Avahi glib libraries (development files)"
long_desc="${long_desc}

 This package contains development files for the glib libraries
 provided by Avahi."


do_install()
{
	vmove "usr/include/avahi-g*" usr/include
	vmove "usr/lib/libavahi-g*.a" usr/lib
	vmove "usr/lib/pkgconfig/avahi-g*" usr/lib/pkgconfig
}
