# Template file for 'avahi-compat-libs-devel'.
#
depends="avahi-libs-devel avahi-compat-libs"
short_desc="Avahi compat libraries (development files)"
long_desc="${long_desc}

 This package contains development files for the HOWL compatibility
 libraries provided by Avahi."



do_install()
{
	vmove "usr/include/avahi-compat*" usr/include
	vmove usr/lib/libhowl.a usr/lib
	vmove usr/lib/libdns_sd.a usr/lib
	vmove "usr/lib/pkgconfig/avahi-compat*" usr/lib/pkgconfig
}
