# Template file for 'avahi-python'.
#
depends="python dbus-python"
short_desc="Python utility package for Avahi"
long_desc="${long_desc}

 This package contains utility modules to talk to Avahi with Python easier."

noarch=yes
pycompile_module="avahi"


do_install()
{
	vmove "usr/lib/python*" usr/lib
}
