# Template file for 'avahi-python-utils'.
#
short_desc="Avahi python utils"
long_desc="${long_desc}

 This package contains the python utilities provided by Avahi."

Add_dependency run avahi-python

noarch=yes

do_install()
{
	mkdir -p ${DESTDIR}/usr/bin ${DESTDIR}/usr/share/man/man1
	mv ${SRCPKGDESTDIR}/usr/bin/avahi-bookmarks ${DESTDIR}/usr/bin
	mv ${SRCPKGDESTDIR}/usr/share/man/man1/avahi-bookmarks* \
		${DESTDIR}/usr/share/man/man1
}
