# Template file for 'avahi-ui-libs-gtk3'.
#
short_desc="Avahi UI GTK+3 shared libraries"
long_desc="${long_desc}

 This package contains the GTK+3 UI shared libraries provided by Avahi."


do_install()
{
	vmove "usr/lib/libavahi-ui-gtk3.so*" usr/lib
}
