# Template file for 'avahi-autoipd'.
#
depends="net-tools"
short_desc="Avahi IPv4LL network address configuration daemon"

do_install() {
	vmove usr/sbin/avahi-autoipd usr/sbin
	vmove "usr/share/man/man8/avahi-autoipd*" usr/share/man/man8
	vmove etc/avahi/avahi-autoipd.action etc/avahi
}
