# Template file for 'avahi-compat-libs'.
#
short_desc="Avahi compatiblity shared libraries"
long_desc="${long_desc}

 This package contains howl/mDNSResponder compatibility shared
 libraries provided by Avahi."

do_install() {
	vmove "usr/lib/libhowl.so*" usr/lib
	vmove "usr/lib/libdns_sd.so*" usr/lib
}
