# Template file for 'avahi-ui-libs'.
#
short_desc="Avahi UI shared libraries"
long_desc="${long_desc}

 This package contains the UI shared libraries provided by Avahi."

Add_dependency run glibc
Add_dependency run avahi-libs
Add_dependency run gtk+
Add_dependency run gdbm

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libavahi-ui.so.* ${DESTDIR}/usr/lib
}
