# Template file for 'avahi-compat-libs'.
#
short_desc="Avahi compatiblity shared libraries"
long_desc="${long_desc}

 This package contains howl/mDNSResponder compatibility shared
 libraries provided by Avahi."

Add_dependency run glibc
Add_dependency run libssp
Add_dependency run dbus-libs
Add_dependency run avahi-libs

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libhowl.so.* ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libdns_sd.so.* ${DESTDIR}/usr/lib
}
