# Template file for 'avahi-libs-devel'.
#
depends="libssp-devel dbus-devel avahi-libs-${version}_${revision}"
short_desc="Avahi core libraries -- development files"
noarch=yes

do_install() {
	for f in common client core; do
		vmove usr/include/avahi-${f} usr/include
	done
	vmove usr/lib/pkgconfig/avahi-core.pc usr/lib/pkgconfig
	vmove usr/lib/pkgconfig/avahi-client.pc usr/lib/pkgconfig
}
