# Template file for 'avahi-libs'.
#
short_desc="Avahi shared libraries"

do_install() {
	vmove "usr/lib/libavahi-client.so*" usr/lib
	vmove "usr/lib/libavahi-core.so*" usr/lib
	vmove "usr/lib/libavahi-common.so*" usr/lib
}
