# Template file for 'avahi-glib-libs-devel'.
#
short_desc="Avahi glib libraries (development files)"
long_desc="${long_desc}

 This package contains development files for the glib libraries
 provided by Avahi."

Add_dependency run avahi-libs-devel
Add_dependency run avahi-glib-libs

do_install()
{
	vmove "usr/include/avahi-g*" usr/include
	vmove "usr/lib/libavahi-g*.a" usr/lib
	vmove "usr/lib/pkgconfig/avahi-g*" usr/lib/pkgconfig
}
