# Template file for 'avahi-compat-libs-devel'.
#
depends="avahi-libs-devel-${version}_${revision} avahi-compat-libs-${version}_${revision}"
short_desc="Avahi compat libraries (development files)"
long_desc="${long_desc}

 This package contains development files for the HOWL compatibility
 libraries provided by Avahi."

noarch=yes

do_install() {
	vmove "usr/include/avahi-compat*" usr/include
	vmove "usr/lib/pkgconfig/avahi-compat*" usr/lib/pkgconfig
}
