# Template file for 'avahi-libs'.
#
short_desc="Avahi shared libraries"
long_desc="${long_desc}

 This package contains core shared libraries provided by Avahi."

Add_dependency run glibc
Add_dependency run libssp
Add_dependency run dbus-libs

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib

	mv ${SRCPKGDESTDIR}/usr/lib/libavahi-client.so.* ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libavahi-core.so.* ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libavahi-common.so.* ${DESTDIR}/usr/lib
}
