# Template file for 'avahi-python-utils'.
#
noarch=yes
depends="avahi-python>=$version"
short_desc="Avahi python utilities"

do_install() {
	vmove usr/bin/avahi-bookmarks usr/bin
	vmove "usr/share/man/man1/avahi-bookmarks*" usr/share/man/man1
}
