# Template file for 'avahi-ui-libs-devel'.
#
depends="gtk+-devel gtk+3-devel avahi-libs-devel>=$version avahi-ui-libs>=$version avahi-ui-libs-gtk3>=$version"
short_desc="Avahi UI libraries (development files)"
long_desc="${long_desc}

 This package contains development files for the UI libraries
 provided by Avahi."

do_install() {
	vmove "usr/include/avahi-ui*" usr/include
	vmove "usr/lib/libavahi-ui*" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
