# Template file for 'avahi-compat-libs'.
#
short_desc="Avahi compatiblity shared libraries"
long_desc="${long_desc}

 This package contains howl/mDNSResponder compatibility shared
 libraries provided by Avahi."

revision=2

Add_dependency run glibc
Add_dependency run libssp
Add_dependency run dbus-libs
Add_dependency run avahi-libs

do_install()
{
	vmove "usr/lib/libhowl.so*" usr/lib
	vmove "usr/lib/libdns_sd.so*" usr/lib
}
