# Template file for 'avahi-python'.
#
depends="python dbus-python"
short_desc="Python utility package for Avahi"
noarch=yes
pycompile_module="avahi"

do_install() {
	vmove "usr/lib/python*" usr/lib
}
