# Template file for 'gir-avahi'.
#
short_desc="Introspection data for Avahi"
long_desc="${long_desc}

 This package contains small pieces of introspection data for Avahi."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
