# Template file for 'jack-devel'.
#
short_desc="${short_desc} (Development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

revision=3

Add_dependency run libsamplerate-devel
Add_dependency run alsa-lib-devel
Add_dependency run libsndfile-devel
Add_dependency run libjack

do_install()
{
        vmove usr/include usr
        vmove usr/lib/pkgconfig usr/lib
}
