# Template file for 'libjack'.
#
short_desc="${short_desc} (Runtime library)"
long_desc="${long_desc}

 This package contains the JACK runtime lib(s)."

Add_dependency run libstdc++
Add_dependency run glibc
Add_dependency run libgcc
Add_dependency run libsamplerate
Add_dependency run alsa-lib
Add_dependency run dbus-libs

revision=1

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/lib/jack usr/lib
}


