# Template file for 'libfontenc-devel'.
#
depends="xproto zlib-devel libfontenc>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
