# Template file for 'libmysqld-devel'.
#
short_desc="MySQL embedded database development files"
long_desc="${long_desc}

 This package includes the client library."

Add_dependency run glibc
Add_dependency run libmysqlclient-devel

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/mysql
	mv ${SRCPKGDESTDIR}/usr/lib/mysql/*.a ${DESTDIR}/usr/lib/mysql
}
