# Template file for 'libmysqld-devel'.
#
depends="glibc libmysqlclient-devel"
short_desc="MySQL embedded database development files"
long_desc="${long_desc}

 This package includes the client library."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/mysql
	mv ${SRCPKGDESTDIR}/usr/lib/mysql/*.a ${DESTDIR}/usr/lib/mysql
}
