# Template file for 'libmysqlclient-devel'.
#
depends="libmysqlclient>=${version}_${revision}"
short_desc="MySQL database development files"
long_desc="${long_desc}

 This package includes development libraries and header files."

do_install() {
	vmove usr/bin/mysql_config usr/bin
	vmove usr/share/man/man1/mysql_config.1 usr/share/man/man1
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
}
