# Template file for 'libmysqlclient'.
#
short_desc="MySQL database client library"
long_desc="${long_desc}

 This package includes the client library."

do_install() {
	vmove "usr/lib/libmysqlclient*.so*" usr/lib
}
