# Template file for 'libndbclient'.
#
short_desc="MySQL NDB (Network Database) client library"
long_desc="${long_desc}

 This package includes the NDB client library."

Add_dependency run zlib

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/mysql/libndbclient*.so* ${DESTDIR}/usr/lib
}
