# Template file for 'metacity-devel'.
#
short_desc="${sourcepkg} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

noarch=yes
Add_dependency run gtk+-devel
Add_dependency run metacity ">=${version}"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
