# Template file for 'gtkhtml-devel'.
#
noarch=yes
depends="libgtkhtml-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
