# Template file for 'libgtkhtml'.
#
short_desc="${sourcepkg} (runtime libraries)"
long_desc="${long_desc}

 This package contains the runtime libraries."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
