# Template file for 'libgtkhtml'.
#
short_desc="${sourcepkg} (runtime libraries)"
long_desc="${long_desc}

 This package contains the runtime libraries."

Add_dependency run enchant
Add_dependency run gtk+3
Add_dependency run atk
Add_dependency run glib
Add_dependency run pango
Add_dependency run gdk-pixbuf
Add_dependency run cairo
Add_dependency run freetype
Add_dependency run fontconfig
Add_dependency run glibc

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
