# Template file for 'libXdmcp-devel'.
#
depends="xproto libXdmcp>=${version}"
short_desc="${short_desc} -- development files"
noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
