[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ClipGrab
GenericName=Video Downloader
GenericName[de]=Video-Downloader
Comment=Download videos and convert it
Comment[de]=Videos herunterladen und konvertieren
Icon=/usr/share/pixmaps/clipgrab.png
Exec=clipgrab
TryExec=clipgrab
Terminal=false
Categories=Qt;AudioVideo;Audio;Video;
