# Template file for 'kernel-headers'.
#
nostrip=yes
noverifyrdeps=yes
short_desc="Linux kernel source headers for the RaspberryPI"

do_install() {
	vmove usr/src usr
	vmove usr/lib/modules/${_kernver}/build usr/lib/modules/${_kernver}

}
