# Template file for 'webkitgtk-devel'.
#
replaces="webkit-gtk3-devel>=0"
provides="webkit-gtk3-devel-${version}"

depends="gtk+3-devel>=2.8 libsoup-devel>=2.42
 ${sourcepkg}-${version}_${revision}"

short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/gtk-doc usr/share
}
