[Desktop Entry]
Name=Vieb
Exec=vieb
Terminal=false
Type=Application
Icon=vieb
StartupWMClass=Vieb
Comment=Vim Inspired Electron Browser
MimeType=x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
