# Template file for 'libwebp-devel'.
#
noarch=yes
depends="libjpeg-turbo-devel libpng-devel libwebp>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
