# Template file for 'gir-polkit'.
#
short_desc="PolicyKit introspection data"
long_desc="${long_desc}

 This package contains the GObject-introspection data of PolicyKit in
 binary typelib format."

Add_dependency run gir-freedesktop
Add_dependency run glib
Add_dependency run polkit

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
