# Template file for 'sqlite-tcl'.
#
short_desc="${sourcepkg} TCL bindings"
long_desc="${long_desc}

 This package contains TCL bindings for sqlite."

Add_dependency run sqlite
Add_dependency run tcl

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/tcl* ${DESTDIR}/usr/lib
}
