# Template file for 'sqlite-tcl'.
#
depends="sqlite tcl"
short_desc="${sourcepkg} TCL bindings"
long_desc="${long_desc}

 This package contains TCL bindings for sqlite."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/sqlite* ${DESTDIR}/usr/lib
}
