# Template file for 'sqlite-tcl'.
#
depends="sqlite>=$version tcl"
short_desc="${sourcepkg} TCL bindings"
long_desc="${long_desc}

 This package contains TCL bindings for sqlite."

do_install() {
	vmove "usr/lib/sqlite*" usr/lib
}
