[Desktop Entry]
Name=PyCharm Community
Comment=The Python IDE for Professional Developers
Exec=pycharm %f
Terminal=false
Type=Application
Icon=pycharm
Categories=Development;
