# This rule is installed by brother-dcpt300-cupswrapper (Brother DCP-T300).
# It grants the CUPS service (lp group) access to the printer over USB.
# The scanner is handled separately by the brother-brscan4 package.
#
#   lsusb: Bus ... Device ...: ID 04f9:0393 Brother Industries, Ltd
#
ATTR{idVendor}=="04f9", ATTR{idProduct}=="0393", MODE:="0664", GROUP:="lp", ENV{libsane_matched}:="yes"
