[Unit]
Description=OpenSSH server Key Generation
ConditionPathExists=|!/etc/ssh/ssh_host_key
ConditionPathExists=|!/etc/ssh/ssh_host_rsa_key
ConditionPathExists=|!/etc/ssh/ssh_host_dsa_key
ConditionPathExists=|!/etc/ssh/ssh_host_ecdsa_key

[Service]
ExecStart=/lib/systemd/scripts/sshdgenkeys
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
