[Unit]
Description=OpenSSH Per-Connection Daemon
After=sshdgenkeys.service

[Service]
ExecStart=-/usr/sbin/sshd -i
StandardInput=socket
StandardError=syslog
