[Desktop Entry]
Name=Teams For Linux
Comment=Unofficial Microsoft Teams client for Linux using Electron
Exec=teams-for-linux
Terminal=false
Type=Application
Icon=teams-for-linux
Categories=Chat;Network;VideoConference
StartupWMClass=teams-for-linux
