[Desktop Entry]
Name=Mercury Browser
Comment=Browse the World Wide Web
Exec=mercury%U
Icon=mercury-browser
GenericName=Web Browser
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;WebBrowser;
