[Unit]
Description=MySQL Server
After=syslog.target

[Service]
User=mysql
Group=mysql
ExecStart=/usr/bin/mysqld --user=mysql --pid-file=/run/mysqld/mysqld.pid
ExecStartPost=/usr/bin/mysqld-post
Restart=always
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
