[Unit]
Description=MySQL Server

[Service]
User=mysql
ExecStart=/usr/bin/mysqld --user=mysql
ExecStartPost=/usr/lib/systemd/scripts/mysqld-post
Restart=always

[Install]
WantedBy=multi-user.target
