[Unit]
Description=Wi-Fi Security Service on %I
After=syslog.target

[Service]
ExecStart=/usr/sbin/wpa_supplicant -Dwext -i %I -c /etc/wpa_supplicant.conf

[Install]
Alias=multi-user.target.wants/wpa_supplicant@wlan0.service
