# Template file for 'gsasl-devel'.
#
depends="libgcrypt-devel libgpg-error-devel libidn-devel libgsasl"
short_desc="${sourcepkg} - Development files, headers, static libs, etc."
long_desc="${long_desc}

 This package contains development files, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/man/man3 usr/share/man
}
