# Template file for 'libgsasl'.
#
short_desc="${sourcepkg} - Runtime library"
long_desc="${long_desc}

 This package contains GNU SASL Runtime library."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/share/locale usr/share
}
