# Template file for 'postgresql-libs'.
#
short_desc="PostgreSQL shared libraries"
long_desc="${long_desc}

 This package provides the shared libraries used by PostgreSQL applications."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
        for d in $(find ${SRCPKGDESTDIR}/usr/share/locale \
                   -type f -name libpq5\*); do
                mkdir -p ${DESTDIR}/$(dirname ${d#${SRCPKGDESTDIR}})
                mv ${d} ${DESTDIR}/$(dirname ${d#${SRCPKGDESTDIR}})
        done
}
