# Template file for 'postgresql-doc'.
#
short_desc="${sourcepkg} documentation"
long_desc="${long_desc}

 This package contains all README files, user manual, and examples for
 PostgreSQL 8.4. The manual is in HTML format."

noarch=yes

do_install()
{
	mkdir -p ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/doc ${DESTDIR}/usr/share
}
