# Template file for 'embryo-devel'.
#
noarch=yes
depends="eina-devel embryo>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
