#!/sbin/runscript

command=/sbin/spice-vdagentd
description="Agent daemon for Spice guests"

depend()
{
	need localmount dbus
}

start_pre()
{
	local vdagent_sock=/var/run/spice-vdagentd/spice-vdagent-sock

	if [ -S $vdagent_sock ]; then
		rm -f $vdagent_sock
	fi
}
