[Unit]
Description=Agent Daemon for Spice Guests

[Service]
ExecStartPre=/bin/modprobe uinput
ExecStartPre=-rm -f /var/run/spice-vdagentd/spice-vdagent-sock
ExecStart=/usr/sbin/spice-vdagentd

[Install]
WantedBy=multi-user.target
