# Template file for 'yajl-devel'.
#
depends="yajl"
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
	vmove "usr/lib/*.a" usr/lib
	vmove usr/include usr
}
