[Desktop Entry]
Type=Application
Version=1.0
Name=LocalSend
GenericName=An open source cross-platform alternative to AirDrop
Icon=localsend_app
Exec=localsend_app %U
Categories=GTK;FileTransfer;Utility;
Keywords=Sharing;LAN;Files;
StartupNotify=true
