[Unit]
Description=Assemble FakeRAID arrays
DefaultDependencies=no
Requires=udev-settle.service
After=udev-settle.service
Before=basic.target shutdown.target
Conflicts=shutdown.target

[Service]
ExecStart=/usr/sbin/dmraid --ignorelocking --activate y
Type=oneshot
TimeoutSec=0
RemainAfterExit=true

[Install]
WantedBy=basic.target
