[Desktop Entry]
Name=Actiona
GenericName=Automation Tool
GenericName[fr]=Outil d'automatisation
Comment=Automate tasks
Comment[fr]=Automatise des tâches
Exec=actiona %f
Terminal=false
Icon=actiona
Type=Application
Categories=Utility;
Version=1.0
MimeType=application/actiona-script;application/actiona-code;application/actionaz-script;application/actionaz-code;
Keywords=automate;bot;macro;script;action;asrc;acod;
