# Template file for 'mit-krb5-client'.
#
short_desc="${short_desc} - client programs"
long_desc="${long_desc}

 This package contains the client side programs."

do_install() {
	vmove usr/bin usr
	vmove usr/share/man/man1 usr/share/man
}
