# Template file for 'mit-krb5-client'.
#
short_desc="${short_desc} - client programs"
long_desc="${long_desc}

 This package contains the client side programs."

Add_dependency run glibc
Add_dependency run e2fsprogs-libs
Add_dependency run mit-krb5-libs

do_install()
{
	mkdir -p ${DESTDIR}/usr/share/man
	mv ${SRCPKGDESTDIR}/usr/bin ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/share/man/man1 ${DESTDIR}/usr/share/man
}
