# Template file for 'mit-krb5-libs'.
#
conflicts="heimdal-libs>=0"
short_desc="${short_desc} - shared libraries"
long_desc="${long_desc}

 This package contains the shared libraries."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	chmod 755 ${DESTDIR}/usr/lib/*.so*
}
