# Template file for 'libgomp32'.
#
short_desc="GCC OpenMP v3.0 shared support library (32bit)"
long_desc="${long_desc}

 This package contains the 32bit GCC shared support library which is needed
 for OpenMP v3.0 support."

#revision=1

Add_dependency run libgcc32
Add_dependency run glibc32

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib32
	mv ${SRCPKGDESTDIR}/usr/lib32/libgomp.* ${DESTDIR}/usr/lib32
}
