# Template file for 'libgcc32'.
#
short_desc="GCC version ${version} shared library support (32bit)"
long_desc="${long_desc}

 This package contains the 32bit GCC shared library for x86_64 systems."

revision=1

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib32
	mv ${SRCPKGDESTDIR}/usr/lib32/libgcc_s.so* ${DESTDIR}/usr/lib32
}
