# Template file for 'libmudflap32'.
#
short_desc="GCC mudflap shared support libraries (32bit)"
long_desc="
 The libmudflap libraries are used by GCC for instrumenting pointer
 and array dereferencing operations."

revision=1

Add_dependency run gcc-multilib
Add_dependency run glibc32

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib32
	mv ${SRCPKGDESTDIR}/usr/lib32/libmudflap*.so* ${DESTDIR}/usr/lib32
}
