# Template file for 'libobjc32'.
#
short_desc="GCC Objective-C shared library support (32bit)"
long_desc="${long_desc}

 This package contains the 32bit GCC Objective-C shared support library
 which is needed to run Objective-C dynamically linked programs."

#revision=1

Add_dependency run libgcc32
Add_dependency run glibc32

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib32
	mv ${SRCPKGDESTDIR}/usr/lib32/libobjc.so* ${DESTDIR}/usr/lib32
}
