# Template file for 'libstdc++32'.
#
short_desc="GCC Standard C++ Library (32bit)"
long_desc="${long_desc}

 This package contains a rewritten standard compliant GCC Standard
 C++ library 32bit for x86_64 systems."

#revision=1

Add_dependency run libgcc32
Add_dependency run glibc32

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib32
	mv ${SRCPKGDESTDIR}/usr/lib32/libstdc++.so* ${DESTDIR}/usr/lib32
}
