# Template file for 'libstdc++32-devel'.
#
short_desc="GCC Standard C++ Library (32bit) development files"
long_desc="${long_desc}

 This package contains a rewritten 32bit standard compliant GCC Standard
 C++ development files and headers for x86_64 systems."

Add_dependency run libstdc++-devel
Add_dependency run libstdc++32

do_install()
{
	mkdir -p ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
}
