[Desktop Entry]
Name=DeaDBeeF-Enqueue
GenericName=Audio Player
GenericName[pt_BR]=Reprodutor de áudio
GenericName[ru]=Аудио плеер
Comment=Enqueue music to playlist
Comment[pt_BR]=Escute músicas
Comment[ru]=Слушай музыку
Exec=deadbeef --queue %F
MimeType=application/ogg;audio/x-vorbis+ogg;application/x-ogg;audio/mp3;audio/prs.sid;audio/x-flac;audio/mpeg;audio/x-mpeg;audio/x-mod;audio/x-it;audio/x-s3m;audio/x-xm;audio/x-mpegurl;audio/x-scpls;
Categories=AudioVideo;Player;GTK;
Terminal=false
Type=Application
Icon=deadbeef

