[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Zsnes
Comment=Super Nintendo emulator
Exec=zsnes
Icon=zsnes
Terminal=false
StartupNotify=false
Categories=Application;Game;
