[Desktop Entry]
Name=Qt Creator
GenericName=Integrated Development Environment for Qt
Comment=Develop Qt4 or Qt5 applications
TryExec=/usr/bin/qtcreator
Exec=/usr/bin/qtcreator
Icon=QtProject-qtcreator
MimeType=application/vnd.qt.qmakeprofile;
Terminal=false
Type=Application
Categories=Qt;Development;
