# Template file for 'xmlwf'.
#
short_desc="${short_desc} -- xmlwf utility"
long_desc="${long_desc}

 This package contains xmlwf(1), an utility that uses the expat library
 to determine if an XML document is valid."

do_install() {
	vmove usr/bin usr
	vmove usr/share usr
}
