# Template file for 'nettle-tools'.
#
short_desc="${short_desc} (bundled tools)"
long_desc="${long_desc}

 This package contains the tools that come with gnutls."

do_install() {
	vmove usr/bin usr
	#vmove usr/share/man/man1 usr/share/man
}
