# Template file for 'subversion-python'.
#
depends="python"
pycompile_module="libsvn svn"
short_desc="${short_desc} - python bindings"

do_install() {
	vmove "usr/lib/libsvn_swig_py-1.so*" usr/lib
	vmove "usr/lib/python*" usr/lib
}
