# Template file for 'subversion-gnome-keyring-auth'.
#
short_desc="subversion - gnome-keyring authentication support"
long_desc="${long_desc}

 This package contains files for subversion to authenticate with
 the libgnome-keyring package."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/lib*gnome_keyring*.so* \
		${DESTDIR}/usr/lib
}
