# Template file for 'subversion-perl'.
#
short_desc="${short_desc} - perl bindings"
long_desc="${long_desc}

 This package contains the perl language bindings for subversion."

Add_dependency run perl

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib ${DESTDIR}/usr/share/man
	mv ${SRCPKGDESTDIR}/usr/lib/libsvn_swig_perl-1.so* ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/perl5 ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/share/man/man3 ${DESTDIR}/usr/share/man
}
