# Template file for 'subversion-perl'.
#
depends="perl>=5.16"
short_desc="${short_desc} - perl bindings"

do_install() {
	vmove "usr/lib/libsvn_swig_perl-1.so*" usr/lib
	vmove usr/lib/perl5 usr/lib
	vmove usr/share/man/man3 usr/share/man
}
