# Template file for 'subversion-apache'.
#
short_desc="${short_desc} - apache httpd modules"
long_desc="${long_desc}

 This package contains two modules for the HTTP apache daemon for use
 with subversion."

do_install() {
	vmove usr/libexec usr
}
