# Template file for 'subversion-ruby'.
#
short_desc="${short_desc} - ruby bindings"
long_desc="${long_desc}

 This package contains the ruby language bindings for subversion."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libsvn_swig_ruby-1.so* ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/ruby ${DESTDIR}/usr/lib
}
