[Desktop Entry]
Encoding=UTF-8
Name=Lutgen Studio
Comment=LUT generator and applicator for color palettes
Exec=lutgen-studio
Icon=lutgen
Terminal=false
Type=Application
Categories=Graphics;Photography;
Keywords=lut;color;palette;theme;image;
StartupWMClass=lutgen-studio
