# Template file for 'ecore-devel'.
#
noarch=yes
depends="eina-devel glib-devel openssl-devel libcurl-devel libXtst-devel
 libXScrnSaver-devel libXrandr-devel libXinerama-devel libXcomposite-devel
 libXdamage-devel libXi-devel libXcursor-devel ecore>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
