#!/bin/sh
exec 2>&1
USER=user
LOG=/var/log/openbazaar.log

if [ ! -d $LOG ];
then
	touch $LOG
	chown $USER:$USER $LOG
fi

#openbazaard looks for ob.cfg in PWD
cd /etc		
exec > $LOG
exec chpst -u$USER:$USER openbazaard start
