[Desktop Entry]
Categories=Development;IDE;
Comment[en_US]=A cross-platform IDE for C and C++
Comment=A cross-platform IDE for C and C++
Exec=CLion %f
GenericName[en_US]=
GenericName=
Icon=clion
MimeType=
Name[en_US]=CLion
Name=CLion
Path=
StartupNotify=true
StartupWMClass=jetbrains-clion
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
