# Template file for 'libsane'.
#
short_desc="${short_desc} - runtime shared library"
long_desc="${long_desc}

 This package contains the SANE runtime shared library."

do_install() {
	vmove "usr/lib/libsane.so.*" usr/lib
}
