# Template file for 'sane-devel'.
#
noarch=yes
depends="libsane>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/bin/sane-config usr/bin
	vmove usr/share/man/man1/sane-config.1 usr/share/man/man1
	vinstall tools/sane-backends.pc 644 usr/lib/pkgconfig
}
