# Template file for 'gpgme-devel'.
#
depends="libgpg-error-devel libassuan-devel gpgme"
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install() {
	install -d ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/{bin,share,include} ${DESTDIR}/usr
}
