[Desktop Entry]
Name=ReText
Comment=editor for Markdown and ReStructuredText markup languages
Exec=retext %F
Icon=retext
Terminal=false
Type=Application
Categories=Office;
MimeType=text/x-retext-markdown;text/x-retext-rst;
