[Desktop Entry]
Name=xnec2c
GenericName=X NEC-to-C
Comment=Convert Numerical Electromagnetics Code to C language
Keywords=antenna;converter;
Exec=xnec2c
Terminal=false
Type=Application
Icon=xnec2c
Categories=GTK;Development;
StartupNotify=false
