[Unit]
Description=Distributed filesystem daemon
After=network.target

[Service]
Type=forking
PIDFile=/run/glusterd.pid
LimitNOFILE=65536
ExecStart=/usr/bin/glusterd -p /run/glusterd.pid 

[Install]
WantedBy=multi-user.target
