# Template file for 'nodejs-docs'.
#
noarch=yes
short_desc="${short_desc} (Documentation)"
long_desc="${long_desc}

 This package contains the nodejs manpage(s)."

do_install() {
	vmove usr/share/man usr/share
	vmkdir usr/share/doc/nodejs
	cp -r ${wrksrc}/doc/api ${DESTDIR}/usr/share/doc/nodejs
}
