# Template file for 'nodejs-docs'.
#
noarch=yes
short_desc="${short_desc} - Documentation"

do_install() {
	vmove usr/share/man usr/share
	vmkdir usr/share/doc/nodejs
	cp -r ${wrksrc}/doc/api ${DESTDIR}/usr/share/doc/nodejs
}
