[Desktop Entry]
Name=Copy
GenericName=Network Storage
Comment=Copy.com Sync Agent
Exec=CopyAgent
Icon=copy-agent
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
