<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Prefer the xbps-devel pkg over other alternatices -->
	<key>virtual-pkgver</key>
	<string>xbps-9999</string>
	<key>target-pkgpattern</key>
	<string>xbps-devel>=0</string>
</dict>
</plist>
