[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Tesseract
Comment=FPS game focused on instagib deathmatch and capture-the-flag gameplay
Exec=tesseract
Icon=tesseract
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
