[Unit]
Description=Disk Manager

[Service]
Type=dbus
BusName=org.freedesktop.UDisks
ExecStart=/usr/libexec/udisks-daemon

[Install]
WantedBy=graphical.target
