[Desktop Entry]
Name=abaddon
Type=Application
Comment=Alternative Discord client using GTK
Exec=/usr/bin/abaddon
TryExec=/usr/bin/abaddon
Categories=Network;InstantMessaging;
