# Template file for 'gir-epiphany'.
#
short_desc="Introspection data for GNOME Epiphany"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the GNOME
 Epiphany library."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
