# Template file for 'gd-devel'.
#
depends="libXpm-devel libjpeg-turbo-devel fontconfig-devel zlib-devel
 libpng-devel gd>=${version}"
short_desc="${sourcepkg} development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/bin/gdlib-config usr/bin
}
