# Template file for 'gd-progs'.
#
depends="perl"
short_desc="Utility programs that use libgd"
long_desc="${long_desc}

 This package contains the utility programs that use the GD
 library."

do_install() {
	vmove usr/bin usr
}
