# Template file for 'gd-progs'.
#
short_desc="Utility programs that use libgd"
long_desc="${long_desc}

 This package contains the utility programs that use the GD
 library."


Add_dependency run perl		">=0"

do_install() {
	vmove usr/bin usr
}
