# Template file for 'giflib-tools'.
#
short_desc="${short_desc} (utilities)"
long_desc="${long_desc}

 This package contains additional utilities."


do_install()
{
	mkdir -p ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/bin ${DESTDIR}/usr
}
