# Template file for 'coreutils-doc'.
#
noarch=yes
short_desc="${short_desc} -- documentation files"
replaces="coreutils<8.20_4"

do_install() {
	vmove usr/share/info usr/share
	vmove usr/share/man usr/share
}
