[Desktop Entry]
Name=IDLE (using Python2.7)
Comment=IDE for Python (using Python2.7)
Exec=idle2.7
Icon=idle2.7
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
