[Desktop Entry]
Encoding=UTF-8
Name=Quake 4
GenericName=Quake 4
Comment=Quake 4
Exec=/usr/bin/quake4
Icon=/usr/share/pixmaps/quake4.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;KDE;GNOME;Application;Game;
