# Template file for 'mpeg4ip'.
#
short_desc="MPEG-4 tools from mpeg4ip"
long_desc="${long_desc}

 This package contains tools for processing MPEG-4 files."

revision=1

Add_dependency run glibc
Add_dependency run libstdc++
Add_dependency run libgcc
Add_dependency run libmp4v2

do_install()
{
	mkdir -p ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/bin ${DESTDIR}/usr
}
