# Template file for 'mpeg4ip'.
#
short_desc="MPEG-4 tools from mpeg4ip"
long_desc="${long_desc}

 This package contains tools for processing MPEG-4 files."


do_install()
{
	vmove usr/bin usr
	vmove usr/share/man usr/share
}
