[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Freeplane
GenericName=Freeplane
Exec=freeplane %U
Terminal=false
Icon=freeplane
Type=Application
MimeType=application/x-freeplane
Categories=Application;Office;
Comment=A free mind mapping tool
