# Template file for 'librubberband'.
#
short_desc="${short_desc} - Runtime libraries"
long_desc="${long_desc}

 This package contains the rubberband runtime lib(s)."

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/lib/vamp usr/lib
	vmove usr/lib/ladspa usr/lib
}
