# Template file for 'cheese-devel'.
#
depends="gst-plugins-base1-devel libcanberra-devel clutter-gst-devel>=1.9.92
 clutter-gtk-devel>=1.3.2 libcheese-${version}_${revision}"
short_desc="${sourcepkg} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/gtk-doc usr/share
}
