# Template file for 'cheese-devel'.
#
depends="gst-plugins-base1-devel libcanberra-devel clutter-gst-devel>=2.0.2
 clutter-gtk-devel>=1.4.4 ibcheese-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/gtk-doc usr/share
}
