# Template file for 'libcheese'.
#
short_desc="${sourcepkg} - shared libraries"
long_desc="${long_desc}

 This package contains the shared libraries."

replaces="cheese<=3.2.2" # for the typelib file

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/lib/girepository-1.0 usr/lib
}
