# Template file for 'libwine-unstable'.
#
short_desc="${short_desc} - Runtime library"
long_desc="${long_desc}

 This package contains the wine runtime."

only_for_archs=i686
replaces="libwine>=0"
provides="libwine-$version"
conflicts="libwine>=0"

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/lib/wine usr/lib
}
