# Template file for 'libwine-unstable'.
#
short_desc="${short_desc} - Development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

only_for_archs=i686
replaces="wine-devel>=0"
provides="wine-devel-$version"
conflicts="wine-devel>=0"

Add_dependency run glibc-devel
Add_dependency run libwine-unstable

do_install()
{
        vmove usr/include usr
}
