[Desktop Entry]
Type=Application
Name=vkQuake
GenericName=Quake engine
Icon=vkquake
Exec=vkquake
Categories=Game;Shooter;
Comment=vkQuake Quake engine
Terminal=false
StartupNotify=true
