# Template file for 'geany-plugins'.
#
depends="geany>=$version"
short_desc="${short_desc} - builtin plugins"
long_desc="${long_desc}

 This package contains the plugins for geany."

do_install() {
        vmove usr/lib/geany usr/lib
}
