# Template file for 'geany-plugins'.
#
depends="glibc-devel geany"
short_desc="${short_desc} - Development files"
long_desc="${long_desc}

 This package contains the plugins for geany."

do_install()
{
        vmove usr/lib/geany usr/lib
}
