[Desktop Entry]
Name=Bitwarden
Exec=bitwarden %U
Terminal=false
Type=Application
Icon=bitwarden
StartupWMClass=Bitwarden
Comment=A secure and free password manager for all of your devices.
Categories=Utility;
