# Template file for 'libburn-devel'.
#
noarch=yes
depends="glibc-devel libburn>=$version"
short_desc="${sourcepkg} development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
