# Template file for 'libseed-devel'.
#
noarch=yes
depends="webkit-gtk3-devel libgirepository-devel glib-devel
 libseed-${version}_${revision}"
short_desc="GObject JavaScript bindings for the webkit engine - Development"
long_desc="${long_desc}

 This package contains the static libraries and development headers, needed
 to build programs using the Seed interpreter."

do_install() {
	vmove usr/include usr
	vmove usr/lib usr
	vmove usr/share/gtk-doc usr/share
}
