# Template file for 'libseed'.
#
short_desc="GObject JavaScript bindings for the webkit engine - Runtime"
long_desc="${long_desc}

 This package contains the runtime library and all modules, needed by
 programs embedding the Seed interpreter."

do_install()
{
	vmove "usr/lib/libseed*.so*" usr/lib
	vmove "usr/lib/seed-gtk3/*.so" usr/lib/seed-gtk3
	vmove usr/share/seed-gtk3 usr/share
}
