# Template file for 'libgsf-devel'.
#
noarch=yes
depends="glib-devel libxml2-devel libgsf>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/gir-1.0 usr/share
}
