# Template file for 'libgsf-devel'.
#
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run glib-devel
Add_dependency run libxml2-devel
Add_dependency run libgsf ">=${version}"

do_install()
{
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/gir-1.0 usr/share
}
