# Template file for 'libsensors'.
#
revision=1
short_desc="Library to read temperature/voltage/fan sensors"
long_desc="${long_desc}

 This package contains a shared library for querying lm-sensors."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/*.so* ${DESTDIR}/usr/lib
}
