# Template file for 'libsensors'.
#
short_desc="Library to read temperature/voltage/fan sensors"
long_desc="${long_desc}

 This package contains a shared library for querying lm-sensors."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
