# Template file for 'libsensors-devel'.
#
noarch=yes
depends="libsensors-${version}_${revision}"
short_desc="lm-sensors development kit"
long_desc="${long_desc}

 This package contains the static library and header files used in
 development."

do_install() {
	vmove usr/include usr
	vmove usr/share/man/man3 usr/share/man
}
