# Template file for 'SDL_image-devel'.
#
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run libpng-devel
Add_dependency run tiff-devel
Add_dependency run jpeg-devel
Add_dependency run SDL-devel
Add_dependency run SDL_image

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
