# Template file for 'libao-devel'.
#
noarch=yes
depends="libao>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/doc usr/share
	vmove usr/share/aclocal usr/share
}
