[Desktop Entry]
Version=1.0
Name=DOOM III
Comment=DOOM III
Exec=doom3
Icon=doom3
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;ActionGame;
