# Template file for 'gnutls-tools'.
#
revision=1
short_desc="${short_desc} (bundled tools)"
long_desc="${long_desc}

 This package contains the tools that come with gnutls."

Add_dependency run libgcrypt

do_install()
{
	mkdir -p ${DESTDIR}/usr/share/man
	mv ${SRCPKGDESTDIR}/usr/bin ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/share/man/man1 ${DESTDIR}/usr/share/man
}
