[Desktop Entry]
Version=1.0
Type=Application
Name=wxFormBuilder
Comment=RAD tool for wxWidgets GUI design
Exec=wxformbuilder
Terminal=false
StartupNotify=false
Categories=Development;GUIDesigner;
Icon=/usr/share/wxformbuilder/resources/icons/logo.xpm
