[Desktop Entry]
Encoding=UTF-8
Name=JWM
Comment=A lightweight window manger for the X11 Window System
Exec=/usr/bin/jwm
TryExec=/usr/bin/jwm
Type=XSession
