# Template build file for 'atk'.
pkgname=atk
version=1.24.0
extract_sufx=".tar.bz2"
url=http://ftp.gnome.org/pub/GNOME/sources/atk/1.24
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
pkgconfig_override="atk.pc"
short_desc="Set of interfaces for accessibility"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=63ce673732286f001f908316f06b8eb08c256943
long_desc="
 The ATK library provides a set of interfaces for accessibility.
 By supporting the ATK interfaces, an application or toolkit can
 be used with such tools as screen readers, magnifiers,
 and alternative input devices.

 Atk provides a core set of interfaces which are common to all
 widgets and "additional" interfaces that are appropriate to certain
 classes of widgets and whose existence can be queried at run time.
 It also provides interfaces which an application can use to provide
 additional accessibility information to assistive technology tools."
