# Template build file for 'autoconf'.
pkgname=autoconf
version=2.63
distfiles="http://ftp.gnu.org/gnu/autoconf/$pkgname-$version@.tar.gz"
build_style=gnu_configure
short_desc="Generates automatic source code configuration scripts"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=4254fd31f9bcaf8932e2c10cf33f52b9f7f7eb19
long_desc="
 Autoconf is an extensible package of m4 macros that produce shell
 scripts to automatically configure software source code packages.
 These scripts can adapt the packages to many kinds of UNIX-like
 systems without manual user intervention.  Autoconf creates a
 configuration script for a package from a template file that lists the
 operating system features that the package can use, in the form of m4
 macro calls."
