# Template build file for 'bash'.
pkgname=bash
# This matches current version + latest patchlevel
bash_distver=3.2
version=$bash_distver.039
wrksrc=$pkgname-$bash_distver
distfiles="http://ftp.gnu.org/pub/gnu/bash/$pkgname-$bash_distver.tar.gz"
build_style=gnu_configure
configure_args="--without-bash-malloc --with-curses
 --bindir=$XBPS_DESTDIR/$pkgname-$version/bin"
short_desc="The GNU Bourne Again Shell"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=26c99025b59e30779300b68adb764f824974d267a4d7cc1b347d14a2393f9fb4
long_desc="
 Bash is an sh-compatible shell that incorporates useful features from
 the Korn shell (ksh) and C shell (csh). It is intended to conform to
 the IEEE POSIX P1003.2/ISO 9945.2 Shell and Tools standard.

 It offers functional improvements over sh for both programming and
 interactive use; these include command line editing, unlimited size
 command history, job control, shell functions and aliases, indexed
 arrays of unlimited size, and integer arithmetic in any base from two
 to sixty-four. In addition, most sh scripts can be run by Bash without
 modification."

base_chroot=yes
build_depends="bison-2.3 ncurses-5.6"
run_depends="glibc-2.8 ncurses-5.3"

pre_configure()
{
	# Apply all patches for current (3.2) version.
	local lpatch="039"
	local URL="http://ftp.gnu.org/gnu/bash/bash-$version-patches"

	for p in $(seq -w 001 $lpatch); do
		if [ ! -f "$XBPS_SRCDISTDIR/bash32-$p" ]; then
			msg_normal "Fetching $pkgname-$version patch: bash32-$p."
			cd $XBPS_SRCDISTDIR && $fetch_cmd $URL/bash32-$p || bye 1
		fi
		msg_normal "Applying patch: bash32-$p."
		cd $wrksrc && patch -s -p0 < $XBPS_SRCDISTDIR/bash32-$p || bye 1
	done
}

post_install()
{
	# Make /bin/bash -> /bin/sh symlink.
	if [ -x $XBPS_DESTDIR/$pkgname-$version/bin/bash ]; then
		cd $XBPS_DESTDIR/$pkgname-$version/bin && ln -s bash sh
	fi
}
