# Template build file for 'bash'.
pkgname=bash
version=3.2
distfiles="http://ftp.gnu.org/pub/gnu/bash/$pkgname-$version@.tar.gz"
build_style=gnu_configure
configure_args="--enable-readline --enable-progcomp
 --enable-process-substitution --enable-job-control --enable-history
 --enable-help-builtin --enable-extended-glob --enable-dparen-arithmetic
 --enable-directory-stack --enable-debugger --enable-cond-regexp
 --enable-alias --enable-brace-expansion --enable-array-variables"
short_desc="The GNU Bourne Again Shell"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=26c99025b59e30779300b68adb764f824974d267a4d7cc1b347d14a2393f9fb4
long_desc="
 Bash is an sh-compatible shell that incorporates useful features from
 the Korn shell (ksh) and C shell (csh). It is intended to conform to
 the IEEE POSIX P1003.2/ISO 9945.2 Shell and Tools standard.

 It offers functional improvements over sh for both programming and
 interactive use; these include command line editing, unlimited size
 command history, job control, shell functions and aliases, indexed
 arrays of unlimited size, and integer arithmetic in any base from two
 to sixty-four. In addition, most sh scripts can be run by Bash without
 modification."

build_depends="bison-2.3 ncurses-5.6"
run_depends="glibc-2.8 ncurses-5.3"
