# Template file for 'bigreqsproto-1.0.2'
pkgname=bigreqsproto-1.0.2
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="bigreqsproto.pc"
short_desc="BigReqs extension headers from modular Xorg X11"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=153bc6e44f7e41743c7a9607173fc2c52301bda4
long_desc="
 BigReqs extension headers from modular Xorg X11."
