# Template file for 'binutils'
pkgname=binutils
version=2.18
distfiles="http://ftp.gnu.org/gnu/binutils/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
configure_args="--disable-werror --enable-shared --disable-multilib"
short_desc="GNU binary utilities"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=487a33a452f0edcf1f8bb8fc23dff5c7a82edec3f3f8b65632b6c945e961ee9b
long_desc="
 The GNU binutils package contains essential tools to assemble, link and
 manipulate binary and object files. They are often used with a compiler
 and additional libraries for building software.

 It includes the GNU linker, the portable GNU assembler, ar for modifying
 archives (such as libraries), nm for listing symbols from object files,
 objdump for displaying object file information, ranlib for generating
 archive indexes, size for listing section sizes of object files,
 strings for outputing the printable characters in files, strip for
 stripping out symbols (like debugging information) from object files,
 and other tools."
