# Template build file for 'bison'.
pkgname=bison
version=2.3
distfiles="http://ftp.gnu.org/pub/gnu/bison/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="GNU yacc(1) replacement"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=c6a116d6b763fad3f4df6e303943e09ed080cb26
long_desc="
 Bison is the GNU replacement for yacc(1). Some programs depend on
 extensions present in Bison."
