pkgname=busybox-initramfs
version=1.13.2
wrksrc=busybox-$version
distfiles="http://www.busybox.net/downloads/busybox-$version.tar.bz2"
build_style=custom-install
short_desc="The Swiss Army Knife of Embedded Linux for initial ramdisks"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=927774408bd982dd246fb716bb2e646ab0708ce321b42c5e271dc98c1f5d1dc8
long_desc="
 BusyBox combines tiny versions of many common UNIX utilities into a single
 small executable. It provides replacements for most of the utilities you
 usually find in GNU fileutils, shellutils, etc. The utilities in BusyBox
 generally have fewer options than their full-featured GNU cousins; however,
 the options that are included provide the expected functionality and behave
 very much like their GNU counterparts. BusyBox provides a fairly complete
 environment for any small or embedded system.

 This package provides some required utilities for the initial ramdisks."

run_depends="glibc-2.8"

do_install()
{
	local bindir=$XBPS_DESTDIR/$pkgname-$version/usr/lib/initramfs-tools/bin

	cp -v $XBPS_TEMPLATESDIR/$pkgname.config $wrksrc/.config
	make || exit 1
	install -v -d $bindir
	install -v $wrksrc/busybox $bindir
}
