# Template build file for 'bzip2'.
pkgname=bzip2
version=1.0.5
distfiles="http://www.bzip.org/1.0.5/$pkgname-$version@.tar.gz"
build_style=gnu_makefile
make_build_target="-f Makefile-libbz2_so"
make_install_args="PREFIX=$XBPS_DESTDIR/$pkgname-$version/usr"
short_desc="The bzip2 compression library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=f7bf5368309d76e5daf3a89d4d1bea688dac7780742e7a0ae1af19be9316fe22
long_desc=
