# Template build file for 'compositeproto'.
pkgname=compositeproto
version=0.4
distfiles="
http://xorg.freedesktop.org/releases/individual/proto/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="compositeproto.pc"
short_desc="Composite extension headers from modular X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=d1a90417a3aae555bdb8905bb40ab1452204e10c
long_desc="
 This package provides Composite extension headers from the modular
 X.org X11 project."
