# Template file for 'coreutils'
pkgname=coreutils
version=6.12
distfiles="http://ftp.gnu.org/gnu/coreutils/$pkgname-$version.tar.gz"
build_style=gnu_configure
configure_args="--bindir=$XBPS_DESTDIR/$pkgname-$version/bin
 --disable-acl --enable-install-program=hostname"
short_desc="The GNU core utilities"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=49d2f703e2310e6328cb6f9d9bae3612c42b3ee5175f449692c5b95e453cf18a
long_desc="
 The GNU Core Utilities are the basic file, shell and text manipulation
 utilities of the GNU operating system. These are the core utilities
 which are expected to exist on every operating system."

base_chroot=yes
run_depends="glibc-2.8"
