# Template file for 'cpio'
pkgname=cpio
version=2.9
patch_files="$pkgname-fix-build.diff"
distfiles="http://ftp.gnu.org/gnu/$pkgname/$pkgname-$version@.tar.gz"
build_style=gnu_configure
short_desc="GNU copy-in/out (cpio) with remote magnetic tape (rmt) support"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=e58fe6654beea9dc9fbee115442c0cc3db864e061aded6af14eb34d12d6bb88e
long_desc="
 GNU cpio is a full-featured cpio command that can access remote and
 local magnetic tapes, and both tar and cpio format archives in files or
 on tapes."

run_depends="glibc-2.8"
