# Template build file for 'damageproto'.
pkgname=damageproto
version=1.1.0
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="damageproto.pc"
short_desc="Damage extension headers from modular X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=03b5c7a82e71cdb81fbce9e771f9349caf7c4d34
long_desc="
 This package contains header files and documentation for the X Damage
 extension of X RandR. This is from the modular X.org X11 project."
