# Template build file for 'desktop-file-utils'.
pkgname=desktop-file-utils
version=0.15
distfiles="
http://freedesktop.org/software/desktop-file-utils/releases/$pkgname-$version@.tar.gz"
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Utilities to manage desktop entries"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=ab6fc0bc116d6ec338ef2699b96d57698d4a1d03
long_desc="
 desktop-file-utils contains a couple of command line utilities for working
 with desktop entries and the applications database. More specifically,
 it contains the update-desktop-database utility, used to rebuild the database
 that connects MIME types to applications."
