# Template build file for 'dmxproto-2.2.2'.
pkgname=dmxproto-2.2.2
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="dmxproto.pc"
short_desc="Distributed Multi-headed X protocol headers from modular X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=bee5ca279861afb9e38b6495d53087d412f417a8
long_desc="
 Distributed Multi-headed X protocol headers from modular X.org:
 \"your networked Xinerama\"."
