# Template file for 'e2fsprogs'
pkgname=e2fsprogs
version=1.41.3
distfiles="
http://prdownloads.sourceforge.net/e2fsprogs/$pkgname-$version.tar.gz"
build_style=gnu_configure
configure_args="--enable-compression --enable-htree --enable-elf-shlibs
 --enable-fsck --enable-e2initrd-helper --disable-rpath --bindir=/bin
 --sbindir=/sbin --libdir=/lib"
make_install_args="
 root_bindir=$XBPS_DESTDIR/$pkgname-$version/bin
 bindir=$XBPS_DESTDIR/$pkgname-$version/bin
 root_sbindir=$XBPS_DESTDIR/$pkgname-$version/sbin
 sbindir=$XBPS_DESTDIR/$pkgname-$version/sbin
 root_libdir=$XBPS_DESTDIR/$pkgname-$version/lib
 libdir=$XBPS_DESTDIR/$pkgname-$version/lib"
short_desc="Ext2/3/4 Filesystem Utilities"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=ce77edae680d090cb8275eca9be282bdbc5fbef028d7bf6f772fb4f04b578d7a
long_desc="
 It provides the filesystem utilities for use with the ext2 filesystem.
 It also supports the ext3 filesystem with journaling support."

run_depends="glibc-2.8"
