# Template build file for 'epdfview'.
pkgname=epdfview
version=0.1.6
extract_sufx=".tar.bz2"
url=http://trac.emma-soft.com/epdfview/chrome/site/releases
build_style=gnu_configure
ignore_files="charset.alias"
short_desc="Lightweight PDF viewer using Poppler and GTK+"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=69484cd68c1d344dfc38d321abd1e07fd22521e3
long_desc="
 ePDFView is a free lightweight PDF document viewer using Poppler and
 GTK+ libraries.

 The aim of ePDFView is to make a simple PDF document viewer, in the lines
 of Evince but without using the Gnome libraries."
