# Template build file for 'evieext-1.0.2'.
pkgname=evieext-1.0.2
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="evieproto.pc"
short_desc="EvIE extension headers"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=15b04f79cbae05b39a3333695ea362d709a8042c
long_desc="
 This package provides the X11 Event Interception extension (EvIE)
 headers from modular X.org."
