# Example template build file for xbps.
#
# Use this file to create new templates, as it contains all variables
# that can currently be used with xbps.

# Name of the package, sometimes you need a different name than
# the one used in the source distribution file so in that case use
# the $distfiles var.
#pkgname=example-1.0.0

# Suffix extraction, only supported: tar, tar.gz and tar.bz2.
#extract_sufx=".tar.bz2"

# Use this if $pkgname doesn't match or if there are multiple
# source distribution files (not yet supported).
#distfiles="example-dist-1.0.0.tar.bz2 example-dist-data-1.0.0.tar.bz2"

# Use this if the extracted directory doesn't match with $pkgname.
#wrksrc="example-dist-1.0.0"

# Patches to be applied before the package is being built.
# They can be without compression (.diff) or compressed with gzip/bzip2.
#patch_files="example-fix-blah.diff example-fix-blob.diff.bz2"

# URL to fetch. BEWARE: DO NOT ADD A SLASH AT THE END OF THE URL.
#url=http://www.example.org/releases

# Arguments passed to configure if $build_style = {,gnu_}configure.
#configure_args="--with-foo --without-blah"

# Arguments passed to configure through the environment.
#configure_env="ac_cv_enable_foo=yes"

# Build style: gnu_configure, bsd-makefile, gnu-makefile, configure.
#build_style=gnu_configure

# Passed flags to the 'make' command before building the package.
#make_build_args="-j4"

# Target to be used for building. Use it if default is not the one
# that is needed.
#make_build_target="mytarget"

# Passed flags to the 'make' command before installing the package.
#make_install_args=""

# Target to be used for installing. Use it if default is not the
# one that is needed.
#make_install_target="install-foo"

# Make command to be used while building, it needs a full path.
# Uncomment the following line to use GNU make.
#make_cmd="$XBPS_MASTERDIR/bin/gmake"

# List of pkg-config files to be transformed once the package has
# been installed.
#pkgconfig_override="foo.pc blah.pc"

# Short description for this package, max 1 line of 72 chars.
#short_desc="Example template"

# Maintainer for this template.
#maintainer="Blah <foo@blah.org>"

# Checksum of distribution file, with RMD160.
# To generate it use: "cksum -a rmd160 file|awk '{print $4}'".
#checksum=9010291k1111092019209129019201

# Long description. Preferibly first line should be left blank
# and use a whitespace while starting lines.
# Please also respect 72 chars per line if possible (max 80).
#long_desc="
# First line............................................................
# Second Line...........................................................
# Third line... blah blah blah..........................................
# Nth line... blah blah ..............................................."

# Run helpers after the package has been installed and stowned.
# Helpers are located at XBPS_DISTRIBUTIONDIR/helper-templates.
#
#postinstall_helpers="blah.sh"
