# Template file for 'expat'
pkgname=expat
version=2.0.1
distfiles="
http://kent.dl.sourceforge.net/sourceforge/expat/$pkgname-$version@.tar.gz"
build_style=gnu_configure
short_desc="XML parser library written in C"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=d31bcb152adaff9e358968be1ea901e1b4ed3b2f
long_desc="
 This is James Clark's expat XML parser library in C. It is a stream
 oriented parser that requires setting handlers to deal with the
 structure that the parser discovers in the document."
