# ----*----		----*-----
# Example template build file for 'expat-2.0.1'
# ----*----		----*-----
#
# Name of the package, sometimes you need a different name than
# the one used in the source distribution file.
pkgname=expat-2.0.1

# Suffix extraction, only supported: zip and tar/tar+(gz|bzip2).
extract_sufx=".tar.gz"

# Use this if pkgname doesn't match or if there are multiple
# source distribution files.
#distfiles=""

#
# URL to fetch. Do not add a slash at the end.
#
url=http://kent.dl.sourceforge.net/sourceforge/expat

# Arguments passed to configure if $build_style = {,gnu_}configure.
#configure_args=""

# Arguments passed to configure through the environment
#configure_env=""

# Build style: gnu_configure, bsd-makefile, gnu-makefile, configure.
build_style=gnu_configure

# Passed flags to the 'make' command before building the package.
#make_build_args=""

# Passed flags to the 'make' command before installing the package.
#make_install_args=""

# Short description, max 1 line of 72 chars.
short_desc="XML parser library written in C"

# Maintainer of this pkg: name <email>.
maintainer="Juan RP <xtraeme@gmail.com>"

# Checksum of file with rmd160.
checksum=d31bcb152adaff9e358968be1ea901e1b4ed3b2f

# Long description. Preferibly first line should be left blank
# and use a whitespace while starting lines.
#
# Please also respect 72 chars per line if possible (max 80).
#
long_desc="
 This is James Clark's expat XML parser library in C. It is a stream
 oriented parser that requires setting handlers to deal with the
 structure that the parser discovers in the document."
