# Template file for 'fakeroot'
pkgname=fakeroot
version=1.10.1
distfiles="http://ftp.de.debian.org/debian/pool/main/f/fakeroot/${pkgname}_${version}@.tar.gz"
build_style=gnu_configure
short_desc="Gives a fake root environment"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=67235ca9c6ee3e9d393d5cfa9b93d493f1def3ed1f752c7232bf4d526d14c7cf
long_desc="
 This package is intended to enable something like:

  dpkg-buildpackage -rfakeroot

 i.e. to remove the need to become root for a package build. This is done by
 setting LD_PRELOAD to libfakeroot.so, which provides wrappers around getuid,
 chown, chmod, mknod, stat, and so on, thereby creating a fake root
 environment."

build_depends="libtool-2.2.6a"
