# Template file for 'file'
pkgname=file
version=4.26
distfiles="ftp://ftp.astron.com/pub/file/$pkgname-$version.tar.gz"
build_style=gnu_configure
no_libtool_fixup=yes
short_desc="File type identification utility"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=682f7de5c12d35ff2d9e2ec3c6a753bd5a01e0f7f3110501be0bafef1d5e9654
long_desc="
 File attempts to classify files depending on their contents and prints
 a description if a match is found."

base_chroot=yes
build_depends="zlib-1.2.3"
run_depends="glibc-2.8 zlib-1.2.3"
