# Template file for 'findutils'
pkgname=findutils
version=4.4.0
distfiles="http://ftp.gnu.org/gnu/$pkgname/$pkgname-$version@.tar.gz"
build_style=gnu_configure
short_desc="The GNU Find Utilities"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=fb108c2959f17baf3559da9b3854495b9bb69fb13309fdd05576c66feb661ea9
long_desc="
 The GNU Find Utilities are the basic directory searching utilitiesof the
 GNU operating system. These programs are typically used in conjunction with
 other programs to provide modular and powerful directory search and file
 locating capabilities to other commands."

base_chroot=yes
run_depends="glibc-2.8"
