# Template build file for 'firefox'.
pkgname=firefox
version=3.0.3
wrksrc=mozilla
distfiles="$pkgname-$version-source$extract_sufx"
extract_sufx=".tar.bz2"
url=http://sunsite.rediris.es/pub/mozilla.org/firefox/releases/3.0.3/source
build_style=gnu_configure
configure_args="--enable-default-toolkit=cairo-gtk2 --disable-dbus
 --disable-crashreporter --enable-xft --with-pthreads --enable-xinerama
 --enable-svg --enable-svg-renderer=cairo --enable-system-cairo
 --enable-crypto --enable-application=browser --disable-gnomevfs
 --disable-gnomeui"
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
short_desc="Lightweight gecko-based web browser"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=50f5c23182ac8bfe1a33502fb04814a3961c5033
long_desc="
 Mozilla Firefox is a free, open-source and cross-platform web browser
 for Windows, Linux, MacOS X and many other operating systems. It is
 small, fast and easy to use, and offers many advantages over other web
 browsers, such as tabbed browsing and the ability to block pop-up
 windows.

 Firefox also offers excellent bookmark and history management, and it
 can be extended by developers using industry standards such as XML,
 CSS, JavaScript, C++, etc. Many extensions are available."
