# Template build file for 'fixesproto'.
pkgname=fixesproto
version=4.0
distfiles="
http://xorg.freedesktop.org/releases/individual/proto/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="fixesproto.pc"
short_desc="Fixes extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=fc1c2130ae89a88365cb039a5e9ffb8c6651c16e
long_desc="
 This provides the Fixes extension headers from modular X.org X11
 project."
