# Template build file for 'fixesproto-4.0'.
pkgname=fixesproto-4.0
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="fixesproto.pc"
short_desc="Fixes extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=fc1c2130ae89a88365cb039a5e9ffb8c6651c16e
long_desc="
 This provides the Fixes extension headers from modular X.org X11
 project."
