# Template build file for 'font-cursor-misc'.
pkgname=font-cursor-misc
version=1.0.0
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/font
build_style=gnu_configure
short_desc="Standard X11 cursors in PCF format"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=f42933e4ed9194f6a9c7c1f8bfe793ed7b3341be
long_desc="
 The font-cursor-misc package provides around 75 cursors in the
 portable PCF format. These include the X cursor, arrows, clock
 cursor, crosshair, fleur cursor, iron cross, sailboat cursor, and
 many more."

# Build fonts.dir and fonts.scale files after install.
fonts_dir="$PKGFS_MASTERDIR/lib/X11/fonts/misc"
postinstall_helpers="mkfontxx-rebuild.sh"
ignore_files="fonts.scale fonts.dir"
