# Template build file for 'font-adobe-100dpi'.
pkgname=font-adobe-100dpi
version=1.0.0
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/font
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
short_desc="Standard 100dpi Adobe PCF fonts"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=34a3af933a71062f27d1b6b305a497e9e9f2606d
long_desc="
 Theses are the PCF versions of the following Adobe fonts for 100dpi displays:
  - Courier
  - Helvetica
  - New Century Schoolbook
  - Symbol
  - Times

 This is from the modular Xorg project."
