# Template build file for 'fontsproto-2.0.2'.
pkgname=fontsproto-2.0.2
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="fontsproto.pc"
short_desc="Fonts extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=ca0f656316425d4ed85a7486c7917defb2242910
long_desc="
 This package provides the fonts extension headers from the modular
 X.org X11 project."
