# Template build file for 'font-bitstream-type1'.
pkgname=font-bitstream-type1
version=1.0.0
distfiles="
http://xorg.freedesktop.org/releases/individual/font/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Standard Type1 Bitstream PCF fonts"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=7648f71312d2b79034ee00037a79dc0568450251
long_desc="
 This are the PCF versions of the following Type1 Bitstream fonts:
  - Type1

 This is from the modular Xorg project."

# Build fonts.dir and fonts.scale files after install.
fonts_dir="$XBPS_MASTERDIR/lib/X11/fonts/Type1"
postinstall_helpers="mkfontxx-rebuild.sh"
ignore_files="fonts.scale fonts.dir"
