# Template build file for 'font-adobe-utopia-type1'.
pkgname=font-adobe-utopia-type1
version=1.0.1
distfiles="
http://xorg.freedesktop.org/releases/individual/font/$pkgname-$version.tar.bz2"
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Adobe Utopia Type1 fonts"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=73cf16a10870d134526feb4db5877a193a49a4db
long_desc="
 This are the Type1 versions of the following Adobe fonts:
  - Adobe Utopia

 This is from the modular Xorg project."

# Build fonts.dir and fonts.scale files after install.
fonts_dir="$XBPS_MASTERDIR/lib/X11/fonts/Type1"
postinstall_helpers="mkfontxx-rebuild.sh"
ignore_files="fonts.scale fonts.dir"
