# Template build file for 'fontcacheproto'.
pkgname=fontcacheproto
version=0.1.2
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="fontcacheproto.pc"
short_desc="Fontcache extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=8873d1dd45a39c42e44d7f3f7e6bd779ee40462b
long_desc="
 This package provides the Fontcache extension headers from the
 modular X.org X11 project."
