# Template build file for 'font-alias'.
pkgname=font-alias
version=1.0.1
distfiles="
http://xorg.freedesktop.org/releases/individual/font/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
short_desc="Standard aliases for X11 PCF fonts"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=7ede1e1ff430eb95d2b44f2ed4f6a32159afea48
long_desc="
 The font-alias package contains a font.alias tables for the various PCF
 packages of modular Xorg. It maps common legacy names to full font
 descriptors. The most important alias is fixed, which is needed for
 the X server to run."
