# Template build file for 'font-util'.
pkgname=font-util
version=1.0.1
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/font
build_style=gnu_configure
short_desc="Tools for truncating and subseting of ISO10646-1 BDF fonts"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=a9c758164ebc1da1a743fa73b68fae0fc5c215cc
long_desc="
 The font-util package provides ucs2any and bdftruncate tools, for
 generating  BDF fonts containing subsets of ISO 10646-1 code-points
 and generating truncated BDF font from ISO 10646-1-encoded BDF
 font. It also provides mapping-files (character set tables)
 and the fontutil pkg-config and autoconf macro files."

# Transform bdftruncate.pl with correct path.
run_stuff_before="build"
run_stuff_before_build_file="$pkgname-runstuff-before-build.sh"
