# Template build file for 'fontsproto'.
pkgname=fontsproto
version=2.0.2
distfiles="
http://xorg.freedesktop.org/releases/individual/proto/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="fontsproto.pc"
short_desc="Fonts extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=ca0f656316425d4ed85a7486c7917defb2242910
long_desc="
 This package provides the fonts extension headers from the modular
 X.org X11 project."
