# Template build file for 'font-bh-type1'.
pkgname=font-bh-type1
version=1.0.0
distfiles="
http://xorg.freedesktop.org/releases/individual/font/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Standard Bigelow & Holmes Type1 fonts"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=bb57ceadc6dfc1b00b513aa7c5a817c916f49098
long_desc="
 This are the Type1 versions of the following Bigelow & Holmes fonts:
  - Luxi Mono
  - Luxi Sans
  - Luxi Serif

 This is from the modular Xorg project."

# Build fonts.dir and fonts.scale files after install.
fonts_dir="$XBPS_MASTERDIR/lib/X11/fonts/Type1"
postinstall_helpers="mkfontxx-rebuild.sh"
ignore_files="fonts.scale fonts.dir"
