# Template build file for 'freeglut'.
pkgname=freeglut
version=2.4.0
patch_files="$pkgname-src-Makefile-in.diff"
extract_sufx=".tar.gz"
url=http://surfnet.dl.sourceforge.net/sourceforge/freeglut
build_style=gnu_configure
configure_args="--disable-warnings"
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Alternative to the OpenGL Utility Toolkit (GLUT) library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=77465647f3d65fbb5cf253eb93ac7409e0c37b14
long_desc="
 freeglut is a completely OpenSourced alternative to the OpenGL
 Utility Toolkit (GLUT) library. GLUT was originally written by
 Mark Kilgard to support the sample programs in the second edition
 OpenGL 'RedBook'. Since then, GLUT has been used in a wide variety
 of practical applications because it is simple, universally available
 and highly portable."
