# Template build file for 'freetype2'.
pkgname=freetype2
version=2.3.7
extract_sufx=".tar.bz2"
distfiles="freetype-$version"
url=http://download.savannah.gnu.org/releases/freetype
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
configure_env="GNUMAKE=$make_cmd"
pkgconfig_override="freetype2.pc"
short_desc="Font rendering engine and library API"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=7333507c5f42d451bf0541f007fe44165f090418
long_desc="
 FreeType is a portable, high-quality software solution for digital
 typography.  FreeType 1.3.1 was the last release of the FreeType 1
 engine, as the project is now switching to a new version dubbed FreeType
 2.  It has, among other things, several advantages over FreeType 1:

  * A universal and simple API to manage font files
  * Support for several font formats through loadable drivers
  * Even more portable
  * An improved anti-aliasing algorithm"
