# Template build file for 'gcc-multilib'
pkgname=gcc-multilib
version=4.3.2
wrksrc="gcc-$version"
distfiles="http://ftp.gnu.org/pub/gnu/gcc/gcc-$version/gcc-$version.tar.bz2"
build_style=gnu_configure
configure_args="--enable-clocale=gnu --disable-bootstrap
 --enable-threads=posix --enable-__cxa_atexit --enable-multilib
 --enable-languages=c,c++ --enable-tls --enable-shared --with-system-zlib
 --with-local-prefix=$XBPS_DESTDIR/$pkgname-$version"
short_desc="The GNU C Compiler suite (multilib libraries)"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=bfbf487731ad5dca37efe480a837417de071bd67e685d5c1df6a290707575165
long_desc="
 The GNU C Compiler suite, with support for C, C++, Fortran, ObjC.

 This package installs the 32 bit libraries required to compile 32 bit
 code on x86_64 systems."

only_for_archs="x86_64"
build_depends="glibc32-2.8"
run_depends="$build_depends"

post_install()
{
	local destdir=$XBPS_DESTDIR/$pkgname-$version

	# We are only interested in 32bit libs, remove anything else.
	rm -r $destdir/usr/lib64
	rm -r $destdir/usr/libexec
	rm -r $destdir/usr/include
	rm -r $destdir/usr/bin
	rm -r $destdir/usr/share
	rm $destdir/usr/lib/libiberty*
	rm -r $destdir/usr/lib/gcc/x86_64-unknown-linux-gnu/$version/*include*
	rm -r $destdir/usr/lib/gcc/x86_64-unknown-linux-gnu/$version/install-tools
	rm $destdir/usr/lib/gcc/x86_64-unknown-linux-gnu/$version/crt*
	rm $destdir/usr/lib/gcc/x86_64-unknown-linux-gnu/$version/libgcov*
}
