# Template build file for 'gcc'
pkgname=gcc
version=4.3.2
distfiles="
http://ftp.gnu.org/pub/gnu/gcc/$pkgname-$version/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
configure_args="--enable-clocale=gnu --disable-bootstrap
 --enable-threads=posix --enable-__cxa_atexit --disable-multilib
 --enable-languages=c,c++,objc,obj-c++
 --with-local-prefix=$XBPS_DESTDIR/$pkgname-$version
 --with-mpfr=$XBPS_MASTERDIR/usr --with-gmp=$XBPS_MASTERDIR/usr"
short_desc="The GNU C Compiler suite"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=bfbf487731ad5dca37efe480a837417de071bd67e685d5c1df6a290707575165
long_desc="
 The GNU C Compiler suite, with support for C, C++, Fortran, ObjC."

ignore_files="libiberty.a"
build_depends="mpfr-2.3.2 binutils-2.18"
