# Template build file for 'gegl'.
pkgname=gegl
version=0.0.20
extract_sufx=".tar.bz2"
url=ftp://ftp.gimp.org/pub/gegl/0.0
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
pkgconfig_override="gegl.pc"
short_desc="graph based image processing framework"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=b4bc7169eafa4fea512f1190f1ad835d688c4080
long_desc="
 GEGL (Generic Graphics Library) is a graph based image processing
 framework.

 GEGL provides infrastructure to do demand based cached non destructive
 image editing on larger than RAM buffers. Through babl it provides
 support for a wide range of color models and pixel storage formats for
 input and output."
