# Template build file for 'gettext-tools'.
pkgname=gettext-tools
version=0.17
patch_files="$pkgname-fix-install.diff"
distfiles="gettext-$version"
wrksrc="gettext-$version/gettext-tools"
extract_sufx=".tar.gz"
url=http://ftp.gnu.org/pub/gnu/gettext
build_style=gnu_configure
configure_args="--disable-libasprintf --without-emacs --disable-java
 --disable-native-java --enable-threads=posix --disable-openmp
 --without-included-gettext --with-libintl-prefix=$PKGFS_MASTERDIR"
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
LDFLAGS="-lintl"
ignore_files="charset.alias locale.alias"
short_desc="Internationalized Message Handling Library (developer tools)"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=36df9d4ad2848ec26729781e0d7e25b419e7d261
long_desc="
 GNU gettext provides the necessary tools and libraries for handling
 messages in different languages, as one of the steps to
 internationalisation (or i18n) of a utility.

 This package provides the developer tools, examples and documentation."
