# Template build file for 'gettext-runtime'.
pkgname=gettext-runtime
version=0.17
distfiles="gettext-$version"
wrksrc="gettext-$version/gettext-runtime"
extract_sufx=".tar.gz"
url=http://ftp.gnu.org/pub/gnu/gettext
build_style=gnu_configure
configure_args="--disable-libasprintf"
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
ignore_files="charset.alias"
short_desc="Internationalized Message Handling Library (runtime tools)"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=36df9d4ad2848ec26729781e0d7e25b419e7d261
long_desc="
 GNU gettext provides the necessary tools and libraries for handling
 messages in different languages, as one of the steps to
 internationalisation (or i18n) of a utility.

 This package provides the runtime tools and the library itself."
