# Template build file for 'gimp'.
pkgname=gimp
version=2.6.1
extract_sufx=".tar.bz2"
url=http://sunsite.rediris.es/mirror/gimp/v2.6
build_style=gnu_configure
configure_args="--disable-python"
make_cmd="$XBPS_MASTERDIR/bin/gmake"
pkgconfig_override="gimp.pc gimpthumb-2.0.pc gimpui-2.0.pc"
short_desc="The GNU image manipulation program"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=4cf18ae63a813ccf35a0b33ede3b24a304b47b03
long_desc="
 Powerful image manipulation program similar to \"Adobe Photoshop\"[tm].
 It supports layers, arbitrary image sizes and working on several images
 at the same time. It comes with a lot of useful plug-ins. Missing is CMYK
 support and more than 8 bits per channel."

# This needs GNU gettext >= 0.16.
run_stuff_before="configure"
run_stuff_before_configure_file="$XBPS_TMPLHELPDIR/external-gettext.sh"

# Update shared-mime-info database.
postinstall_helpers="update-mimedb.sh"
