# Template build file for 'git".
pkgname=git
version=1.6.0.2
extract_sufx=".tar.bz2"
url=http://www.kernel.org/pub/software/scm/git
build_style=gnu_configure
configure_env="CURLDIR=$PKGFS_MASTERDIR"
configure_args="--with-shell=/bin/sh --with-perl=$PKGFS_MASTERDIR/bin/perl
 --with-curl --without-tcltk --with-expat"
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
short_desc="GIT Tree History Storage Tool"
maintainer="Daniel Horecki <morr@morr.pl>"
checksum=eb91ca256d0fbcc956f91ad02da659d9b322261d
long_desc="
 GIT is a \"directory content manager\" designed to handle absolutely massive
 projects with speed and efficiency, and the release of the 2.6.12 (and later)
 versions of the Linux kernel as well as more and more other projects switching
 to it would indicate that it does this task well.

 GIT falls in the category of distributed version control software, similar
 to e.g. GNU Arch or Monotone (or, in the commercial world, BitKeeper). Every
 GIT working directory is a full-fledged repository with full revision tracking
 capabilities, not dependent on network access to a central server."
