# ----*----		----*-----
# Template build file for 'glib-2.18.1'
# ----*----		----*-----
#
# Name of the package, sometimes you need a different name than
# the one used in the source distribution file.
pkgname=glib-2.18.1

# Suffix extraction, only supported: zip and tar/tar+(gz|bzip2).
extract_sufx=".tar.bz2"

# Use this if pkgname doesn't match or if there are multiple
# source distribution files.
#distfiles=""

# URL to fetch
url=http://ftp.gnome.org/pub/gnome/sources/glib/2.18

# Arguments passed to configure if $build_style = {,gnu_}configure.
#configure_args=""

# Arguments passed to configure through the environment
configure_env="ac_cv_func_statfs=no"

# Build style: gnu_configure, bsd-makefile, gnu-makefile, configure.
build_style=gnu_configure

# Passed flags to the 'make' command before building the package.
#make_build_args=""

# Passed flags to the 'make' command before installing the package.
#make_install_args=""

# Short description, max 1 line of 72 chars.
short_desc="The GNU library of C routines"

# Maintainer of this pkg: name <email>.
maintainer="Juan RP <xtraeme@gmail.com>"

# Checksum of file with rmd160.
checksum=264b37584419d983685910adde8f7b282eccc1ad

# Long description. Preferibly first line should be left blank
# and use a whitespace while starting lines.
#
# Please also respect 72 chars per line if possible (max 80).
#
long_desc="
 GLib is a library containing many useful C routines for things such
 as trees, hashes, lists and strings. It is a useful general purpose
 C library used by projects such as GTK+, GIMP and GNOME."
