# Template build file for 'glib-2.18.1'
pkgname=glib-2.18.1
extract_sufx=".tar.bz2"
patch_files="glib-2.18.1-fix-statfs-netbsd.diff"
url=http://ftp.gnome.org/pub/gnome/sources/glib/2.18
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
configure_env="ac_cv_path_PKG_CONFIG=$PKGFS_MASTERDIR/bin/pkg-config
ac_cv_func_statfs=no"
build_style=gnu_configure
short_desc="The GNU library of C routines"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=264b37584419d983685910adde8f7b282eccc1ad
long_desc="
 GLib is a library containing many useful C routines for things such
 as trees, hashes, lists and strings. It is a useful general purpose
 C library used by projects such as GTK+, GIMP and GNOME."
