# Template file for 'glibc'
pkgname=glibc
version=2.8
wrksrc="libc"
distfiles="ftp://ftp.archlinux.org/other/glibc/$pkgname-2.8_20080828.tar.bz2"
build_style=gnu_configure
configure_script="../configure"
configure_args="--with-tls -disable-profile --with-__thread
 --enable-kernel=2.6.16 --enable-add-ons --without-gd --enable-bind-now
 --without-cvs --without-selinux --infodir=/usr/share/info
 --libdir=/usr/lib"
make_install_target="install_root=$XBPS_DESTDIR/$pkgname-$version install
 localedata/install-locales"
short_desc="The GNU C library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=f5756668f201e093cae0404e59dcf8c43ccc07757fd0a7455298ed89126c366a
long_desc="
 The GNU C Library is the standard system C library for all GNU systems,
 and is an important part of what makes up a GNU system.  It provides the
 system API for all programs written in C and C-compatible languages such
 as C++ and Objective C; the runtime facilities of other programming
 languages use the C library to access the underlying operating system."

base_chroot=yes
build_depends="gcc-4.3.2"

pre_configure()
{
	# We must configure it in another directory.
	mkdir -p $wrksrc/build_obj && cd $wrksrc/build_obj
	wrksrc=$wrksrc/build_obj
	echo "slibdir=/lib" > $wrksrc/configparms
	# glibc fails to build if -march not set for a minimal cpu.
	if [ "$xbps_machine" != "x86_64" ]; then
		echo "CFLAGS+=-march=${xbps_machine%%-*} -mtune=generic" \
			>> $wrksrc/configparms
	fi
}

pre_install()
{
	# Create destdir/etc/ld.so.conf
	mkdir -p $XBPS_DESTDIR/$pkgname-$version/etc
	touch $XBPS_DESTDIR/$pkgname-$version/etc/ld.so.conf
}

post_install()
{
	local destdir=$XBPS_DESTDIR/$pkgname-$version

	# Replace hardcoded path to bash.
	. $XBPS_HELPERSDIR/replace-interpreter.sh
	replace_interpreter bash $destdir/usr/bin/ldd

	# On x86_64, add dynamic linker's 32bit version to ldd.
	if [ "$xbps_machine" = "x86_64" ]; then
		rtldlist="/lib/ld-linux.so.2 /lib/ld-linux-x86-64.so.2"
		sed -i "s|^RTLDLIST.*$|RTLDLIST=\"$rtldlist\"|" \
			$destdir/usr/bin/ldd
	fi

	wrksrc=libc
}
