# Template build file for 'glib'
pkgname=glib
version=2.18.1
extract_sufx=".tar.bz2"
patch_files="$pkgname-fix-statfs-netbsd.diff"
url=http://ftp.gnome.org/pub/gnome/sources/glib/2.18
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
# Disable FAM for now and use the installed pcre package instead
# of the supplied one.
configure_args="--disable-fam --with-pcre=system"
configure_env="ac_cv_func_statfs=no"
ignore_files="charset.alias"
build_style=gnu_configure
pkgconfig_override="glib-2.0.pc gmodule-2.0.pc gmodule-export-2.0.pc
 gmodule-no-export-2.0.pc gobject-2.0.pc gthread-2.0.pc gio-2.0.pc
 gio-unix-2.0.pc"
short_desc="The GNU library of C routines"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=264b37584419d983685910adde8f7b282eccc1ad
long_desc="
 GLib is a library containing many useful C routines for things such
 as trees, hashes, lists and strings. It is a useful general purpose
 C library used by projects such as GTK+, GIMP and GNOME."
