# Template build file for 'glitz'.
pkgname=glitz
version=0.5.6
extract_sufx=".tar.gz"
url=http://cairographics.org/snapshots
build_style=gnu_configure
configure_args="--with-x"
pkgconfig_override="glitz.pc"
short_desc="OpenGL 2D graphics library and a backend for gl output in cairo"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=547ef1be273856942e0fa36c097c4acb367336b2
long_desc="
 Glitz is a portable 2D graphics library that uses OpenGL to render hardware
 accelerated graphics. It supports many of the latest OpenGL features, such as
 efficient off-screen rendering using pbuffers. Rendering can be carried out by
 arbitrary OpenGL layers, thanks to glitz's extensible backend system.

 Glitz is designed to match the X Render Extension semantics and provides
 a general way for accelerating this imaging model. Glitz can be used as
 a stand-alone layer above OpenGL but is also designed to act as a backend for
 cairo, providing it with OpenGL accelerated output."
