# Template build file for 'glproto'.
pkgname=glproto
version=1.4.9
distfiles="
http://xorg.freedesktop.org/releases/individual/proto/$pkgname-$version.tar.bz2"
build_style=gnu_configure
pkgconfig_override="glproto.pc"
short_desc="GL extension headers"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=54c08968532bccfbd666eafc2cb4132432096d10
long_desc="
 This package provides the GL extension headers from modular X.org."
