# Template build file for 'glproto-1.4.9'.
pkgname=glproto-1.4.9
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="glproto.pc"
short_desc="GL extension headers"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=54c08968532bccfbd666eafc2cb4132432096d10
long_desc="
 This package provides the GL extension headers from modular X.org."
