# ----*----		----*-----
# Template build file for 'gmake-3.81'
# ----*----		----*-----
#
# Name of the package, sometimes you need a different name than
# the one used in the source distribution file.
pkgname=gmake-3.81

# Suffix extraction, only supported: zip and tar/tar+(gz|bzip2).
extract_sufx=".tar.bz2"

# Use this if pkgname doesn't match or if there are multiple
# source distribution files.
distfiles="make-3.81"

# URL to fetch
url=http://ftp.gnu.org/pub/gnu/make

# Arguments passed to configure if $build_style = {,gnu_}configure.
configure_args="--program-prefix=g"

# Build style: gnu_configure, bsd-makefile, gnu-makefile, configure.
build_style=gnu_configure

# Passed flags to the 'make' command before building the package.
make_build_args=""

# Passed flags to the 'make' command before installing the package.
#make_install_args=""

# Short description, max 1 line of 72 chars.
short_desc="The GNU make system"

# Maintainer of this pkg: name <email>.
maintainer="Juan RP <xtraeme@gmail.com>"

# Checksum of file with rmd160.
checksum=79d418e1258ec0d6ba08b1431a4ade3fec54c2b2

# Long description. Preferibly first line should be left blank
# and use a whitespace while starting lines.
#
# Please also respect 72 chars per line if possible (max 80).
#
long_desc="
 GNU Make is a program that determines which pieces of a large
 program need to be recompiled and issues the commands to
 recompile them, when necessary."
