# Template file for 'gstreamer'.
pkgname=gstreamer
version=0.10.21
distfiles="
http://gstreamer.freedesktop.org/src/gstreamer/$pkgname-$version.tar.bz2"
build_style=gnu_configure
short_desc="Core GStreamer libraries and elements"
maintainer="pancake <pancake@nopcode.org>"
checksum=94c185a0452b5fcddb538f6b686ff959b7afca8340c48fdbe47c87a2a459c3d3
long_desc="
GStreamer is a library for constructing of graphs of media-handling components.
The use cases it covers range from simple Ogg/Vorbis playback, audio/video streaming
to complex audio (mixing) and video (non-linear editing) processing.

Applications can take advantage of advances in codec and filter technology
transparently. Developers can add new codecs and filters by writing a simple plugin
with a clean, generic interface."

# Update db modules files once installed.
postinstall_helpers="gtk-update-immodules.sh gtk-update-gdkpixbufloaders.sh"
