# Template build file for 'gtar'.
pkgname=gtar
version=1.20
wrksrc="tar-$version"
distfiles="http://ftp.gnu.org/gnu/tar/tar-$version@.tar.bz2"
build_style=gnu_configure
configure_args="--program-prefix=g"
ignore_files="charset.alias"
short_desc="The GNU tape archiver with remote magnetic tape support"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=cb5a708e847489e5370b83a433f3e847ce359e56
long_desc="
 GNU tar, originally shipped as NetBSD's "tar" up to version 1.3, is a
 full-featured tar command that can access remote and local magnetic tapes,
 tar files (ustar, POSIX, and V7), and even compressed or gzipped versions
 of these.  Note that as of the current version of GNU tar (1.12), gtar
 does not create "correct" ustar archives."
