# Template build file for 'gtk+-2.14.3'.
pkgname=gtk+-2.14.3
patch_files="$pkgname-tests-Makefile-in.diff"
extract_sufx=".tar.bz2"
url=http://ftp.gnome.org/pub/GNOME/sources/gtk+/2.14
build_style=gnu_configure
configure_args="--disable-cups"
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
pkgconfig_override="gail.pc gdk-2.0.pc gdk-pixbuf-2.0.pc gdk-pixbuf-xlib-2.0.pc
gdk-x11-2.0.pc gtk+-2.0.pc gtk+-unix-print-2.0.pc gtk+-x11-2.0.pc"
short_desc="GIMP Toolkit v2 - libraries for building X11 user interfaces"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=bc7a608ec30b013bf360c3a6a6c0e15adf337272
long_desc="
 GTK+ is a multi-platform toolkit for creating graphical user
 interfaces. Offering a complete set of widgets, GTK+ is suitable for
 projects ranging from small one-off tools to complete application
 suites.

 GTK+ has been designed from the ground up to support a range of
 languages, not only C/C++. Using GTK+ from languages such as Perl and
 Python (especially in combination with the Glade GUI builder) provides
 an effective method of rapid application development."

# Update db modules files once installed.
postinstall_helpers="gtk-update-immodules.sh gtk-update-gdkpixbufloaders.sh"
