# Template build file for 'hicolor-icon-theme'.
pkgname=hicolor-icon-theme
version=0.10
extract_sufx=".tar.gz"
url=http://icon-theme.freedesktop.org/releases
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Standard icon theme called hicolor"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=934a935524f1554a4bd462fe203979fd7f0d5846
long_desc="
 Default icon theme called hicolor, from freedesktop.org."

# Rebuild icon cache.
postinstall_helpers="gtk-update-icon-cache.sh"
