# Template file for 'iana-etc'
pkgname=iana-etc
version=2.30
distfiles="http://sethwklein.net/$pkgname-$version@.tar.bz2"
build_style=gnu_makefile
make_build_args="STRIP=yes"
make_install_args="DESTDIR=$XBPS_DESTDIR/$pkgname-$version"
short_desc="Unix /etc/services and /etc/protocols files"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=b9a6874fb20012836efef75452ef2acae624022d680feeb1994d73facba3f20d
long_desc="
 The iana-etc package provides the Unix/Linux /etc/services and
 /etc/protocols files."
