# Template build file for 'icu'.
pkgname=icu
version=4.0
wrksrc="icu/source"
distfiles="http://download.icu-project.org/files/icu4c/4.0/icu4c-4_0-src@.tgz"
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Robust and full-featured Unicode services"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=c80dc50b9177b60a0191ea095c4c1c3360d2c6f4
long_desc="
 The International Components for Unicode(ICU) is a C and C++ library that
 provides robust and full-featured Unicode support on a wide variety of
 platforms. The library provides:

 - Calendar support
 - Character set conversions
 - Collation (language-sensitive)
 - Date & time formatting
 - Locales (140+ supported)
 - Message catalogs (resources)
 - Message formatting
 - Normalization
 - Number & currency formatting
 - Time zones
 - Transliteration
 - Word, line & sentence breaks"
