# Template file for 'initng-ifiles'
pkgname=initng-ifiles
version=0.1.5
distfiles="http://download.initng.org/$pkgname/v0.1/$pkgname-$version.tar.bz2"
build_style=configure
configure_script="cmake"
configure_args="-DINSTALL_AS_INIT=ON
 -DSYSCONF_INSTALL_DIR=$XBPS_DESTDIR/$pkgname-$version/etc
 -DSBIN_INSTALL_DIR=$XBPS_DESTDIR/$pkgname-$version/sbin
 -DLIB_INSTALL_DIR=$XBPS_DESTDIR/$pkgname-$version/lib
 -DINCLUDE_INSTALL_DIR=$XBPS_DESTDIR/$pkgname-$version/usr/include
 -DDATA_INSTALL_DIR=$XBPS_DESTDIR/$pkgname-$version/usr/share
 -DBIN_INSTALL_DIR=$XBPS_DESTDIR/$pkgname-$version/bin ."
short_desc="The next generation init system (init files)"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=157d0fdf9dfffc1285a6669708dc86218a3934faa71acc69a4e3ce76a6424794
long_desc="
 Initng is a full replacement of the old and in many ways deprecated
 sysvinit tool. It is designed to significantly increase the booting
 speed of a unix-like operating system by starting processes
 asynchronously.

 This packages contains the files necessary to run initng."

build_depends="cmake-2.6.2 initng-0.6.10.2"
run_depends="glibc-2.8 initng-0.6.10.2 sysklogd-1.5"

pre_install()
{
	# Replace hardcoded prefix.
	sed -i -e "s|@LIB_INSTALL_DIR@|/lib|g" $wrksrc/genrunlevel.in
}
