# Template file for 'initramfs-tools'
pkgname=initramfs-tools
version=0.92l
wrksrc=$pkgname
distfiles="
http://ftp.de.debian.org/debian/pool/main/i/$pkgname/${pkgname}_${version}.tar.gz"
build_style=custom-install
short_desc="Tools for generating an initramfs"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=cb4968ea4ffbdff777c865b0c8e71e49547bd15798ad5077244c3bb302de307e
long_desc="
 This package contains tools to create and boot an initramfs for packaged 2.6
 Linux kernel. The initramfs is a gzipped cpio archive. At boot time, the
 kernel unpacks that archive into RAM, mounts and uses it as initial root
 file system. The mounting of the real root file system occurs in early user
 space. klibc provides utilities to setup root. Having the root on EVMS, MD,
 LVM2, LUKS or NFS is also supported. Any boot loader with initrd support is
 able to load an initramfs archive."

build_depends="cpio-2.9 util-linux-2.12r klibc-1.5.14 module-init-tools-3.5 udev-1.30"
run_depends="glibc-2.8 $build_depends"

do_install()
{
	local destdir=$XBPS_DESTDIR/$pkgname-$version
	local etcdir=$destdir/etc/$pkgname

	# Required dirs
	install -d -m 755 $etcdir/hooks
	install -d -m 755 $etcdir/conf.d
	install -d -m 755 $etcdir/scripts/init-{bottom,premount,top}
	install -d -m 755 $etcdir/scripts/local-{bottom,premount,top}
	install -d -m 755 $etcdir/scripts/nfs-{bottom,premount,top}
	install -d -m 644 $destdir/usr/share/$pkgname
	install -d -m 755 $destdir/usr/share/$pkgname/conf.d
	install -d -m 755 $destdir/usr/share/$pkgname/hooks
	install -d -m 755 $destdir/usr/share/$pkgname/hooksconf.d
	install -d -m 755 $destdir/usr/share/$pkgname/modules.d
	install -d -m 755 $destdir/usr/share/$pkgname/scripts
	install -d -m 755 $destdir/usr/share/$pkgname/scripts/init-{premount,top}
	install -d -m 755 $destdir/usr/share/$pkgname/scripts/local-{premount,top}
	install -d -m 644 $destdir/usr/share/doc/$pkgname
	install -d -m 644 $destdir/usr/share/doc/$pkgname/examples
	install -d -m 644 $destdir/usr/share/man/man{5,8}
	install -d -m 755 $destdir/usr/sbin

	# /etc config files
	install -m 644 $wrksrc/conf/initramfs.conf $etcdir
	install -m 644 $wrksrc/conf/update-initramfs.conf $etcdir

	# Data
	install -m 755 $wrksrc/init $destdir/usr/share/$pkgname
	install -m 644 $wrksrc/scripts/{functions,local,nfs} \
		$destdir/usr/share/$pkgname/scripts
	install -m 755 $wrksrc/scripts/init-premount/* \
		$destdir/usr/share/$pkgname/scripts/init-premount
	install -m 755 $wrksrc/scripts/init-top/* \
		$destdir/usr/share/$pkgname/scripts/init-top
	install -m 755 $wrksrc/scripts/local-premount/* \
		$destdir/usr/share/$pkgname/scripts/local-premount
	install -m 755 $wrksrc/scripts/local-top/* \
		$destdir/usr/share/$pkgname/scripts/local-top
	install -m 755 $wrksrc/hooks/* $destdir/usr/share/$pkgname/hooks
	install -m 644 $wrksrc/hook-functions $destdir/usr/share/$pkgname
	install -m 644 $wrksrc/conf/modules $destdir/usr/share/$pkgname

	# Examples
	install -m 644 $wrksrc/docs/* $destdir/usr/share/doc/$pkgname/examples
	
	# Manpages
	install -m 644 $wrksrc/*.5 $destdir/usr/share/man/man5
	install -m 644 $wrksrc/*.8 $destdir/usr/share/man/man8

	# Scripts
	install -m 755 $wrksrc/mkinitramfs{,-kpkg} $destdir/usr/sbin
	install -m 755 $wrksrc/update-initramfs $destdir/usr/sbin
}
