# Template file for 'inputproto-1.4.4'
pkgname=inputproto-1.4.4
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="inputproto.pc"
short_desc="Input extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=771db687cab6f2e77f36e3efd1bc4793c73b152b
long_desc="
 This provides the input extension headers from modular X.org X11 project."
