# Template build file for 'intltool'.
pkgname=intltool
version=0.40.4
extract_sufx=".tar.bz2"
url=http://ftp.gnome.org/pub/GNOME/sources/intltool/0.40
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
short_desc="Toolbox for internationalisation"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=2d6bf321d83a6ac6967bad8f4439af7a14d84314
long_desc="
 The intltool collection can be used to do these things:

  o Extract translatable strings from various source files (.xml.in,
    .glade, .desktop.in, .server.in, .oaf.in).

  o Collect the extracted strings together with messages from traditional
    source files (.c, .h) in po/\$(PACKAGE).pot.

  o Merge back the translations from .po files into .xml, .desktop and
    .oaf files.  This merge step will happen at build resp. installation
    time.

 The intltool package has a script, intltoolize, which copies the various
 scripts and does the other magic to your module. So users building
 from tarballs don't need intltool, only folks building from cvs.
 (This is modeled on gettextize.)"
