# ----*----		----*-----
# Template build file for 'irssi-0.8.12'
# ----*----		----*-----
#
# Name of the package, sometimes you need a different name than
# the one used in the source distribution file.
pkgname=irssi-0.8.12

# Suffix extraction, only supported: zip and tar/tar+(gz|bzip2).
extract_sufx=".tar.bz2"

# Use this if pkgname doesn't match or if there are multiple
# source distribution files.
#distfiles=""

# URL to fetch
url=http://www.irssi.org/files

# Arguments passed to configure if $build_style = {,gnu_}configure.
#configure_args=""

# Arguments passed to configure through the environment
#configure_env=""

# Build style: gnu_configure, bsd-makefile, gnu-makefile, configure.
build_style=gnu_configure

# Passed flags to the 'make' command before building the package.
#make_build_args=""

# Passed flags to the 'make' command before installing the package.
#make_install_args=""

# Short description, max 1 line of 72 chars.
short_desc="Secure and modular IRC client with text mode user interface"

# Maintainer of this pkg: name <email>.
maintainer="Juan RP <xtraeme@gmail.com>"

# Checksum of file with rmd160.
checksum=0588e6c2df0425c4f36bd84c1621d9ad170b6a81

# Long description. Preferibly first line should be left blank
# and use a whitespace while starting lines.
#
# Please also respect 72 chars per line if possible (max 80).
#
long_desc="
Irssi is a modular IRC client that currently has only text mode user
interface, but 80-90% of the code isn't text mode specific, so other UIs
could be created pretty easily. Also, Irssi isn't really even IRC specific
anymore, there's already a working SILC module available. Support for other
protocols like ICQ could be created some day too."
