# Template build file for 'irssi'
pkgname=irssi
version=0.8.12
extract_sufx=".tar.bz2"
url=http://www.irssi.org/files
# We need this to get some perl paths.
. $XBPS_TMPLHELPDIR/perl-module.sh

configure_args="--with-terminfo --with-proxy --without-curses
 --with-perl-lib=$PERL_SITELIBEXP"
build_style=gnu_configure
short_desc="Secure and modular IRC client with text mode user interface"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=0588e6c2df0425c4f36bd84c1621d9ad170b6a81
long_desc="
 Irssi is a modular IRC client that currently has only text mode user
 interface, but 80-90% of the code isn't text mode specific, so other UIs
 could be created pretty easily. Also, Irssi isn't really even IRC specific
 anymore, there's already a working SILC module available. Support for other
 protocols like ICQ could be created some day too."
