# Template build file for 'irssi'
pkgname=irssi
version=0.8.12
distfiles="http://www.irssi.org/files/$pkgname-$version.tar.bz2"
# We need this to get some perl paths.
. $XBPS_TMPLHELPDIR/perl-module.sh
configure_args="--with-proxy --with-perl-lib=$PERL_SITELIBEXP"
build_style=gnu_configure
short_desc="Secure and modular IRC client with text mode user interface"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=462d634bb509cc2bdd550ee5c7b269495f3173721b7404f162ad1f69b49bfff0
long_desc="
 Irssi is a modular IRC client that currently has only text mode user
 interface, but 80-90% of the code isn't text mode specific, so other UIs
 could be created pretty easily. Also, Irssi isn't really even IRC specific
 anymore, there's already a working SILC module available. Support for other
 protocols like ICQ could be created some day too."

build_depends="glib-2.18.2 perl-5.10.0 openssl-0.9.8i ncurses-5.6"
run_depends="glib-2.18.2 openssl-0.9.8i ncurses-5.6"
