# Template build file for 'jasper-1.900.1'.
pkgname=jasper-1.900.1
extract_sufx=".zip"
url=http://www.ece.uvic.ca/~mdadams/jasper/software
build_style=gnu_configure
configure_args="--enable-shared --without-x --disable-opengl"
short_desc="Software-based reference implementation of the JPEG-2000 codec"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=fb2c188abf5b8c297078ac1f913101734f72db5c
long_desc="
  The JasPer Project is a collaborative effort between Image Power, Inc.
and the University of British Columbia. The objective of this project is
to develop a software-based reference implementation of the codec
specified in the JPEG-2000 Part-1 standard (i.e., ISO/IEC 15444-1).This
software has also been submitted to the ISO for inclusion in the JPEG-2000
Part-5 standard (as an official reference implementation)."
