# Template build file for 'jpeg'.
pkgname=jpeg
version=6b
wrksrc=$pkgname-$version
patch_files="$pkgname-makefile-cfg.diff"
distfiles="jpegsrc.v6b"
extract_sufx=".tar.gz"
url=ftp://ftp.fu-berlin.de/unix/graphics/jpeg
build_style=gnu_configure
make_install_target="install install-lib"
configure_args="--enable-shared --enable-static"
short_desc="IJG's jpeg compression utilities"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=18892206014fbb8cae2a44e281f4ed53feaf7882
long_desc="
 The Independent JPEG Group's JPEG software
 ==========================================

 README for release 6 of 2-Aug-95
 ================================

 This distribution contains the sixth public release of the Independent JPEG
 Group's free JPEG software.  You are welcome to redistribute this software and
 to use it for any purpose, subject to the conditions under LEGAL ISSUES, below.

 Serious users of this software (particularly those incorporating it into
 larger programs) should contact IJG at jpeg-info@uunet.uu.net to be added to
 our electronic mailing list.  Mailing list members are notified of updates
 and have a chance to participate in technical discussions, etc.

 This software is the work of Tom Lane, Philip Gladstone, Luis Ortiz, Jim
 Boucher, Lee Crocker, Julian Minguillon, George Phillips, Davide Rossi,
 Ge' Weijers, and other members of the Independent JPEG Group.

 IJG is not affiliated with the official ISO JPEG standards committee."
