# Template file for 'kbd'
pkgname=kbd
version=1.12
distfiles="http://www.kernel.org/pub/linux/utils/kbd/$pkgname-$version@.tar.bz2"
build_style=configure
configure_args="--datadir=/usr/share --mandir=/usr/share/man"
make_install_args="DESTDIR=$XBPS_DESTDIR/$pkgname-$version
 BINDIR=$XBPS_DESTDIR/$pkgname-$version/bin"
short_desc="Linux keyboard utilities"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=0e273fd0c32f3b271e4bf998a3510e1b94b4cbf7a13786637652813f8439321f
long_desc="
 The kbd package contains keytable files and keyboard utilities compatible
 with kernel version 1.1.54 and later. Setfont requires 1.1.92 or later."

build_depends="gettext-0.17 bison-2.3 flex-2.5.35"
run_depends="glibc-2.8"
