# Template file for 'kbproto-1.0.3'
pkgname=kbproto-1.0.3
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
short_desc="KB extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=6547c6482a30c2b7feac09d71e9cc60dd97bc8b4
long_desc="
 This provides the KB extension headers from modular X.org X11 project."
