# Template file for 'kbproto'
pkgname=kbproto
version=1.0.3
distfiles="
http://xorg.freedesktop.org/releases/individual/proto/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="kbproto.pc"
short_desc="KB extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=6547c6482a30c2b7feac09d71e9cc60dd97bc8b4
long_desc="
 This provides the KB extension headers from modular X.org X11 project."
