# Template file for 'kernel-headers'
pkgname=kernel-headers
version=2.6.27.9
wrksrc="linux-$version"
distfiles="http://www.kernel.org/pub/linux/kernel/v2.6/linux-$version.tar.bz2"
build_style=only-install
make_install_target="
 INSTALL_HDR_PATH=$XBPS_DESTDIR/$pkgname-$version/usr
 headers_install"
short_desc="The Linux kernel headers"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=fd710a841be6119cdd2c42f92ca405265fb156e279006bb89bb874e4198b3e5e
long_desc="
 This package provides the linux kernel headers for use in userspace."

base_chroot=yes
