# Template file for 'klibc'
pkgname=klibc
version=1.5.14
distfiles="
http://www.kernel.org/pub/linux/libs/klibc/Testing/klibc-$version.tar.bz2"
build_style=gnu_makefile
make_install_target="INSTALLROOT=$XBPS_DESTDIR/$pkgname-$version install"
short_desc="Minimal libc subset for use with initramfs"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=cc6901c5859506194720ca2be01ca9bd21c47e305576da8eb662dbaadec5b9b2
long_desc="
 klibc is intended to be a minimalistic libc subset for use with initramfs.
 It is deliberately written for small size, minimal entanglement, and
 portability, not speed. It is definitely a work in progress and a lot of
 things are still missing."

build_depends="kernel26-2.6.27.3"

pre_configure()
{
	cd $wrksrc && ln -s $XBPS_MASTERDIR/usr/src/linux linux
}
