# Template build file for 'lcms'.
pkgname=lcms
version=1.17
distfiles="http://www.littlecms.com/$pkgname-$version.tar.gz"
build_style=gnu_configure
pkgconfig_override="lcms.pc"
short_desc="Light Color Management System -- a color management library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=1ad67295b53a82e4813294cbcdfccf8a5bdb1bbd
long_desc="
 LCMS is the Little Color Management System, a Color Matching Method
 (CMM) library which implements fast transforms between ICC profiles.
 It is released under LGPL with source code and meant to be portable.

 Color management refers to techniques that ensure consistent color
 as images are transferred from scanners or cameras to monitors and
 printers."
