# Template build file for 'libart'.
pkgname=libart
version=2.3.20
wrksrc="libart_lgpl-$version"
distfiles="
http://ftp.gnome.org/pub/GNOME/sources/libart_lgpl/2.3/libart_lgpl-$version@.tar.bz2"
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
pkgconfig_override="libart-2.0.pc"
short_desc="High-performance 2D graphics library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=184cd3dd96e9cfadcba327644bc8c9dd32da26fa
long_desc="
 Libart is a library for high-performance 2D graphics. It is currently
 being used as the antialiased rendering engine for the Gnome Canvas.
 It is also the rendering engine for Gill, the Gnome Illustration app.

 Libart supports a very powerful imaging model, basically the same as
 SVG and the Java 2D API. It includes all PostScript imaging
 operations, and adds antialiasing and alpha-transparency.

 Libart is also highly tuned for incremental rendering. It contains
 data structures and algorithms suited to rapid, precise computation
 of Region of Interest, as well as a two-phase rendering pipeline
 optimized for interactive display."
