# Template build file for 'libdrm'.
pkgname=libdrm
version=2.3.1
extract_sufx=".tar.bz2"
url=http://dri.freedesktop.org/libdrm
build_style=gnu_configure
pkgconfig_override="libdrm.pc"
short_desc="Userspace interface to kernel DRM services"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=9a268aef4f7a4f3c8f968202d6a531f2200080a5
long_desc="
 This package provides a library which offers a userspace interface
 to kernel DRM (Direct Rendering Manager) services for access to
 graphics hardware."
