# Template build file for 'libfontenc-1.0.4'.
pkgname=libfontenc-1.0.4
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
pkgconfig_override="fontenc.pc"
short_desc="The fontenc Library from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=7a20977bb2cf382a22873053be98bcc9f0e76438
long_desc="
 This provides the fontenc Library from the modular X.org X11 project."
