# Template build file for 'libgpg-error'.
pkgname=libgpg-error
version=1.6
extract_sufx=".tar.bz2"
url=ftp://ftp.gnupg.org/gcrypt/libgpg-error
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
short_desc="Definitions of common error values for all GnuPG components"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=5015a9e0a9c59fe5e9a45d203c324af3736c5d68
long_desc="
 libgpg-error is a library that defines common error values for all
 GnuPG components.  Among these are GPG, GPGSM, GPGME, GPG-Agent,
 libgcrypt, pinentry, SmartCard Daemon and possibly more in the future."
