# Template build file for 'libgcrypt'.
pkgname=libgcrypt
version=1.4.3
extract_sufx=".tar.bz2"
url=ftp://ftp.gnupg.org/gcrypt/libgcrypt
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
short_desc="GNU cryptographic library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=5c66365e23798289fedcd9ea837cb887fa610ff4
long_desc="
 This is a general purpose cryptographic library based on the code from GnuPG.
 It provides functions for all cryptograhic building blocks: symmetric ciphers
 (AES, DES, Blowfish, CAST5, Twofish, Arcfour), hash algorithms (MD4, MD5,
 RIPE-MD160, SHA-1, TIGER-192), MACs (HMAC for all hash algorithms), public key
 algorithms (RSA, ElGamal, DSA), large integer functions, random numbers and a
 lot of supporting functions."
