# Template file for 'libidn-1.9'
pkgname=libidn-1.9
extract_sufx=".tar.gz"
url=http://ftp.gnu.org/gnu/libidn
build_style=gnu_configure
pkgconfig_override="libidn.pc"
configure_env="EMACS=/bin/false"
configure_args="--disable-csharp --disable-java"
short_desc="Internationalized Domain Names command line tool"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=3b2217f015965600b69983cf831746a591f0680e
long_desc="
 GNU Libidn is an implementation of the Stringprep, Punycode, and IDNA
 specifications defined by the IETF Internationalized Domain Names (IDN)
 working group. It is used to prepare internationalized strings (such as
 domain name labels, usernames, and passwords) in order to increase the
 likelihood that string input and string comparison work in ways that make
 sense for typical users throughout the world.

 The library contains a generic Stringprep implementation that does Unicode
 3.2 NFKC normalization, mapping and prohibition of characters, and
 bidirectional character handling. Profiles for iSCSI, Kerberos 5, Nameprep,
 SASL, and XMPP are included. Punycode and ASCII Compatible Encoding (ACE) via
 IDNA are supported."
