# Template build file for 'libICE-1.0.4'.
pkgname=libICE-1.0.4
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
pkgconfig_override="ice.pc"
short_desc="Inter Client Exchange (ICE) library for X"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=cb83eafe547a04586877ffffa8d07e1dc9fcd613
long_desc="
 This package contains library and header files for the ICE
 extension for X. This is the Inter Client Exchange library.

 This is part of modular X.org project."
