# Template build file for 'libpng'.
pkgname=libpng
version=1.2.32
distfiles="
ftp://ftp.fu-berlin.de/unix/graphics/png/src/$pkgname-$version.tar.bz2"
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
pkgconfig_override="libpng.pc"
short_desc="Library for manipulating PNG images"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=72d06e89912121c17598573171e704ff6bac35a6
long_desc="
 Libpng was written as a companion to the PNG specification, as a
 way to reduce the amount of time and effort it takes to support
 the PNG file format in application programs. Most users will not
 have to modify the library significantly; advanced users may want
 to modify it more. The library was coded for both users.  All
 attempts were made to make it as complete as possible, while
 keeping the code easy to understand.  Currently, this library
 only supports C. Support for other languages is being considered."
