# Template build file for 'libpciaccess'.
pkgname=libpciaccess
version=0.10.3
patch_files="$pkgname-netbsd-support.diff"
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
pkgconfig_override="pciaccess.pc"
short_desc="PCI Access from Modular X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=5d972b5398f96bb94b2dab7f16613ad998887ece
long_desc="..."
