# Template build file for 'libSM'.
pkgname=libSM
version=1.1.0
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
configure_args="--without-libuuid"
pkgconfig_override="sm.pc"
short_desc="X Session Management Library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=17edd4f1e931058f86ccdff17829115d2c1f5bad
long_desc="
 This package contains the library and header files for the X Session
 Management Library. This is from the modular X.org project."
