# Template build file for 'libtool-2.2.6a'
#
# Variable only used in this template.
_mypkgname=libtool-2.2.6

pkgname=${_mypkgname}a
extract_sufx=".tar.gz"
patch_files="${_mypkgname}a-fix-ltmain.sh.diff"
wrksrc=${_mypkgname}
url=http://ftp.gnu.org/pub/gnu/libtool
build_style=gnu_configure
short_desc="Generic library support"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=f8862338e2c6ea04332fd5aad4aad5bc35d0e152
long_desc="
 This is GNU libtool, a generic library support script. Libtool hides
 the complexity of generating special library types (such as shared
 libraries) befind a consistent interface."
