# Template build file for 'libtool'
pkgname=libtool
version=2.2.6a
wrksrc="$pkgname-2.2.6"
patch_files="libtool-fix-ltmain.sh.diff"
distfiles="
http://ftp.gnu.org/pub/gnu/libtool/$pkgname-$version@.tar.gz"
build_style=gnu_configure
short_desc="Generic library support"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=f8862338e2c6ea04332fd5aad4aad5bc35d0e152
long_desc="
 This is GNU libtool, a generic library support script. Libtool hides
 the complexity of generating special library types (such as shared
 libraries) befind a consistent interface."
