# ----*----		----*-----
# Template build file for 'libtool-2.2.6a'
# ----*----		----*-----
#
# Local variable only used in this template.
_mypkgname=libtool-2.2.6
# Name of the package, sometimes you need a different name than
# the one used in the source distribution file.
pkgname=${_mypkgname}a

# Suffix extraction, only supported: zip and tar/tar+(gz|bzip2).
extract_sufx=".tar.gz"

patch_files="libtool-2.2.6a-fix-ltmain.sh.diff"

# Use this if extracted directory from source distribution file
# is not the same than pkgname.
wrksrc=${_mypkgname}

# Use this if pkgname doesn't match or if there are multiple
# source distribution files.
#distfiles=""

# URL to fetch
url=http://ftp.gnu.org/pub/gnu/libtool

# Arguments passed to configure if $build_style = {,gnu_}configure.
#configure_args=""

# Build style: gnu_configure, bsd-makefile, gnu-makefile, configure.
build_style=gnu_configure

make_build_flags="-j8"
make_install_flags=""

# Short description, max 1 line of 72 chars.
short_desc="Generic library support"

# Maintainer of this pkg: name <email>.
maintainer="Juan RP <xtraeme@gmail.com>"

# Checksum of file with rmd160.
checksum=f8862338e2c6ea04332fd5aad4aad5bc35d0e152

# Long description. Preferibly first line should be left blank
# and use a whitespace while starting lines.
#
# Please also respect 72 chars per line if possible (max 80).
#
long_desc="
 This is GNU libtool, a generic library support script. Libtool hides
 the complexity of generating special library types (such as shared
 libraries) befind a consistent interface."
