# Template build file for 'libwmf'.
pkgname=libwmf
version=0.2.8.4
extract_sufx=".tar.gz"
url=http://kent.dl.sourceforge.net/sourceforge/wvware
build_style=gnu_configure
short_desc="Library for reading and converting WMF (Windows Meta Files)"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=98cd631adb5bb332d9224d04bc8a265c105435f2
long_desc="
 libwmf is a library for UNIX-like machines that can convert wmf
 (Windows Meta Files) files into other formats.  Currently it supports
 a gd binding to convert to png, and an X one to draw direct to an X
 window or pixmap. It also comes with a program to display wmfs: wmf2x.

 Without a TrueType font server and the standard MS Windows fonts, the X
 binding might render text in a different font than would appear under
 MS Windows natively (this is a runtime issue for the wmf2x program)."
