# Template build file for 'libXxf86vm'.
pkgname=libXxf86vm
version=1.0.2
distfiles="
http://xorg.freedesktop.org/releases/individual/lib/$pkgname-$version.tar.bz2"
build_style=gnu_configure
pkgconfig_override="xxf86vm.pc"
short_desc="Library for the XFree86-VidMode X extension"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=10fcd0ebd90c0110e6b04da660578aa883895256
long_desc="
 These functions provide an interface to the server extension
 XFree86-VidModeExtension which allows the video modes to be queried
 and adjusted dynamically and mode switching to be controlled.

 This library is from the modular X.org project."
