# Template build file for 'libxkbfile-1.0.5'.
pkgname=libxkbfile-1.0.5
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
pkgconfig_override="xkbfile.pc"
short_desc="The xkbfile Library from modular X.org"
checksum=5c0f4bba0ffacdcd06846bd6c436ba3d9275691b
longdesc="
The xkbfile library is from the modular X.org X11 project."
