# Template build file for 'libXinerama-1.0.3'.
pkgname=libXinerama-1.0.3
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
configure_args="--disable-malloc0returnsnull"
pkgconfig_override="xinerama.pc"
short_desc="X PanoramiX extension library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=99115fedb0930a6acb5450bfabfe7416159ee45b
long_desc="
 libXinerama provides X PanoramiX extension library."
