# Template build file for 'libXp'.
pkgname=libXp
version=1.0.0
distfiles="
http://xorg.freedesktop.org/releases/individual/lib/$pkgname-$version.tar.bz2"
build_style=gnu_configure
pkgconfig_override="xp.pc"
short_desc="X Print Service Extension Library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=5d12e6bd1598654d1aa47a818047d1e0c6f50145
long_desc="
 The X Print Service Extension Library (libXp) provides public APIs
 to allow client applications to render to non-display devices.
 It can query about printers, send jobs, and more.

 This is from the modular X.org."
