# Template file for 'libXdmcp'
pkgname=libXdmcp
version=1.0.2
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
pkgconfig_override="xdmcp.pc"
short_desc="X Display Manager Control Protocol library from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=b1172f757623bd5f3671692d0ae920205404792b
long_desc="
 This is the X Display Manager Control Protocol library. This is
 from the modular X.org X11 project."
