# Template build file for 'libXvMC'.
pkgname=libXvMC
version=1.0.4
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
pkgconfig_override="xvmc.pc"
short_desc="XVideo Motion Compensation Library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=ccb5bcb022e9596dea17213419d56e7e123c043b
long_desc="
 X-Video Motion Compensation (XvMC) provides accelerated video
 playback by offloading video decoding to hardware.  It is an
 extension of the X video extension for the X Window System."
