# Template build file for 'libxkbui'.
pkgname=libxkbui
version=1.0.2
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
pkgconfig_override="xkbui.pc"
short_desc="xkbui library from modular x.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=ff356dea1c93a1a94bab4df80b66f9304d827b2a
long_desc="
 This is the xkbui library from modular X.org."
