# Template build file for 'libxslt'.
pkgname=libxslt
version=1.1.24
extract_sufx=".tar.gz"
url=ftp://xmlsoft.org/libxslt
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
pkgconfig_override="libxslt.pc libexslt.pc"
short_desc="XSLT parser library from the GNOME project"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=41e7721eeed722c45310877d045422b47ab32973
long_desc="
 Libxslt is the XSLT C library developed for the Gnome project. XSLT itself is
 an XML language to define transformation for XML. Libxslt is based on libxml2
 the XML C library developed for the Gnome project. It also implements most of
 the EXSLT set of extensions functions and some of Saxon's evaluate and
 expressions extensions."
