# Template build file for 'libXi'.
pkgname=libXi
version=1.1.3
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
configure_args="--disable-malloc0returnsnull"
pkgconfig_override="xi.pc"
short_desc="X Input extension library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=e6446f28a903eed54eccc5d4df685f9623942a0b
long_desc="
 This package contains the Xi extension. This is the X Input extension
 library.

 This is part of the X Libraries and Protocol Headers Project at
 freedesktop.org."
