# Template build file for 'libXext-1.0.4'.
pkgname=libXext-1.0.4
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
configure_args="--disable-malloc0returnsnull"
pkgconfig_override="xext.pc"
short_desc="X Extension library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=c13e54d388f2fa91e09b221ca91a2ee281f10bbc
long_desc="
 This package contains the X Extension library from the modular
 X.org X11 project."
