# Template build file for 'libxml2'.
pkgname=libxml2
version=2.7.1
extract_sufx=".tar.gz"
url=http://xmlsoft.org/sources
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
pkgconfig_override="libxml-2.0.pc"
short_desc="XML parser library from the GNOME project"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=4de3732c39efa95b63abbd60dbb74357075faf63
long_desc="..."
