# Template build file for 'libXt-1.0.5'.
pkgname=libXt-1.0.5
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
configure_args="--disable-malloc0returnsnull"
pkgconfig_override="xt.pc"
short_desc="X Toolkit Intrinsics library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=7e5ef9e03dc860bf5b64b85a897dd1d2ae1ed0bf
long_desc="
 This is the X Toolkit Intrinsics library. Xt Intrinsics is a library
 of C routines (based on Xlib) used for designing user interfaces with
 widgets. It also provides functions for handling events, initializing
 windows, and interpreting resource files.

 This is from the modular X.org project."
