# Template build file for 'libXxf86misc'.
pkgname=libXxf86misc
version=1.0.1
distfiles="
http://xorg.freedesktop.org/releases/individual/lib/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="xxf86misc.pc"
short_desc="Library for the XFree86-Misc X extension"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=b600bd56ec931c3ff5087cf46e21b7bd9928eaaf
long_desc="
 This library from the modular X.org project provides an interface
 to the XFree86-Misc extension which allows various server settings
 to be queried and changed dynamically."
