# Template build file for 'libXrender'.
pkgname=libXrender
version=0.9.4
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
pkgconfig_override="xrender.pc"
short_desc="X Render Library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=0d9249ffe7f8347946f1c4d701bd06d52a4ab40b
long_desc="
 The X Rendering Extension introduces digital image composition as the
 foundation of a rendering model within the X Window System.  Rendering
 geometric figures is accomplished by client-side tessellation into either
 triangles or trapezoids.  Text is drawn by loading glyphs into the server
 and rendering sets of them.

 This package contains the client library for connecting to a Xserver that
 supports the Xrender extension.

 This is the modular X.org X11 project version."
