# Template build file for 'libxml2'.
pkgname=libxml2
version=2.7.2
extract_sufx=".tar.gz"
url=http://xmlsoft.org/sources
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
pkgconfig_override="libxml-2.0.pc"
short_desc="XML parser library from the GNOME project"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=2b14531007a705679c7814618dc15baed62bc574
long_desc="
 XML parser library from the GNOME project."
