# Template file for 'libXau'
pkgname=libXau
version=1.0.4
distfiles="
http://xorg.freedesktop.org/releases/individual/lib/$pkgname-$version.tar.bz2"
build_style=gnu_configure
pkgconfig_override="xau.pc"
short_desc="Authorization Protocol for X from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=9ca0318c62b6bcf97b8460fd89b0788b07f459ca
long_desc="
 LibXau is an authorization protocol for X from the modular
 X.org X11 project."
