# Template file for 'libX11'
pkgname=libX11
version=1.1.5
distfiles="
http://xorg.freedesktop.org/releases/individual/lib/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="x11.pc"
make_cmd="$XBPS_MASTERDIR/bin/gmake"
configure_args="--enable-man-pages=3 --without-xcb
 --disable-malloc0returnsnull --enable-loadable-i18n
 --datarootdir=$XBPS_DESTDIR/$pkgname-$version/share"
make_install_args="
 X11_LOCALELIBDIR=$XBPS_DESTDIR/$pkgname-$version/lib/X11/locale"
short_desc="Base X libraries from modular Xorg X11"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=78567a999640851e7daba1ab44603ec099d0b619
long_desc="
 This is the libX11 library that is the C binding to the X protocol. It
 is the foundation of practically every X Window System program out there.

 This is from the modular X.org X11 project."
