# Template build file for 'libXrandr'.
pkgname=libXrandr
version=1.2.3
distfiles="
http://xorg.freedesktop.org/releases/individual/lib/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
configure_args="--disable-malloc0returnsnull"
pkgconfig_override="xrandr.pc"
short_desc="X RandR Library from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=56911f90cbb7e7550f26dbcb5271b3a6788118df
long_desc="
 This package provides the X RandR Library from the modular X.org
 X11 project.

 This simple library is designed to interface with the X Resize,
 Rotate, and Reflection Extension. This allows clients to change
 the size and rotation of the root window of a screen, along with
 the ability to reflect the screen about either axis."
