# Template build file for 'libXcursor'.
pkgname=libXcursor
extract_sufx=".tar.bz2"
distfiles="
http://xorg.freedesktop.org/releases/individual/lib/$pkgname-$version.tar.bz2"
build_style=gnu_configure
pkgconfig_override="xcursor.pc"
short_desc="Client-side cursor loading library for X"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=05101fb2a6c080f0b3cc24e46d1a07a2a358708f
long_desc="
 This package, libXcursor, provides the client-side cursor loading
 library for X.  This cursor management library is a simple library
 designed to help locate and load cursors (from files or memory).

 This is from the modular X.org project."
