# Template build file for 'libXfont'.
pkgname=libXfont
version=1.3.3
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/lib
build_style=gnu_configure
pkgconfig_override="xfont.pc"
short_desc="X font Library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=f8fba81f41043c07ffa0e014ca8758fdcef7df06
long_desc="
 This package provides the X font Library from the modular
 X.org X11 project."
