# Template build file for 'libXaw'.
pkgname=libXaw
version=1.0.4
distfiles="
http://xorg.freedesktop.org/releases/individual/lib/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="xaw6.pc xaw7.pc xaw8.pc"
short_desc="X Athena Widgets Library from modular Xorg X11"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=face40c68b49aee9aa9149b963566c39fb6425cb
long_desc="
 Xaw is the X Athena Widget Set. Xaw is a widget set based on the
 X Toolkit Intrinsics (Xt) Library.

 This libXaw is from the modular Xorg X11."
