# Template build file for 'libXpm'.
pkgname=libXpm
version=3.5.7
distfiles="
http://xorg.freedesktop.org/releases/individual/lib/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="xpm.pc"
short_desc="X PixMap Library from modular Xorg X11"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=6bd355cb5f011b271b177d86db7f9a4e9d885ed3
long_desc="
 XPM (X PixMap) is a format for storing and retrieving X pixmaps
 to and from files.

 This libXpm is from the modular Xorg X11."
