# Template file for 'linux-pam'
pkgname=linux-pam
version=1.0.2
wrksrc="Linux-PAM-$version"
distfiles="
http://www.kernel.org/pub/linux/libs/pam/library/Linux-PAM-$version.tar.bz2"
build_style=gnu_configure
configure_args="--disable-selinux --libdir=/lib --includedir=/usr/include
 --docdir=/usr/share/doc/pam --enable-securedir=/lib/security
 --enable-sconfigdir=/etc/security --mandir=/usr/share/man
 --infodir=/usr/share/info --localedir=/usr/share/locale
 --datadir=/usr/share --disable-rpath"
make_install_args="DESTDIR=$XBPS_DESTDIR/$pkgname-$version
 sysconfdir=/etc/security"
short_desc="A flexible mechanism for authenticating users"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=42d06febf4717dd43eb557027d1b00a484c22589793438778ed69449a073a3b8
long_desc="
 Linux-PAM provides a flexible mechanism for authenticating users.
 PAM was invented by SUN Microsystems."

libtool_fixup_la_stage=postinstall

build_depends="flex-2.5.35"
run_depends="glibc-2.8"
