# Template file for 'linux-headers'
pkgname=linux-headers
version=2.6.27.3
wrksrc="linux-$version"
distfiles="http://www.kernel.org/pub/linux/kernel/v2.6/linux-$version@.tar.bz2"
build_style=only-install
make_install_target="
 INSTALL_HDR_PATH=$XBPS_DESTDIR/$pkgname-$version/usr
 headers_install"
short_desc="The Linux kernel headers"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=52d9526ea8df33c9fab3df4564b0147b1866c76b0fd31474b92592567384a02c
long_desc="
 This package provides the linux kernel headers for use in userspace."

base_chroot=yes
