# Template build file for 'm4'.
pkgname=m4
version=1.4.12
distfiles="http://ftp.gnu.org/gnu/m4/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
configure_args="--program-prefix=g"
short_desc="GNU version of UNIX m4 macro language processor"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=ff55d95da2a52e9a9b8f5bb76072e1b08318ba2a
long_desc="
    GNU m4 is an implementation of the traditional UNIX macro
 processor. It is mostly SVR4 compatible, although it has some
 extensions (for example, handling more than 9 positional parameters to
 macros). m4 also has builtin functions for including files, running
 shell commands, doing arithmetic, etc. Autoconf needs GNU m4 for
 generating configure scripts, but not for running them."

ignore_files="charset.alias"
