# Template build file for 'MesaLib-7.2'.
pkgname=MesaLib-7.2
patch_files="$pkgname-fix-dri-build.diff"
wrksrc=Mesa-7.2
extract_sufx=".tar.bz2"
url=http://kent.dl.sourceforge.net/sourceforge/mesa3d
build_style=gnu_configure
make_build_args="MKDEP=mkdep"
configure_args="--with-expat=$PKGFS_MASTERDIR"
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
pkgconfig_override="dri.pc gl.pc glu.pc glw.pc"
short_desc="Graphics library similar to SGI's OpenGL"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=1e7c2cc6aa27ebaf7e726ac2086c10a5155d0832
long_desc="
 MesaLib is a 3-D graphics library with an API which is very similar to
 that of OpenGL*. To the extent that Mesa utilizes the OpenGL command syntax
 or state machine, it is being used with authorization from Silicon Graphics,
 Inc. However, the author makes no claim that Mesa is in any way a
 compatible replacement for OpenGL or associated with Silicon Graphics, Inc."
