# Template build file for 'mkfontscale'.
pkgname=mkfontscale
version=1.0.5
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/app
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="X11 Scalable Font Index Generator"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=18423c211b516c612db8e3ea598df37b6a0cf8aa
long_desc="
 This package contains the mkfontscale, a program to generate legacy X11
 font indices for scalable fonts. This is from the modular X.org project."
