# Template file for 'mkinitcpio'
pkgname=mkinitcpio
version=0.5.9
wrksrc=$pkgname
distfiles="ftp://ftp.archlinux.org/other/$pkgname/$pkgname-$version.tar.gz"
build_style=custom-install
short_desc="Advanced, modular initramfs image creation utility"
maintainer="Juan RP <xtraemegmail.com>"
checksum=772e3d92bfa1754b74a95c76a4f66bb6f94915212da2e7e7878764676ef8467c
long_desc="
 mkinitcpio is an advanced, modular initramfs image creation utility.
 mkinitcpio was created for Archlinux."

# Other deps are resolved by xbps-base-chroot.
build_depends="klibc-1.5.14"

do_install()
{
	# mkinitcpio doesn't work with dash, uses bash specific stuff
	# even if the file mentions justs the contrary...
	. $XBPS_TMPLHELPDIR/replace-interpreter.sh
	replace_interpreter bash mkinitcpio

	cd $wrksrc && ./install.sh $XBPS_DESTDIR/$pkgname-$version
}
