# Template build file for 'mng'.
pkgname=mng
version=1.0.10
distfiles="libmng-$version"
extract_sufx=".tar.bz2"
url=http://www.libmng.com/download
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Multiple-image Network Graphics (MNG) reference library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=4a8168f2f1fcfd147e367782c7a664bfe5104fc6
long_desc="
 The libmng library supports decoding, displaying, encoding, and various other
 manipulations of Multiple-image Network Graphics (MNG) format image files.  It
 uses the zlib(3) compression library, and optionally the JPEG library by the
 Independent JPEG Group (IJG) and/or lcms (little CMS), a color-management
 library by Marti Maria Saguar."
