# Template build file for 'mono'.
pkgname=mono
version=2.0
patch_files="$pkgname-fix-build.diff"
distfiles="http://ftp.novell.com/pub/mono/sources/mono/$pkgname-$version@.tar.bz2"
tar_override_cmd="$XBPS_MASTERDIR/bin/gtar"
build_style=gnu_configure
configure_args="--with-icu=yes --with-preview=yes --with-libgdiplus=installed
 --enable-big-arrays --with-tls=__thread --with-large-heap=yes
 --with-moonlight=no"
make_cmd="$XBPS_MASTERDIR/bin/gmake"
pkgconfig_override="cecil.pc dotnet.pc dotnet35.pc mint.pc
 mono-cairo.pc mono.pc smcs.pc mono-nunit.pc"
short_desc="Open source implementation of the .NET Development Framework"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=a80be8a222bcffd402ecc727c87d20c30b750031
long_desc="
 The Mono Project is an open development initiative sponsored by Ximian
 that is working to develop an open source, Unix version of the Microsoft
 .NET development platform. Its objective is to enable Unix developers to
 build and deploy cross-platform .NET Applications. The project will
 implement various technologies developed by Microsoft that have now been
 submitted to the ECMA for standardization."
