# Template build file for 'monodevelop'.
pkgname=monodevelop
version=1.9
distfiles="http://go-mono.com/sources/monodevelop/$pkgname-$version@.tar.bz2"
tar_override_cmd="$XBPS_MASTERDIR/bin/gtar"
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="IDE for C# and other .NET languages"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=0000b311b6ee5c4922b85d51004f3f94a62a7915
long_desc="
 MonoDevelop is a free GNOME IDE primarily designed for C# and other
 .NET languages."
