# Template build file for 'mpfr'
pkgname=mpfr
version=2.3.2
distfiles="http://www.mpfr.org/mpfr-current/$pkgname-$version.tar.bz2"
build_style=gnu_configure
short_desc="Library for multiple-precision floating-point computations"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=18e078c996e182b7ceab32f2ab840e6a151b593e0cd5b83cb9d2960f212fba4c
long_desc="
 The MPFR library is a C library for multiple-precision floating-point
 computations with correct rounding. MPFR has continuously been supported
 by the INRIA and the current main authors come from the CACAO and Arénaire
 project-teams at Loria (Nancy, France) and LIP (Lyon, France) respectively;
 see more on the credit page. MPFR is based on the GMP multiple-precision
 library."

base_chroot=yes
build_depends="gmp-4.2.4"
run_depends="glibc-2.8 gmp-4.2.4"
