# Template build file for 'ncurses'.
pkgname=ncurses
version=5.6
distfiles="http://ftp.gnu.org/pub/gnu/ncurses/$pkgname-$version@.tar.gz"
build_style=gnu_configure
configure_args="--with-shared"
make_install_args="ticdir=$XBPS_DESTDIR/$pkgname-$version/usr/share/terminfo"
short_desc="A System V Release 4.0 curses emulation library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=f9cac2b31683a37d65bc37119599752198a0691e462d0d1a252cf9815f5724d5
long_desc="
 The ncurses (new curses) library is a freeware emulation of System V Release
 4.0 curses. It uses terminfo format, supports pads and color and multiple
 highlights and forms characters and function-key mapping, and has all the
 other SYSV-curses enhancements over BSD curses. The distribution includes
 the library and support utilities, including a terminfo compiler tic, a 
 ecompiler infocmp, clear, tput, tset, and a termcap conversion tool captoinfo.
 Full manual pages are provided for the library and tools."

base_chroot=yes
run_depends="glibc-2.8"
