# Template file for 'pcre-7.8'
pkgname=pcre-7.8
extract_sufx=".tar.bz2"
url=http://kent.dl.sourceforge.net/sourceforge/pcre
build_style=gnu_configure
pkgconfig_override="libpcre.pc libpcrecpp.pc"
configure_args="--enable-utf8 --enable-unicode-properties"
short_desc="Perl Compatible Regular Expressions"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=f8cc336f984bce9bfebaef27e6376d84845bce8f
long_desc="
 The PCRE library is a set of functions that implement regular expression
 pattern matching using the same syntax and semantics as Perl 5. PCRE
 has its own native API, as well as a set of wrapper functions that
 correspond to the POSIX regular expression API. The PCRE library is free,
 even for building commercial software."
