# Template build file for 'perl'.
pkgname=perl
version=5.10.0
patch_files="perl-dont-hardcode-rpath.diff"
extract_sufx=".tar.gz"
url=http://www.cpan.org/src
configure_script="Configure"
configure_args="-Dusethreads -des -Dprefix=$PKGFS_DESTDIR/$pkgname-$version
 -Ui_malloc -Uusemymalloc -Dinstallstyle=lib/perl5"
build_style=configure
short_desc="Practical Extraction and Report Language"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=c6614fc99a162790a703f91085b24a60af903ba2
long_desc="
 Perl is a general-purpose programming language originally developed
 for text manipulation and now used for a wide range of tasks including
 system administration, web development, network programming, GUI
 development, and more.  The language is intended to be practical (easy
 to use, efficient, complete) rather than beautiful (tiny, elegant,
 minimal).  Its major features are that it's easy to use, supports both
 procedural and object-oriented (OO) programming, has powerful built-in
 support for text processing, and has one of the world's most impressive
 collections of third-party modules."
