# Template build file for 'perl-XML-Parser'.
pkgname=perl-XML-Parser
version=2.36
distfiles="XML-Parser-$version"
extract_sufx=".tar.gz"
url=http://cpan.perl.org/modules/by-module/XML
build_style=perl_module
make_build_args="EXPATLIBPATH=$XBPS_MASTERDIR/lib
 EXPATINCPATH=$XBPS_MASTERDIR/include"
short_desc="Perl extension interface to James Clark's XML parser, expat"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=1c31a2398ada943efd5d2451389e163914168253
long_desc="
 This module provides ways to parse XML documents. It is built on top of
 XML::Parser::Expat, which is a lower level interface to James Clark's
 expat library."
