# Template build file for 'pkg-config'
pkgname=pkg-config
version=0.23
distfiles="
http://pkgconfig.freedesktop.org/releases/$pkgname-$version@.tar.gz"
build_style=gnu_configure
configure_args="--disable-threads --with-pc-path=$XBPS_MASTERDIR/lib/pkgconfig"
short_desc="System for managing library compile/link flags"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=0aa5565430d609319917ac2c8ffeaa5e4a509489
long_desc="
 pkg-config is a system for managing library compile/link flags that
 works with automake and autoconf.  It replaces the ubiquitous
 *-config scripts you may have seen with a single tool."
