# ----*----		----*-----
# Template build file for 'pkg-config-0.23'
# ----*----		----*-----
#
# Name of the package, sometimes you need a different name than
# the one used in the source distribution file.
pkgname=pkg-config-0.23

# Suffix extraction, only supported: zip and tar/tar+(gz|bzip2).
extract_sufx=".tar.gz"

# Use this if pkgname doesn't match or if there are multiple
# source distribution files.
#distfiles=""

# URL to fetch
url=http://pkgconfig.freedesktop.org/releases/

# Arguments passed to configure if $build_style = {,gnu_}configure.
#configure_args=""

# Arguments passed to configure through the environment
#configure_env=""

# Build style: gnu_configure, bsd-makefile, gnu-makefile, configure.
build_style=gnu_configure

# Passed flags to the 'make' command before building the package.
#make_build_args=""

# Passed flags to the 'make' command before installing the package.
#make_install_args=""

# Short description, max 1 line of 72 chars.
short_desc="System for managing library compile/link flags"

# Maintainer of this pkg: name <email>.
maintainer="Juan RP <xtraeme@gmail.com>"

# Checksum of file with rmd160.
checksum=0aa5565430d609319917ac2c8ffeaa5e4a509489

# Long description. Preferibly first line should be left blank
# and use a whitespace while starting lines.
#
# Please also respect 72 chars per line if possible (max 80).
#
long_desc="
 pkg-config is a system for managing library compile/link flags that
 works with automake and autoconf.  It replaces the ubiquitous
 *-config scripts you may have seen with a single tool."
