# Template build file for 'printproto'.
pkgname=printproto
version=1.0.4
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="printproto.pc"
short_desc="Print extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=ab23d31e5b13fd7260f2a10d789f5d8e89bf775f
long_desc="
 Definitions needed by the X Print server, library, and clients.

 From the modular X.org X11 project."
