# Template file for 'procps'
pkgname=procps
version=3.2.7
distfiles="http://procps.sourceforge.net/$pkgname-$version.tar.gz"
build_style=gnu_makefile
make_install_args="DESTDIR=$XBPS_DESTDIR/$pkgname-$version"
short_desc="The /proc file system utilities"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=b439e04adab9b1e66e11f59c4331680da48f1722f2123123f7c16dfbed2c38dc
long_desc="
 procps is the package that has a bunch of small useful utilities that give
 information about processes using the /proc filesystem. The package includes
 the programs ps, top, vmstat, w, kill, free, slabtop, and skill.

 Version 3 includes NPTL thread support, a rewritten top, many bug fixes,
 performance improvements, and new features."

build_depends="ncurses-5.6" 
run_depends="glibc-2.8 ncurses-5.6"
