# Template build file for 'randrproto'.
pkgname=randrproto
version=1.2.2
distfiles="
http://xorg.freedesktop.org/releases/individual/proto/$pkgname-$version.tar.bz2"
build_style=gnu_configure
pkgconfig_override="randrproto.pc"
short_desc="Randr extension headers from modular X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=da7b61cc37a35f8de8a046ecb753103d054f1a77
long_desc="
 This provides the Randr extension headers from modular X.org X11
 project."
