# Template file for 'readline'
pkgname=readline
version=5.2
distfiles=ftp://ftp.cwru.edu/pub/bash/$pkgname-$version.tar.gz
build_style=gnu_configure
make_build_args="SHLIB_LIBS=-lncurses"
short_desc="The GNU Readline Library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=12e88d96aee2cd1192500356f0535540db499282ca7f76339fb4228c31249f45
long_desc="
 The GNU Readline library provides a set of functions for use by
 applications that allow users to edit command lines as they are
 typed in. Both Emacs and vi editing modes are available. The
 Readline library includes additional functions to maintain a list
 of previously-entered command lines, to recall and perhaps reedit
 those lines, and perform csh-like history expansion on previous
 commands."

base_chroot=yes
build_depends="ncurses-5.6"
run_depends="glibc-2.8 $build_depends"

post_install()
{
	local destdir=$XBPS_DESTDIR/$pkgname-$version

	# Move shared libs into /lib.
	mkdir -p $destdir/lib
	mv $destdir/usr/lib/lib*.so* $destdir/lib
}
