# Template build file for 'recordproto'.
pkgname=recordproto
version=1.13.2
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="recordproto.pc"
short_desc="Record extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=472f66c64fd4d98cceb4326436fdd3fb1e68baf1
long_desc="
 This provides the Record extension headers from modular X.org X11
 project."
