# Template build file for 'renderproto-0.9.3'.
pkgname=renderproto-0.9.3
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="renderproto.pc"
short_desc="Render extension headers from modular X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=60326cd364e1de1c539f4b2433b25628050a6f11
long_desc="
 This provides the Render extension headers from modular X.org X11
 project."
