# Template build file for 'resourceproto'.
pkgname=resourceproto
version=1.0.2
distfiles="
http://xorg.freedesktop.org/releases/individual/proto/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="resourceproto.pc"
short_desc="Resource extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=8b665848d4ec2ccacb243bc058268a41b96124c9
long_desc="
 This provides the Resource extension headers from modular X.org X11
 project."
