# Template build file for 'ruby'.
pkgname=ruby
version=1.8.7-p72
distfiles="
ftp://ftp.ruby-lang.org/pub/ruby/1.8/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
# Override --exec-prefix to install it into the correct location.
configure_args="--enable-pthread --enable-shared
 --exec-prefix=$XBPS_DESTDIR/$pkgname-$version/usr"
short_desc="Ruby programming language"
maintainer="Daniel Horecki <morr@morr.pl>"
checksum=a8f8a28e286dd76747d8e97ea5cfe7a315eb896906ab8c8606d687d9f6f6146e
long_desc="
 Ruby is the interpreted scripting language for quick and
 easy object-oriented programming.  It has many features to
 process text files and to do system management tasks (as in
 Perl).  It is simple, straight-forward, and extensible."

run_depends="glibc-2.8"
