# Template build file for 'ruby-1.8.7-p72'.
pkgname=ruby-1.8.7-p72
extract_sufx=".tar.bz2"
url=ftp://ftp.ruby-lang.org/pub/ruby/1.8
build_style=gnu_configure
# Override --exec-prefix to install it into the correct location.
configure_args="--enable-pthread --enable-shared
 --exec-prefix=$PKGFS_DESTDIR/$pkgname"
short_desc="Ruby programming language"
maintainer="Daniel Horecki <morr@morr.pl>"
checksum=07bf0d6987ba111aed988093c569fb66ba54891b
long_desc="
 Ruby is the interpreted scripting language for quick and
 easy object-oriented programming.  It has many features to
 process text files and to do system management tasks (as in
 Perl).  It is simple, straight-forward, and extensible."
