# Template build file for 'scrnsaverproto'.
pkgname=scrnsaverproto
version=1.1.0
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="scrnsaverproto.pc"
short_desc="ScrnSaver extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=966944d272b035eb0d1f8826c411ca1ee56ab5b3
long_desc="
 This provides the ScrnSaver extension headers from modular X.org X11
 project."
