# Template file for 'sed'
pkgname=sed
version=4.1.5
distfiles="http://ftp.gnu.org/gnu/$pkgname/$pkgname-$version.tar.gz"
build_style=gnu_configure
configure_args="--bindir=$XBPS_DESTDIR/$pkgname-$version/bin"
short_desc="The GNU stream editor"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=be955bef7a81d69222e929689e0de0ecf64c13dc5b15b2ee5696d5ef66fdeec0
long_desc="
 Sed, the GNU Stream Editor, copies the named files (standard input default)
 to the standard output, edited according to a script of commands."

base_chroot=yes 
run_depends="glibc-2.8"
