# Template build file for 'shared-mime-info'.
pkgname=shared-mime-info
version=0.51
patch_files="$pkgname-fix-pkgconfig.diff"
distfiles="
http://people.freedesktop.org/~hadess/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
configure_args="--disable-update-mimedb"
make_cmd="$XBPS_MASTERDIR/bin/gmake"
pkgconfig_override="shared-mime-info.pc"
short_desc="Core database of common types"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=9e0281f3bd9ac44af60833ec6b15af9f58936cc7
long_desc="
 Many programs and desktops use the MIME system to represent the types of
 files. Frequently, it is necessary to work out the correct MIME type for
 a file. This is generally done by examining the file's name or contents,
 and looking up the correct MIME type in a database.

 For interoperability, it is useful for different programs to use the same
 database so that different programs agree on the type of a file, and new
 rules for determining the type apply to all programs.

 This package contains the core database of common types and the
 update-mime-database command used to extend it."

# Update shared-mime-info database file.
postinstall_helpers="update-mimedb.sh"
