# Template build file for 'sqlite'.
pkgname=sqlite
version=3.6.3
distfiles="http://sqlite.org/$pkgname-$version@.tar.gz"
build_style=gnu_configure
configure_args="--disable-tcl --enable-load-extension --with-readline-inc="
make_cmd="$XBPS_MASTERDIR/bin/gmake"
pkgconfig_override="sqlite3.pc"
short_desc="SQL Database Engine in a C Library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=3fec400f69e4c15a90a7f0715d4ef1c8d87f1700
long_desc="
 SQLite is a C library that implements an SQL database engine. Programs
 that link with the SQLite library can have SQL database access without
 running a separate RDBMS process. The distribution comes with a standalone
 command-line access program (sqlite) that can be used to administer an
 SQLite database and which serves as an example of how to use the SQLite
 library.

 SQLite is not a client library used to connect to a big database server.
 SQLite is the server. The SQLite library reads and writes directly to and
 from the database files on disk."
