# Template build file for 'sudo'.
pkgname=sudo
version=1.6.9p17
patch_files="$pkgname-Makefile-in.diff"
distfiles="http://www.courtesan.com/sudo/dist/$pkgname-$version@.tar.gz"
build_style=gnu_configure
configure_args="--disable-root-mailer"
short_desc="Allow others to run commands as root"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=4d1a4bb3558ddeaa4c8c095067a5696afb6ea50a
long_desc="
 Sudo is a program designed to allow a sysadmin to give limited root
 privileges to users and log root activity. The basic philosophy is to
 give as few privileges as possible but still allow people to get their
 work done."
