# Template build file for 'sylpheed'.
pkgname=sylpheed
version=2.6.0beta1
patch_files="$pkgname-fix-latest-gtk.diff"
extract_sufx=".tar.bz2"
url=http://sylpheed.sraoss.jp/sylpheed/v2.6beta
build_style=gnu_configure
configure_args="--disable-compface --disable-gtkspell
 --disable-gpgme"
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
short_desc="Lightweight and user-friendly e-mail client"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=21f3204c5e9e7f8c07509fbba677f9820d847d53
long_desc="
 Sylpheed is a simple, lightweight but featureful, and easy-to-use
 e-mail client (mailer, MUA).

 Sylpheed has the following features:

    * Simple, beautiful, and well-polished user interface
    * Comfortable operationality which is built in detail
    * Well-organized, easy-to-understand configuration
    * Lightweight operation
    * High reliability
    * Internationalization and Multilingualization support
    * High-level Japanese processing
    * Various protocols support
    * Security features (GnuPG, SSL/TLSv1)
    * Powerful filtering and search
    * Junk mail control
    * Flexible cooperation with external commands"
