# Template file for 'sysklogd'
pkgname=sysklogd
version=1.5
distfiles="
http://www.infodrom.org/projects/sysklogd/download/$pkgname-$version@.tar.gz"
build_style=gnu_makefile
make_install_target="prefix=$XBPS_DESTDIR/$pkgname-$version install"
short_desc="Kernel and system logging daemons"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=6169b8e91d29288e90404f01462b69e7f2afb1161aa419826fe4736c7f9eb773
long_desc="
 This package implements two system log daemons. The syslogd daemon is an
 enhanced version of the standard Berkeley utility program. This daemon is
 responsible for providing logging of messages received from programs and
 facilities on the local host as well as from remote hosts.

 The klogd daemon listens to kernel message sources and is responsible for
 prioritizing and processing operating system messages. The klogd daemon can
 run as a client of syslogd or optionally as a standalone program.
 Klogd can now be used to decode EIP addresses if it can determine a
 System.map file."
 
run_depends="glibc-2.8"
