# Template file for 'syslinux'
pkgname=syslinux
version=3.72
distfiles="
http://www.kernel.org/pub/linux/utils/boot/syslinux/$pkgname-$version@.tar.bz2"
build_style=gnu_makefile
make_install_args="INSTALLROOT=$XBPS_DESTDIR/$pkgname-$version"
short_desc="A boot loader for the Linux operating system"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=dc19ea3e1297468d9b4c579aba1dd491c963a02887f7fb362c95c6f1c0567e90
long_desc="
 The SYSLINUX Project covers lightweight bootloaders for floppy media (SYSLINUX),
 network booting (PXELINUX), and bootable \"El Torito\" CD-ROMs (ISOLINUX).
 The project also includes MEMDISK, a tool to boot legacy operating systems
 (such as DOS) from nontraditional media; it is usually used in conjunction with
 PXELINUX and ISOLINUX."

build_depends="perl-5.10.0 nasm-2.05"  
run_depends="glibc-2.8"
