# Template build file for 'trapproto-3.4.3'.
pkgname=trapproto-3.4.3
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="trapproto.pc"
short_desc="Trap extension headers"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=f4adc2687aabd0f6e69fde6949675930ad241869
long_desc="
 This package provides the Trap extension headers from modular X.org."
