# Template file for 'udev'
pkgname=udev
udev_distver="135"
version=1.35
wrksrc="udev-$udev_distver"
distfiles="
http://www.kernel.org/pub/linux/utils/kernel/hotplug/udev-${udev_distver}.tar.bz2"
build_style=gnu_configure
configure_args="--without-selinux"
make_install_args="sbindir=$XBPS_DESTDIR/$pkgname-$version/sbin"
short_desc="A userspace implementation of devfs"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=acbb5e7d322253ed242f28fbc1974bd34a4da7c29275e17cd5b32b38b2a5c849
long_desc="
 udev is a implementation of devfs in userspace using sysfs and
 /sbin/hotplug. It requires a 2.5/2.6 kernel to run properly."

base_package=yes
run_depends="glibc-2.8"

post_install()
{
	# Move udev rules and libs into /lib.
	local destdir=$XBPS_DESTDIR/$pkgname-$version

	mkdir -p $destdir/lib
	mv $destdir/usr/lib/udev $destdir/lib/udev
	mv $destdir/usr/lib/lib* $destdir/lib/
}
