# Template file for 'udev'
pkgname=udev
version=1.30
wrksrc="udev-130"
distfiles="
http://www.kernel.org/pub/linux/utils/kernel/hotplug/udev-130@.tar.bz2"
build_style=gnu_configure
configure_args="--without-selinux"
make_install_args="sbindir=$XBPS_DESTDIR/$pkgname-$version/sbin"
short_desc="A userspace implementation of devfs"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=bbb64eb268ebc3d7c3bad74774daa2ed0ef887956ae6fb8f6f80717a7c957478
long_desc="
 udev is a implementation of devfs in userspace using sysfs and
 /sbin/hotplug. It requires a 2.5/2.6 kernel to run properly."

base_package=yes
run_depends="glibc-2.8"
