# Template file for 'udev'
pkgname=udev
version=1.33
wrksrc="udev-133"
distfiles="
http://www.kernel.org/pub/linux/utils/kernel/hotplug/udev-133.tar.bz2"
build_style=gnu_configure
configure_args="--without-selinux"
make_install_args="sbindir=$XBPS_DESTDIR/$pkgname-$version/sbin"
short_desc="A userspace implementation of devfs"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=fe4785fe93e27be05ded15414e3f590b0cbc309400f9cc461a27d20c042f62a8
long_desc="
 udev is a implementation of devfs in userspace using sysfs and
 /sbin/hotplug. It requires a 2.5/2.6 kernel to run properly."

base_package=yes
run_depends="glibc-2.8"

post_install()
{
	# Move udev rules and libs into /lib.
	local destdir=$XBPS_DESTDIR/$pkgname-$version

	mkdir -p $destdir/lib
	mv $destdir/usr/lib/udev $destdir/lib/udev
	mv $destdir/usr/lib/lib* $destdir/lib/
}
