# Template file for 'unzip'
pkgname=unzip
version=5.52
wrksrc=$pkgname-$version
patch_files=$pkgname-fix-unzipsfx.diff
distfiles="ftp://ftp.info-zip.org/pub/infozip/src/unzip552.tgz"
build_style=gnu_makefile
make_build_args="-f unix/Makefile"
make_build_target="generic_zlib unzipsfx"
short_desc="List, test and extract compressed files in a ZIP archive"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=145d95e2ef1ef9add2e3c97d1340907e33ab8749eb1235372e7f0b7af600a8e9
long_desc="
 Unzip will list, test, or extract files from a ZIP archive, commonly
 found on MS-DOS systems.  The default behavior (with no options) is to
 extract into the current directory (and subdirectories below it) all
 files from the specified ZIP archive. Unzip is compatible with
 archives created by PKWARE's PKZIP, but in many cases the program
 options or default behaviors differ.

 Zipinfo lists technical information about files in a ZIP archive, most
 commonly found on MS-DOS systems.  Such information includes file access
 permissions, encryption status, type of compression, version and operating
 system or file system of compressing program, and the like.

 Funzip acts as a filter; that is, it assumes that a ZIP archive is
 being piped into standard input, and it extracts the first member from
 the archive to stdout.  If there is an argument, then the input comes
 from the specified file instead of from stdin.

 Unzipsfx is a modified version of unzip designed to be prepended to
 existing ZIP archives in order to form self-extracting archives.
 Instead of taking its first non-flag argument to be the zipfile(s) to
 be extracted, unzipsfx seeks itself under the name by which it was
 invoked and tests or extracts the contents of the appended archive."

run_depends="glibc-2.8"
