# Template file for 'upstart'
pkgname=upstart
version=0.5.0
distfiles="http://upstart.ubuntu.com/download/0.5/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
configure_args="--disable-rpath --exec-prefix=/ --enable-threading"
make_install_args="sbindir=$XBPS_DESTDIR/$pkgname-$version/sbin"
short_desc="Event-based replacement for the /sbin/init daemon"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=ffa0f1423cf149379eec94e4337c3299538745fb34c563d228a9aeeb339d6493
long_desc="
 Upstart is an event-based replacement for the /sbin/init daemon which handles
 starting of tasks and services during boot, stopping them during shutdown
 and supervising them while the system is running.

 It was originally developed for the Ubuntu distribution, but is intended to
 be suitable for deployment in all Linux distributions as a replacement for
 the venerable System-V init."

build_depends="dbus-1.2.4"
run_depends="glibc-2.8 dbus-1.2.4"
