# Template file for 'util-linux-ng'
pkgname=util-linux-ng
version=2.14.1
distfiles="http://www.kernel.org/pub/linux/utils/$pkgname/v2.14/$pkgname-$version.tar.bz2"
build_style=gnu_configure
configure_args="--enable-partx --disable-wall --enable-write"
short_desc="Miscellaneous linux utilities"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=bf289c5399ab78674d9662ff2906a63ab540e88bf8bb1d3c7326dc8b1bef802c
long_desc="
 The util-linux-ng package contains miscellaneous utility programs. Among
 them are utilities for handling file systems, consoles, partitions,
 and messages."

build_depends="e2fsprogs-1.41.3"
run_depends="glibc-2.8 $build_depends"

post_install()
{
	local destdir=$XBPS_DESTDIR/$pkgname-$version

	# Move logger to /bin.
	install -d -m 755 ${destdir}/bin
	mv ${destdir}/usr/bin/logger ${destdir}/bin
}
