# Template file for 'util-linux'
pkgname=util-linux
version=2.12r
distfiles="http://www.kernel.org/pub/linux/utils/util-linux/$pkgname-$version.tar.bz2"
build_style=gnu_configure
CFLAGS="-I/usr/include"
make_install_args="ETC_DIR=$XBPS_DESTDIR/$pkgname-$version/etc
 SBIN_DIR=$XBPS_DESTDIR/$pkgname-$version/sbin
 USRSBIN_DIR=$XBPS_DESTDIR/$pkgname-$version/usr/sbin
 USRLIB_DIR=$XBPS_DESTDIR/$pkgname-$version/usr/lib
 USRBIN_DIR=$XBPS_DESTDIR/$pkgname-$version/usr/bin
 USRSHAREMISC_DIR=$XBPS_DESTDIR/$pkgname-$version/usr/share/misc
 LOCALE_DIR=$XBPS_DESTDIR/$pkgname-$version/usr/share/locale
 BIN_DIR=$XBPS_DESTDIR/$pkgname-$version/bin
 VAR_PATH=$XBPS_DESTDIR/$pkgname-$version/var
 LOG_DIR=$XBPS_DESTDIR/$pkgname-$version/log
 MAN_DIR=$XBPS_DESTDIR/$pkgname-$version/usr/share/man
 INFO_DIR=$XBPS_DESTDIR/$pkgname-$version/usr/share/info"
short_desc="Random collection of Linux utilities"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=b8e499b338ce9fbd1fb315194b26540ec823c0afc46c9e145ac7a3e38ad57e6b
long_desc="
 util-linux is a random collection of Linux utilities."

build_depends="kernel-libc-headers-2.6.27.3"
