# Template file for 'vim'
pkgname=vim
version=7.2
wrksrc=vim72
distfiles="ftp://ftp.vim.org/pub/vim/unix/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
short_desc="Vim editor (vi clone)"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=eaff64d0fec09d725addf8de569f508b80a5766e
long_desc="
 Vim is an almost compatible version of the UNIX editor Vi. Many new features
 have been added: multi level undo, syntax highlighting, command line history,
 on-line help, filename completion, block operations, etc."
