# Template file for 'xbps-base-chroot'
pkgname=xbps-base-chroot
version=0.1
build_style=meta-template
short_desc="xbps base packages for the chroot target"
maintainer="Juan RP <xtraeme@gmail.com>"
long_desc="
 This package installs all necessary packages to be able to build packages
 inside of a chroot and continue installing them."

build_depends="glibc-2.8 bash-3.2 coreutils-6.12 sed-4.1.5 make-3.81
 tar-1.20 bzip2-1.0.5 gzip-1.3.12 gawk-3.1.6 grep-2.5.3 findutils-4.4.0
 diffutils-2.8.1 proplib-0.1 linux-headers-2.6.27.3"
