# Template file for 'xbps-base-chroot'
pkgname=xbps-base-system
version=0.1
build_style=custom-install
short_desc="xbps base system packages"
maintainer="Juan RP <xtraeme@gmail.com>"
long_desc="
 This package installs the base system packages to be able to build
 your own full GNU/Linux system through xbps."

build_depends="man-pages-3.11 man-db-2.5.2 util-linux-ng-2.14.1
 initramfs-tools-0.92 less-4.24 kbd-1.14.1 initng-ifiles-0.1.5
 procps-3.2.7 sysklogd-1.5 eject-2.1.5 sudo-1.6.9 shadow-4.1
 openssl-0.9.8 kernel-2.6.27"

run_depends="$build_depends initng-0.6.10.2 coreutils-6.12 dash-0.5.4
 zlib-1.2.3 file-4.26 diffutils-2.8.1 sed-4.1.5 findutils-4.4.0
 grep-2.5.3 gawk-3.1.6 gzip-1.3.12 bzip2-1.0.5 tar-1.20 ncurses-5.7
 bash-3.2 glibc-2.9 wget-1.11.4"

do_install()
{
	local destdir=$XBPS_DESTDIR/$pkgname-$version

	if [ "$xbps_machine" = "x86_64" ]; then
		mkdir -p $destdir/usr/lib
		mkdir -p $destdir/lib
		cd $destdir && ln -s lib lib64
		cd $destdir/usr && ln -s lib lib64
	fi
}
