# Template file for 'xextproto-7.0.3'
pkgname=xextproto-7.0.3
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
short_desc="XExt extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=a39e2c42fec5fa7b6e5ac7517c8645dcfc1347a6
long_desc="
 This provides the XExt extension headers from modular X.org project."
