# Template file for 'xf86bigfontproto'
pkgname=xf86bigfontproto
version=1.1.2
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="xf86bigfontproto.pc"
short_desc="XF86BigFont extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=48d7bbedfaf5061e76f8207570ca547ff53f44e0
long_desc="
 This provides the XF86BigFont extension headers from modular X.org X11 project."
