# Template build file for 'xf86-video-radeonhd'.
pkgname=xf86-video-radeonhd
version=1.2.1
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/driver
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
short_desc="Modular X.org driver for Radeon HD series"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=f35d3a9491c5f43e94dda391a8b292aa46590a84
long_desc="
 This is the video driver for ATI Radeon HD cards for the modular Xorg
 server."
