# Template build file for 'xf86-video-vmware'.
pkgname=xf86-video-vmware
version=10.16.4
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/driver
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
short_desc="Modular Xorg VMware virtual video driver"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=175bf82b20697837356370a96e2bc7bcb2931fb5
long_desc="
 This is the VMware virtual video driver for the modular Xorg server."
