# Template build file for 'xf86-input-vmmouse'.
pkgname=xf86-input-vmmouse
version=12.5.1
distfiles="
http://xorg.freedesktop.org/releases/individual/driver/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Modular Xorg VMware virtual mouse driver"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=5bcd834e8e0d2577ab024bbe0058a7908cbe3a71
long_desc="
 This is the VMware virtual mouse driver for the modular Xorg server."
