# Template build file for 'xf86driproto'.
pkgname=xf86driproto
version=2.0.4
distfiles="
http://xorg.freedesktop.org/releases/individual/proto/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="xf86driproto.pc"
short_desc="XF86DRI extension headers from modular X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=d0ab74ca15d28b1b5f42852cfd24d960c481ec79
long_desc="
 This provides the XF86DRI extension headers from modular X.org X11
 project.

 The headers contain the types and functions that define the interface
 between a DRI (direct rendering infrastructure) driver and driver
 loader."
