# Template build file for 'xf86vidmodeproto'.
pkgname=xf86vidmodeproto
version=2.2.2
distfiles="
http://xorg.freedesktop.org/releases/individual/proto/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="xf86vidmodeproto.pc"
short_desc="XF86VidMode extension headers from modular X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=b940e671398e1e91cedd1a3ad66c3dcd6bdfeb8a
long_desc="
 This provides the XF86VidMode extension headers from modular X.org X11
 project."
