# Template build file for 'xf86-video-intel'.
pkgname=xf86-video-intel
version=2.4.2
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/driver
build_style=gnu_configure
configure_args="--enable-dri"
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Modular Xorg Intel video driver"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=939bd7d3bc6f1709f312dcbcaadb2e1d0c95bc06
long_desc="
 This is the video driver for Intel cards for the modular Xorg server.
 Support hardware includes the following chipsets:
  - i810, i810-dc100, i810e
  - i815
  - i830
  - i845
  - i852
  - i855
  - i915
  - i945
  - i965

 An older version of the Intel driver is available in xf86-video-i810."
