# Template build file for 'xf86-video-ati'.
pkgname=xf86-video-ati
version=6.9.0
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/driver
build_style=gnu_configure
configure_args="--enable-dri"
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Modular Xorg ATI Radeon video driver"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=7c990dc8c770865d6c8a45e4861207c1dda07a13
long_desc="
 This is the video driver for ATI Radeon cards for the modular Xorg server."
