# Template build file for 'xf86dgaproto-2.0.3'.
pkgname=xf86dgaproto-2.0.3
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="xf86dgaproto.pc"
short_desc="XF86DGA extension headers"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=0211e68d4c0c40f58d33b37bc0b4fe99278c5fc6
long_desc="
 This package provides the XF86DGA extension headers from modular X.org."
