# Template build file for 'xineramaproto-1.1.2'.
pkgname=xineramaproto-1.1.2
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/proto
build_style=gnu_configure
pkgconfig_override="xineramaproto.pc"
short_desc="Xinerama extension headers from X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=b51d1a9ce96b98ad1b2d2e6b28515b7ddee62ff5
long_desc="
 This provides the Xinerama extension headers from modular X.org X11
 project."
