# Template build file for 'xkeyboard-config'.
pkgname=xkeyboard-config
version=1.3
extract_sufx=".tar.bz2"
url=http://xlibs.freedesktop.org/xkbdesc
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
short_desc="X Keyboard Configuration Database"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=e496233ba058125a46d585cd262df95eaa4a1e7c
long_desc="
 The xkeyboard-config package provides a non-arch keyboard configuration
 database for the X Window System with support for non-standard
 keyboards, national layouts and options. The goal is to provide
 the consistent, well-structured, frequently released open source
 of X keyboard configuration data for free, open source and commercial
 X implementations. The project is targeted to XKB-based systems."
