# Template build file for 'xmlcatmgr'.
pkgname=xmlcatmgr
version=2.2
distfiles="
http://kent.dl.sourceforge.net/sourceforge/xmlcatmgr/$pkgname-$version@.tar.gz"
build_style=gnu_configure
short_desc="XML and SGML catalog manager"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=ea1142b6aef40fbd624fc3e2130cf10cf081b5fa88e5229c92b8f515779d6fdc
long_desc="
 XML Catalog Manager (xmlcatmgr in its short form) is a small utility used
 to manipulate SGML and XML catalogs.  It is extremely small and lightweight,
 specially designed to be run from packaging systems.  Basically, it allows
 adding and removing entries from catalogs in a completely automated way.

 A catalog is a lookup mechanism used to translate entities into other
 different entities. They can, for example, map public identifiers to
 local files or URIs. This allows you to tell the parser where to look
 for entities without having to modify the original document source."

pre_install()
{
	# Create XML and SGML catalogs once built.

	echo "=> Creating SGML catalogs..."
	$wrksrc/xmlcatmgr -sc $wrksrc/catalog.etc.sgml create
	$wrksrc/xmlcatmgr -sc $wrksrc/catalog.sgml create
	$wrksrc/xmlcatmgr -sc $wrksrc/catalog.etc.sgml add CATALOG      \
		$XBPS_MASTERDIR/share/sgml/catalog
	echo "=> Creating XML catalogs..."
	$wrksrc/xmlcatmgr -c $wrksrc/catalog.etc.xml create
	$wrksrc/xmlcatmgr -c $wrksrc/catalog.xml create
	$wrksrc/xmlcatmgr -c $wrksrc/catalog.etc.xml add nextCatalog    \
		$XBPS_MASTERDIR/share/xml/catalog
}

post_install()
{
	# Install the XML/SGML catalog files.

	echo "=> Installing XML/SGML catalogs."

	chmod 644 $wrksrc/catalog.*
	[ ! -d $XBPS_SYSCONFDIR/sgml ] && mkdir $XBPS_SYSCONFDIR/sgml
	[ ! -d $XBPS_DESTDIR/$pkgname-$version/share/sgml ] && \
		mkdir $XBPS_DESTDIR/$pkgname-$version/share/sgml
	[ ! -d $XBPS_SYSCONFDIR/xml ] && mkdir $XBPS_SYSCONFDIR/xml
	[ ! -d $XBPS_DESTDIR/$pkgname-$version/share/xml ] && \
		mkdir $XBPS_DESTDIR/$pkgname-$version/share/xml
	[ ! -f $XBPS_SYSCONFDIR/sgml/catalog ] && \
		cp $wrksrc/catalog.etc.sgml \
		$XBPS_DESTDIR/$pkgname-$version/etc/sgml/catalog
	[ ! -f $XBPS_SYSCONFDIR/xml/catalog ] && \
		cp $wrksrc/catalog.etc.xml \
		$XBPS_DESTDIR/$pkgname-$version/etc/xml/catalog
	[ ! -f $XBPS_DESTDIR/$pkgname-$version/share/sgml/catalog ] && \
		cp $wrksrc/catalog.sgml \
		$XBPS_DESTDIR/$pkgname-$version/share/sgml/catalog
	[ ! -f $XBPS_DESTDIR/$pkgname-$version/share/xml/catalog ] && \
		cp $wrksrc/catalog.xml \
		$XBPS_DESTDIR/$pkgname-$version/share/xml/catalog
}
