# Template build file for 'xmlcatmgr'.
pkgname=xmlcatmgr
version=2.2
distfiles="
http://kent.dl.sourceforge.net/sourceforge/xmlcatmgr/$pkgname-$version@.tar.gz"
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="XML and SGML catalog manager"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=6d01a88defccd086758f78d345a2abdf4be5c970
long_desc="
 XML Catalog Manager (xmlcatmgr in its short form) is a small utility used
 to manipulate SGML and XML catalogs.  It is extremely small and lightweight,
 specially designed to be run from packaging systems.  Basically, it allows
 adding and removing entries from catalogs in a completely automated way.

 A catalog is a lookup mechanism used to translate entities into other
 different entities. They can, for example, map public identifiers to
 local files or URIs. This allows you to tell the parser where to look
 for entities without having to modify the original document source."
