# Template build file for 'xorg-server'.
pkgname=xorg-server
version=1.5.1
patch_files="$pkgname-dix-getevents-c.diff"
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/xserver
build_style=gnu_configure
configure_args="--with-xkb-path=$PKGFS_MASTERDIR/share/X11/xkb
 --with-xkb-output=$PKGFS_MASTERDIR/var/db/xkb --enable-install-setuid
 --enable-xtrap --enable-multibuffer --enable-fontcache --enable-record"
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
make_install_args="SERVER_MISC_CONFIG_PATH=$PKGFS_DESTDIR/$pkgname-$version/lib/xorg"
pkgconfig_override="xorg-server.pc"
short_desc="Modular X11 server from modular X.org"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=07ea0b352b4eead694a8730ea3bab1587a4f02b1
long_desc="
 The X.org X11 Server from the modularized source tree of X.org X11."
