# Template file for 'xorg-fonts'
pkgname=xorg-fonts
version=0.1
build_style=meta-template
short_desc="Some fonts from the X.org project"
maintainer="Juan RP <xtraeme@gmail.com>"
long_desc="
 This package will install almost all required font packages from
 the X.org project, required to visualize them."
