# Template build file for 'xprop'.
pkgname=xprop
version=1.0.4
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/app
build_style=gnu_configure
make_cmd="$XBPS_MASTERDIR/bin/gmake"
short_desc="Property displayer for X"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=8b4669af9bbcd0af9017b97fc964b3e0457a38df
long_desc="
 This package provides xprop, a property displayer for X.

 This is from the modular X.org X11 project."
