# Template file for 'xproto'
pkgname=xproto
version=7.0.13
distfiles="
http://xorg.freedesktop.org/releases/individual/proto/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
short_desc="X protocol and ancillary headers from Xorg X11"
pkgconfig_override="xproto.pc"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=24d55b70cd36dab9e5f08f7de59825c52b81beee
long_desc="
 X protocol and ancillary headers from modular Xorg X11."
