# Template build file for 'xrandr'.
pkgname=xrandr
version=1.2.3
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/app
build_style=gnu_configure
short_desc="Primitive command line interface to RandR extension"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=c73b865598d507708a51af50f755288f91d3480b
long_desc="
 Xrandr is used to set the screen size, orientation and/or reflection."
