# Template build file for 'xset'.
pkgname=xset
version=1.0.4
extract_sufx=".tar.bz2"
url=http://xorg.freedesktop.org/releases/individual/app
build_style=gnu_configure
make_cmd="$PKGFS_MASTERDIR/bin/gmake"
short_desc="X11 user preferences utility"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=18abcff0456ec33e6c118eacb22ab344ab848166
long_desc="
 The xset program is used to set various user preference options of
 the X11 display and environment, such as the bell, key clicks,
 DPMS, font paths, keyboard LEDs, mouse pointer, pixel colors,
 keyboard autorepeat, and screen saver."
