# Template build file for 'xstow'.
pkgname=xstow
version=0.6.1-unstable
distfiles="
http://kent.dl.sourceforge.net/sourceforge/xstow/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
short_desc="Replacement of GNU Stow written in C++"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=9b99bd9affe9a841503970e903555ce340fcf296
long_desc="
 XStow as GNU Stow, are programs for managing the installation of
 software packages, keeping them separate (/usr/local/stow/emacs vs.
 /usr/local/stow/perl, for example) while making them appear to be
 installed in the same place (/usr/local)."
