# Template file for 'xtrans'
pkgname=xtrans
version=1.2.1
distfiles="
http://xorg.freedesktop.org/releases/individual/lib/$pkgname-$version@.tar.bz2"
build_style=gnu_configure
pkgconfig_override="xtrans.pc"
short_desc="Network API translation layer to insulate X"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=1998ba12f64cfc9563dcb20f9337e448a9e6a882
long_desc="
 Network API translation layer to insulate X applications and
 libraries from OS network vageries. This is from the modular
 X.org X11 project."
