# Template build file for 'zip'.
pkgname=zip
version=2.32
distfiles="zip232"
extract_sufx=".tgz"
url=ftp://ftp.info-zip.org/pub/infozip/src
build_style=bsd_makefile
make_build_args="-f unix/Makefile"
make_build_target="generic_gcc"
make_install_args="-f unix/Makefile"
short_desc="Create/update ZIP files compatible with pkzip"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=6b9326c8a60bc6bf08825e416140fd0ca8a6a7f1
long_desc="
 Zip is a compression and file packaging utility. It is compatible with
 PKZIP 2.04g (Phil Katz ZIP) for MSDOS systems. There is a companion to zip
 called unzip (of course) which you should be able to find the same place
 you got zip."
