# Template build file for 'zlib'
pkgname=zlib
version=1.2.3
distfiles="http://www.zlib.net/$pkgname-$version@.tar.bz2"
build_style=configure
CFLAGS="-fPIC -DPIC"
configure_args="-s"
short_desc="A Massively Spiffy Yet Delicately Unobtrusive Compression Library"
maintainer="Juan RP <xtraeme@gmail.com>"
checksum=e3b9950851a19904d642c4dec518623382cf4d2ac24f70a76510c944330d28ca
long_desc="
 This is a general purpose data compression library. All the code
 is thread safe. The data format used by the library is described
 by RFCs (Request for Comments) 1950 to 1952."

base_chroot=yes
run_depends="glibc-2.8"
