# Template file for 'ntfs-3g-devel'.
#
depends="fuse-devel ntfs-3g>=${version}"
short_desc="${short_desc} -- development files"
replaces="ntfsprogs-devel>=0"
noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
