# Template file for 'freetype-devel'.
#
depends="zlib-devel bzip2-devel freetype>=$version"
short_desc="${short_desc} - development files"

do_install() {
	for f in bin include share; do
		vmove usr/${f} usr
	done
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
