# Template file for 'libxbps'.
#
short_desc="${short_desc} - runtime library"
long_desc="${long_desc}

 This package contains libxbps, the XBPS runtime shared library."

provides="libxbps-9999"
replaces="libxbps>=0 xbps-devel>=0"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
