# Template file for 'libxbps'.
#
short_desc="${short_desc} - runtime library (development files)"
long_desc="${long_desc}

 This package contains the libxbps develoment files."

depends="zlib-devel proplib-devel confuse-devel libfetch-devel libarchive-devel libxbps-git>=$version"
provides="libxbps-devel-9999"
replaces="libxbps-devel>=0"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
