# Template file for 'xbps-devel-static'.
#
provides="xbps-static-9999"
replaces="xbps-static>=0 xbps-devel-static>=0"
depends="xbps-triggers"
short_desc="${sourcepkg} static binaries"
long_desc="${long_desc}

 This package contains the static binaries and library, that can be
 used on any GNU/Linux distribution matching the architecture."

do_install() {
	vmove "usr/sbin/*.static" usr/sbin
}
