# Template file for 'xbps-tests'.
#
short_desc="${short_desc} - Kyua testsuite"
depends="libxbps>=${version}"
provides="xbps-tests-${version}"
replaces="xbps-tests>=0"

do_install() {
	vmove usr/tests usr
}
