[Desktop Entry]
Name=OctoXBPS
Comment=GUI frontend for XBPS
Comment[de]=GUI Programm für XBPS 
Exec=octoxbps
Icon=octoxbps
Terminal=false
Type=Application
Categories=System;Settings;
