[Desktop Entry]
Type=Application
Version=1.0
Name=Quake II
Comment=Yamagi Quake II Client
Icon=yquake2
Exec=yquake2
Categories=Game;ActionGame;
Terminal=false
StartupNotify=false
