[Desktop Entry]
Name=Decker
GenericName=Multimedia Platform
Comment=Starts the Deck Multimedia Platform
Exec=/usr/bin/decker
Icon=/usr/share/icons/hicolor/64x64/apps/decker.png
Terminal=false
Type=Application
Categories=Games;
MimeType=text/html;
