# Template file for 'gst-plugins-bad1-devel'.
#
noarch=yes
depends="gst-plugins-base1-devel ${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
}
