# Template file for 'pygtk-devel'.
#
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run pygtk

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/{include,share,bin} ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/{pkgconfig,pygtk} ${DESTDIR}/usr/lib
}
