# Template file for 'lzma-utils-libs'.
#
short_desc="${short_desc} (shared libraries)"
long_desc="${long_desc}

 This package contains the shared libraries."

Add_dependency run glibc
Add_dependency run gcc-libstdc++

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/lib
	mv ${origdir}/usr/lib/liblzmadec.so.* ${destdir}/usr/lib
}
