[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=rxvt-unicode
Comment=An Unicode capable rxvt clone
Exec=urxvt
Icon=rxvt-unicode
Terminal=false
Type=Application
Categories=Application;System;TerminalEmulator;
