# Template file for 'libICE-devel'.
#
depends="xtrans xproto libICE-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/*.a" usr/lib
}
