# Template file for 'gegl-devel'.
#
noarch=yes
depends="glib-devel gegl>=$version"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
