# Template file for 'libplist-devel'.
#
noarch=yes
depends="libplist++>=${version} libplist>=${version}"
short_desc="${sourcepkg} development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
