# Template file for 'libplist-python'.
#
short_desc="${sourcepkg} Python bindings"
long_desc="${long_desc}

 This package contains the Python language bindings."

do_install() {
	vmove usr/lib/python2.7 usr/lib
}
