# Template file for 'libplist++'.
#
short_desc="${sourcepkg} C++ runtime library"
long_desc="${long_desc}

 This package contains the C++ runtime library."

do_install() {
	vmove "usr/lib/libplist++.*" usr/lib
}
