[Unit]
Description=Policy Manager
After=syslog.target

[Service]
Type=dbus
BusName=org.freedesktop.PolicyKit1
ExecStart=/usr/libexec/polkitd -n

[Install]
# We pull this in by graphical.target instead of waiting for the bus
# activation, to speed things up a little: gdm uses this anyway so it is nice
# if it is already around when gdm wants to use it and doesn't have to wait for
# it.
WantedBy=graphical.target
