# Template file for 'libxml2-python'.
#
short_desc="${short_desc} -- python extension"

do_install() {
	vmove "usr/lib/python*" usr/lib
	vmove usr/share/doc/${sourcepkg}-python-${version} usr/share/doc
}
