# Template file for 'libxml2-python'.
#
short_desc="${short_desc} (python extension)"
long_desc="${long_desc}

 This package contains ${sourcepkg} python related files."

do_install() {
	vmove "usr/lib/python*" usr/lib
	vmove usr/share/doc/${sourcepkg}-python-${version} usr/share/doc
}
