[Unit]
Description=MPD Scribbler
Requires=mpd.service
After=mpd.service

[Service]
ExecStart=/usr/bin/mpdscribble --no-daemon

[Install]
WantedBy=default.target
