# Template file for 'libssl'.
#
short_desc="Secure Sockets Layer and Cryptographic library"
long_desc="
 ${long_desc}

 This package includes the OpenSSL libssl and libcrypto shared libraries."

do_install() {
	vmove "usr/lib/lib*.so*" usr/lib
}
