# Template file for 'libssl'.
#
short_desc="Secure Sockets Layer and Cryptographic library"
long_desc="
 ${long_desc}

 This package includes the OpenSSL libssl and libcrypto shared libraries."

replaces="openssl<1.0.0a_2"

Add_dependency run glibc
Add_dependency run zlib

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/lib*.so* ${DESTDIR}/usr/lib
}
