# Template file for 'openssl-devel'.
#
depends="zlib-devel libssl>=$version"
short_desc="Secure Socket Layer and cryptographic library - development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/man/man3 usr/share/man
}
