# Template file for 'dracut-network'
#
depends="dracut>=${version}"
short_desc="${short_desc} - network modules"
noarch=yes

do_install() {
	for f in 40network 90livenet 95fcoe 95iscsi \
		95nbd 95nfs 95zfcp 95znet; do
		vmove usr/lib/dracut/modules.d/${f} usr/lib/dracut/modules.d
	done
}
