# Template file for 'dracut-network'
pkgname=dracut
short_desc="${short_desc} - network modules"
long_desc="${long_desc}
 This package contains some modules to allow booting from network, such as
 via ISCSI, NFS, etc."

noarch=yes
Add_dependency run dracut ">=${version}"

do_install() {
	for f in 40network 90livenet 95fcoe 95iscsi \
		95nbd 95nfs 95zfcp 95znet; do
		vmove usr/lib/dracut/modules.d/${f} usr/lib/dracut/modules.d
	done
}
