# Template file for 'xfsprogs-libs'.
#
short_desc="${short_desc} (shared libraries)"
long_desc="${long_desc}

 This package contains the shared libraries."

Add_dependency run glibc

do_install()
{
	mkdir -p ${DESTDIR}/lib
	mv ${SRCPKGDESTDIR}/lib/*.so* ${DESTDIR}/lib
	rm -f ${SRCPKGDESTDIR}/lib/*.*a
}
