# Template file for 'libglib-devel'.
#
depends="zlib-devel pcre-devel libffi-devel glib-${version}_${revision}"
short_desc="${short_desc} -- development files"
replaces="glib-devel<2.34.3_3"

do_install() {
	vmove usr/include usr
	vmove usr/lib/glib-2.0 usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/*.a" usr/lib
}
