# Template file for 'libgudev'.
#
short_desc="GObject-based wrapper library for libudev"
long_desc="
 This library makes it much simpler to use libudev from programs already using
 GObject. It also makes it possible to easily use libudev from other
 programming languages, such as Javascript, because of GObject introspection
 support."

do_install() {
	vmove "usr/lib/libgudev*.so*" usr/lib
}
