# Template file for 'libudev-devel'.
#
noarch=yes
depends="libudev-${version}_${revision}"
short_desc="udev shared library -- development files"
long_desc="
 This package contains the files needed for developing applications
 that use libudev."

do_install() {
	vmove usr/include/libudev.h usr/include
	vmove usr/lib/pkgconfig/libudev.pc usr/lib/pkgconfig
}
