# Template file for 'libudev'.
#
short_desc="udev shared library"
long_desc="
 udev is a daemon which dynamically creates and removes device nodes from
 /dev/, handles hotplug events and loads drivers at boot time.

 This library provides access to udev device information."

do_install() {
	vmove "usr/lib/libudev.so*" usr/lib
}
