# Template file for 'systemd-devel'.
#
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains development files and/or documentation."

noarch=yes

do_install()
{
	install -d ${DESTDIR}/usr/lib ${DESTDIR}/usr/share/man
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/share/man/man3 ${DESTDIR}/usr/share/man
	mv ${SRCPKGDESTDIR}/usr/share/doc ${DESTDIR}/usr/share
}
