# Template file for 'systemd-gnome-passwd-aggent'.
#
depends="systemd"
short_desc="${sourcepkg} - GNOME password agent helper"
long_desc="${long_desc}

 This package contains systemd-gnome-ask-password-agent, a GNOME
 helper to assist in password changes with systemd."


do_install()
{
	vmove "usr/bin/systemd-gnome*" usr/bin
	vmove "usr/share/man/man1/systemd-ask-*" usr/share/man/man1
}
