# Template file for 'systemd-analyze'.
#
depends="python dbus-python systemd>=$version"
short_desc="A python utility to analyze some systemd results"
long_desc="${long_desc}

 This package contains systemd-analyze, a python application to analyze
 systemd."

do_install() {
	vmove usr/bin/systemd-analyze usr/bin
}
