# Template file for 'systemd-python'.
#
short_desc="${sourcepkg} - python bindings"
long_desc="${long_desc}

 This package contains the systemd python bindings."

do_install() {
	vmove "usr/lib/python*" usr/lib
}
