# Template file for 'systemd-admin'.
#
depends="systemd"
short_desc="${sourcepkg} - system administration GUI"
long_desc="${long_desc}

 This package contains systemadm, a GTK+2 application to administer systemd."


do_install()
{
	vmove usr/bin/systemadm usr/bin
	vmove "usr/share/man/man1/systemadm*" usr/share/man/man1
}
