# Template file for 'systemd-devel'.
#
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains development files and/or documentation."

revision=1
noarch=yes
Add_dependency run systemd-libs

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/man/man3 usr/share/man
	vmove usr/share/doc usr/share
}
