# Template file for 'systemd-analyze'.
#
short_desc="${sourcepkg} - systemd analyze"
long_desc="${long_desc}

 This package contains systemd-analyze, a python application to analyze
 systemd."

Add_dependency run python
Add_dependency run dbus-python
Add_dependency run systemd

do_install()
{
	vmove usr/bin/systemd-analyze usr/bin
}
