# Template file for 'systemd-gnome-passwd-aggent'.
#
short_desc="${sourcepkg} - GNOME password agent helper"
long_desc="${long_desc}

 This package contains systemd-gnome-ask-password-agent, a GNOME
 helper to assist in password changes with systemd."

Add_dependency run glibc
Add_dependency run glib
Add_dependency run gtk+
Add_dependency run libnotify
Add_dependency run systemd

do_install()
{
	install -d ${DESTDIR}/usr/bin
	mv ${SRCPKGDESTDIR}/usr/bin/systemd-gnome* ${DESTDIR}/usr/bin
}
