# Template file for 'libserd'.
#
short_desc="${short_desc} - Runtime library"
long_desc="${long_desc}

 This package contains the serd runtime library."

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
