# Template file for 'serd-devel'.
#
depends="glibc-devel libserd"
short_desc="${short_desc} - Development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
        vmove usr/include usr
        vmove usr/lib/pkgconfig usr/lib
}
