# Template file for 'libXmu-devel'.
#
depends="xproto libXext-devel libXt-devel libXmu>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
