[Desktop Entry]
Exec=policytool
Icon=sun-java.png
Name[cs]=Nastavení politiky Java aplikací
Name=Java Policy Settings
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=Settings;Java;
