# Template file for 'kernel-headers'.
#
short_desc="${pkgname} src headers"
long_desc="
 This package contains the required source headers to be able to build
 external 3rd party binary modules."

if [ -n "${_kernel_headers_revision}" ]; then
	revision=${_kernel_headers_revision}
fi

do_install()
{
	mkdir -p ${DESTDIR}
	mv ${SRCPKGDESTDIR}/usr ${DESTDIR}
}
