# Template file for 'udev-glib'.
#
short_desc="${short_desc} (glib bindings)"
long_desc="${long_desc}

 This package contains libgudev, a library to interact with udev through
 the GLib bindings."

revision=2
replaces="udev-glib>=0"

Add_dependency run udev
Add_dependency run glib
Add_dependency run glibc

do_install()
{
	mkdir -p ${DESTDIR}/lib
	mv ${SRCPKGDESTDIR}/lib/libgudev* ${DESTDIR}/lib
}
