# Template file for 'libudev'.
#
short_desc="libudev shared library"
long_desc="${long_desc}

 This library provides access to udev device information."

Add_dependency run glibc

do_install()
{
	mkdir -p ${DESTDIR}/lib
	mv ${SRCPKGDESTDIR}/lib/libudev*.so.* ${DESTDIR}/lib
}
