# Template file for 'libudev-devel'.
#
depends="glibc-devel libudev>=$version"
short_desc="libudev development files"
long_desc="${long_desc}

 This package contains the files needed for developing applications
 that use libudev."

do_install() {
	vmove usr/include usr
	vmove usr/share/gtk-doc usr/share
	vmove usr/lib/pkgconfig/libudev.pc usr/lib/pkgconfig
	vmove usr/share/pkgconfig usr/share
}
