# Template file for 'libudev'.
#
short_desc="libudev shared library"
long_desc="${long_desc}

 This library provides access to udev device information."

do_install() {
	vmove "lib/libudev.so*" lib
	vmove "usr/lib/libudev.so" usr/lib
}
