# Template file for 'cracklib-python'.
#
depends="python"
short_desc="${sourcepkg} python bindings"
long_desc="${long_desc}

 This package contains python bindings for cracklib."

pycompile_module="."

do_install() {
	vmove "usr/lib/python*" usr/lib
}
