# Template file for 'cracklib-python'.
#
depends="python"
short_desc="${sourcepkg} python bindings"
long_desc="${long_desc}

 This package contains python bindings for cracklib."

pycompile_module="."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/python* ${DESTDIR}/usr/lib
}
