# Template file for 'atf-devel'.
#
depends="atf-libs>=$version"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/aclocal usr/share
}
