# Template file for 'atf-libs'.
#
short_desc="${short_desc} - runtime libraries"
long_desc="${long_desc}

 This package contains the shared runtime libraries."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
