# Template file for 'icu-devel'.
#
noarch=yes
depends="libstdc++-devel icu>=$version"
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove usr/lib/icu usr/lib
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/icu usr/share
	vmove usr/bin/icu-config usr/bin
	vmove "usr/share/man/man1/icu-config*" usr/share/man/man1
}
