# Template file for 'libnm-gtk'.
#
short_desc="${sourcepkg} - runtime library"
long_desc="${long_desc}

 This package contains the GTK+ runtime library."

replaces="${sourcepkg}<0.9.1.95"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
