# Template file for 'libnm-gtk'.
#
short_desc="${short_desc} - runtime library"
replaces="${sourcepkg}<0.9.1.95"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove "usr/lib/girepository-*" usr/lib
}
