# Template file for network-manager-applet-devel'.
#
short_desc="${sourcepkg} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run GConf-devel
Add_dependency run libgnome-keyring-devel
Add_dependency run NetworkManager-devel
Add_dependency run gnome-bluetooth-devel
Add_dependency run libnotify-devel
Add_dependency run ${sourcepkg}

do_install()
{
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
