# Template file for network-manager-applet-devel'.
#
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run gtk+3-devel
Add_dependency run NetworkManager-devel ">=0.9.3.997"
Add_dependency run libnm-gtk ">=${version}"

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
