# Template file for network-manager-applet-devel'.
#
depends="gtk+3-devel NetworkManager-devel>=${version}
 libnm-gtk-${version}_${revision}"
short_desc="${short_desc} - development files"
noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
