# Template file for 'vim-common'.
#
short_desc="VI iMproved - common files"
long_desc="${long_desc}

 This package contains common files shared by all vim flavours."

noarch=yes
replaces="vim<=7.2_2"

do_install() {
	vmove usr/share/vim usr/share
}
