# Template file for 'vim-x11'.
#
provides="vim-${version}"
replaces="vim>=0"
short_desc="VI iMproved - X11 version"
long_desc="${long_desc}

 This packages contains vim-x11, the x11 capable version of vim."

do_install() {
	cd $wrksrc/vim-x11
	make DESTDIR=$DESTDIR install
	rm -f ${DESTDIR}/usr/bin/{ex,view}
	rm -rf $DESTDIR/usr/share
}
