[Desktop Entry]
Encoding=UTF-8
Exec=firefox -safe-mode %u
Icon=firefox
Type=Application
Terminal=false
MultipleArgs=false
Name=Firefox - Safe Mode
GenericName=Web Browser - Safe Mode
StartupNotify=false
Categories=Application;Network;
