# Template file for 'libXtst-devel'.
#
depends="recordproto libXext-devel libXi-devel libXtst>=${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/*.a" usr/lib
	vmove usr/share usr
}
