# Template file for 'dbus-glib-devel'.
#
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

# For dbus-binding-tool(1)

Add_dependency run dbus-devel

do_install()
{
	vmove usr/bin usr
	vmove usr/include usr
	vmove usr/share usr/share
	vmove usr/lib/pkgconfig usr/lib
}
