# Template file for 'dbus-glib-devel'.
#
depends="dbus-devel dbus-glib>=$version"
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/bin usr
	vmove usr/include usr
	vmove usr/share usr/share
	vmove usr/lib/pkgconfig usr/lib
}
