[Desktop Entry]
Type=Application
Version=2.5
Encoding=UTF-8
Name=OpenArena
Comment=Open source multiplayer ioquake3-based FPS
Icon=/usr/share/pixmaps/openarena.png
Exec=/usr/bin/openarena
Terminal=false
StartupNotify=false
Categories=Game;
