[Desktop Entry]
Type=Application
Version=2.5
Encoding=UTF-8
Name=OpenArena Dedicated Server
Comment=Dedicated server for OpenArena
Icon=/usr/share/pixmaps/openarena.png
Exec=/usr/bin/oa-ded
Terminal=false
StartupNotify=false
Categories=Game;
