[Desktop Entry]
Name=IDLE 3 (using Python3.4)
Comment=IDE for Python3.4
Exec=idle3
Icon=idle3
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
