[Desktop Entry]
Name=Online Accounts
Name[af]=Aanlynrekeninge
Name[an]=Cuentas en linia
Name[ar]=حسابات الإنترنت
Name[as]=অনলাইন একাওন্টসমূহ
Name[ast]=Cuentes en llinia
Name[be]=Сеціўныя конты
Name[bg]=Мрежови регистрации
Name[bn_IN]=অনলাইন অ্যাকাউন্ট
Name[ca]=Comptes en línia
Name[ca@valencia]=Comptes en línia
Name[crh]=Çevrimiçi Hesaplar
Name[cs]=Účty on-line
Name[da]=Onlinekonti
Name[de]=Online-Konten
Name[el]=Διαδικτυακοί λογαριασμοί
Name[en_GB]=Online Accounts
Name[eo]=Interretaj kontoj
Name[es]=Cuentas en línea
Name[et]=Netikontod
Name[eu]=Lineako kontuak
Name[fa]=حساب‌های برخط
Name[fi]=Verkkotilit
Name[fr]=Comptes en ligne
Name[ga]=Cuntais ar Líne
Name[gl]=Contas en liña
Name[gu]=ઓનલાઇન ખાતાઓ
Name[he]=חשבונות מקוונים
Name[hi]=ऑनलाइन खातों
Name[hu]=Online fiókok
Name[id]=Akun Daring
Name[it]=Account online
Name[ja]=オンラインアカウント
Name[kk]=Желідегі тіркелгілер
Name[km]=គណនី​លើ​បណ្ដាញ
Name[kn]=ಅಂತರಜಾಲದಲ್ಲಿನ ಖಾತೆಗಳು
Name[ko]=온라인 계정
Name[lt]=Interneto paslaugų paskyros
Name[lv]=Tiešsaistes konti
Name[mk]=Онлајн сметки
Name[ml]=ഓണ്‍ലൈന്‍ അക്കൌണ്ടുകള്‍
Name[mr]=ऑनलाइन खाते
Name[nb]=Nettkontoer
Name[ne]=अनलाईन खाताहरू
Name[nl]=Online-accounts
Name[nn]=Nettkontoar
Name[or]=ଅନଲାଇନ ଖାତାଗୁଡ଼ିକ
Name[pa]=ਆਨਲਾਈਨ ਅਕਾਊਂਟ
Name[pl]=Konta online
Name[pt]=Contas Online
Name[pt_BR]=Contas on-line
Name[ro]=Conturi online
Name[ru]=Сетевые учётные записи
Name[sk]=Účty služieb
Name[sl]=Spletni računi
Name[sr]=Налози на мрежи
Name[sr@latin]=Nalozi na mreži
Name[sv]=Nätkonton
Name[ta]=ஆன் லைன்  கணக்குகள்
Name[te]=ఆన్‌లైన్ ఖాతాలు
Name[tg]=Ҳисобҳои онлайн
Name[th]=บัญชีออนไลน์
Name[tr]=Çevrimiçi Hesaplar
Name[ug]=توردىكى ھېساباتلار
Name[uk]=Мережеві облікові записи
Name[vi]=Tài khoản trực tuyến
Name[zh_CN]=在线账户
Name[zh_HK]=網上帳號
Name[zh_TW]=線上帳號
Comment=Connect to your online accounts and decide what to use them for
Comment[af]=Koppel met aanlynrekeninge en kies waarvoor hulle gebruik moet word
Comment[an]=Connectar-se a las tuyas cuentas en linia y decidir ta qué usar-las
Comment[ar]=اتصل بحساباتك على الإنترنت و اختر ما الذي تستخدمه منهم
Comment[as]=আপোনাৰ অনলাইন একাওন্টসমূহৰ সৈতে সংযোগ কৰক আৰু সিহতক কিহৰ বাবে ব্যৱহাৰ কৰিব নিৰ্ধাৰণ কৰক
Comment[be]=Злучэнне з сеціўнымі контамі і іх прызначэнне
Comment[bg]=Свързване с онлайн регистрациите ви и задаване за какво да се ползват
Comment[bn_IN]=অাপনার অনলাইন অ্যাকাউন্টগুলিতে সংযোগ করুন এবং তাদের কী কাজে ব্যবহার করবেন তার স্থির করুন
Comment[ca]=Connecteu-vos als comptes en línia i decidiu quin ús en voleu fer
Comment[ca@valencia]=Connecteu-vos als comptes en línia i decidiu quin ús en voleu fer
Comment[cs]=Přihlaste se k účtům on-line a rozhodněte se, k čemu je používat
Comment[da]=Forbind til dine onlinekonti og beslut dig for hvad du vil bruge dem til
Comment[de]=Verbinden Sie sich mit Ihren Online-Konten und entscheiden Sie, wofür diese genutzt werden
Comment[el]=Συνδεθείτε με τους δικτυακούς λογαριασμούς σαε και αποφασίστε πού θα τους χρησιμοποιήσετε
Comment[en_GB]=Connect to your online accounts and decide what to use them for
Comment[eo]=Konekti al viajn interretajn kontojn kaj elekti kiel uzi ilin
Comment[es]=Conectarse a sus cuentas en línea y decidir para qué usarlas
Comment[et]=Veebikontodega ühendumine ja määramine, milleks neid kasutatakse
Comment[eu]=Konektatu lineako zure kontuetara eta erabaki zertarako erabiliko dituzun 
Comment[fa]=به حساب‌های برخط خود متصل شوید و تصمیم بگیرد چه استفاده‌ای از آنها بکنید
Comment[fi]=Liitä verkkotilisi ja päätä, mihin tarkoituksiin niitä käytetään
Comment[fr]=Connectez-vous à vos comptes en ligne et décidez de leur utilité
Comment[gl]=Conéctese ás súas contas en liña a decida para que usalas
Comment[gu]=તમારાં ઓનલાઇન ખાતામાં જોડાવો અને નક્કી કરો તે તેઓ માટે શું વાપરવુ છે
Comment[he]=התחברות לחשבונות המקוונים שלך ולהחליט למה לשמש אותם
Comment[hi]=आपके ऑनलाइन खातों से कनेक्ट करने और निर्णय क्या उनके लिए उपयोग करने के लिए
Comment[hu]=Kapcsolódás online fiókjaihoz, és felhasználási módjuk kiválasztása
Comment[id]=Sambung ke akun daring Anda dan tentukan mereka akan dipakai apa
Comment[it]=Connette ai propri account online e decice per cosa usarli
Comment[ja]=オンラインアカウントへの接続や利用方法を設定します。
Comment[kk]=Желідегі тіркелгілеріңізге байланыс орнатыңыз және олар не үшін қолданылатынын шешіңіз
Comment[kn]=ನಿಮ್ಮ ಆನ್‌ಲೈನ್ ಖಾತೆಗಳೊಂದಿಗೆ ಸಂಪರ್ಕ ಜೋಡಿಸಿ ಮತ್ತು ಅವುಗಳನ್ನು ಯಾವ ಕೆಲಸಕ್ಕೆ ಬಳಸಬೇಕು ಎನ್ನುವುದನ್ನು ನಿರ್ಧರಿಸಿ
Comment[ko]=온라인 계정에 연결하고 그 계정을 어디에 이용할지 설정합니다
Comment[lt]=Prisijunkite prie savo internetinių paskyrų ir nuspręskite, kam jas naudosite
Comment[lv]=Savienojieties ar saviem tiešsaistes kontiem un izvēlaties, kam tos izmantot
Comment[ml]=ഓണ്‍ലൈന്‍ അകൌണ്ടുകള്‍ ബന്ധിപ്പിച്ച് അവ എന്തിന് വേണ്ടി ഉപയോഗിക്കണം എന്ന് തീരുമാനിക്കുക
Comment[mr]=ऑनलाइन खातींसह जोडणी करा आणि त्याचे कशासाठी वापर करायचे ते ठरवा
Comment[nb]=Koble til dine kontoer på nettet og bestem hva du skal bruke dem til
Comment[nl]=Met uw online-accounts verbinden en bepalen waar u ze voor gebruikt
Comment[or]=ଆପମଙ୍କର ଅନ୍‌ଲାଇନ୍‌ ଖାତା ସହିତ ସଂଯୋଗ କରନ୍ତୁ ଏବଂ ତାହାକୁ କଣ ପାଇଁ ବ୍ୟବହାର କରାଯିବ ତାହା ସିଦ୍ଧାନ୍ତ କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਆਨਲਾਈਨ ਖਾਤਿਆਂ ਨਾਲ ਕੁਨੈਕਟ ਹੋਵੋ ਅਤੇ ਫੈਸਲਾ ਕਰੋ ਕਿ ਉਹਨਾਂ ਨੂੰ ਕਿਸ ਲਈ ਵਰਤਣਾ ਹੈ
Comment[pl]=Łączenie z kontami online i ustalanie, do czego mają być używane
Comment[pt]=Lige-se às suas contas online e decida como as utilizar
Comment[pt_BR]=Conecte-se às suas contas on-line e decida para que usá-las
Comment[ru]=Подключиться к сетевым учётным записям и решить для чего их использовать
Comment[sk]=Pripojí vás k vašim účtom sieťových služieb a rozhodne na čo sa použijú
Comment[sl]=Nadzirajte svoje spletne račune in se odločite za kaj jih boste uporabili
Comment[sr]=Повежите се на ваше налоге на мрежи и одлучите за шта ћете их користити
Comment[sr@latin]=Povežite se na vaše naloge na mreži i odlučite za šta ćete ih koristiti
Comment[sv]=Anslut till dina nätkonton och bestäm hur de ska användas
Comment[ta]=உங்கள் ஆன்லைன் கணக்குகளில் இணைந்து அவற்றை எதற்கு பயன்படுத்த வேண்டும் என முடிவு செய்யவும்
Comment[te]=మీ ఆన్‌లైన్ ఖాతాలకు  అనుసంధానమై మరియు వాటిని దేని కొరకు వుపయోగించాలో నిర్ణయించు
Comment[tg]=Ба ҳисобҳои онлайни худ пайваст шавед ва интихоб кунед, ки онҳоро барои чӣ истифода мебаред
Comment[th]=เชื่อมต่อไปยังบัญชีออนไลน์ของคุณและตัดสินใจว่าจะใช้เพื่อทำอะไร
Comment[tr]=Çevrimiçi hesaplarınıza bağlanın ve ne için kullanacağınızı belirleyin
Comment[uk]=З'єднатись з вашим мережевими обліковими записами і вирішити, що з ними робити 
Comment[vi]=Kết nối các tài khoản trực tuyến của bạn và quyết định dùng chúng vào việc gì
Comment[zh_CN]=连接在线账户并决定如何使用
Comment[zh_HK]=連接到你的網上帳號並決定要用它們來做什麼
Comment[zh_TW]=連接到您的線上帳號並決定要用它們來做什麼
Exec=env XDG_CURRENT_DESKTOP=GNOME gnome-control-center online-accounts
Icon=goa-panel
Terminal=false
Type=Application
#NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-Unity-Settings-Panel;X-GNOME-PersonalSettings;
X-Unity-Settings-Panel=online-accounts
OnlyShowIn=Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Online Accounts
X-GNOME-Bugzilla-Version=3.14.0
# Translators: those are keywords for the online-accounts control-center panel
# For ReadItLater and Pocket, see http://en.wikipedia.org/wiki/Pocket_(application)
Keywords=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[an]=Google;Facebook;Twitter;Yahoo;Ret;En linia;Chat;Calandario;Correu;Contacto;ownCloud;Kerberos;IMAP;SMTP;Pocha;Leyer-loDimpués;
Keywords[ar]=جوجل;جووجل;فيسبوك;تويتر;ياهو;وب;ويب;محادثة;تقويم;بريد;اتصال;
Keywords[as]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[be]=Google;Facebook;Twitter;Yahoo;Сеціва;Інтэрнэт;Чат;Каляндар;Календары;Пошта;Кантакты;Сувязь;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[bg]=Гугъл;Фейсбук;Туитър;Яху;Социален;Уеб;В мрежа;Разговор;Календар;Поща;Контакт;Оун клауд;Керберос;ИМАП;SMTP;Покет;Покит;Рийд;Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[bn_IN]=Google;Facebook;Twitter;Yahoo;Web;অনলাইন;চ্যাট;ক্যালেন্ডার;মেল;পরিচিতি;ownCloud;Kerberos;IMAP;SMTP;পকেট;ReadItLater;
Keywords[ca]=Google;Facebook;Twitter;Yahoo;Web;En línia;Xat;Calendari;Correu;Contacte;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ca@valencia]=Google;Facebook;Twitter;Yahoo;Web;En línia;Xat;Calendari;Correu;Contacte;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[cs]=Google;Facebook;Twitter;Yahoo;web;on-line;diskuze;chat;kalendář;e-mail;mail;email;pošta;kontakt;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[da]=Google;Facebook;Twitter;Yahoo;Internet;Web;Online;Chat;Kalender;Post;E-post;Mail;Email;Kontaktpersoner;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[de]=Google;Facebook;Twitter;Yahoo;Internet;Online;Chat;Kalendar;Mail;E-Mail;Kontakte;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[el]=Google;Facebook;Twitter;Yahoo;Ιστός;Με σύνδεση;Συνομιλία;Ημερολόγιο;Αλληλογραφία;Επαφές;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;Online;Chat;Calendar;Mail;Contact;
Keywords[es]=Google;Facebook;Twitter;Yahoo;Web;en línea;Chat;Calendario;Correo-e;Contacto;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[eu]=Google;Facebook;Twitter;Yahoo;Weba;Linean;Berriketa;Egutegia;Posta;Kontaktua;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[fa]=گوگل;فیس بوک;تویتر;یاهو;وب;برخط;گپ;تقویم;پست‌الکترونیکی;آشنا;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[fi]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;keskustelu;kalenteri;sähköposti;yhteystiedot;kontaktit;
Keywords[fr]=Google;Facebook;Twitter;Yahoo;Web;En ligne;Discussion;Agenda;Courriel;Email;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[gl]=Google;Facebook;Twitter;Yahoo;Web;En liña;Conversa;Calendario;Correo-e;Contacto;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[gu]=Google;Facebook;Twitter;Yahoo;વેબ;ઓનલાઇન;વાતચીત;કૅલેન્ડર;મેઇલ;સંપર્ક;ownCloud;કર્બોસ;IMAP;SMTP;પોકેટ;ReadItLater;
Keywords[he]=Google;Facebook;Twitter;Yahoo;Web;מקוון;שיחה;יומן;דוא״ל;לוח שנה;צ׳אט;צ'אט;דואר אלקטרוני;דוא"ל;ownCloud;אונליין;IMAP;SMTP;Pocket;ReadItLater;
Keywords[hi]=गूगल;फेसबुक;ट्विटर;याहू;वेब;ऑनलाइन;चैट;कैलेंडर;मेल;संपर्क;ओनक्लाउड;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[hu]=Google;Facebook;Twitter;Yahoo;Web;Online;Csevegés;Chat;Naptár;E-mail;Levél;Levelezés;Névjegyek;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[id]=Google;Facebook;Twitter;Yahoo;Web;Daring;Obrolan;Kalender;Surel;Kontak;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[it]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Conversazioni;Calendario;Email;Posta;Contatto;Contatti;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ja]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;グーグル;フェイスブック;ツイッター;ヤフー;ウェブ;オンライン;チャット;カレンダー;メール;連絡先;Flickr;
Keywords[kn]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ko]=Google;구글;Facebook;페이스북;Twitter;트위터;Yahoo;야후;Web;웹;Online;온라인;Chat;채팅;Calendar;달력;Mail;메일;Contact;연락처;ownCloud;Kerberos;케르베로스;IMAP;SMTP;;Pocket;ReadItLater;
Keywords[lt]=Google;Facebook;Twitter;Yahoo;Žiniatinklis;Tinkle;Pokalbiai;Kalendorius;Paštas;Kontaktai;ownCloud;Kerberos;IMAP;SMTP;Paketas;SkaitytiVėliau;
Keywords[lv]=Google;Facebook;Twitter;Yahoo;Web;Tīmeklis;Tiešsaiste;Tērzēšana;Kalendārs;Pasts;kontakti;ownCloud;Kerberos;IMAP;SMTP;Online;Chat;Calendar;Mail;Contact;Pocket;ReadItLater;
Keywords[mr]=गूगल;फेसबूक;ट्विटर;याहू;वेब;ऑनलाइन;चॅट;कॅलेंडर;मेल;काँट्रॅक्ट;ओनक्लाउड;कर्बेरोस,आईमॅप;एसएमटिपि;पॉकेट;रिडइटलेटर;
Keywords[nb]=Google;Facebook;Twitter;Yahoo;Web;Nett;Lynmeldinger;Kalender;E-post;Kontakt;ownCloud;Kerberos;IMAP;SMTP;Lomme;ReadItLater;
Keywords[nl]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Agenda;Pocket;ReadItLater;
Keywords[or]=Google;Facebook;Twitter;Yahoo;ୱେବ;ଅନଲାଇନ;ଚାର୍ଟ;କ୍ୟାଲେଣ୍ଡର;ମେଲ;ସମ୍ପର୍କ;ownCloud;କର୍ବୋରସ୍‌;IMAP;SMTP;ପକେଟ;ଏହାକୁ ପରେ ପଢ଼ନ୍ତୁ;
Keywords[pa]=ਗੂਗਲ;ਫੇਸਬੁੱਕ;ਟਵਿੱਟਰ;ਯਾਹੂ;ਵੈੱਬ;ਆਨਲਾਈਨ;ਗੱਲਬਾਤ;ਚੈਟ;ਕੈਲੰਡਰ;ਮੇਲ;ਸੰਪਰਕ;Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Packet;ReaditLater
Keywords[pl]=Google;Facebook;Twitter;Yahoo;WWW;Web;Online;Komunikator;Chat;Czat;Kalendarz;Poczta;e-mail;email;Kontakt;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[pt]=Google;Facebook;Twitter;Yahoo;Web;Online;Diálogo;Calendário;Correio;Contacto;ownCloud;Kerberos;IMAP;SMTP;ReadItLater;
Keywords[pt_BR]=Google;Facebook;Twitter;Yahoo;Web;Conectado;Online;Bate-papo;Chat;Calendário;Agenda;E-mail;Correio;Contato;Contatos;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ru]=Google;Facebook;Twitter;Yahoo;Web;Онлайн;Чат;Календарь;Почта;Контакт;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[sk]=Google;Facebook;Twitter;Yahoo;web;on-line;rozhovor;chat;kalendár;e-mail;mail;email;pošta;kontakt;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[sl]=Google;Facebook;Twitter;Yahoo;Splet;Klepet;Koledar;Elektronska pošta;Stiki;Računi;ownCloud;oblak;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[sr]=гугл;фејсбук;твитер;јаху;веб;мрежа;ћаскање;календар;пошта;контакт;лични облак;керберос;имап;смтп;покет;прочитајкасније;ридитлејтер;
Keywords[sr@latin]=gugl;fejsbuk;tviter;jahu;veb;mreža;ćaskanje;kalendar;pošta;kontakt;lični oblak;kerberos;imap;smtp;poket;pročitajkasnije;riditlejter;
Keywords[sv]=Google;Facebook;Twitter;Yahoo;Webb;Nätet;Chatt;Kalender;E-post;Kontakt;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ta]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[te]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[tg]=Google;Facebook;Twitter;Yahoo;Web;Онлайн;Чат;Тақвим;Почта;Тамос;ownCloud;Kerberos;IMAP;SMTP;Баста;Баъдтар;
Keywords[tr]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;Çevrimiçi;Sohbet;Takvim;Mektup;Posta;Bağlantı;Kişi;
Keywords[uk]=Google;Facebook;Twitter;Yahoo;Інтернет;Мережа;Балачка;Календар;Пошта;Контакт;ownCloud;IMAP;SMTP;Pocket;ReadItLater;
Keywords[zh_CN]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;谷歌;脸谱;脸书;推特;雅虎;微博;网络;在线;聊天;日历;邮件;联系人;云存储;稍后阅读;
Keywords[zh_HK]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;谷歌;臉書;推特;雅虎奇摩;網頁;網上;聊天;行事曆;郵件;聯絡人;
Keywords[zh_TW]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;谷歌;臉書;推特;雅虎奇摩;網頁;線上;聊天;行事曆;郵件;連絡人;
