[Desktop Entry]
Name=Region & Language
Name[af]=Streek en taal
Name[an]=Rechión y idioma
Name[ar]=المنطقة واللغة
Name[as]=অঞ্চল & ভাষা
Name[be]=Мясцовасць і мова
Name[bg]=Регион и език
Name[bn_IN]=অঞ্চল & ভাষা
Name[ca]=Regió i idioma
Name[ca@valencia]=Regió i idioma
Name[crh]=Bölge & Til
Name[cs]=Region a jazyk
Name[da]=Region & sprog
Name[de]=Region und Sprache
Name[el]=Περιοχή & γλώσσα
Name[en_GB]=Region & Language
Name[eo]=Regiono kaj lingvo
Name[es]=Región e idioma
Name[et]=Piirkond ja keel
Name[eu]=Eskualdea eta hizkuntza
Name[fa]=ناحیه و زبان
Name[fi]=Alue ja kielet
Name[fr]=Pays & langue
Name[ga]=Réigiún & Teanga
Name[gl]=Rexión e idioma
Name[gu]=પ્રદેશ અને ભાષા
Name[he]=אזור ושפה
Name[hi]=क्षेत्र और भाषा
Name[hu]=Terület és nyelv
Name[id]=Wilayah & Bahasa
Name[it]=Regione e lingua
Name[ja]=地域と言語
Name[kk]=Аймақ пен тіл
Name[km]=តំបន់ និង​ភាសា
Name[kn]=ಪ್ರದೇಶ ಹಾಗು ಭಾಷೆ
Name[ko]=지역 및 언어
Name[ky]=Регион жана тил
Name[lt]=Regionas ir kalba
Name[lv]=Vieta un valoda
Name[ml]=സ്ഥലവും ഭാഷയും
Name[mr]=क्षेत्र व भाषा
Name[nb]=Region og språk
Name[ne]=क्षेत्र र भाषा
Name[nl]=Regio en taal
Name[or]=ଅଞ୍ଚଳ ଏବଂ ଭାଷା
Name[pa]=ਖੇਤਰ ਅਤੇ ਭਾਸ਼ਾ
Name[pl]=Region i język
Name[pt]=Região & Idioma
Name[pt_BR]=Região & idioma
Name[ro]=Regiune și limbă
Name[ru]=Язык и регион
Name[sk]=Región a jazyk
Name[sl]=Področje in jezik
Name[sr]=Регион и језик
Name[sr@latin]=Region i jezik
Name[sv]=Region & språk
Name[ta]= வட்டாரம் மற்றும் மொழி 
Name[te]=ప్రాంతము & భాష
Name[tg]=Забон ва минтақа
Name[th]=ภูมิภาค & ภาษา
Name[tr]=Bölge & Dil
Name[ug]=رايون ۋە تىل
Name[uk]=Регіон та мова
Name[vi]=Lãnh thổ và ngôn ngữ
Name[zh_CN]=区域和语言
Name[zh_HK]=地區和語言
Name[zh_TW]=地區和語言
Comment=Select your display language, formats, keyboard layouts and input sources
Comment[af]=Kies die vertoontaal, formate, sleutelborduitlegte en toevoerbronne
Comment[an]=Selecciona o tuyo idioma, formatos, distribucions de teclau y fuents de dentrada
Comment[ar]=اختر لغة العرض و التنسيق و تخطيط لوحة المفاتيح و مصادر الإدخال
Comment[as]=আপোনাৰ প্ৰদৰ্শন ভাষা, বিন্যাসসমূহ, কিবৰ্ড বিন্যাসসমূহ আৰু ইনপুট উৎসসমূহ বাছক
Comment[be]=Выбар мовы інтэрфейсу, фарматаў даных, клавіятурных раскладак і крыніц уводу
Comment[bg]=Изберете вашия език, формати, клавиатурна подредба и входни устройства
Comment[bn_IN]=অাপনার প্রদর্শন ভাষা, ফর্ম্যাট, কীবোর্ড সজ্জা এবং ইনপুট সোর্স নির্বাচন করুন
Comment[ca]=Seleccioneu l'idioma a mostrar, els formats, les disposicions de teclat i les fonts d'entrada
Comment[ca@valencia]=Seleccioneu l'idioma a mostrar, els formats, les disposicions de teclat i les fonts d'entrada
Comment[cs]=Vyberte jazyk, formáty, rozložení klávesnice a vstupní zdroje
Comment[da]=Vælg sprog, formater, tastaturlayout samt inputkilder
Comment[de]=Wählen Sie Ihre Sprache, Formate, Tastaturbelegungen und die Eingabequellen
Comment[el]=Επιλέξτε γλώσσα εμφάνισης, μορφές, διατάξεις πληκτρολογίου και πηγές εισόδου
Comment[en_GB]=Select your display language, formats, keyboard layouts and input sources
Comment[eo]=Elektu vian montran lingvon, formatojn, klavarfasonojn kaj enigajn fontojn
Comment[es]=Seleccione su idioma, formatos, distribuciones de teclado y fuentes de entrada
Comment[et]=Vali kuva keel, vormingud, klaviatuuripaigutused ja sisendid
Comment[eu]=Hautatu pantailaren hizkuntza, formatua, teklatuaren diseinua eta sarrerako iturburuak
Comment[fa]=زبان نمایش، قالب‌ها، چیدمان صفحه‌کلید و منابع ورودی خود را انتخاب کنید
Comment[fi]=Valitse näytettävä kieli, formaatit, näppäimistöasettelu ja syötelähteet
Comment[fr]=Sélectionnez la langue, les formats, l'agencement clavier et les sources d'entrées
Comment[gl]=Seleccione o idioma da pantalla, formatos, disposición de teclado e orixes de entrada
Comment[gu]=તમારી દર્શાવ ભાષા, બંધારણો, કિબોર્ડ લેઆઉટ અને ઇનપુટ સ્ત્રોતોને પસંદ કરો
Comment[he]=ניתן לבחור את שפת התצוגה, התבניות, פריסות המקלדת ומקורות הקלט
Comment[hi]=अपनी प्रदर्शन भाषा, स्वरूपों, कीबोर्ड लेआउट और इनपुट सूत्रों का चयन करें
Comment[hu]=Válassza ki a felület nyelvét, az adatformátumokat, billentyűkiosztásokat és beviteli forrásokat
Comment[id]=Pilih bahasa tampilan, format, tata letak papan tik, dan sumber-sumber masukan Anda
Comment[it]=Seleziona la lingua utilizzata, i formati, le disposizioni di tastiera e le sorgenti di input
Comment[ja]=表示言語、フォーマット、キーボードレイアウト、入力ソースを設定します
Comment[kk]=Экран тілін, пішімдерін, пернетақта жаймаларын және қайнар көздерін таңдаңыз
Comment[kn]=ನಿಮ್ಮ ಪ್ರದರ್ಶನದ ಭಾಷೆ, ವಿನ್ಯಾಸಗಳು, ಕೀಲಿಮಣೆ ವಿನ್ಯಾಸಗಳು ಮತ್ತು ಇನ್‌ಪುಟ್ ಮೂಲಗಳನ್ನು ಆರಿಸಿ
Comment[ko]=표시할 언어, 여러가지 형식, 키보드 배치, 입력 소스를 선택합니다.
Comment[lt]=Pasirinkite rodymo kalbą, formatus, klaviatūros išdėstymus ir įvesties šaltinius
Comment[lv]=Izvēlieties redzamo valodu, formātus, tastatūras izkārtojumus un ievades avotus
Comment[ml]=നിങ്ങളുടെ ഭാഷ, ഘടന, കീബോർഡ് മാതൃക, ഇൻപുട്ട് സോർസ് എന്നിവ തിരഞ്ഞെടുക്കുക
Comment[mr]=डिस्पले भाषा, रूपण, कळफलक मांडणी आणि इंपुट स्रोत नीवडा
Comment[nb]=Velg språk for visning, formater, tastaturutforminger og inndatakilder
Comment[nl]=Schermtaal, formaten, toetsenbordindelingen en invoerbronnen selecteren
Comment[or]=ଆପଣଙ୍କର ପ୍ରଦର୍ଶନୀ ଭାଷା, ଶୈଳୀ, କିବୋର୍ଡ ବିନ୍ୟାସ ଏବଂ ନିବେଶ ଉତ୍ସଗୁଡ଼ିକୁ ବାଛନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਵੇਖਾਉਣ ਵਾਲੀ ਭਾਸ਼ਾ, ਫਾਰਮੈਟ, ਕੀਬੋਰਡ ਲੇਆਉਟ ਅਤੇ ਇੰਪੁੱਟ ਸਰੋਤ ਚੁਣੋ
Comment[pl]=Wybór języka wyświetlania, formatów, układów klawiatury i źródeł wprowadzania
Comment[pt]=Selecione o seu idioma de apresentação, formatos, disposições de teclado e origens de entrada
Comment[pt_BR]=Selecione o seus idioma de exibição, formatos, fontes de entradas e disposições de teclado
Comment[ru]=Выбор языка интерфейса, форматов, раскладки клавиатуры и источников ввода
Comment[sk]=Umožňuje výber jazyka, formátov, rozloženia klávesnice a zdrojov vstupu
Comment[sl]=Izberite jezik prikaza, oblike, razporeditve tipk in vnosne vire
Comment[sr]=Изаберите ваш приказани језик, записе, распореде тастатуре и изворе улаза
Comment[sr@latin]=Izaberite vaš prikazani jezik, zapise, rasporede tastature i izvore ulaza
Comment[sv]=Välj dina visningsspråk, format, tangentbordslayouter och inmatningskällor
Comment[ta]=உங்கள் காட்சி மொழி, வடிவமைப்புகள், விசைப்பலகை தளவமைப்புகள் மற்றும் உள்ளீட்டு மூலங்களைத் தேர்ந்தெடுக்கவும்
Comment[te]=మీ ప్రదర్శన భాషను, ఫార్మాట్లను, కీబోర్డు లేఅవుట్లను మరియు యిన్పుట్ మూలాలను యెంపికచేయండి
Comment[tg]=Интихоби забони интерфейс, форматҳо, тарҳбандии клавиатураҳо ва манбаҳои вуруд
Comment[th]=เลือกภาษาที่แสดง, รูปแบบ, ผังแป้นพิมพ์ และช่องทางป้อนข้อความของคุณ
Comment[tr]=Görüntüleme dilinizi, biçimlerinizi, klavye düzenlerinizi ve girdi kaynaklarınızı ayarlayın
Comment[uk]=Вибрати вашу мову, формати, розклади й джерела введення
Comment[vi]=Chọn ngôn ngữ hiển thị, định dạng, bố cục của bàn phím và nguồn nhập
Comment[zh_CN]=选择您的显示语言、格式、键盘布局和输入源
Comment[zh_HK]=選擇你的顯示語言、格式、鍵盤配置和輸入來源
Comment[zh_TW]=選擇您的顯示語言、格式、鍵盤配置和輸入來源
Exec=env XDG_CURRENT_DESKTOP=GNOME gnome-control-center region
Icon=preferences-desktop-locale
Terminal=false
Type=Application
#NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-Unity-Settings-Panel;X-GNOME-PersonalSettings;
X-Unity-Settings-Panel=region
OnlyShowIn=Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=region
X-GNOME-Bugzilla-Version=3.14.0
# Translators: those are keywords for the region control-center panel
Keywords=Language;Layout;Keyboard;Input;
Keywords[af]=Language;Layout;Keyboard;Input;taal;uitleg;sleutelbord;toetsbord;toevoer;
Keywords[an]=Idioma;Distribución;Teclau;Dentrada;
Keywords[ar]=اللغة;التخطيط;مفاتيح;
Keywords[as]=Language;Layout;Keyboard;Input;
Keywords[be]=Мова;Раскладка;Клавіятура;Увод;
Keywords[bg]=Език;Подредба;Клавиатура;Вход;Language;Layout;Keyboard;Input;
Keywords[bn_IN]=ভাষা;সজ্জা;কীবোর্ড;ইনপুট;
Keywords[ca]=Idioma;Disposició;Teclat;Entrada;
Keywords[ca@valencia]=Idioma;Disposició;Teclat;Entrada;
Keywords[crh]=Til;Tizilim;Klavye;Kirdi;
Keywords[cs]=jazyk;rozložení;klávesnice;vstup;
Keywords[da]=Sprog;Layout;Tastatur;Input;Inddata;
Keywords[de]=Sprache;Belegung;Tastatur;Eingabe;
Keywords[el]=Γλώσσα;Διάταξη;Πληκτρολόγιο;Είσοδος;Language;Layout;Keyboard;Input;
Keywords[en_GB]=Language;Layout;Keyboard;Input;
Keywords[eo]=lingvo;klavarfasono;klavaro;eniga;fulmoklavojn;
Keywords[es]=Idioma;Distribución;Teclado;Entrada;
Keywords[et]=Keel;Paigutus;Klaviatuur;Sisend;Sisestamine;
Keywords[eu]=Hizkuntza;Diseinua;Teklatua;Sarrera;
Keywords[fa]=زبان;چیدمان;صفحه‌کلید؛ورودی;Language;Layout;Keyboard;Input;
Keywords[fi]=Kieli;Asettelu;Näppäimistö;Syöte;
Keywords[fr]=Langue;Disposition;Clavier;Entrée;
Keywords[ga]=Teanga;Leagan Amach;Méarchlár;Ionchur;
Keywords[gl]=Idioma:Distribución;Teclado;Entrada;
Keywords[gu]=ભાષા;લેઆઉટ;કિબોર્ડ;ઇનપુટ;
Keywords[he]=שפה;פריסה;מקלדת;פלט;
Keywords[hi]=भाषा;लेआउट;कीबोर्ड; इनपुट;
Keywords[hu]=Nyelv;kiosztás;billentyűzet;bevitel;
Keywords[id]=Bahasa;Tata Letak;Papan Tik;Masukan;
Keywords[it]=Lingua;Disposizione;Layout;Tastiera;Input;
Keywords[ja]=Language;Layout;Keyboard;Input;言語;レイアウト;キーボード;入力;インプット;
Keywords[kk]=Тіл;Жайма;Пернетақта;Енгізу;
Keywords[kn]=ಭಾಷೆ;ವಿನ್ಯಾಸ;ಕೀಲಿಮಣೆ;ಇನ್‌ಪುಟ್;
Keywords[ko]=Language;언어;Layout;배치;Keyboard;키보드;Input;입력;
Keywords[lt]=Kalba;Išdėstymas;Klaviatūra;Įvestis;
Keywords[lv]=Valoda;Izkārtojums;Tastatūra;Ievade;Language;Layout;Keyboard;Input;
Keywords[ml]=Language;Layout;Keyboard;Input;
Keywords[mr]=भाषा;मांडणी;कळफलक;इंपुट;
Keywords[nb]=Språk;Utforming;Tastatur;Inndata;
Keywords[nl]=Language;Layout;Keyboard;Taal;Indeling;Toetsenbord;
Keywords[or]=ଭାଷା;ବିନ୍ୟାସ;କିବୋର୍ଡ;ନିବେଶ;
Keywords[pa]=ਭਾਸ਼ਾ;ਲੇਆਉਟ;ਕੀਬੋਰਡ;ਇੰਪੁੱਟ;Language;Layout;Keyboard;Input;
Keywords[pl]=Język;Układ;Klawiatura;Wprowadzanie;Wejście;
Keywords[pt]=Idioma;Disposição;Teclado;Entrada;
Keywords[pt_BR]=Idioma;Disposição;Teclado;Entrada;
Keywords[ro]=Language;Layout;Keyboard;Input;Limbă;Aranjamente;Limbă;Tastatură;Intrare;
Keywords[ru]=Язык;Раскладка;Клавиатура;Ввод;
Keywords[sk]=Jazyk;Rozloženie;Klávesnica;Vstup;
Keywords[sl]=jezik,razporeditev;tipkovnica;vnos;
Keywords[sr]=језик;распоред;тастатура;унос;
Keywords[sr@latin]=jezik;raspored;tastatura;unos;
Keywords[sv]=Språk;Layout;Tangentbord;Inmatning;
Keywords[ta]=மொழி;இடஅமைவு;விசைப்பலகை;உள்ளீடு;
Keywords[te]=భాష;నమూనా;కీబోర్డు;యిన్పుట్;
Keywords[tg]=Забон;Тарҳбандӣ;Клавиатура;Вуруд;
Keywords[th]=ภาษา;ผังแป้นพิมพ์;แป้นพิมพ์;ป้อนข้อความ;
Keywords[tr]=Dil;Yerleşim;Klavye;Giriş;Language;Layout;Keyboard;Input;
Keywords[ug]=Language;Layout;Keyboard;Input;تىل;ھەرپتاختا;كىرگۈزۈش;
Keywords[uk]=Мова;Розкладка;Клавіатура;Введення;
Keywords[vi]=Language;Ngôn;ngữ;Ngon;ngu;Layout;Bố;trí;Bo;tri;Keyboard;Bàn;phím;Ban;phim;Kieu;go;Input;nhập;nhâp;
Keywords[zh_CN]=Language;Layout;Keyboard;Input;语言;布局;键盘;输入;
Keywords[zh_HK]=Language;Layout;Keyboard;Input;語言;配置;鍵盤;輸入;
Keywords[zh_TW]=Language;Layout;Keyboard;Input;語言;配置;鍵盤;輸入;
