# Template file for 'lilv-bash-completion'.
#
depends="bash-completion lilv"
short_desc="${short_desc} - Bash completion for Lilv"
long_desc="${long_desc}

 This package contains a bash completion file for the Lilv programs."


do_install()
{
	vmove usr/etc usr
}
