# Template file for 'lilv-bash-completion'.
#
short_desc="${short_desc} - Bash completion for Lilv"
long_desc="${long_desc}

 This package contains a bash completion file for the Lilv programs."

Add_dependency run bash-completion
Add_dependency run lilv

do_install()
{
	vmove usr/etc usr
}
