# Template file for 'lilv-devel'.
#
noarch=yes
depends="glibc-devel sord-devel liblilv>=${version}"
short_desc="${short_desc} - Development files"
long_desc="${long_desc}

 This package contains files for development: headers, etc."

do_install()
{
        vmove usr/include usr
        vmove usr/lib/pkgconfig usr/lib
}
