[Desktop Entry]
Version=v32
Name=PuyoVS
Comment=Play PuyoVS online
Exec=/usr/bin/puyovs
Icon=puyovs
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Game
