# Template file for 'dssi-example-plugins-devel'.
#
short_desc="${short_desc} - Example plugins"
long_desc="${long_desc}

 This package contains the example plugins."

Add_dependency run glibc
Add_dependency run libstdc++
Add_dependency run libgcc
Add_dependency run qt
Add_dependency run libX11
Add_dependency run liblo
Add_dependency run libsndfile
Add_dependency run libsamplerate
Add_dependency run dssi

do_install()
{
        vmove usr/lib/dssi usr/lib
}
