[Desktop Entry]
Name=Quimup
Comment=A client for the Music Player Daemon (MPD) written in C++ and Qt
Exec=quimup
Terminal=false
Type=Application
Icon=quimup
Categories=AudioVideo;Player;
StartupNotify=true
