[Desktop Entry]
Name=LightDM Pantheon Greeter
Comment=Pantheon Greeter
Exec=io.elementary.greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm-pantheon-greeter
