# Template file for 'libfluidsynth'.
#
short_desc="${short_desc} - Runtime library"
long_desc="${long_desc}

 This package contains the fluidsynth runtime lib(s)."

revision=1

Add_dependency run glibc
Add_dependency run glib
Add_dependency run libjack
Add_dependency run alsa-lib
Add_dependency run libpulseaudio
Add_dependency run libsndfile
Add_dependency run dbus-libs
Add_dependency run readline

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
