# Template file for 'libfluidsynth'.
#
short_desc="${short_desc} - Runtime library"
long_desc="${long_desc}

 This package contains the fluidsynth runtime lib(s)."



do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
