# Template file for 'caribou-devel'.
#
short_desc="${sourcepkg} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run libxklavier-devel
Add_dependency run libgee-devel
Add_dependency run pygobject-devel
Add_dependency run clutter-devel
Add_dependency run gtk+3-devel
Add_dependency run libXtst-devel
Add_dependency run caribou

do_install()
{
	vmove usr/include usr
	vmove usr/share/gir-1.0 usr/share
}
