# Template file for 'caribou-devel'.
#
depends="libXtst-devel libgee08-devel libxklavier-devel gtk+3-devel libxml2-devel caribou>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
	vmove usr/share/vala usr/share
}
