# Template file for 'caribou-devel'.
#
short_desc="${sourcepkg} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run pygobject-devel

noarch=yes

do_install()
{
	vmove usr/include usr
	vmove usr/share/gir-1.0 usr/share
}
