# Configuration for NextDNS
# You need to copy this file to /etc/nextdns/nextdns.conf
# and add your configuration options in it.

# NextDNS custom configuration id
# change <your-id> with your NextDNS id
config your-id
