[Desktop Entry]
Name=PyMOL
GenericName=PyMOL
Comment=PyMOL is a molecular graphics system designed for modelling large molecules
Exec=/usr/bin/pymol %f
Terminal=false
Type=Application
MimeType=text/plain;chemical/x-cml;chemical/x-pdb;application/xml;application/x-aportisdoc;chemical/x-cif;
StartupNotify=true
Icon=pymol
Categories=Education;Science;Chemistry
