# Template file for 'ffmpeg-0.10x-compat-devel'.
#
depends="${sourcepkg}>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/${sourcepkg}/pkgconfig usr/lib/${sourcepkg}
}
