# Template file for 'gtkmm-devel'.
#
short_desc="${sourcepkg} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run gtk+3-devel
Add_dependency run atkmm-devel
Add_dependency run pangomm-devel
Add_dependency run cairomm-devel
Add_dependency run gtkmm ">=${version}"

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/share usr
	vmove "usr/lib/g[dt]k*" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
