# Template file for 'gtkmm-devel'.
#
depends="gtk+3-devel>=3.8 glibmm-devel>=2.35.9 atkmm-devel pangomm-devel cairomm-devel
 gtkmm-${version}_${revision}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/g[dt]k*" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
