# Template file for 'attr-progs'.
#
short_desc="${short_desc} (utilities)"
long_desc="${long_desc}

 This package contains binary utilities provided by the attr package."

do_install() {
	vmove usr/bin usr
	vmove usr/share/man/man1 usr/share/man
	vmove usr/share/locale usr/share
}
