[Desktop Entry]
Name=Deezloader Remix
Comment=Download MP3s and FLACs directly from Deezer Servers
Exec=deezloader-rmx
Terminal=false
Type=Application
Icon=deezloaderremix
StartupWMClass="Deezloader Remix"
Categories=Network
