# Template file for 'cross-i686-pc-linux-gnu-libc'.
#
short_desc="${short_desc} -- glibc files"

noarch=yes
nostrip=yes
noverifydeps=yes

do_install() {
	vmove usr/${_CROSS_TARGET} usr
	mkdir -p ${SRCPKGDESTDIR}/usr/${_CROSS_TARGET}/usr/
	mv ${DESTDIR}/usr/${_CROSS_TARGET}/usr/bin \
		${SRCPKGDESTDIR}/usr/${_CROSS_TARGET}/usr/
}
