# Template file for 'glx-utils'.
#
short_desc="GLX utilities from Mesa"
long_desc="${long_desc}

 This package contains some GLX utilities such as glxgears and glxinfo."

Add_dependency run glibc
Add_dependency run libX11
Add_dependency run MesaLib

do_install()
{
	install -d ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/bin ${DESTDIR}/usr
}
