# Template file for 'libgbm'.
#
short_desc="generic buffer management API -- runtime"
long_desc="
 This package contains the GBM buffer management library. It provides a
 mechanism for allocating buffers for graphics rendering tied to Mesa.

 GBM is intended to be used as a native platform for EGL on drm or openwfd."

do_install() {
	vmove "usr/lib/libgbm.so*" usr/lib
}
