# Template file for 'libGL'.
#
short_desc="Free implementation of the OpenGL API - GLX runtime"
replaces="MesaLib<7.11_2"

do_install() {
	vmove "usr/lib/libGL.so*" usr/lib
	rm -f ${DESTDIR}/usr/lib/libGL.so{,.1}
	mv ${DESTDIR}/usr/lib/libGL.so.1.2.0 ${DESTDIR}/usr/lib/libGL-mesa.so.1.2.0
}
