# Template file for 'libgbm'.
#
short_desc="generic buffer management API -- runtime"
replaces="MesaLib<9.0.2"

do_install() {
	vmove "usr/lib/libgbm.so*" usr/lib
	vmove usr/lib/gbm/gbm_gallium_drm.so usr/lib/gbm
}
