# Template file for 'libglapi'.
#
short_desc="Free implementation of the GL API - shared library"
long_desc="
 The Mesa GL API module is responsible for dispatching all the gl* functions.
 It is intended to be mainly used by both the libGLES package."

replaces="MesaLib<7.11_2"
revision=1

Add_dependency run glibc

do_install() {
	vmove "usr/lib/libglapi.so*" usr/lib
}
