# Template file for 'libwayland-egl'.
#
short_desc="Free implementation of the EGL API - wayland runtime"
long_desc="
 This package contains the EGL native platform graphics interface library.
 EGL provides a platform-agnostic mechanism for creating rendering surfaces
 for use with other graphics libraries, such as OpenGL|ES and OpenVG.

 This package contains the wayland EGL backend."

do_install() {
	vmove "usr/lib/libwayland-egl.*" usr/lib
	vmove usr/lib/egl usr/lib
}
