# Template file for 'mesa-nouveau-dri'.
#
short_desc="Mesa DRI drivers for NVIDIA GPUs (nouveau dri)"

do_install() {
	vmove "usr/lib/libXvMCnouveau.so*" usr/lib
	vmove "usr/lib/vdpau/libvdpau_nouveau.so*" usr/lib/vdpau
	vmove "usr/lib/xorg/modules/dri/nouveau*" usr/lib/xorg/modules/dri
}
