# Template file for 'mesa-ati-dri'.
#
short_desc="Mesa DRI drivers for ATI GPUs"
long_desc="
 This package contains the ${short_desc}."

do_install() {
	vmove "usr/lib/libXvMCr[36]00.so*" usr/lib
	vmove "usr/lib/vdpau/libvdpau_r[36]00.so*" usr/lib/vdpau
	vmove "usr/lib/vdpau/libvdpau_radeon*.so*" usr/lib/vdpau
	vmove "usr/lib/xorg/modules/dri/radeon*" usr/lib/xorg/modules/dri
	vmove "usr/lib/xorg/modules/dri/r[236]00*" usr/lib/xorg/modules/dri
}
