# Template file for 'mesa-vmwgfx-dri'.
#
short_desc="Mesa DRI drivers for VMware"
replaces="MesaLib<9.0.2"

do_install() {
	vmove "usr/lib/xorg/modules/dri/vmwgfx*" usr/lib/xorg/modules/dri
	vmove usr/lib/gallium-pipe/pipe_vmwgfx.so usr/lib/gallium-pipe
}
