# Template file for 'mesa-swraster-dri'.
#
short_desc="Mesa DRI drivers for the Software Rasterizer"

do_install() {
	vmove "usr/lib/libXvMCsoftpipe.so*" usr/lib
	vmove "usr/lib/vdpau/libvdpau_softpipe.so*" usr/lib/vdpau
	vmove "usr/lib/xorg/modules/dri/swrast*" usr/lib/xorg/modules/dri
}
