# Template file for 'dbus-x11'.
#
replaces="dbus<1.4.16_2"
short_desc="${short_desc} -- X11 support"

do_install() {
	vmove usr/bin/dbus-launch usr/bin
	vmove usr/share/man/man1/dbus-launch.1 usr/share/man/man1
}
