# Template file for 'dbus-x11'.
#
replaces="dbus<1.4.16_2"
short_desc="${short_desc} (X11 support)"
long_desc="${long_desc}

 This package contains the dbus-launch utility which is necessary for
 packages using a D-Bus session bus."

do_install() {
	vmove usr/bin/dbus-launch usr/bin
	vmove usr/share/man/man1/dbus-launch.1 usr/share/man/man1
}
