#!/sbin/runscript

pidfile=${rsyslogd_pid:-/var/run/rsyslogd.pid}
command=/usr/sbin/rsyslogd
config_file=${rsyslogd_conf:-/etc/rsyslog.conf}
command_args="${rsyslogd_args} -c4 -i ${pidfile} -f ${config_file}"

depend()
{
	provide logger
}
