#!/sbin/runscript

pidfile=${PIDFILE}
command=/usr/sbin/rsyslogd
command_args="${RSYSLOGD_OPTS} -i ${pidfile} -f ${CONFIGFILE}"
opts="reload"

depend()
{
	provide logger
}

reload()
{
	if [ ! -f "${PIDFILE}" ]; then
		eerror "rsyslogd not running"
		return 1
	fi
	ebegin "Reloading configuration and re-opening log files"
	start-stop-daemon --stop --oknodo --signal HUP \
		--pidfile "${PIDFILE}"
	eend $?
}
