# Template file for 'libXau-devel'.
#
noarch=yes
depends="xproto ${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/man/man3 usr/share/man
	rm -rf ${SRCPKGDESTDIR}/usr/share
}
