[Desktop Entry]
Name=GPU Screen Recorder UI (Autostart)
Comment=Comment=Start the hotkey and overlay daemon for GSR
Exec=gsr-ui launch-daemon
Icon=gpu-screen-recorder
Type=Application
