# Template file for 'gir-lightdm.
#
short_desc="${short_desc} - Introspection data"
long_desc="${long_desc}

 This package contains GObject introspection data for LightDM."

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/gir* ${DESTDIR}/usr/lib
}
