# Template file for 'liblightdm-gobject'.
#
short_desc="${short_desc} - GObject support library"
long_desc="${long_desc}

 This package contains the GObject support library for LightDM."

do_install() {
	vmove "usr/lib/liblightdm-gobject*.so*" usr/lib
	vmove usr/lib/girepository-1.0 usr/lib
}
