# Template file for 'liblightdm-qt'.
#
short_desc="${short_desc} - QT support library"
long_desc="${long_desc}

 This package contains the QT support library for LightDM."

revision=1

do_install() {
	vmove "usr/lib/liblightdm-qt*.so*" usr/lib
}
