# Template file for 'liblightdm-qt'.
#
short_desc="${short_desc} - QT support library"
long_desc="${long_desc}

 This package contains the QT support library for LightDM."

Add_dependency run libgcc
Add_dependency run glibc
Add_dependency run libstdc++
Add_dependency run qt

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/liblightdm-qt*.so* ${DESTDIR}/usr/lib
}
