# Template file for 'lightdm-qt"
#
short_desc="${short_desc} - QT greeter support"
long_desc="${long_desc}

 This package contains the LightDM QT greeter files."

Add_dependency run libgcc
Add_dependency run glibc
Add_dependency run libstdc++
Add_dependency run qt
Add_dependency run liblightdm-qt

do_install()
{
	vmove usr/sbin/$pkgname usr/sbin
	vmove usr/share/xgreeters/$pkgname.desktop usr/share/xgreeters
}
