# Template file for 'lightdm-devel.
#
depends="glib-devel liblightdm-gobject-${version}_${revision}
 liblightdm-qt-${version}_${revision}"
noarch=yes

short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains headers, static libs, etc for LightDM."

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/vala usr/share
	vmove usr/share/gir-1.0 usr/share
}
