# Template file for 'lightdm-gtk-greeter"
#
revision=1
short_desc="${short_desc} - GTK+3 greeter support"
long_desc="${long_desc}

 This package contains the LightDM GTK+3 greeter files."

conf_files="/etc/lightdm/lightdm-gtk-greeter.conf"


do_install()
{
	vmove usr/sbin/$pkgname usr/sbin
	vmove usr/share/xgreeters/$pkgname.desktop \
		usr/share/xgreeters
	vmove usr/share/$pkgname usr/share
	vmove etc/lightdm/$pkgname.conf etc/lightdm
}
