# Template file for 'lightdm-devel.
#
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains headers, static libs, etc for LightDM."

Add_dependency run glib-devel
Add_dependency run liblightdm-gobject ">=${version}"
Add_dependency run liblightdm-qt ">=${version}"

revision=1

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/vala usr/share
	vmove usr/share/gir-1.0 usr/share
}
