[Desktop Entry]
Version=1.0
Type=Application
Name=Mindustry
Comment=A sandbox tower defense game
Exec=mindustry
Icon=mindustry
Categories=Game;
Terminal=false