[Desktop Entry]
Version=1.0
Type=Application
Name=Mindustry Server
Comment=Automation tower defense RTS (server)
Exec=mindustry-server
Icon=mindustry-server
Categories=Game;
Terminal=true
