[Desktop Entry]
Version=1.0
Type=Application
Name=Mindustry Server
Comment=Server of a sandbox tower defense game
Exec=mindustry-server
Icon=mindustry-server
Categories=Game;
Terminal=true
