[Desktop Entry]
Version=1.0
Type=Application
Name=Mindustry
Comment=Automation tower defense RTS
Exec=mindustry
Icon=mindustry
Categories=Game;
Terminal=false
