[Desktop Entry]
Name=Pioneer
Comment=Space adventure game set in our galaxy at the turn of the 31st century.
Path=/usr/share/pioneer/
Exec=pioneer
Icon=pioneer
Terminal=false
Type=Application
Categories=Game;StrategyGame;

