# Template file for 'distcc-pump'.
#
depends="distcc-${version}_${revision}"
short_desc="${short_desc} -- Pump mode support files"
pycompile_module="include_server"

do_install() {
	vmove usr/bin/pump usr/bin
	vmove usr/share/man/man1/pump.1.gz usr/share/man/man1
	vmove usr/share/man/man1/include_server.1.gz usr/share/man/man1
	vmove usr/lib/python2.7 usr/lib
	vmove usr/share/doc/distcc/README.pump usr/share/doc/distcc
}
