# Template file for 'glibc32-devel'.
#
depends="glibc-devel glibc32"
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development: headers, static libs, etc."



do_install()
{
	vmove usr/include usr
	for f in a o; do
		vmove "usr/lib32/*.${f}" usr/lib32
	done
}
