
/** Void style **/
html {
	--fg: #333;
	--bg: #fff;
	--fg-accent: #478061;
	--nav-fg: #fff;
	--nav-bg: #478061;
}
@media (prefers-color-scheme: dark) {
	html {
		--fg: #ccc;
		--bg: #222;
		--fg-accent: #62b086;
		--nav-fg: #fff;
		--nav-bg: #295340;
	}
}

a, :link, :visited { color: var(--fg-accent); }
a:hover { color: var(--fg); }

html { max-width: 100% }
body { margin: 0 }
.manual-text { max-width: 65em; padding: 0 1em; }

nav#void-nav {
	width:100%;
	min-height:50px;
	color:var(--nav-fg);
	background-color:var(--nav-bg);
	z-index:110;
	font-size:14px
}
nav#void-nav ul {
	display:block;
	list-style:none;
	margin:0
}
nav#void-nav ul li {
	display:inline-block;
	margin:0;
}
nav#void-nav ul li a {
	display:inline-block;
	padding:15px;
	line-height:20px;
	font-size:1.2em;
	color:var(--nav-fg);
	text-decoration: none
}
nav#void-nav ul li a:hover,nav#void-nav ul li a:focus {
	color:#fff;
	background-color:#000;
	text-decoration:none
}

/** Hide architecture selector **/
select[name="arch"] {
	display: none;
}
