
/** Void style **/
body { color: #333; }
a { color: #478061; }
a:hover { color: #000; }

html { max-width: 100% }
body { margin: 0 }
#mandoc { max-width: 65em; margin: 0.8em }

nav#void-nav {
	width:100%;
	min-height:50px;
	background:#478061;
	z-index:110;
	font-size:14px
}
nav#void-nav ul {
	float:right;
	list-style:none;
	margin:0
}
nav#void-nav ul li {
	float:left;
	margin:0;
	clear:initial
}
nav#void-nav ul li a {
	display:block;
	padding:15px;
	line-height:20px;
	font-size:1.2em;
	color:#fff;
	text-decoration: none
}
nav#void-nav ul li a:hover,nav#void-nav ul li a:focus {
	background:#000;
	text-decoration:none
}
