[Desktop Entry]
Type=Application
Name=Session
GenericName=Messenger
Comment=Session is an end-to-end encrypted messenger.
Icon=session
Exec=session --use-tray-icon
Categories=Network;Messenger;
StartupNotify=true
