# Template file for 'gir-totem'.
#
short_desc="Introspection data for the Totem video player library"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the
 Totem video player library."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
