# Template file for 'libtotem'.
#
short_desc="${sourcepkg} - runtime library"
long_desc="${long_desc}

 This package contains the runtime library."

replaces="totem<3.6.2"

do_install() {
	vmove "usr/lib/*.so*" usr/lib
	vmove usr/lib/girepository-1.0 usr/lib
}
