# Template file for 'libpipeline-devel'.
#
noarch=yes
depends="glibc-devel libpipeline>=$version"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/pkgconfig usr/lib
}
