[Unit]
Description=Wicd Network Manager

[Service]
Type=dbus
BusName=org.wicd.daemon
ExecStart=/usr/sbin/wicd -f
Restart=always

[Install]
WantedBy=multi-user.target
