[Desktop Entry]
Categories=Application;Network;Internet;
Encoding=UTF-8
Exec=/usr/bin/wicd-client
GenericName=Network Manager
Icon=wicd-client.png
Comment=Manage Wired/Wireless Networks
Name=Wicd
Terminal=false
Type=Application
Version=1.0
