# Template file for 'libfetch-devel'.
#
depends="openssl-devel libfetch>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/share usr
	vmove "usr/lib/*.a" usr/lib
}
