# Template file for 'libt1'.
#
short_desc="${short_desc} - runtime libraries"
long_desc="${long_desc}

 This package contains the runtime libraries."


do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
