# Template file for 't1lib-devel'.
#
depends="libXaw-devel libt1"
short_desc="Development files for the DjVu image format"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
}
