[Unit]
Description=NFS block layout mapping daemon
After=var-lib-nfs-rpc_pipefs.mount nfsd.service
Requires=var-lib-nfs-rpc_pipefs.mount

[Service]
Type=forking
ExecStart=/usr/sbin/blkmapd

[Install]
WantedBy=multi-user.target
