[Unit]
Description=Export filesystems over NFS
After=nfsd.service
Requires=nfsd.service

[Service]
ExecStart=/usr/sbin/exportfs -ar
ExecStop=/usr/sbin/exportfs -au
ExecReload=/usr/sbin/exportfs -ar
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
