#!/sbin/runscript

# Disable v1 and v2 by default.
: ${mountd_args:=--no-nfs-version 1 --no-nfs-version 2}

command=/usr/sbin/rpc.mountd
command_args=$mountd_args
name="RPC Mountd daemon"

depend()
{
	need nfslock
}
