[Unit]
Description=NFS server
After=rpcbind.service
Requires=rpcbind.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/rpc.nfsd
ExecStartPost=/usr/sbin/exportfs -a
ExecStop=/usr/sbin/rpc.nfsd 0
ExecStopPost=/usr/sbin/exportfs -a -u
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
