[Unit]
Description=NFS server
After=rpcbind.service
Requires=rpcbind.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rpc.nfsd
ExecStartPost=/usr/bin/exportfs -a
ExecStop=/usr/bin/rpc.nfsd 0
ExecStopPost=/usr/bin/exportfs -a -u
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
