[Unit]
Description=NFSv4 ID-name mapping daemon
After=var-lib-nfs-rpc_pipefs.mount nfsd.service
Requires=var-lib-nfs-rpc_pipefs.mount
Before=remote-fs-pre.target

[Service]
Type=forking
ExecStart=/usr/sbin/rpc.idmapd

[Install]
WantedBy=multi-user.target
