[Unit]
Description=NFSv2/3 Network Status Monitor Daemon
After=rpcbind.service
Requires=rpcbind.service
Before=remote-fs-pre.target

[Service]
Type=forking
ExecStart=/usr/sbin/rpc.statd

[Install]
WantedBy=multi-user.target
