[Unit]
Description=RPC GSS-API client-side daemon
After=rpcbind.service var-lib-nfs-rpc_pipefs.mount
Requires=rpcbind.service var-lib-nfs-rpc_pipefs.mount
Before=remote-fs-pre.target

[Service]
Type=forking
ExecStart=/usr/sbin/rpc.gssd

[Install]
WantedBy=multi-user.target
