[Unit]
Description=RPC GSS-API server-side daemon
After=rpcbind.service
Requires=rpcbind.service

[Service]
Type=forking
ExecStart=/usr/sbin/rpc.svcgssd

[Install]
WantedBy=multi-user.target
