[Unit]
Description=NFSv2/3 Mount Daemon
After=rpcbind.service nfsd.service
Requires=rpcbind.service nfsd.service

[Service]
Type=forking
ExecStart=/usr/sbin/rpc.mountd

[Install]
WantedBy=multi-user.target
