[Desktop Entry]
Encoding=UTF-8
Name=Frogatto & Friends
GenericName=Frogatto
Comment=Action adventure game, starring a certain quixotic frog
Exec=frogatto
Terminal=false
MultipleArgs=false
Type=Application
Icon=frogatto
Categories=Game;ArcadeGame;
