# Template file for 'i3-devel'.
#
depends="i3"
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
	vmove usr/include usr
}
