# Template file for 'libsasl-devel'.
#
depends="openssl-devel db-devel libsasl"
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."



do_install()
{
	mkdir -p ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/{include,share} ${DESTDIR}/usr
}
