# Template file for 'git-docs'.
#
short_desc="${sourcepkg} documentation"
long_desc="${long_desc}

 This package contains the full git documentation (manual pages)."

noarch=yes

do_install()
{
	mkdir -p ${DESTDIR}/usr/share/man
	for f in man1 man5 man7; do
		mv ${SRCPKGDESTDIR}/usr/share/man/${f} ${DESTDIR}/usr/share/man
	done
}
