# Template file for 'git-python'.
#
depends="git python"
short_desc="${sourcepkg} python bindings"
long_desc="${long_desc}

 This package contains the Python bindings for GIT."

noarch=yes
pycompile_module="git_remote_helpers"


do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/python* ${DESTDIR}/usr/lib
}
