# Template file for 'git-perl'.
#
short_desc="${sourcepkg} perl bindings"
long_desc="${long_desc}

 This package contains the Perl bindings."

noarch=yes
Add_dependency run git
Add_dependency run perl

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mkdir -p ${DESTDIR}/usr/share/man
	mv ${SRCPKGDESTDIR}/usr/lib/perl5 ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/share/man/man3 ${DESTDIR}/usr/share/man
}
