# Template file for 'git-docs'.
#
noarch=yes
short_desc="${sourcepkg} documentation"
long_desc="${long_desc}

 This package contains the full git documentation (manual pages)."

do_install() {
	for f in man1 man5 man7; do
		vmove usr/share/man/${f} usr/share/man
	done
}
