# Template file for 'git-perl'.
#
noarch=yes
depends="git perl"
short_desc="${sourcepkg} perl bindings"
long_desc="${long_desc}

 This package contains the Perl bindings."

do_install() {
	vmove usr/share/perl5 usr/share
	vmove usr/share/man/man3 usr/share/man
}
