# Template file for 'git-perl'.
#
depends="git perl"
short_desc="${sourcepkg} perl bindings"
long_desc="${long_desc}

 This package contains the Perl bindings."

noarch=yes

do_install()
{
	mkdir -p ${DESTDIR}/usr/share/man
	mv ${SRCPKGDESTDIR}/usr/share/perl5 ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/share/man/man3 ${DESTDIR}/usr/share/man
}
