# Template file for 'git-python'.
#
noarch=yes
pycompile_module="git_remote_helpers"
depends="git python"
short_desc="${sourcepkg} python bindings"
long_desc="${long_desc}

 This package contains the Python bindings for GIT."

do_install() {
	vmove "usr/lib/python*" usr/lib
}
