# Template file for 'python-devel'.
#
depends="python3>=${version}"
short_desc="Python development files"

do_install() {
	vmove "usr/bin/python*-config" usr/bin
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/include/python3*/*" usr/include/python3.3m
}
