# Template file for 'gcr-devel'.
#
depends="glib-devel p11-kit-devel gtk+3-devel gcr-${version}_${revision}"
short_desc="${sourcepkg} -- development files"
replaces="gnome-keyring-devel<3.3.92"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gtk-doc usr/share
	vmove usr/share/gir-1.0 usr/share
}
