[Desktop Entry]
Type=Application
Name=VapourSynth Editor
GenericName=vapoursynth-editor
Comment="A cross-platform editor for VapourSynth scripts"
Icon=vsedit
MimeType=text/x-vpy;
Exec="/usr/bin/vsedit" %f
Terminal=false
Categories=AudioVideo;IDE;
StartupNotify=false
