[Unit]
Description=A distributed C/C++ compiler
Documentation=man:distccd(1)
After=network.target

[Service]
User=nobody
ExecStart=/usr/bin/distccd --no-detach --daemon --allow 127.0.0.1

[Install]
WantedBy=multi-user.target
