# Template file for 'gir-gst-plugins-base'.
#
short_desc="GStreamer base plugins introspection data"
long_desc="${long_desc}

 This package contains the GObject-introspection data of GStreamer base in
 plugins binary typelib format."

Add_dependency run gir-freedesktop
Add_dependency run glib
Add_dependency run gst-plugins-base

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
