# Template file for 'libgudev-devel'.
#
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains the libgudev development files (static libs, headers,
 etc), a library to interact with udev through the GLib bindings."

revision=1

Add_dependency run libudev-devel
Add_dependency run glib-devel
Add_dependency run libgudev

do_install()
{
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/pkgconfig usr/lib
}
