# Template file for 'libieee1284-devel'.
#
depends="libieee1284>=0.2.10"
short_desc="${short_desc} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/share usr
}
