# Template file for 'libwv'.
#
short_desc="${short_desc} - Runtime library"
long_desc="${long_desc}

 This package contains the runtime."

Add_dependency run glibc
Add_dependency run libgsf
Add_dependency run glib
Add_dependency run libxml2
Add_dependency run libpng
Add_dependency run zlib

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
