# Template file for 'libusb-compat-devel'.
#
depends="libusb-compat>=0.1.4"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install() {
	vmove usr/bin usr
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
