# Template file for 'vte-devel'.
#
noarch=yes
depends="glib-devel pango-devel cairo-devel gtk+-devel vte-${version}_${revision}"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	mkdir -p ${DESTDIR}/usr/{lib,share}
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/share/gtk-doc ${DESTDIR}/usr/share
}
