# Template file for 'vte-python'.
#
short_desc="${sourcepkg} - Python bindings"
long_desc="${long_desc}

 This package contains the Python bindings."

Add_dependency run pygtk

do_install()
{
	mkdir -p ${DESTDIR}/usr/{lib,share}
	mv ${SRCPKGDESTDIR}/usr/lib/python* ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/share/pygtk* ${DESTDIR}/usr/share
}
