[Desktop Entry]
Version=2.0.0.v20130628
Encoding=UTF-8
Name=Apache Directory Studio
Comment=${pkgdesc}
Exec=/opt/ApacheDirectoryStudio/ApacheDirectoryStudio
Icon=/opt/ApacheDirectoryStudio/ApacheDirectoryStudio.xpm
Terminal=false
Type=Application
Categories=Java;Network;
