# Template file for 'upower-devel'.
#
noarch=yes
depends="dbus-devel glib-devel upower>=$version"
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains the files needed for developing applications
 that use UPower."

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
}
