# Template file for 'libconfig-devel'.
#
depends="libconfig>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/libconfig.a" usr/lib
	vmove usr/share usr
}
