# Template file for 'libconfig++-devel'.
#
depends="libconfig++>=${version}"
short_desc="C++ Configuration File Library -- development files"

do_install() {
	vmove usr/include/libconfig.h++ usr/include
	vmove usr/lib/pkgconfig/libconfig++.pc usr/lib/pkgconfig
	vmove "usr/lib/libconfig++.a" usr/lib
}
