[Desktop Entry]
Name=Qt5 Assistant
Comment=Shows Qt5 documentation and examples
Exec=/usr/bin/assistant-qt5
Icon=assistant-qt5
Terminal=false
Type=Application
Categories=Qt;Development;Documentation;
