[Desktop Entry]
Name=Qt5 Assistant
Comment=Shows Qt5 documentation and examples
Exec=/usr/bin/qt5-assistant
Icon=qt5-assistant
Terminal=false
Type=Application
Categories=Qt;Development;Documentation;
