# Template file for 'heimdal-libs'.
#
depends="glibc libdb libssl e2fsprogs-libs>=1.4.10_1 readline"
short_desc="Heimdal Kerberos - shared libraries"
long_desc="${long_desc}

 This package contains the shared libraries."



do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/*.so.* ${DESTDIR}/usr/lib
}
