# Template file for 'heimdal-libs'.
#
short_desc="Heimdal Kerberos - shared libraries"
long_desc="${long_desc}

 This package contains the shared libraries."


Add_dependency run glibc
Add_dependency run libdb
Add_dependency run libssl
Add_dependency run e2fsprogs-libs	">=1.4.10_1"
Add_dependency run readline

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/*.so.* ${DESTDIR}/usr/lib
}
