# Template file for 'libsord'.
#
short_desc="${short_desc} - Runtime library"
long_desc="${long_desc}

 This package contains the serd runtime library."

Add_dependency run glibc
Add_dependency run libserd

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
