# Template file for 'x264-devel'.
#
depends="x264>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/*.a" usr/lib
}
