[Desktop Entry]
Encoding=UTF-8
Version=0.1.565
Type=Application
Exec=/usr/bin/OpenUtau
Name=OpenUtau
Icon=openutau
Categories=AudioVideo;Audio;Midi;Multimedia;
