# Template file for 'fftw-devel'.
#
depends="libfftw>=${version}"
short_desc="${short_desc} - Development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/*.a" usr/lib
	vmove usr/share/info usr/share
}
