# Template file for 'libfftw'.
#
short_desc="${short_desc} - Runtime library"
long_desc="${long_desc}

 This package contains the FFTW runtime lib(s)."

Add_dependency run glibc

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
