# Udev rules for xorg-server, copy it to /etc/udev/rules.d and
# modify it if you need.

SUBSYSTEM!="input", GOTO="x11_input_end"
ACTION!="change|add", GOTO="x11_input_end"
KERNEL!="event*", GOTO="x11_input_end"

# use the evdev driver by default
ENV{x11_driver}="evdev"

# set xkb layout if we have keys
ENV{ID_INPUT_KEY}=="?*", ENV{xkblayout}="us"

# use synaptics for touchpads
ENV{ID_INPUT_TOUCHPAD}=="?*", ENV{x11_driver}="synaptics"

LABEL="x11_input_end"
