[Unit]
Description=Multi-threaded multi-pool CPU and GPU miner for bitcoin

[Service]
ExecStart=/usr/bin/cgminer -T --config /etc/cgminer.conf

[Install]
WantedBy=multi-user.target
