# Template file for 'gucharmap-devel'.
#
depends="gtk+3-devel ${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/gir-1.0 usr/share
}
