[Desktop Entry]
Encoding=UTF-8
Name=Quake III Arena
GenericName=Quake III
Comment=ioQuake3 - Quake III Open Source Engine
Exec=/usr/bin/quake3
Icon=/usr/share/pixmaps/quake3.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;KDE;GNOME;Application;Game;

