# Template file for 'libesmtp-devel'.
#
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/bin/libesmtp-config usr/bin
	vmove usr/include usr
	vmove usr/lib/*.a usr/lib
	vmove usr/lib/esmtp-plugins/*.a usr/lib/esmtp-plugins
}
