# Template file for 'libXfont-devel'.
#
depends="xproto fontsproto zlib-devel libfontenc-devel freetype-devel
 libXfont-${version}_${revision}"

short_desc="${short_desc} -- development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
