# Template file for 'libXfont-devel'.
#
depends="xproto fontsproto zlib-devel libfontenc-devel freetype-devel
 libXfont-${version}_${revision}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/*.a" usr/lib
}
