[Desktop Entry]
Encoding=UTF-8
Name=Pipe Night Dreams
Comment=Connect the waterpipes to create a proper pipeline
Comment[de]=Verbinde die Wasserrohre um eine funktionsfähige Pipeline zu bauen
Exec=pipenightdreams
Icon=pipenightdreams.png
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;LogicGame;
