/* Allow Calamares to be started without password authentication
 */
polkit.addRule(function(action, subject) {
    if ((action.id == "com.github.calamares.calamares.pkexec.run"))
    {
        return polkit.Result.YES;
    }
});
