# Template file for 'protobuf-lite'.
#
short_desc="${short_desc} - Lite version"
long_desc="${long_desc}

 This package contains the Lite version."

do_install()
{
	vmove "usr/lib/libprotobuf-lite.so*" usr/lib
}
