# Template file for 'protobuf-lite'.
#
short_desc="${short_desc} - Lite version"
long_desc="${long_desc}

 This package contains the Lite version."

Add_dependency run glibc
Add_dependency run libstdc++
Add_dependency run libgcc
Add_dependency run zlib

do_install()
{
	vmove "usr/lib/libprotobuf-lite.so*" usr/lib
}
