
/* Globals */

:root {
	--sidebar-width: 300px;
	--page-padding: 15px;
	--content-max-width: 750px;
	--menu-bar-height: 50px;
	--void-green: #478061;
	--void-dark-green: #62b086;
	--void-light: #fafafa;
	--void-dark: #252525;
}

/* Themes */

.void-light {
	--bg: #ffffff;
	--fg: #333;

	--sidebar-bg: var(--void-light);
	--sidebar-fg: var(--fg);
	--sidebar-active: var(--links);

	--nav-bg: var(--void-green);
	--nav-fg: var(--bg);
	--nav-arrow-fg: var(--fg);
	--nav-fg-hover: #000;

	--scrollbar: var(--sidebar-fg);

	--icons: #737480;
	--icons-hover: #b7b9cc;

	--links: var(--void-green);
	--links-hover: var(--fg);

	--inline-code-color: #fdf6e3;
	--code-border: #ccc;

	--theme-toggle-light: none;
	--theme-toggle-dark: inherit;

	--quote-bg: #ebf4ef;
	--quote-border: #d1e6da;
	--quote-code-bg: var(--inline-code-color);

	--table-border-color: var(--void-green);
	--table-header-bg: var(--void-green);
	--table-header-fg: #fff;
	--table-alternate-bg: var(--void-light);

	--searchbar-border-color: #aaa;
	--searchbar-bg: var(--bg);
	--searchbar-fg: var(--fg);
	--searchbar-shadow-color: #d4c89f;
	--searchresults-header-fg: #666;
	--searchresults-border-color: #888;
	--searchresults-li-bg: #252932;
	--search-mark-bg: #e3b171;
}

.void-dark {
	--bg: #222;
	--fg: #ccc;

	--sidebar-bg: #252525;
	--sidebar-fg: var(--fg);
	--sidebar-active: var(--links);

	--nav-bg: #295340;
	--nav-fg: var(--fg);
	--nav-arrow-fg: var(--fg);
	--nav-fg-hover: #fff;

	--scrollbar: var(--sidebar-fg);

	--icons: #737480;
	--icons-hover: #b7b9cc;

	--links: var(--void-dark-green);
	--links-hover: var(--fg);

	--inline-code-color: #353535;
	--code-border: #111;

	--theme-toggle-light: inherit;
	--theme-toggle-dark: none;

	--quote-bg: #293d35;
	--quote-border: #22362e;
	--quote-code-bg: #2a2a2a;

	--table-border-color: var(--void-green);
	--table-header-bg: var(--void-green);
	--table-header-fg: #fff;
	--table-alternate-bg: #2c2c2c;

	--searchbar-border-color: #aaa;
	--searchbar-bg: var(--bg);
	--searchbar-fg: var(--fg);
	--searchbar-shadow-color: #d4c89f;
	--searchresults-header-fg: #666;
	--searchresults-border-color: #888;
	--searchresults-li-bg: #252932;
	--search-mark-bg: #e3b171;
}
