[Desktop Entry]
Encoding=UTF-8
Name=Rocks'n'Diamonds
Exec=rocksndiamonds
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Icon=rocksndiamonds
