# Template file for 'libv4l-devel'.
#
short_desc="QT v4l2 control panel application"

do_install() {
	vmove usr/bin/qv4l2 usr/bin
	vmove usr/share/applications usr/share
	vmove usr/share/icons usr/share
}
