# Template file for 'libv4l-devel'.
#
noarch=yes
depends="libjpeg-turbo-devel libsysfs-devel v4l-utils>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
