# Template file for 'libv4l-devel'.
#
depends="jpeg-devel libsysfs-devel v4l-utils"
short_desc="${short_desc} - development files"
long_desc="
 ${long_desc}

 This package contains development files: headers, static libs, etc."


do_install()
{
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
