# Template file for 'tiff-devel'.
#
noarch=yes
depends="zlib-devel libjpeg-turbo-devel tiff>=$version"
short_desc="${sourcepkg} (development files)"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove usr/share/man/man3 usr/share/man
	vmove usr/share/doc usr/share
}
