[Unit]
Description=Virtual console mouse server

[Service]
Type=forking
ExecStart=/usr/bin/gpm -m /dev/input/mice -t imps2

[Install]
WantedBy=multi-user.target
