# Template file for 'klibc-utils'.
#
short_desc="${short_desc} (binary utilities)"
long_desc="${long_desc}

 This package contains the binary programs built with klibc
 for use on the initramfs."

Add_dependency run klibc

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/lib/klibc
	mv ${origdir}/usr/lib/klibc/bin ${destdir}/usr/lib/klibc
}
