# This file is installed by brother-XXXX-cupswrapper
# To adapt it to you needing make sure you:
# install usb-utils package
# launch lsusb and note a line resemblig this one:
# 
# Bus 004 Device 007: ID 04f9:023e Brother Industries, Ltd 
# Explanation:
# 
#   Bus xxx Device xxx are the location of the usb port
#
#   ID 04f9:xxxx Brother Industries, Ltd
# 
#   note the xxxx hex number and put it in the field:
#
#   ATTR{idProduct}=="023e" at place of 023e (the code for DCP197C)
#
# This is needed to make the printer work correctly
# even if you installed the brother-brsca3 package
# version date 2014/05/12

ATTR{idVendor}=="04f9", ATTR{idProduct}=="023e", MODE:="0664", GROUP:="lp", ENV{libsane_matched}:="yes"
