[Desktop Entry]
Version=1.0
Name=Thunderbird
Comment=Mail & News Reader
GenericName=Mail Client & News Reader
Exec=thunderbird %u
TryExec=thunderbird
Icon=thunderbird
Terminal=false
Type=Application
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;
StartupNotify=true
