[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird
Comment=Mail & News Reader
Exec=thunderbird
Icon=thunderbird.png
Terminal=false
Type=Application
Categories=Application;Network;
StartupNotify=true
