[Desktop Entry]
Version=1.0
Exec=darkplaces-sdl
Icon=darkplaces
Type=Application
Categories=Game;ActionGame;
Name=Darkplaces
GenericName=Quake Engine
Comment=Play Quake with the Darkplaces engine
StartupNotify=true
Terminal=false
