[Desktop Entry]
Name=Riot
Comment=A feature-rich client for Matrix.org
Exec="/usr/bin/riot-desktop"
Terminal=false
Type=Application
Icon=riot
StartupWMClass="Riot"
Categories=Network;InstantMessaging;Chat;IRCClient

