# Template file for 'SDL_mixer-devel'.
#
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run SDL-devel
Add_dependency run libvorbis-devel
Add_dependency run libmikmod-devel
Add_dependency run libflac-devel
Add_dependency run smpeg-devel
Add_dependency run SDL_mixer

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/pkgconfig usr/lib
}
