# Template file for 'acl-devel'.
#
depends="attr-devel acl>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.*a" usr/lib
	vmove "usr/share/man/man[235]" usr/share/man
	rm -rf ${SRCPKGDESTDIR}/usr/share/doc
}
