# Template file for 'cryptsetup-devel'.
#
depends="libcryptsetup>=1.4.1"
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains development files: headers, static libs, etc."


do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
