#!/sbin/runscript

command=/usr/sbin/nscd
pidfile=/var/run/nscd/nscd.pid

depend()
{
	use dns ldap net slapd
}

start_pre()
{
	if [ ! -d /var/run/nscd ]; then
		mkdir -p /var/run/nscd
	fi
}

stop()
{
	ebegin "Stopping nscd"
	${command} -K
	eend $?
}
