[Unit]
Description=Name Service Cache Daemon

[Service]
ExecStart=/usr/sbin/nscd -d
ExecStop=/usr/sbin/nscd --shutdown
Restart=always

[Install]
WantedBy=multi-user.target
Also=nscd.socket
