[Desktop Entry]
Name=Z80Explorer
Comment=Visual Zilog Z-80 netlist-level simulator
Icon=Z80Explorer
Exec=Z80Explorer
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
