# Template file for 'libharfbuzz'.
#
short_desc="${sourcepkg} -- runtime library" 
long_desc="${long_desc}

 This package contains the runtime library."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
