# Template file for 'cross-arm-linux-musleabi-libc'.
#
short_desc="${short_desc} -- libc files"

noarch=yes
noverifydeps=yes

do_install() {
	vmove usr/${_CROSS_TARGET} usr
	mkdir -p ${SRCPKGDESTDIR}/usr/${_CROSS_TARGET}/usr/
	mv ${DESTDIR}/usr/${_CROSS_TARGET}/usr/bin \
		${SRCPKGDESTDIR}/usr/${_CROSS_TARGET}/usr/
}
