# Template file for 'gir-gtksourceview'.
#
short_desc="Introspection data for GTKSourceView"
long_desc="${long_desc}

 This package contains small pieces of introspection data for the
 GtkSourceView library."

do_install()
{
	install -d ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/girepository-1.0 ${DESTDIR}/usr/lib
}
