# Template file for 'gtksourceview-devel'.
#
depends="gtk+3-devel libxml2-devel ${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/share/gir*" usr/share
	vmove usr/share/gtk-doc usr/share
}
