# Template file for 'xen-devel'.
#
depends="xen"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install() {
	vmove usr/include usr
	vmove "usr/lib/lib*.*a" usr/lib
}
