[Desktop Entry]
Type=Application
Name=QuteLite
GenericName=Qute Lite Browser
Comment=Minimalist Browser
Exec=/usr/bin/qutelite %u
Icon=qutelite
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/pdf;
