# Template file for 'wget-base'.
#
short_desc="${short_desc} (base files)"
long_desc="${long_desc}

 This package contains the ${sourcepkg} base files."

conf_files="/etc/wgetrc"
. ${XBPS_TEMPLATESDIR}/glibc/libs.depends
# TODO: add openssl dependency

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr
	mv ${origdir}/usr/bin ${destdir}/usr
	mv ${origdir}/etc ${destdir}
}
