#!/sbin/runscript

command=/usr/sbin/crond
pidfile=/var/run/crond.pid
extra_commands="reload"

depend()
{
	need localmount
	after bootmisc
}

reload()
{
	if [ ! -f "${pidfile}" ]; then
		eerror "crond not running"
		return 1
	fi
	ebegin "Reloading configuration and re-opening log file"
	start-stop-daemon --stop --oknodo --signal HUP \
		--pidfile "${pidfile}"
	eend $?
}
