# Template file for 'doxygen-gui'.
#
depends="doxygen"
short_desc="Qt GUI configuration tool for doxygen"
long_desc="${long_desc}

 This package contains doxywizard, a Qt GUI configuration tool for
 doxygen."


do_install()
{
	mkdir -p ${DESTDIR}/usr/bin ${DESTDIR}/usr/share/man/man1
	mv ${SRCPKGDESTDIR}/usr/bin/doxywizard ${DESTDIR}/usr/bin
	mv ${SRCPKGDESTDIR}/usr/share/man/man1/doxywizard.1 \
		${DESTDIR}/usr/share/man/man1
}
