# Template file for 'doxygen-gui'.
#
depends="doxygen>=${version}"
short_desc="Qt GUI configuration tool for doxygen"

do_install() {
	vmove usr/bin/doxywizard usr/bin
	vmove usr/share/man/man1/doxywizard.1 usr/share/man/man1
}
