# Template file for 'libnuma'.
#
short_desc="${short_desc} -- shared library"
long_desc="
 The libnuma library provides convenient ways for you to add NUMA memory
 policies into your own program."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
