# Template file for 'libnuma-devel '.
#
noarch=yes
depends="libnuma>=${version}"
short_desc="${short_desc} -- development files"
long_desc="
 The libnuma library provides convenient ways for you to add NUMA memory
 policies into your own program.

 This package contains development files for libnuma."

do_install() {
	vmove usr/include usr
	vmove usr/share/man/man3 usr/share/man
}
