# Template file for 'libarchive-devel'.
#
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run libarchive

do_install()
{
	local destdir=${XBPS_DESTDIR}/${pkgname}-${version}
	local origdir=${XBPS_DESTDIR}/${sourcepkg}-${version}

	mkdir -p ${destdir}/usr/lib
	mv ${origdir}/usr/include ${destdir}/usr
	mv ${origdir}/usr/lib/libarchive.*a ${destdir}/usr/lib
}
