# Template file for 'jasper-devel'.
#
noarch=yes
depends="libjpeg-turbo-devel libjasper>=${version}"
short_desc="${sourcepkg} - development files"

do_install() {
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
}
