# Template file for 'libgpg-error-devel'.
#
depends="libgpg-error>=${version}"
short_desc="${short_desc} - development files"
noarch=yes

do_install() {
	vmove usr/bin/gpg-error-config usr/bin
	vmove usr/include usr
	vmove usr/share/aclocal usr/share
}
