# Template file for 'libgpg-error-devel'.
#
depends="glibc-devel libgpg-error"
short_desc="${short_desc} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."


do_install()
{
	mkdir -p ${DESTDIR}/usr/{bin,lib,share}

	mv ${SRCPKGDESTDIR}/usr/bin/gpg-error-config ${DESTDIR}/usr/bin
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/share/aclocal ${DESTDIR}/usr/share
}
