[Desktop Entry]
Comment=Reimplementation of Robbo for Atari XE/XL
Exec=gnurobbo
Icon=gnurobbo
Type=Application
Name=GNURobbo
GenericName=GNURobbo
Categories=Game;ActionGame;LogicGame;

