# Template file for 'libjpeg-turbo-devel'.
#
depends="glibc-devel libjpeg-turbo>=$version"
provides="jpeg-devel-8"
replaces="jpeg-devel>=0"
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
}
