# Template file for 'libjpeg-turbo-tools'.
#
depends="libjpeg-turbo>=$version"
provides="jpeg-tools-8"
replaces="jpeg-tools>=0"
short_desc="${sourcepkg} - bundled tools"
long_desc="${long_desc}

 This package contains tools to manipulate JPG files."

do_install() {
	vmove usr/bin usr
	vmove usr/share/man usr/share
}
