# Template file for 'libjpeg-turbo-devel'.
#
short_desc="${sourcepkg} development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run glibc-devel
Add_dependency run libjpeg-turbo

provides="jpeg-devel-8"
replaces="jpeg-devel>=0"

revision=1

do_install()
{
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vinstall ${FILESDIR}/${pkgname}.virtualpkgd \
		644 etc/xbps/virtualpkg.d ${pkgname}
}
