# Template file for 'libjpeg-turbo-devel'.
#
depends="glibc-devel libjpeg-turbo>=${version}"
provides="jpeg-devel-8"
replaces="jpeg-devel>=0"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
}
