# Template file for 'libjpeg-turbo-tools'.
#
provides="jpeg-tools-8"
replaces="jpeg-tools>=0"
short_desc="${short_desc} - bundled tools"

do_install() {
	vmove usr/bin usr
	vmove usr/share/man usr/share
}
