# Template file for 'libmng-devel'.
#
depends="libjpeg-turbo-devel zlib-devel lcms-devel libmng>=${version}"
short_desc="${short_desc} -- development files"
noarch=yes

do_install() {
	mkdir -p ${DESTDIR}/usr/lib
	mkdir -p ${DESTDIR}/usr/share/man

	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/share/man/man3 ${DESTDIR}/usr/share/man
}
