# Template file for 'glibc-devel'.
#
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development: headers, static libs, etc."

revision=2

Add_dependency run kernel-libc-headers
Add_dependency run glibc

do_install()
{
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove "usr/lib/*crt1.o" usr/lib
	vmove usr/share/info usr/share

	# Remove scsi.h, it's installed by kernel-libc-headers.
	rm -f ${DESTDIR}/usr/include/scsi/scsi.h
}
