# Template file for 'glibc-locales'.
#
noarch=yes
conf_files="/etc/default/libc-locales"
short_desc="${short_desc} -- locales"

do_install() {
	vmove etc/default etc
	vmove usr/share/i18n usr/share
	vmove usr/share/locale usr/share
}
