# Template file for 'glibc-devel'.
#
depends="kernel-libc-headers>=3.4<3.5 glibc>=$version"
short_desc="${short_desc} (development files)"
long_desc="${long_desc}

 This package contains files for development: headers, static libs, etc."

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove "usr/lib/*crt1.o" usr/lib
	vmove usr/share/info usr/share
}
