# Template file for 'nscd'.
#
systemd_services="nscd.service on"
conf_files="/etc/nscd.conf"
short_desc="${short_desc} -- Name Service Cache Daemon"

do_install() {
	vmove usr/sbin/nscd usr/sbin
	vinstall ${FILESDIR}/nscd.service 644 usr/lib/systemd/system
	vinstall ${FILESDIR}/nscd.socket 644 usr/lib/systemd/system
	vinstall ${FILESDIR}/nscd.tmpfiles.d 644 usr/lib/tmpfiles.d nscd.conf
	vinstall ${FILESDIR}/nscd.conf 644 etc
}
