# Template file for 'libparted'.
#
revision=1
short_desc="The GNU Parted disk partitioning shared library"
long_desc="${long_desc}

 This package contains libparted, the required shared library used by Parted."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libparted*.so* ${DESTDIR}/usr/lib
}
