# Template file for 'libparted-devel'.
#
depends="libparted"
short_desc="The GNU Parted disk partitioning library development files"
long_desc="${long_desc}

 This package contains the static library and header files for libparted, which
 are really only of interest to parted developers."


do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
	vmove "usr/lib/*.a" usr/lib
}
