# Template file for 'libparted'.
#
short_desc="The GNU Parted disk partitioning shared library"
long_desc="${long_desc}

 This package contains libparted, the required shared library used by Parted."

Add_dependency run glibc
Add_dependency run libuuid
Add_dependency run libblkid
Add_dependency run device-mapper

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libparted*.so* ${DESTDIR}/usr/lib
}
