# Template file for 'libparted-devel'.
#
depends="libparted-${version}_${revision}"
short_desc="The GNU Parted disk partitioning library development files"
long_desc="${long_desc}

 This package contains development files for libparted, which
 are really only of interest to developers."

noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
