# Get access to /dev/rfkill for users
# See https://bugzilla.redhat.com/show_bug.cgi?id=514798
#
# Simplified by Kay Sievers
# https://bugzilla.redhat.com/show_bug.cgi?id=733326

KERNEL=="rfkill", SUBSYSTEM=="misc", TAG+="uaccess"
