[Desktop Entry]
Version=1.0
Name=Chatty
Exec=/usr/bin/chatty
Icon=chatty
Terminal=false
Type=Application
Categories=Application;Network;
Keywords=twitch;chat;
