# Template file for 'binutils-devel'.
#
short_desc="binutils development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run glibc-devel
Add_dependency run binutils

do_install()
{
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
}
