# Template file for 'binutils-devel'.
#
depends="binutils>=$version"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/lib/libbfd.so usr/lib
	vmove usr/lib/libopcodes.so usr/lib
}
