[Desktop Entry]
Encoding=UTF-8
Name=Pingus
Comment=A free Lemmings[tm] clone
Exec=pingus
Terminal=false
Type=Application
Categories=Application;Game;LogicGame
Icon=/usr/share/pingus/images/core/editor/actions.png
