# Template file for 'libcap-progs'.
#
short_desc="${short_desc} (utilities)"
long_desc="${long_desc}

 This package contains binary utilities provided by the libcap package."

Add_dependency run glibc
Add_dependency run libcap

do_install()
{
	mkdir -p ${DESTDIR}/usr/share/man
	mv ${SRCPKGDESTDIR}/usr/sbin ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/share/man/man8 ${DESTDIR}/usr/share/man
}
