[Unit]
Description=The Apache HTTP Server
After=syslog.target network.target remote-fs.target
Conflicts=apache-mpm-event.service apache-mpm-worker.service

[Service]
Type=forking
PIDFile=/var/run/httpd/httpd.pid
ExecStart=/usr/sbin/httpd -k start
ExecReload=/usr/sbin/httpd -t
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/sbin/httpd -k stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
