# Template file for 'libnilfs'.
#
short_desc="NILFS userspace runtime libraries"
long_desc="${long_desc}

 This package contains the NILFS runtime libraries."

do_install() {
	vmove "usr/lib/*.so*" usr/lib
}
