# Template file for 'nilfs-devel'.
#
depends="libuuid-devel libmount-devel libnilfs>=$version"
short_desc="NILFS userspace development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

do_install() {
        vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
}
