# Template file for 'dovecot-plugin-ldap'.
#
depends="dovecot>=${version}"
short_desc="${short_desc} - LDAP plugin"
conf_files="/etc/dovecot/conf.d/auth-ldap.conf.ext"

do_install() {
	vmove usr/lib/dovecot/modules/auth/libauthdb_ldap.so \
		usr/lib/dovecot/modules/auth
	vmove usr/share/doc/dovecot/example-config/conf.d/auth-ldap.conf.ext \
		usr/share/doc/dovecot/example-config/conf.d
	vmove etc/dovecot/conf.d/auth-ldap.conf.ext \
		etc/dovecot/conf.d
}
