# Template file for 'dovecot-plugin-sqlite'.
#
depends="dovecot>=${version}"
short_desc="${short_desc} - SQLite plugin"

do_install() {
	vmove usr/lib/dovecot/modules/auth/libdriver_sqlite.so \
		usr/lib/dovecot/modules/auth
	vmove usr/lib/dovecot/modules/dict usr/lib/dovecot/modules
	vmove usr/lib/dovecot/modules/libdriver_sqlite.so \
		usr/lib/dovecot/modules
}
