# Template file for 'dovecot-plugin-pgsql'.
#
depends="dovecot>=2.1.3"
short_desc="${short_desc} - PostgreSQL plugin"
long_desc="${long_desc}

 This package contains a plugin for PostgreSQL authentication
 and dictionaries."


do_install() {
	vmove usr/lib/dovecot/modules/auth/libdriver_pgsql.so \
		usr/lib/dovecot/modules/auth
	vmove usr/lib/dovecot/modules/dict/libdriver_pgsql.so \
		usr/lib/dovecot/modules/dict
	vmove usr/lib/dovecot/modules/libdriver_pgsql.so \
		usr/lib/dovecot/modules
}
