# Template file for 'cairo-devel'.
#
depends="fontconfig-devel glib-devel libpng-devel>=1.5.10
 libXrender-devel>=0.9.7_3 pixman-devel cairo-${version}_${revision}"
short_desc="${short_desc} -- development files"

if [ "$build_option_opengl" -o "$build_option_gles2" ]; then
	depends="${depends} MesaLib-devel"
fi

do_install() {
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/pkgconfig usr/lib
}
