[Unit]
Description = XBMC Media Center for Raspberry Pi service
After = remote-fs.target

[Service]
User = xbmc
Group = xbmc
Type = simple
ExecStart = /usr/bin/xbmc-standalone -l /run/lirc/lircd
Restart = always

[Install]
WantedBy = multi-user.target
