[Desktop Entry]
Version=1.0
Type=Application
Name=Netsurf
Name[ar]=صافي تصفح
Name[ast]=Netsurf
Name[ca]=Netsurf
Name[cs]=Netsurf
Name[da]=Netsurf
Name[de]=Netsurf
Name[el]=καθαρού σερφ
Name[en_GB]=Netsurf
Name[es]=Netsurf
Name[et]=Netsurf
Name[fi]=Netsurf
Name[fr]=Netsurf
Name[gl]=Netsurf
Name[he]=Netsurf
Name[hr]=Netsurf
Name[hu]=Netsurf
Name[id]=Netsurf
Name[it]=Netsurf
Name[ja]=Netsurf
Name[ko]=인터넷 서핑
Name[lt]=Netsurf
Name[nl]=Netsurf
Name[no]=Netsurf
Name[pl]=Netsurf
Name[pt]=Netsurf
Name[pt_BR]=Netsurf
Name[ro]=Netsurf
Name[ru]=Netsurf
Name[sk]=Netsurf
Name[sr]=нетсурф
Name[sr@latin]=Netsurf
Name[sv]=Netsurf
Name[tr]=Netsurf
Name[ug]=Netsurf
Name[uk]=Інтернет серфінгу
Name[zh_CN]=Netsurf 网冲浪
Name[zh_TW]=Netsurf 網衝浪
GenericName=Web Browser
GenericName[ar]=متصفح الوب
GenericName[ast]=Restolador
GenericName[ca]=Navegador web
GenericName[cs]=Internetový prohlížeč
GenericName[da]=Webbrowser
GenericName[de]=Internetbetrachter
GenericName[el]=Περιηγητής Ιστού
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[fi]=Verkkoselain
GenericName[fr]=Navigateur Internet
GenericName[gl]=Navegador web
GenericName[he]=דפדפן
GenericName[hr]=Web preglednik
GenericName[hu]=Webböngésző
GenericName[id]=Peramban Web
GenericName[it]=Browser web
GenericName[ja]=ウェブブラウザ
GenericName[ko]=웹 브라우저
GenericName[lt]=Interneto naršyklė
GenericName[nl]=Webbrowser
GenericName[no]=Nettleser
GenericName[pa]=ਵੈੱਬ ਬਰਾਊਜ਼ਰ
GenericName[pl]=Przeglądarka internetowa
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador web
GenericName[ro]=Navigator web
GenericName[ru]=Интернет-обозреватель
GenericName[sk]=Internetový prehliadač
GenericName[sr]=Интернет прегледник
GenericName[sr@latin]=Internet preglednik
GenericName[sv]=Webbläsare
GenericName[tr]=Web Tarayıcı
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Переглядач Веб
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Comment=Lightweight web browser
Comment[ar]=منصفح الوب الخفيف
Comment[ast]=Restolador llixeru
Comment[ca]=Navegador web lleuger
Comment[cs]=Odlehčený prohlížeč
Comment[da]=Letvægtig webbrowser
Comment[de]=Schlanker Internetbetrachter
Comment[el]=Ελαφρύς περιηγητής ιστού
Comment[en_GB]=Lightweight web browser
Comment[es]=Navegador web ligero
Comment[et]=Kergekaaluline veebibrauser
Comment[fi]=Kevyt verkkoselain
Comment[fr]=Navigateur Internet léger
Comment[gl]=Navegador web lixeiro
Comment[he]=דפדפן קל משקל
Comment[hr]=Lagani web preglednik
Comment[hu]=Könnyűsúlyú webböngésző
Comment[id]=Peramban web ringan
Comment[it]=Browser web leggero
Comment[ja]=軽量級ウェブブラウザ
Comment[ko]=가벼운 웹 브라우저
Comment[lt]=Paprasta interneto naršyklė
Comment[nl]=Lichtgewicht webbrowser
Comment[no]=Lettvektig nettleser
Comment[pa]=ਲਾਈਟਵੇਟ ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Comment[pl]=Umożliwia przeglądanie zawartości sieci internetowej
Comment[pt]=Navegador Web rápido
Comment[pt_BR]=Navegador web leve
Comment[ro]=Mic navigator web
Comment[ru]=Легковесный Интернет-обозреватель
Comment[sk]=Ľahký internetový prehliadač
Comment[sr]=Једноставан Интернет прегледник
Comment[sr@latin]=Jednostavan Internet preglednik
Comment[sv]=Resurssnål webbläsare
Comment[tr]=Hafif web tarayıcı
Comment[ug]=يېنىك توركۆرگۈ
Comment[uk]=Легкий переглядач Веб
Comment[zh_CN]=轻量级网页浏览器
Comment[zh_TW]=輕量級網頁瀏覽器
Categories=GTK;Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/geo;
Exec=netsurf %U
Icon=netsurf
Terminal=false
StartupNotify=true
X-Osso-Type=application/x-executable
X-Osso-Service=netsurf
