# Template file for 'libgxps-devel'.
#
depends="glib-devel libarchive-devel cairo-devel libgxps>=$version"
short_desc="${short_desc} - development files"
noarch=yes

do_install() {
	vmove usr/include usr
	vmove usr/share usr
	vmove usr/lib/pkgconfig usr/lib
}
