[Desktop Entry]
Type=Application
Categories=Development
Name=bCNC
Comment=GRBL CNC command sender, autoleveler and g-code editor
Exec=bCNC
Icon=bcnc.png
StartupNotify=false
Terminal=false
