# Template file for 'libnice-devel'.
#
short_desc="${sourcepkg} - development files"
long_desc="${long_desc}

 This package contains files for development, headers, static libs, etc."

Add_dependency run gstreamer-devel
Add_dependency run libsoup-devel
Add_dependency run gupnp-igd-devel
Add_dependency run libnice

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/{include,share} ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/lib
}
