# Template file for 'libmcpp'.
#
short_desc="${short_desc} - Runtime library"
long_desc="${long_desc}

 This package contains the mcpp runtime library"

Add_dependency run glibc
Add_dependency run mcpp

do_install()
{
	vmkdir usr/lib
	vmove "usr/lib/*.so*" usr/lib
}
