# Template file for 'aalib-devel'.
#
depends="aalib>=${version}"
short_desc="${short_desc} - development files"

do_install() {
	vmove usr/bin/aalib-config usr/bin
	vmove usr/include usr
	vmove usr/share/aclocal/
	vmove "usr/lib/*.a" usr/lib
	vmove usr/share/man/man3 usr/share/man
}
