# Template file for 'v8-devel'.
#
revision=1
short_desc="${short_desc} (Development headers)"
long_desc="${long_desc}

 This package contains the v8 development headers."

Add_dependency run libv8

do_install()
{
	vmove usr/include usr
}
