# Template file for 'v8-devel'.
#
depends="libv8"
short_desc="${short_desc} (Development headers)"
long_desc="${long_desc}

 This package contains the v8 development headers."


do_install()
{
	vmove usr/include usr
}
