# Template file for 'exo-python'.
#
short_desc="${short_desc} - python bindings"
long_desc="${long_desc}

 This package contains the bindings for the Python language."

revision=2
pycompile_module="exo-0.6 pyexo"

Add_dependency run libpng
Add_dependency run pygtk

do_install()
{
	install -d ${DESTDIR}/usr/lib

	mv ${SRCPKGDESTDIR}/usr/lib/python* ${DESTDIR}/usr/lib
}
