[Desktop Entry]
Type=Application
Name=SimpleX Chat
Comment=Private and secure open-source messenger
Exec=simplex-chat-gui %U
Icon=simplex
Terminal=false
Categories=Utility;Chat;InstantMessaging;
Keywords=messenger;chat;private;secure;
StartupWMClass=simplex-chat
