[Desktop Entry]
Type=Application
Name=SimpleX Chat
Comment=Private and secure open-source messenger
Exec=simplex-chat-gui
Icon=simplex
Terminal=false
Categories=Network;Chat;
Keywords=messenger;chat;private;secure;
