# Template file for 'mpeg2dec'.
#
short_desc="Simple libmpeg2 video decoder application"
long_desc="
 Simple libmpeg2 application which can decode and play ES, PS, and TS
 video streams. Includes extract_mpeg2 demuxer and various output drivers." 


do_install()
{
	mkdir -p ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/bin ${DESTDIR}/usr
	mv ${SRCPKGDESTDIR}/usr/share ${DESTDIR}/usr
}
