# Template file for 'libaubio'.
#
short_desc="${short_desc} - Runtime libraries"
long_desc="${long_desc}

 This package contains the rubberband runtime lib(s)."

Add_dependency run glibc
Add_dependency run libfftw
Add_dependency run libsamplerate
Add_dependency run libsndfile
Add_dependency run libjack
Add_dependency run alsa-lib

do_install()
{
	vmove "usr/lib/*.so*" usr/lib
}
