ACTION=="remove", GOTO="pinebookpro_end"
KERNEL!="event*", GOTO="pinebookpro_end"

ATTRS{idVendor}=="258a", ATTRS{idProduct}=="001e", ENV{ID_INPUT_KEYBOARD}=="1", \
  IMPORT{builtin}="hwdb 'pinebookpro:keyboard'", RUN{builtin}+="keyboard"

LABEL="pinebookpro_end"
