# Template file for 'xfconf-perl'.
#
short_desc="${sourcepkg} perl bindings"
long_desc="${long_desc}

 This package contains the Perl bindings."

Add_dependency run xfconf
Add_dependency run perl

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mkdir -p ${DESTDIR}/usr/share
	mv ${SRCPKGDESTDIR}/usr/lib/perl5 ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/share/man ${DESTDIR}/usr/share
	find ${DESTDIR}/usr/lib/perl5 -type f \
		-name perllocal.pod -o -name .packlist|xargs rm -f
}
