# Template file for 'xfconf-perl'.
#
depends="perl-Glib>=1.242_1"
short_desc="${short_desc} - perl bindings"
long_desc="${long_desc}

 This package contains the Perl bindings."

do_install() {
	vmove usr/lib/perl5 usr/lib
	vmove usr/share/man usr/share
	find ${DESTDIR}/usr/lib/perl5 -type f \
		-name perllocal.pod -o -name .packlist|xargs rm -f
}
