[Desktop Entry]
Categories=Development;IDE;
Comment[en_US]=Intelligent Java IDE
Comment=Intelligent Java IDE
Exec=idea-ultimate %u
GenericName[en_US]=
GenericName=
Icon=idea-ultimate
MimeType=
Name[en_US]=IntelliJ IDEA Ultimate Edition
Name=IntelliJ IDEA Ultimate Edition
Path=
StartupNotify=true
StartupWMClass=jetbrains-idea
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
