# Template file for 'gmp-devel'.
#
depends="glibc-devel gmp>=${version}"
short_desc="${short_desc} -- development files"

do_install() {
	vmove usr/include usr
	vmove "usr/lib/*.a" usr/lib
	vmove usr/share usr
}
