# Template file for 'weechat-devel'.
#
noarch=yes
depends="ncurses-devel"
short_desc="${sourcepkg} - development package"
long_desc="${long_desc}

 This package contains development files."

do_install() {
	vmove usr/include usr
	vmove usr/lib/pkgconfig usr/lib
}
