# Template file for 'weechat-perl'.
#
depends="perl>=5.16 ${sourcepkg}-${version}_${revision}"
short_desc="${sourcepkg} perl add-on"
long_desc="${long_desc}

 This package contains the perl plugin."

do_install() {
	vmove usr/lib/weechat/plugins/perl.so usr/lib/weechat/plugins
}
