# Template file for 'weechat-lua'.
#
short_desc="${sourcepkg} lua add-on"
long_desc="${long_desc}

 This package contains the lua plugin."

Add_dependency run lua
Add_dependency run glibc
Add_dependency run weechat	">=${version}"

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/weechat/plugins
	mv ${SRCPKGDESTDIR}/usr/lib/weechat/plugins/lua.so \
		${DESTDIR}/usr/lib/weechat/plugins
}
