# Template file for 'weechat-perl'.
#
short_desc="${sourcepkg} perl add-on"
long_desc="${long_desc}

 This package contains the perl plugin."

Add_dependency run weechat	">=${version}"

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/weechat/plugins
	mv ${SRCPKGDESTDIR}/usr/lib/weechat/plugins/perl.so \
		${DESTDIR}/usr/lib/weechat/plugins
}
