# Template file for 'weechat-tcl'.
#
depends="weechat>=0.3.7"
short_desc="${sourcepkg} tcl add-on"
long_desc="${long_desc}

 This package contains the tcl plugin."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/weechat/plugins
	mv ${SRCPKGDESTDIR}/usr/lib/weechat/plugins/tcl.so \
		${DESTDIR}/usr/lib/weechat/plugins
}
