# Template file for 'weechat-python'.
#
depends="${sourcepkg}-${version}_${revision}"
short_desc="${sourcepkg} python add-on"
long_desc="${long_desc}

 This package contains the python plugin."

do_install() {
	vmove usr/lib/weechat/plugins/python.so usr/lib/weechat/plugins
}
