# Template file for 'weechat-python'.
#
depends="${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} -- python plugin"

do_install() {
	vmove usr/lib/weechat/plugins/python.so usr/lib/weechat/plugins
}
