# Template file for 'weechat-tcl'.
#
depends="${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} -- tcl plugin"

do_install() {
	vmove usr/lib/weechat/plugins/tcl.so usr/lib/weechat/plugins
}
