# Template file for 'weechat-tcl'.
#
revision=1
short_desc="${sourcepkg} tcl add-on"
long_desc="${long_desc}

 This package contains the tcl plugin."

Add_dependency run weechat	">=${version}"

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/weechat/plugins
	mv ${SRCPKGDESTDIR}/usr/lib/weechat/plugins/tcl.so \
		${DESTDIR}/usr/lib/weechat/plugins
}
