# Template file for 'weechat-ruby'.
#
short_desc="${sourcepkg} ruby add-on"
long_desc="${long_desc}

 This package contains the ruby plugin."

Add_dependency run ruby
Add_dependency run glibc
Add_dependency run weechat	">=${version}"

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/weechat/plugins
	mv ${SRCPKGDESTDIR}/usr/lib/weechat/plugins/ruby.so \
		${DESTDIR}/usr/lib/weechat/plugins
}
