# Template file for 'weechat-python'.
#
short_desc="${sourcepkg} python add-on"
long_desc="${long_desc}

 This package contains the python plugin."

Add_dependency run weechat	">=${version}"

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/weechat/plugins
	mv ${SRCPKGDESTDIR}/usr/lib/weechat/plugins/python.so \
		${DESTDIR}/usr/lib/weechat/plugins
}
