# Template file for 'weechat-devel'.
#
depends="cmake glibc-devel aspell-devel gnutls-devel libgcrypt-devel python-devel ruby-devel tcl-devel ncurses-devel"
short_desc="${sourcepkg} - development package"
long_desc="${long_desc}

 This package contains development files."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/pkgconfig ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/include ${DESTDIR}/usr
}
