# Template file for 'weechat-aspell'.
#
depends="${sourcepkg}-${version}_${revision}"
short_desc="${sourcepkg} aspell add-on"
long_desc="${long_desc}

 This package contains the aspell plugin."

do_install() {
	vmove usr/lib/weechat/plugins/aspell.so usr/lib/weechat/plugins
}
