# Template file for 'weechat-lua'.
#
depends="weechat>=$version"
short_desc="${sourcepkg} lua add-on"
long_desc="${long_desc}

 This package contains the lua plugin."

do_install() {
	vmove usr/lib/weechat/plugins/lua.so usr/lib/weechat/plugins
}
