# Template file for 'weechat-aspell'.
#
depends="weechat>=0.3.7"
short_desc="${sourcepkg} aspell add-on"
long_desc="${long_desc}

 This package contains the aspell plugin."


do_install()
{
	mkdir -p ${DESTDIR}/usr/lib/weechat/plugins
	mv ${SRCPKGDESTDIR}/usr/lib/weechat/plugins/aspell.so \
		${DESTDIR}/usr/lib/weechat/plugins
}
