# Template file for 'weechat-lua'.
#
depends="${sourcepkg}-${version}_${revision}"
short_desc="${short_desc} -- lua plugin"

do_install() {
	vmove usr/lib/weechat/plugins/lua.so usr/lib/weechat/plugins
}
