# Template file for 'libavcodec'.
#
short_desc="FFmpeg codec library"
long_desc="
 This is the codec library from FFmpeg (both encoding and decoding).

 It supports most existing codecs (MPEG, MPEG2, MPEG4, AC3, DV...)."

do_install() {
	vmove "usr/lib/libavcodec.so*" usr/lib
}
