# Template file for 'libavdevice'.
#
revision=2
short_desc="FFmpeg device handling library"
long_desc="
 This is the device handling library from FFmpeg."



do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libavdevice.so* ${DESTDIR}/usr/lib
}
