# Template file for 'libavutil'.
#
revision=1
short_desc="FFmpeg utility library"
long_desc="
 This is the common utility library from FFmpeg. It contains shared code used
 by all other ffmpeg libraries."



do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libavutil.so* ${DESTDIR}/usr/lib
}
