# Template file for 'libavfilter'.
#
short_desc="FFmpeg audio/video filter library"
long_desc="
 This is the audio/video filter library from FFmpeg."


Add_dependency run glibc
Add_dependency run libavformat
Add_dependency run libavcodec
Add_dependency run libswscale
Add_dependency run libavutil

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libavfilter.so* ${DESTDIR}/usr/lib
}
