# Template file for 'libavdevice'.
#
revision=1
short_desc="FFmpeg device handling library"
long_desc="
 This is the device handling library from FFmpeg."


Add_dependency run libX11
Add_dependency run libXext
Add_dependency run libXfixes

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libavdevice.so* ${DESTDIR}/usr/lib
}
