# Template file for 'libpostproc'.
#
short_desc="FFmpeg video postprocessing library"
long_desc="
 This is the video postprocessing library from FFmpeg."

Add_dependency run libavutil
Add_dependency run glibc

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libpostproc.so* ${DESTDIR}/usr/lib
}
