# Template file for 'libpostproc'.
#
short_desc="FFmpeg video postprocessing library"
long_desc="
 This is the video postprocessing library from FFmpeg."

do_install() {
	vmove "usr/lib/libpostproc.so*" usr/lib
}
