# Template file for 'libpostproc'.
#
revision=1
short_desc="FFmpeg video postprocessing library"
long_desc="
 This is the video postprocessing library from FFmpeg."



do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libpostproc.so* ${DESTDIR}/usr/lib
}
