# Template file for 'libswscale'.
#
revision=1
short_desc="FFmpeg video scaling library"
long_desc="
 This is the video software scaling library from FFmpeg."



do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libswscale.so* ${DESTDIR}/usr/lib
}
