# Template file for 'libswscale'.
#
short_desc="FFmpeg video scaling library"
long_desc="
 This is the video software scaling library from FFmpeg."


Add_dependency run libavutil
Add_dependency run glibc

do_install()
{
	mkdir -p ${DESTDIR}/usr/lib
	mv ${SRCPKGDESTDIR}/usr/lib/libswscale.so* ${DESTDIR}/usr/lib
}
