# Template file for 'libswresample'.
#
short_desc="FFmpeg video resampling library"
long_desc="
 This is the video software resampling library from FFmpeg."

do_install() {
	vmove "usr/lib/libswresample.so*" usr/lib
}
